﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_OutSystemsUIWeb.Flows.FlowEmail.WBlkEmail3Rows,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\OutSystemsUIWeb\Email\Email3Rows.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />