﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Private\CSSVarsPonyfill.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowPrivate.WBlkCSSVarsPonyfill,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KhQb0BLpytEmdN7zUKjG7tA" Src="JavaScriptNode.ascx" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt6() %>"><widgets:KhQb0BLpytEmdN7zUKjG7tA runat="server" id="wt4" OnEvaluateParameters="webBlck4_onDataBinding" InstanceID="4"><phDescription><osweb:PlaceHolder runat="server"><%# "CSS Vars Ponyfill" %></osweb:PlaceHolder></phDescription></widgets:KhQb0BLpytEmdN7zUKjG7tA></osweb:If><osweb:If runat="server" visible="<%# !if_wt6() %>"></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>