﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Private\JavaScriptNode.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowPrivate.WBlkJavaScriptNode,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt1() %>"><osweb:Table runat="server" id="wt9" anonymous="true" onDataBinding="wt9_onDataBinding" GridCssClasses="OSInline" style="border-spacing: 0px" cellspacing="0" cellpadding="0" border="0"><osweb:Tr runat="server"><osweb:Td runat="server" id="wt8" anonymous="true" onDataBinding="wt8_onDataBinding" style="width: 20px"><osweb:PlaceHolder runat="server"><%# "JS" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt6" anonymous="true" onDataBinding="wt6_onDataBinding"><osweb:PlaceholderContainer runat="server" id="wtDescription" onDataBinding="wtDescription_onDataBinding"></osweb:PlaceholderContainer></osweb:Td></osweb:Tr></osweb:Table></osweb:If><osweb:If runat="server" visible="<%# !if_wt1() %>"><osweb:PlaceHolder runat="server"><%# expression7() %></osweb:PlaceHolder></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>