﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\SocialLoginAPI\LoginInterfaces\FacebookLogin.ascx.cs" Inherits="ssSocialLoginAPI.Flows.FlowLoginInterfaces.WBlkFacebookLogin,SocialLoginAPI" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssSocialLoginAPI" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="..\..\SocialLoginAPI\RichWidgets\Icon.ascx" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt4() %>"><osweb:PlaceHolder runat="server"><%# "Facebook Login" %></osweb:PlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt4() %>"><osweb:HyperLink runat="server" id="wt1" cssClass="socialloginfb Button Button_FB" Visible="<%# lnk1_isVisible() %>" Enabled="<%# lnk1_isEnabled() %>" NavigateUrl="<%# lnk1_NavigateUrl() %>"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt5" OnEvaluateParameters="RichWidgets_webBlck5_onDataBinding" InstanceID="5"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Login with Facebook" %></osweb:PlaceHolder></osweb:HyperLink></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>