﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Utilities\Separator.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowUtilities.WBlkSeparator,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt1" anonymous="true" onDataBinding="cnt1_onDataBinding" cssClass="separator"></osweb:Container><%# PageEndHook() %>