﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_RichWidgets.Flows.FlowLayouts.WBlkLayout_London,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\RichWidgets\Layouts\Layout_London.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />