﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_FileUploadAndImgPreviewOnChooseFile.Flows.FlowimgWidgets.WBlkImgUploadPreview,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\FileUploadAndImgPreviewOnChooseFile\imgWidgets\ImgUploadPreview.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />