﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Content\AccordionItem.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowContent.WBlkAccordionItem,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="..\..\OutSystemsUIWeb\RichWidgets\Icon.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtAccordionItemWrapper" onDataBinding="cntAccordionItemWrapper_onDataBinding" cssClass="accordion-item is--open"><osweb:Container runat="server" id="wt3" anonymous="true" onDataBinding="cnt3_onDataBinding" cssClass="accordion-item-header"><osweb:PlaceholderContainer runat="server" id="wtTitle" onDataBinding="wtTitle_onDataBinding" cssClass="accordion-item-title"></osweb:PlaceholderContainer><osweb:Container runat="server" id="wt6" anonymous="true" onDataBinding="cnt6_onDataBinding" cssClass="accordion-item-icon"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt4" OnEvaluateParameters="RichWidgets_webBlck4_onDataBinding" InstanceID="4"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container></osweb:Container><osweb:PlaceholderContainer runat="server" id="wtContent" onDataBinding="wtContent_onDataBinding" cssClass="accordion-item-content is--expanded"></osweb:PlaceholderContainer></osweb:Container><%# PageEndHook() %>