﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Content\Accordion.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowContent.WBlkAccordion,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KhQb0BLpytEmdN7zUKjG7tA" Src="..\..\OutSystemsUIWeb\Private\JavaScriptNode.ascx" %>
<%# PageStartHook() %><osweb:PlaceholderContainer runat="server" id="wtContent" onDataBinding="wtContent_onDataBinding" cssClass="accordion"></osweb:PlaceholderContainer><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt4() %>"><osweb:Container runat="server" id="wt8" anonymous="true" onDataBinding="cnt8_onDataBinding" cssClass="accordion-handle-preview"></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt4() %>"><widgets:KhQb0BLpytEmdN7zUKjG7tA runat="server" id="wt3" OnEvaluateParameters="webBlck3_onDataBinding" InstanceID="3"><phDescription><osweb:PlaceHolder runat="server"><%# "Js Accordion" %></osweb:PlaceHolder></phDescription></widgets:KhQb0BLpytEmdN7zUKjG7tA></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>