﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Content\BlankSlate.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowContent.WBlkBlankSlate,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtBlankSlateWrapper" onDataBinding="cntBlankSlateWrapper_onDataBinding" cssClass="blank-slate"><osweb:PlaceholderContainer runat="server" id="wtContent" onDataBinding="wtContent_onDataBinding" cssClass="blank-slate-content ph"></osweb:PlaceholderContainer></osweb:Container><%# PageEndHook() %>