﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Content\CardBackground.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowContent.WBlkCardBackground,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KhQb0BLpytEmdN7zUKjG7tA" Src="..\..\OutSystemsUIWeb\Private\JavaScriptNode.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtCardBackgroundWrapper" onDataBinding="cntCardBackgroundWrapper_onDataBinding" cssClass="card card-background "><osweb:PlaceholderContainer runat="server" id="wtContent" onDataBinding="wtContent_onDataBinding" cssClass="card-background-content ph"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtBackgroundImage" onDataBinding="wtBackgroundImage_onDataBinding" cssClass="card-background-image ph"></osweb:PlaceholderContainer><osweb:Container runat="server" id="wt4" anonymous="true" onDataBinding="cnt4_onDataBinding" cssClass="card-background-color background-primary"></osweb:Container></osweb:Container><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt10() %>"></osweb:If><osweb:If runat="server" visible="<%# !if_wt10() %>"><widgets:KhQb0BLpytEmdN7zUKjG7tA runat="server" id="wt3" OnEvaluateParameters="webBlck3_onDataBinding" InstanceID="3"><phDescription><osweb:PlaceHolder runat="server"><%# "cardBackground init" %></osweb:PlaceHolder></phDescription></widgets:KhQb0BLpytEmdN7zUKjG7tA></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>