﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Content\CardSectioned.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowContent.WBlkCardSectioned,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtCardSectionedWrapper" onDataBinding="cntCardSectionedWrapper_onDataBinding" cssClass="card card-sectioned"><osweb:PlaceholderContainer runat="server" id="wtImage" onDataBinding="wtImage_onDataBinding" cssClass="card-image ph"></osweb:PlaceholderContainer><osweb:Container runat="server" id="wt3" anonymous="true" onDataBinding="cnt3_onDataBinding" cssClass="card-sectioned-top flex-direction-column"><osweb:PlaceholderContainer runat="server" id="wtTitle" onDataBinding="wtTitle_onDataBinding" cssClass="card-title ph"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtContent" onDataBinding="wtContent_onDataBinding" cssClass="card-content"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtFooter" onDataBinding="wtFooter_onDataBinding" cssClass="card-footer ph"></osweb:PlaceholderContainer></osweb:Container></osweb:Container><%# PageEndHook() %>