﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Content\Panel.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowContent.WBlkPanel,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtPanelWrapper" onDataBinding="cntPanelWrapper_onDataBinding" cssClass="card panel"><osweb:Container runat="server" id="wt4" anonymous="true" onDataBinding="cnt4_onDataBinding" cssClass="panel-header"><osweb:PlaceholderContainer runat="server" id="wtTitle" onDataBinding="wtTitle_onDataBinding" cssClass="panel-title ph"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtActions" onDataBinding="wtActions_onDataBinding" cssClass="panel-actions ph"></osweb:PlaceholderContainer></osweb:Container><osweb:PlaceholderContainer runat="server" id="wtContent" onDataBinding="wtContent_onDataBinding" cssClass="panel-content"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtFooter" onDataBinding="wtFooter_onDataBinding" cssClass="panel-footer ph"></osweb:PlaceholderContainer></osweb:Container><%# PageEndHook() %>