﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Numbers\Badge.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowNumbers.WBlkBadge,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtBadgeWrapper" onDataBinding="cntBadgeWrapper_onDataBinding" cssClass="badge border-radius-rounded" GridCssClasses="OSInline"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression2()) %></osweb:PlaceHolder></osweb:Container><%# PageEndHook() %>