﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Numbers\Counter.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowNumbers.WBlkCounter,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtCounterWrapper" onDataBinding="cntCounterWrapper_onDataBinding" cssClass="counter card"><osweb:PlaceholderContainer runat="server" id="wtContent" onDataBinding="wtContent_onDataBinding" cssClass="center-align"></osweb:PlaceholderContainer></osweb:Container><%# PageEndHook() %>