﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Numbers\IconBadge.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowNumbers.WBlkIconBadge,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="Kpmn3fOP15k241OpiXr3jUg" Src="Badge.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtIconBadgeWrapper" onDataBinding="cntIconBadgeWrapper_onDataBinding" cssClass="badge-icon" GridCssClasses="OSInline"><osweb:PlaceholderContainer runat="server" id="wtIcon" onDataBinding="wtIcon_onDataBinding" cssClass="badge-icon icon ph" GridCssClasses="OSInline"></osweb:PlaceholderContainer><osweb:IfPlaceHolder runat="server" id="wtEmpty"><osweb:If runat="server" visible="<%# if_wtEmpty() %>"><widgets:Kpmn3fOP15k241OpiXr3jUg runat="server" id="wt1" OnEvaluateParameters="webBlck1_onDataBinding" InstanceID="1"></widgets:Kpmn3fOP15k241OpiXr3jUg></osweb:If><osweb:If runat="server" visible="<%# !if_wtEmpty() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container><%# PageEndHook() %>