﻿/*ircles*/
.is--visible .dropdown-header.select {
    border: none!important;
}
.fundlist{display: inline-block!important;margin-left: var(--space-m);}
.choices__inner {
    width: 200px!important;
}
.Fundgallery .tagg{position:absolute;top:-29px;left: 5px;font-size:13px;background-color:#6c6c6c;color:white;border-radius:2px;padding:2px;}

.Fundgallery div.Counter_Message {
  display:none;
}
.myalert{border:2px solid;border-color: #e0487c;border-radius: 3px;padding: 0px;width: 100%;text-align: center;}
.myalertsuccess{border:2px solid;border-color: #2c9f83;border-radius: 3px;width: 100%;text-align: center;}

.Fundgallery .card-title {
    font-size: var(--font-size-h6);
    padding: 10px 10px; 
    position: relative;
}
.Fundgallery .card-image {
    vertical-align: middle;
    overflow: hidden;
    min-height: 167px;
    position: relative;
}

.Fundgallery .card-image img {
    height: 166px;
    width: 100%;
    object-fit: cover;
    transition:all 0.5s;
    -moz-transition:all 0.5s;
    -webkit-transition:all 0.5s;
    /* z-index:9; */
    cursor:pointer;
}

.Fundgallery .card-image img:hover {
transform:scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform:scale(1.05);}

.Fundgallery .dropdown-icon:hover{color:var(--color-primary)!important;}

.Fundgallery .card-content:empty{display:none;}
.Fundgallery .card-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: var(--space-m);
    padding-top: 0px;
    padding-bottom: 20px;
}

/*****ConfirmationMessage Styles*****/
/*****Popup*****/
.conf-dialog-holder {
    /* padding: 20px; */
    position:fixed;
    z-index: 9002;
    border: 2px solid;
    display:none;
    background-color:#FFFFFF;
    border: 2px solid;
    border-top-color: #DF4278;
    border-left-color: #00BDD9;
    border-right-color: #8FCC5A;
    border-bottom-color: #2E9F83;
    border-radius: 4px;
    padding: 10px;
}

.conf-dialog-background {
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #8f8f8f;
    opacity:0.5;
    z-index:9001;
    display:none;
    position:fixed;
}
/*****END Popup*****/


/****Header****/
.conf-dialog-title {
    margin-right: 5px;
    font-weight: bold;
    color: #00bdd9;
    display: inline-block;
    /* padding: 10px; */
}

.conf-dialog-close {
    background: url('/ConfirmationDialog/img/Close.png?154&154&154&154&154&154&154&704');
    width: 17px;
    height: 17px;
    float: right;
    display: block;
    text-indent: -9999px;
}

.conf-dialog-close:hover {
    background: url('/ConfirmationDialog/img/Close_Hover.png?154&154&154&154&154&154&154&704');
}

.conf-dialog-header {
    background-color: #f5f5f5;
    font-size: 14px;
    /* color: white; */
    font-family: BifyFont,'myriad-pro',sans-serif;
    text-align: left;
    padding: 7px;
    text-transform:uppercase;
}
/****END Header****/


/****MainContent****/
.conf-dialog-content {
    padding: 20px;
}
/****END MainContent****/


/****Buttons****/
.conf-dialog-button {
    margin-right: 5px;
}

.conf-dialog-button:hover {
    text-decoration: none;
}

a.conf-dialog-button {
    font-family: BifyFont,'myriad-pro', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    *
    display: inline;
    margin-bottom: 0;
    *
    margin-left: .3em;
    line-height: 20px;
    *
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *
    zoom: 1;
}

a.conf-dialog-button:hover,
a.conf-dialog-button:active {
    color: #333333;
    background-color: #e6e6e6;
}

a.conf-dialog-button:first-child {
    *margin-left: 0;
}

a.conf-dialog-button {
    padding: 6px 20px;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.conf-dialog-button.blue {
    color: #fff;
    background-color: #00bdd9;
}

a.conf-dialog-button.blue:hover{
    background-color: #00bdd9;
}

a.conf-dialog-button.gray {
    color: #606060;
    background-color: #E6E7E8;
}

a.conf-dialog-button.gray:hover {
    background-color: #ccc;
}

.conf-dialog-actions {
    text-align: right;
    margin-top:5px;   
    margin-bottom:5px;
    text-decoration: none;    
}

.conf-dialog-actions btn:hover {
    text-decoration: none;
}
/****END Buttons****/


/****Auxiliar****/
.conf-dialog-actions-invisible {
    display: none !important;
}
/****END Auxiliar****/


/****ServiceStudioPreview****/
.conf-dialog-title {
    
    
    
}

.conf-dialog-content{
    
    
    
    
    
}

.conf-dialog-close{
        
}

.conf-dialog-actions{
       
    
    
    
    
}

.conf-dialog-header{
    
    
    
}

.gg_remove{margin-right: 10px;}
@media only screen and (max-width:620px)
{
.fundOptions{display: none;}
.addnewbutton {
    margin-top: 10px!important;
    margin-right: 10px;
    width: 100%;
}
.sortcontainer{width: 100%!important;}
    .addFundbutton{width: 100%!important;margin-left: 0px!important;}
.choices__inner{width: 100%!important;
    text-align: left;}
.select{width: 100%!important;}
.gg_remove.Button.Is_Default{width:100%!important;}
.gg_edit.Button.Is_Default{margin-left:0px!important;width:100%!important;max-width:100%!important;margin-top:10px!important;}
}