﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Gallery\GiftGallery.ascx.cs" Inherits="ssBIFY.Flows.FlowGallery.WBlkGiftGallery,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="widgets" TagName="K9Mz0MeOYGEKut9lGaJpsYw" Src="..\..\BIFY\Modals\FindAGiftOnlineModal.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kyr6Iy6SKn0a44j_LCL9HzA" Src="..\..\BIFY\Modals\AddANewGiftModal.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KPh3bGkvpXUam1o9sufSrTQ" Src="..\..\BIFY\Structure\Gallery.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KBJOBUaRDjEqu49x5gGiQ9A" Src="..\..\BIFY\Content\CardSectioned.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kowixi86CF0G_QwdFWMHGzQ" Src="LazyLoad.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K9gf2KLhq6keqRORslYhPHw" Src="..\..\BIFY\Controls\Dropdown.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kh_f6rFbQzU2wYQjcGaabJA" Src="..\..\BIFY\Responsive\DisplayOnDevice.ascx" %>
<%@ Register TagPrefix="ConfirmationDialog_widgets" TagName="KFW1WqsmMG0qPUk7hxEVuEQ" Src="..\..\BIFY\ConfirmationDialog\ConfirmationDialog.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="..\..\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KGC2Vk_FubdDDjDgOUsciQw" Src="..\..\BIFY\RichWidgets\List_Counter.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="K1bgPHuCskB0BQCkYm3XxTQ" Src="..\..\BIFY\RichWidgets\List_Navigation.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KSXEWlN6cd06sVss5EMuGyw" Src="..\..\BIFY\Modals\GiftSplashModal.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container32" anonymous="true" onDataBinding="cnt_Container32_onDataBinding" cssClass="giftgallery"><osweb:Container runat="server" id="wt_Container98" anonymous="true" onDataBinding="cnt_Container98_onDataBinding"><osweb:Container runat="server" id="wt_Container149" anonymous="true" onDataBinding="cnt_Container149_onDataBinding" GridCssClasses="ThemeGrid_Width5" align="left"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If116() %>"><osweb:Span runat="server" id="wt_Text24" anonymous="true" class="heading1"><%# "Your Gifts" %></osweb:Span></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If116() %>"><osweb:Span runat="server" id="wt_InlineExpression36" anonymous="true" class="heading1"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression36()) %></osweb:Span><osweb:Span runat="server" id="wt_Text119" anonymous="true" class="heading1"><%# " Gifts" %></osweb:Span></osweb:If></osweb:IfPlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container79" anonymous="true" onDataBinding="cnt_Container79_onDataBinding" GridCssClasses="ThemeGrid_Width7" style="margin-left: 0px" align="right"><osweb:Container runat="server" id="wtSort_Wrapper" onDataBinding="cntSort_Wrapper_onDataBinding"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If7() %>"><osweb:Container runat="server" id="wt_Container52" anonymous="true" onDataBinding="cnt_Container52_onDataBinding" cssClass="sortcontainer" GridCssClasses="OSInline" align="left"><osweb:DropDownList runat="server" id="wtSort_Input" onDataBinding="selSort_Input_onDataBinding" onAjaxChange="selSort_Input_AjaxChange" cssClass="select" style="width: 155px; margin-left: 0px" Visible="<%# selSort_Input_isVisible() %>" Enabled="<%# selSort_Input_isEnabled() %>" OnSelectedIndexChanged="selSort_Input_dropDown_valueChanged" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" Mandatory="<%# selSort_Input_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtSort_InputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtSort_Input"/></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If7() %>"></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server" id="wtGiftIf2"><osweb:If runat="server" visible="<%# if_wtGiftIf2() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If115() %>"><osweb:Container runat="server" id="wt_Container54" anonymous="true" onDataBinding="cnt_Container54_onDataBinding" cssClass="findgiftonlinebutton" GridCssClasses="OSInline" style="margin-left: 10px"><widgets:K9Mz0MeOYGEKut9lGaJpsYw runat="server" id="wtFindGift" OnEvaluateParameters="webBlckFindGift_onDataBinding" OnBindDelegates="webBlckFindGift_BindDelegates" InstanceID="FindGift"></widgets:K9Mz0MeOYGEKut9lGaJpsYw></osweb:Container><osweb:Container runat="server" id="wt_Container5" anonymous="true" onDataBinding="cnt_Container5_onDataBinding" cssClass="addgiftbutton" GridCssClasses="OSInline" style="margin-left: 10px"><widgets:Kyr6Iy6SKn0a44j_LCL9HzA runat="server" id="wtaddgift" OnEvaluateParameters="webBlckaddgift_onDataBinding" OnBindDelegates="webBlckaddgift_BindDelegates" InstanceID="addgift" IncludeSpan="true"></widgets:Kyr6Iy6SKn0a44j_LCL9HzA></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If115() %>"></osweb:If></osweb:IfPlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wtGiftIf2() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container137" anonymous="true" onDataBinding="cnt_Container137_onDataBinding"><osweb:IfPlaceHolder runat="server" id="wtGiftIf"><osweb:If runat="server" visible="<%# if_wtGiftIf() %>"><osweb:Container runat="server" id="wtList_Wrapper" onDataBinding="cntList_Wrapper_onDataBinding" cssClass="ListRecords_Wrapper" align="left"><osweb:Container runat="server" id="wt_Container41" anonymous="true" onDataBinding="cnt_Container41_onDataBinding" cssClass="giftOptions"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If140() %>"><osweb:LinkButton runat="server" id="wt_Link87" onDataBinding="lnk_Link87_onDataBinding" cssClass="Button Is_Default" Visible="<%# lnk_Link87_isVisible() %>" Enabled="<%# lnk_Link87_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression50()) %></osweb:PlaceHolder></osweb:LinkButton></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If140() %>"><osweb:LinkButton runat="server" id="wt_Link113" onDataBinding="lnk_Link113_onDataBinding" cssClass="Button" Visible="<%# lnk_Link113_isVisible() %>" Enabled="<%# lnk_Link113_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression105()) %></osweb:PlaceHolder></osweb:LinkButton></osweb:If></osweb:IfPlaceHolder><osweb:Iterator runat="server" id="wtGiftTypes" onDataBinding="recListGiftTypes_onDataBinding" cssClass="ListRecords ggtop" OnItemCommand="recListGiftTypes_Select" OnSetViewStateStorage="recListGiftTypes_Store" OnClearViewStateStorage="recListGiftTypes_Clear" OnListRefreshDataBind="recListGiftTypes_ListRefreshDataBind"><ItemTemplate><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If74() %>"><osweb:LinkButton runat="server" id="wt_Link4" onDataBinding="lnk_Link4_onDataBinding" cssClass="Button Is_Default" Visible="<%# lnk_Link4_isVisible() %>" Enabled="<%# lnk_Link4_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression37()) %></osweb:PlaceHolder></osweb:LinkButton></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If74() %>"><osweb:LinkButton runat="server" id="wt_Link151" onDataBinding="lnk_Link151_onDataBinding" cssClass="Button" Visible="<%# lnk_Link151_isVisible() %>" Enabled="<%# lnk_Link151_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression38()) %></osweb:PlaceHolder></osweb:LinkButton></osweb:If></osweb:IfPlaceHolder></ItemTemplate><InvisibleTemplate><%# recListGiftTypes_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></osweb:Container><osweb:Container runat="server" id="wt_Container33" anonymous="true" onDataBinding="cnt_Container33_onDataBinding"><OutSystemsUIWeb_widgets:KPh3bGkvpXUam1o9sufSrTQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance91" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance91_onDataBinding" InstanceID="_WebBlockInstance91"><phListRecords><osweb:Iterator runat="server" id="wtMainList" onDataBinding="recListMainList_onDataBinding" cssClass="ListRecords" OnItemCommand="recListMainList_Select" OnSetViewStateStorage="recListMainList_Store" OnClearViewStateStorage="recListMainList_Clear" OnListRefreshDataBind="recListMainList_ListRefreshDataBind" IsAjaxRefreshed="true"><ItemTemplate><OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A runat="server" id="OutSystemsUIWeb_wtbuygiftmodal" OnEvaluateParameters="OutSystemsUIWeb_webBlckbuygiftmodal_onDataBinding" InstanceID="buygiftmodal"><phImage><widgets:Kowixi86CF0G_QwdFWMHGzQ runat="server" id="wt_WebBlockInstance21" OnEvaluateParameters="webBlck_WebBlockInstance21_onDataBinding" InstanceID="_WebBlockInstance21"><phLateLoadContent><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If10() %>"><osweb:IfPlaceHolder runat="server" id="wtTestBackground"><osweb:If runat="server" visible="<%# if_wtTestBackground() %>"><osweb:Container runat="server" id="wtImage" onDataBinding="cntImage_onDataBinding" cssClass="b-lazy"></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtTestBackground() %>"><osweb:DynamicImage runat="server" id="wt_Image95" anonymous="true" onDataBinding="img_Image95_onDataBinding" Source="<%# img_Image95_getURL() %>" ImageType="External" alt=""/></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If6() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If82() %>"><OutSystemsUIWeb_widgets:K9gf2KLhq6keqRORslYhPHw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance101" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance101_onDataBinding" InstanceID="_WebBlockInstance101"><phPrompt></phPrompt><phDropdownList><OutSystemsUIWeb_widgets:Kh_f6rFbQzU2wYQjcGaabJA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance103" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance103_onDataBinding" InstanceID="_WebBlockInstance103"><phContent><osweb:LinkButton runat="server" id="wtRemove" onDataBinding="lnkRemove_onDataBinding" Visible="<%# lnkRemove_isVisible() %>" Enabled="<%# lnkRemove_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Remove" %></osweb:PlaceHolder></osweb:LinkButton></phContent></OutSystemsUIWeb_widgets:Kh_f6rFbQzU2wYQjcGaabJA><OutSystemsUIWeb_widgets:Kh_f6rFbQzU2wYQjcGaabJA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance60" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance60_onDataBinding" InstanceID="_WebBlockInstance60"><phContent><osweb:LinkButton runat="server" id="wtRemove2" onDataBinding="lnkRemove2_onDataBinding" Visible="<%# lnkRemove2_isVisible() %>" Enabled="<%# lnkRemove2_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Remove" %></osweb:PlaceHolder></osweb:LinkButton></phContent></OutSystemsUIWeb_widgets:Kh_f6rFbQzU2wYQjcGaabJA></phDropdownList></OutSystemsUIWeb_widgets:K9gf2KLhq6keqRORslYhPHw><OutSystemsUIWeb_widgets:Kh_f6rFbQzU2wYQjcGaabJA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance77" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance77_onDataBinding" InstanceID="_WebBlockInstance77"><phContent><ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ runat="server" id="ConfirmationDialog_wtdialog" OnEvaluateParameters="ConfirmationDialog_webBlckdialog_onDataBinding" InstanceID="dialog"><phHeader><osweb:PlaceHolder runat="server"><%# "Remove this Gift?" %></osweb:PlaceHolder></phHeader><phContent><osweb:Container runat="server" id="wt_Container100" anonymous="true" onDataBinding="cnt_Container100_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Are you sure you want to remove this Gift from your list?" %></osweb:PlaceHolder></osweb:Container></phContent></ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ></phContent></OutSystemsUIWeb_widgets:Kh_f6rFbQzU2wYQjcGaabJA></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If82() %>"></osweb:If></osweb:IfPlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If6() %>"></osweb:If></osweb:IfPlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If10() %>"><osweb:IfPlaceHolder runat="server" id="wtTestBackground2"><osweb:If runat="server" visible="<%# if_wtTestBackground2() %>"><osweb:LinkButton runat="server" id="wt_Link51" onDataBinding="lnk_Link51_onDataBinding" Visible="<%# lnk_Link51_isVisible() %>" Enabled="<%# lnk_Link51_isEnabled() %>" CausesValidation="false" title="<%# lnk_Link51_getTitle() %>"><osweb:Container runat="server" id="wtImage2" onDataBinding="cntImage2_onDataBinding"></osweb:Container></osweb:LinkButton></osweb:If><osweb:If runat="server" visible="<%# !if_wtTestBackground2() %>"><osweb:LinkButton runat="server" id="wt_Link59" onDataBinding="lnk_Link59_onDataBinding" Visible="<%# lnk_Link59_isVisible() %>" Enabled="<%# lnk_Link59_isEnabled() %>" CausesValidation="false" title="<%# lnk_Link59_getTitle() %>"><osweb:DynamicImage runat="server" id="wt_Image70" anonymous="true" onDataBinding="img_Image70_onDataBinding" Source="<%# img_Image70_getURL() %>" ImageType="External" alt=""/></osweb:LinkButton></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></phLateLoadContent><phTemporaryContent><osweb:DynamicImage runat="server" id="wt_Image118" anonymous="true" onDataBinding="img_Image118_onDataBinding" StaticSource="<%# Images.loading_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phTemporaryContent></widgets:Kowixi86CF0G_QwdFWMHGzQ></phImage><phTitle><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If23() %>"><osweb:Span runat="server" id="wt_InlineExpression158" anonymous="true" onDataBinding="expression_InlineExpression158_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression158()) %></osweb:Span></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If23() %>"><osweb:LinkButton runat="server" id="wtBuyThisGift4" onDataBinding="lnkBuyThisGift4_onDataBinding" cssClass="pink" Visible="<%# lnkBuyThisGift4_isVisible() %>" Enabled="<%# lnkBuyThisGift4_isEnabled() %>" CausesValidation="false" title="<%# lnkBuyThisGift4_getTitle() %>"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression114()) %></osweb:PlaceHolder></osweb:LinkButton></osweb:If></osweb:IfPlaceHolder><osweb:Span runat="server" id="wt_InlineExpression134" anonymous="true" onDataBinding="expression_InlineExpression134_onDataBinding" class="tagg"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression134()) %></osweb:Span></phTitle><phContent><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If139() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If40() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If15() %>"><osweb:Container runat="server" id="wt_Container123" anonymous="true" onDataBinding="cnt_Container123_onDataBinding"><osweb:Container runat="server" id="wt_Container125" anonymous="true" onDataBinding="cnt_Container125_onDataBinding" cssClass="myalertsuccess" GridCssClasses="OSInline"><osweb:PlaceHolder runat="server"><%# "You&#39;ve already sent this " %></osweb:PlaceHolder></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If15() %>"><osweb:Container runat="server" id="wt_Container133" anonymous="true" onDataBinding="cnt_Container133_onDataBinding"><osweb:Container runat="server" id="wt_Container107" anonymous="true" onDataBinding="cnt_Container107_onDataBinding" cssClass="myalert" GridCssClasses="OSInline"><osweb:PlaceHolder runat="server"><%# "Somebody else sent this" %></osweb:PlaceHolder></osweb:Container></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If40() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If48() %>"><osweb:Span runat="server" id="wt_Text94" anonymous="true" onDataBinding="wt_Text94_onDataBinding"><%# "No price specified" %></osweb:Span></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If48() %>"><osweb:Span runat="server" id="wt_InlineExpression106" anonymous="true" onDataBinding="expression_InlineExpression106_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression106()) %></osweb:Span></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If139() %>"></osweb:If></osweb:IfPlaceHolder></phContent><phFooter><osweb:IfPlaceHolder runat="server" id="wtAFriendsGifts"><osweb:If runat="server" visible="<%# if_wtAFriendsGifts() %>"></osweb:If><osweb:If runat="server" visible="<%# !if_wtAFriendsGifts() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If68() %>"><osweb:Container runat="server" id="wt_Container3" anonymous="true" onDataBinding="cnt_Container3_onDataBinding" cssClass="myalertsuccess" GridCssClasses="OSInline"><osweb:PlaceHolder runat="server"><%# "This might be on its way to you! " %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance144" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance144_onDataBinding" InstanceID="_WebBlockInstance144"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If68() %>"><osweb:Container runat="server" id="wt_Container58" anonymous="true" onDataBinding="cnt_Container58_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression78" anonymous="true" onDataBinding="expression_InlineExpression78_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression78()) %></osweb:Span></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></phFooter></OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A></ItemTemplate><InvisibleTemplate><%# recListMainList_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phListRecords></OutSystemsUIWeb_widgets:KPh3bGkvpXUam1o9sufSrTQ></osweb:Container><osweb:Container runat="server" id="wt_Container42" anonymous="true" onDataBinding="cnt_Container42_onDataBinding" cssClass="TableRecords_BottomNavigation margin-top-m"><osweb:Container runat="server" id="wt_Container89" anonymous="true" onDataBinding="cnt_Container89_onDataBinding" GridCssClasses="OSInline" style="width: 40%" align="left"><RichWidgets_widgets:KGC2Vk_FubdDDjDgOUsciQw runat="server" id="RichWidgets_wt_WebBlockInstance8" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance8_onDataBinding" InstanceID="_WebBlockInstance8"></RichWidgets_widgets:KGC2Vk_FubdDDjDgOUsciQw></osweb:Container><osweb:Container runat="server" id="wt_Container11" anonymous="true" onDataBinding="cnt_Container11_onDataBinding" GridCssClasses="OSInline" style="width: 60%; margin-left: 0px"><RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ runat="server" id="RichWidgets_wt_WebBlockInstance14" onAjaxNotify="RichWidgets_webBlck_WebBlockInstance14_AjaxNotify" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance14_onDataBinding" OnBindDelegates="RichWidgets_webBlck_WebBlockInstance14_BindDelegates" InstanceID="_WebBlockInstance14"></RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ></osweb:Container></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtGiftIf() %>"><osweb:Container runat="server" id="wt_Container135" anonymous="true" onDataBinding="cnt_Container135_onDataBinding"><osweb:Container runat="server" id="wt_Container147" anonymous="true" onDataBinding="cnt_Container147_onDataBinding" align="center"><osweb:DynamicImage runat="server" id="wt_Image104" anonymous="true" StaticSource="<%# Images.gift_marvel_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image104_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:Container><osweb:Container runat="server" id="wt_Container121" anonymous="true" onDataBinding="cnt_Container121_onDataBinding" align="center"><osweb:Span runat="server" id="wt_InlineExpression43" anonymous="true" onDataBinding="expression_InlineExpression43_onDataBinding" class="heading4"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression43()) %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container71" anonymous="true" onDataBinding="cnt_Container71_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# "Add your first Gift to BIFY and join the gift giving revolution " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container26" anonymous="true" onDataBinding="cnt_Container26_onDataBinding" align="center"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If27() %>"><widgets:K9Mz0MeOYGEKut9lGaJpsYw runat="server" id="wt_WebBlockInstance126" OnEvaluateParameters="webBlck_WebBlockInstance126_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance126_BindDelegates" InstanceID="_WebBlockInstance126"></widgets:K9Mz0MeOYGEKut9lGaJpsYw></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If27() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container109" anonymous="true" onDataBinding="cnt_Container109_onDataBinding"><osweb:IfPlaceHolder runat="server" id="wtShowGiftIf" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtShowGiftIf() %>"><widgets:KSXEWlN6cd06sVss5EMuGyw runat="server" id="wt_WebBlockInstance2" OnEvaluateParameters="webBlck_WebBlockInstance2_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance2_BindDelegates" InstanceID="_WebBlockInstance2"></widgets:KSXEWlN6cd06sVss5EMuGyw></osweb:If><osweb:If runat="server" visible="<%# !if_wtShowGiftIf() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:Container><%# PageEndHook() %>