﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Gallery\LazyLoad.ascx.cs" Inherits="ssBIFY.Flows.FlowGallery.WBlkLazyLoad,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server" id="wtLateLoader" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtLateLoader() %>"><osweb:PlaceholderContainer runat="server" id="wtLateLoadContent" onDataBinding="wtLateLoadContent_onDataBinding"></osweb:PlaceholderContainer></osweb:If><osweb:If runat="server" visible="<%# !if_wtLateLoader() %>"><osweb:PlaceholderContainer runat="server" id="wtTemporaryContent" onDataBinding="wtTemporaryContent_onDataBinding"></osweb:PlaceholderContainer><osweb:LinkButton runat="server" id="wtRefreshLnk" onDataBinding="lnkRefreshLnk_onDataBinding" Visible="<%# lnkRefreshLnk_isVisible() %>" Enabled="<%# lnkRefreshLnk_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "refreshLnk" %></osweb:PlaceHolder></osweb:LinkButton><osweb:PlaceHolder runat="server"><%# expression_InlineExpression3() %></osweb:PlaceHolder></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>