﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Gallery\OrientedFundImage.ascx.cs" Inherits="ssBIFY.Flows.FlowGallery.WBlkOrientedFundImage,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="WebPatterns_widgets" TagName="Kyod0jz_JYE_ei6nHo2Eoiw" Src="..\..\BIFY\Development\JS.ascx" %>
<%# PageStartHook() %><osweb:DynamicImage runat="server" id="wtOrientedImg" onDataBinding="imgOrientedImg_onDataBinding" Source="<%# imgOrientedImg_getFilename() %>" StaticSource="<%# Images.InfoBalloon_Info_Source() %>" Entity="FundImage" Attribute="Image" EntityId="<%# imgOrientedImg_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# &quot;/RichWidgets/&quot; %>" alt=""/><WebPatterns_widgets:Kyod0jz_JYE_ei6nHo2Eoiw runat="server" id="WebPatterns_wt_WebBlockInstance1" OnEvaluateParameters="WebPatterns_webBlck_WebBlockInstance1_onDataBinding" InstanceID="_WebBlockInstance1"><phDescription></phDescription></WebPatterns_widgets:Kyod0jz_JYE_ei6nHo2Eoiw><%# PageEndHook() %>