﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_OutSystemsUIWeb.Flows.FlowNavigation.WBlkBreadcrumbs,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\OutSystemsUIWeb\Navigation\Breadcrumbs.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />