﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_OutSystemsUIWeb.Flows.FlowNavigation.WBlkTimelineItem,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\OutSystemsUIWeb\Navigation\TimelineItem.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />