﻿/*****ConfirmationMessage Styles*****/

/*****Popup*****/
.conf-dialog-holder {
    position:fixed;
    z-index: 9002;
    border: 1px #D8D8D8 solid;
    display:none;
    background-color:#FFFFFF;
}

.conf-dialog-background {
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: white;
    opacity:0.5;
    z-index:9001;
    display:none;
    position:fixed;
}
/*****END Popup*****/


/****Header****/
.conf-dialog-title {
    margin-right: 5px;   
    font-weight: bold;
    color: #868686;
    display: inline-block;
}

.conf-dialog-close {
    background: url('img/Close.png');
    width: 17px;
    height: 17px;
    float: right;
    display: block;
    text-indent: -9999px;
}

.conf-dialog-close:hover {
    background: url('img/Close_Hover.png');
}

.conf-dialog-header {
    background-color: #F2F2F2;
    font-size: 14px;
    font-family: 'myriad-pro',sans-serif;
    padding: 7px;
    text-transform:uppercase;
}
/****END Header****/


/****MainContent****/
.conf-dialog-content {
    padding: 10px;
}
/****END MainContent****/


/****Buttons****/
.conf-dialog-button {
    margin-right: 5px;
}

.conf-dialog-button:hover {
    text-decoration: none;
}

a.conf-dialog-button {
    font-family: 'myriad-pro', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    *margin-left: .3em;
    line-height: 20px;
    *line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
}

a.conf-dialog-button:hover,
a.conf-dialog-button:active {
    color: #333333;
    background-color: #e6e6e6;
}

a.conf-dialog-button:first-child {
    *margin-left: 0;
}

a.conf-dialog-button {
    padding: 6px 20px;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.conf-dialog-button.blue {
    color: #fff;
    background-color: #69c;
}

a.conf-dialog-button.blue:hover{
    background-color: #4673A7;
}

a.conf-dialog-button.gray {
    color: #606060;
    background-color: #E6E7E8;
}

a.conf-dialog-button.gray:hover {
    background-color: #ccc;
}

.conf-dialog-actions {
    text-align: right;
    margin-top:5px;   
    margin-bottom:5px;
    text-decoration: none;    
}

.conf-dialog-actions btn:hover {
    text-decoration: none;
}
/****END Buttons****/


/****Auxiliar****/
.conf-dialog-actions-invisible {
    display: none !important;
}
/****END Auxiliar****/


/****ServiceStudioPreview****/
.conf-dialog-title {
    
    
    
}

.conf-dialog-content{
    
    
    
    
    
}

.conf-dialog-close{
        
}

.conf-dialog-actions{
       
    
    
    
    
}

.conf-dialog-header{
    
    
    
}
/****END ServiceStudioPreview****/