﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\FileUploadAndImgPreviewOnChooseFile\imgWidgets\fileUploadAndImgPreviewReturnsDataOnChoose.ascx.cs" Inherits="ssFileUploadAndImgPreviewOnChooseFile.Flows.FlowimgWidgets.WBlkfileUploadAndImgPreviewReturnsDataOnChoose,FileUploadAndImgPreviewOnChooseFile" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssFileUploadAndImgPreviewOnChooseFile" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KKBlePzM8uEqesZs8yf_pug" Src="..\..\FileUploadAndImgPreviewOnChooseFile\RichWidgets\FakeNotifyWidget.ascx" %>
<%# PageStartHook() %><osweb:PlaceHolder runat="server"><%# expression2() %></osweb:PlaceHolder><RichWidgets_widgets:KKBlePzM8uEqesZs8yf_pug runat="server" id="RichWidgets_wtFakeNotify" onAjaxNotify="RichWidgets_webBlckFakeNotify_AjaxNotify" OnEvaluateParameters="RichWidgets_webBlckFakeNotify_onDataBinding" OnBindDelegates="RichWidgets_webBlckFakeNotify_BindDelegates" InstanceID="FakeNotify" IncludeSpan="true"></RichWidgets_widgets:KKBlePzM8uEqesZs8yf_pug><%# PageEndHook() %>