﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_SocialLoginAPI.Flows.FlowDisplay.WBlkExternalUserLogo,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\SocialLoginAPI\Display\ExternalUserLogo.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />