﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_Cropit.Flows.FlowCropit.WBlkCropitBify,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\Cropit\Cropit\CropitBify.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />