﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Structure\ColumnsMediumRight.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowStructure.WBlkColumnsMediumRight,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt3" anonymous="true" onDataBinding="cnt3_onDataBinding" cssClass="columns columns-medium-right"><osweb:PlaceholderContainer runat="server" id="wtColumn1" onDataBinding="wtColumn1_onDataBinding" cssClass="columns-item"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtColumn2" onDataBinding="wtColumn2_onDataBinding" cssClass="columns-item"></osweb:PlaceholderContainer></osweb:Container><%# PageEndHook() %>