﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Structure\Columns3.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowStructure.WBlkColumns3,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt1" anonymous="true" onDataBinding="cnt1_onDataBinding" cssClass="columns"><osweb:PlaceholderContainer runat="server" id="wtColumn1" onDataBinding="wtColumn1_onDataBinding" cssClass="columns-item"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtColumn2" onDataBinding="wtColumn2_onDataBinding" cssClass="columns-item"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtColumn3" onDataBinding="wtColumn3_onDataBinding" cssClass="columns-item"></osweb:PlaceholderContainer></osweb:Container><%# PageEndHook() %>