﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Structure\Gallery.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowStructure.WBlkGallery,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KhQb0BLpytEmdN7zUKjG7tA" Src="..\..\OutSystemsUIWeb\Private\JavaScriptNode.ascx" %>
<%# PageStartHook() %><osweb:PlaceholderContainer runat="server" id="wtListRecords" onDataBinding="wtListRecords_onDataBinding" cssClass="gallery"></osweb:PlaceholderContainer><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt6() %>"></osweb:If><osweb:If runat="server" visible="<%# !if_wt6() %>"><widgets:KhQb0BLpytEmdN7zUKjG7tA runat="server" id="wt3" OnEvaluateParameters="webBlck3_onDataBinding" InstanceID="3"><phDescription><osweb:PlaceHolder runat="server"><%# "Init Gallery" %></osweb:PlaceHolder></phDescription></widgets:KhQb0BLpytEmdN7zUKjG7tA></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>