﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\SocialLoginAPI\Callbacks\FacebookAuthorize.ascx.cs" Inherits="ssSocialLoginAPI.Flows.FlowCallbacks.WBlkFacebookAuthorize,SocialLoginAPI" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssSocialLoginAPI" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt4() %>"><osweb:DynamicImage runat="server" id="wt2" anonymous="true" StaticSource="<%# Images.fb_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/><osweb:PlaceHolder runat="server"><%# "<br/>" %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# "Facebook Callback Handler" %></osweb:PlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt4() %>"></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>