﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Common\ApplicationTitle.ascx.cs" Inherits="ssBIFY.Flows.FlowCommon.WBlkApplicationTitle,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container1" anonymous="true" onDataBinding="cnt_Container1_onDataBinding" cssClass="application-name display-flex align-items-center full-height" GridCssClasses="OSInline"><osweb:HyperLink runat="server" id="wt_Link2" Visible="<%# lnk_Link2_isVisible() %>" Enabled="<%# lnk_Link2_isEnabled() %>" NavigateUrl="<%# lnk_Link2_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image3" anonymous="true" cssClass="app-logo" StaticSource="<%# Images.bifylogohorizontalstandard_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></osweb:HyperLink></osweb:Container><%# PageEndHook() %>