﻿.logo-preview {
    width: 38px;
    height: 38px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    color: #fff;
}
.app-logo {
    height: 20%!important;
    margin-right: var(--space-s);
    width: 332px!important;
}