﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Common\MenuIcon.ascx.cs" Inherits="ssBIFY.Flows.FlowCommon.WBlkMenuIcon,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server" id="wtLoggedIn"><osweb:If runat="server" visible="<%# if_wtLoggedIn() %>"><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding" cssClass="menu-icon"><osweb:Container runat="server" id="wt_Container1" anonymous="true" onDataBinding="cnt_Container1_onDataBinding" cssClass="menu-icon-line"></osweb:Container><osweb:Container runat="server" id="wt_Container6" anonymous="true" onDataBinding="cnt_Container6_onDataBinding" cssClass="menu-icon-line"></osweb:Container><osweb:Container runat="server" id="wt_Container4" anonymous="true" onDataBinding="cnt_Container4_onDataBinding" cssClass="menu-icon-line"></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtLoggedIn() %>"></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>