﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Common\Scripts.ascx.cs" Inherits="ssBIFY.Flows.FlowCommon.WBlkScripts,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:Span runat="server" id="wtGA"><%# expressionGA() %></osweb:Span><osweb:PlaceHolder runat="server"><%# expression_InlineExpression2() %></osweb:PlaceHolder><%# PageEndHook() %>