﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Libraries\JSON5_2_1_0.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowLibraries.WBlkJSON5_2_1_0,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KhQb0BLpytEmdN7zUKjG7tA" Src="..\..\OutSystemsUIWeb\Private\JavaScriptNode.ascx" %>
<%# PageStartHook() %><widgets:KhQb0BLpytEmdN7zUKjG7tA runat="server" id="wt3" OnEvaluateParameters="webBlck3_onDataBinding" InstanceID="3"><phDescription><osweb:PlaceHolder runat="server"><%# "JSON5" %></osweb:PlaceHolder></phDescription></widgets:KhQb0BLpytEmdN7zUKjG7tA><%# PageEndHook() %>