﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Libraries\Tippy_3_0_6.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowLibraries.WBlkTippy_3_0_6,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KhQb0BLpytEmdN7zUKjG7tA" Src="..\..\OutSystemsUIWeb\Private\JavaScriptNode.ascx" %>
<%# PageStartHook() %><widgets:KhQb0BLpytEmdN7zUKjG7tA runat="server" id="wt1" OnEvaluateParameters="webBlck1_onDataBinding" InstanceID="1"><phDescription><osweb:PlaceHolder runat="server"><%# "Tippy" %></osweb:PlaceHolder></phDescription></widgets:KhQb0BLpytEmdN7zUKjG7tA><%# PageEndHook() %>