﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\RichWidgets\RichWidgets\DropDownMenu.ascx.cs" Inherits="ssRichWidgets.Flows.FlowRichWidgets.WBlkDropDownMenu,RichWidgets" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssRichWidgets" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtDropDownButtonRoot" onDataBinding="cntDropDownButtonRoot_onDataBinding" cssClass="Menu_DropDownButton" GridCssClasses="OSInline"><osweb:Container runat="server" id="wtDropDownButtonElement" onDataBinding="cntDropDownButtonElement_onDataBinding" cssClass="Menu_TopMenu"><osweb:PlaceholderContainer runat="server" id="wtMenuItem" onDataBinding="wtMenuItem_onDataBinding"></osweb:PlaceholderContainer></osweb:Container><osweb:Container runat="server" id="wtDropDownPanel" onDataBinding="cntDropDownPanel_onDataBinding" cssClass="Menu_DropDownPanel"><osweb:PlaceholderContainer runat="server" id="wtMenuSubItems" onDataBinding="wtMenuSubItems_onDataBinding" cssClass="Menu_SubItemsPlaceholder"></osweb:PlaceholderContainer></osweb:Container></osweb:Container><%# PageEndHook() %>