﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\RichWidgets\RichWidgets\FakeNotifyWidget.ascx.cs" Inherits="ssRichWidgets.Flows.FlowRichWidgets.WBlkFakeNotifyWidget,RichWidgets" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssRichWidgets" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt2() %>"><osweb:Span runat="server" id="wt3" anonymous="true" class="Text_Note"><%# "&lt;FakeNotifyWidget&gt;" %></osweb:Span></osweb:If><osweb:If runat="server" visible="<%# !if_wt2() %>"></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>