﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_FileUploadAndImgPreviewOnChooseFile_RichWidgets.Flows.FlowRichWidgets.WBlkFakeNotifyWidget,FileUploadAndImgPreviewOnChooseFileReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\RichWidgets\RichWidgets\FakeNotifyWidget.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />