﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_RichWidgets.Flows.FlowLayoutsOther.WBlkLayout_Email,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\RichWidgets\LayoutsOther\Layout_Email.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />