﻿.bannerGiftCard_content{background-image: url(/BIFY/img/Rectangle1copy.png?224&245&864);background-repeat: repeat;padding: 20px;color:white;text-align: left;}
.bannerGiftCard{text-align: left;}
.bannerGiftCard_Width{max-width: 1280px;
    padding-left: 5%;
    padding-right: 5%;}
.bannerGiftCard_title{font-size: 1.7rem;font-weight: bold;}
.bannerGiftCard_icon img{height: 120px;}
.bannerGiftCard_text{margin-top: -10px;}
.bannerGiftCard_subtitle{font-size: 1rem;
    font-weight: 300;padding-top: 10px}
.bannerGiftCard_subtitle .Button{background-color: #2c9f83;/* border: 2px solid #e76d97; */color: #ffffff!important;font-weight: 500;}
/* $4.2.9 - Patterns - Controls - Search */
.bannerGiftCard_content .search .input-with-icon .input-with-icon-content-icon:not(:empty) + .input-with-icon-input input {
    padding: 0 var(--space-xl);
    padding: 25px;
    padding-left: 60px;
    background-color:transparent;
    border-color:white;
    color:white;
}

.bannerGiftCard_content .input-with-icon .input-with-icon-content-icon {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 50px;
    position: absolute;
    width: 60px;
    color: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   white!important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white!important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white!important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    white!important;
}