﻿.bannerCTA_content{background-color: #00bdd9;padding: 50px;color:white;}
.bannerCTA{text-align: center;}
.bannerCTA_title{font-size: 1.7rem;font-weight: bold;}
.bannerCTA_icon img{height: 120px;}
.bannerCTA_text{margin-top: -10px;}
/* $4.2.9 - Patterns - Controls - Search */
.bannerCTA_content .search .input-with-icon .input-with-icon-content-icon:not(:empty) + .input-with-icon-input input {
    padding: 0 var(--space-xl);
    padding: 25px;
    padding-left: 60px;
    background-color:transparent;
    border-color:white;
    color:white;
}

.bannerCTA_content .input-with-icon .input-with-icon-content-icon {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 50px;
    position: absolute;
    width: 60px;
    color: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   white!important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white!important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white!important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    white!important;
}