﻿.bannerWedding_content{background-size: cover;
    background-image: url(/BIFY/img/wedd.jpg?669&864);
    background-repeat: no-repeat;
    padding: 20px;
    text-align: left;
    border-radius: var(--border-radius-soft);
    border: var(--border-size-s) solid #52a58c;}
.bannerWedding{text-align: left;}
.bannerWedding_Width{max-width: 1280px;
    padding-left: 5%;
    padding-right: 5%;}
.bannerWedding_title{font-size: 1.7rem;font-weight: bold;}
.bannerWedding_icon img{height: 120px;}
.bannerWedding_text{margin-top: -10px;}
.bannerWedding_subtitle{
    font-weight: 300;}

/* $4.2.9 - Patterns - Controls - Search */
.bannerWedding_content .search .input-with-icon .input-with-icon-content-icon:not(:empty) + .input-with-icon-input input {
    padding: 0 var(--space-xl);
    padding: 25px;
    padding-left: 60px;
    background-color:transparent;

}

.bannerWedding_content .input-with-icon .input-with-icon-content-icon {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 50px;
    position: absolute;
    width: 60px;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   white!important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white!important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white!important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    white!important;
}