﻿.bannerUser_content{background-color: #93c85e;padding: 20px;color:white;text-align: left;}
.bannerUser{text-align: left;}
.bannerUser_title{font-size: 1.7rem;font-weight: bold;}
.bannerUser_icon img{height: 120px;}
.bannerUser_text{margin-top: -10px;}
.bannerUser_subtitle{font-size: 1rem;padding-top: 10px;}
.bannerUser_width{max-width: 1280px;
    padding-left: 5%;
    padding-right: 5%;}

    font-weight: 300;}
/* $4.2.9 - Patterns - Controls - Search */
.bannerUser_content .search .input-with-icon .input-with-icon-content-icon:not(:empty) + .input-with-icon-input input {
    padding: 0 var(--space-xl);
    padding: 25px;
    padding-left: 60px;
    background-color:transparent;
    border-color:white;
    color:white;
}

.bannerUser_content .input-with-icon .input-with-icon-content-icon {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 50px;
    position: absolute;
    width: 60px;
    color: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   white!important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white!important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white!important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    white!important;
}