﻿.benefits_content{}
.benefits{padding:20px;text-align: left;min-width:250px;}
.benefits_title{}
.benefits_icon img{height: 120px;font-size: 0.9rem;}
.benefits_text{margin-top: -10px;}
.benefits_content .columns-item{min-width:33%;}
.benefits_icon{margin-top: 10px;}
@media only screen and (max-width:650px)
{
    .benefits_content .columns-item{min-width:100%;}
    .aaa iframe {margin-top:-90px;padding-top:54.25%;max-width:300px;}
}