﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Weblocks\BIFYBanner.ascx.cs" Inherits="ssBIFY.Flows.FlowWeblocks.WBlkBIFYBanner,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:PlaceHolder runat="server"><%# expression_InlineExpression1() %></osweb:PlaceHolder><%# PageEndHook() %>