﻿#DIV_1 {
    bottom: 0px;
    float: left;
    height: 598px;
    left: 0px;
    max-height: 1e+06px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 951.359px;
    perspective-origin: 475.672px 299px;
    transform-origin: 475.672px 299px;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
    margin: 0px 4.79688px;
}/*#DIV_1*/

#DIV_1:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#DIV_1:after*/

#DIV_1:before {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#DIV_1:before*/

#DIV_2 {
    height: 598px;
    max-height: 1e+06px;
    text-size-adjust: 100%;
    width: 951.359px;
    perspective-origin: 475.672px 299px;
    transform-origin: 475.672px 299px;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#DIV_2*/

#DIV_2:after {
    clear: both;
    content: '"' '"';
    display: block;
    height: 0px;
    text-size-adjust: 100%;
    visibility: hidden;
    width: 0px;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
    overflow: hidden;
}/*#DIV_2:after*/

#DIV_2:before {
    content: '"' '"';
    display: block;
    height: 0px;
    text-size-adjust: 100%;
    visibility: hidden;
    width: 0px;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
    overflow: hidden;
}/*#DIV_2:before*/

#DIV_3 {
    bottom: 0px;
    box-sizing: border-box;
    height: 398px;
    left: 0px;
    max-height: 1e+06px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 799.141px;
    perspective-origin: 399.563px 199px;
    transform-origin: 399.563px 199px;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
    margin: 150px 76.0938px 50px;
}/*#DIV_3*/

#DIV_3:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#DIV_3:after*/

#DIV_3:before {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#DIV_3:before*/

#SPAN_4 {
    bottom: 180px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 148px;
    left: -70px;
    max-height: 1e+06px;
    position: absolute;
    right: 721.141px;
    text-size-adjust: 100%;
    top: 70px;
    width: 148px;
    perspective-origin: 74px 74px;
    transform-origin: 74px 74px;
    background: rgb(240, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#SPAN_4*/

#SPAN_4:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#SPAN_4:after*/

#SPAN_4:before {
    content: '""';
    display: block;
    height: 0px;
    text-size-adjust: 100%;
    width: 148px;
    perspective-origin: 74px 74px;
    transform-origin: 74px 74px;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
    padding: 148px 0px 0px;
}/*#SPAN_4:before*/

#SPAN_5 {
    bottom: 122px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 96px;
    left: -48px;
    max-height: 1e+06px;
    position: absolute;
    right: 751.141px;
    text-size-adjust: 100%;
    top: 180px;
    width: 96px;
    perspective-origin: 48px 48px;
    transform-origin: 48px 48px;
    background: rgb(255, 0, 130) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#SPAN_5*/

#SPAN_5:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#SPAN_5:after*/

#SPAN_5:before {
    content: '""';
    display: block;
    height: 0px;
    text-size-adjust: 100%;
    width: 96px;
    perspective-origin: 48px 48px;
    transform-origin: 48px 48px;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
    padding: 96px 0px 0px;
}/*#SPAN_5:before*/

#SPAN_6 {
    bottom: -15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 148px;
    left: 713.141px;
    max-height: 1e+06px;
    position: absolute;
    right: -62px;
    text-size-adjust: 100%;
    top: 265px;
    width: 148px;
    perspective-origin: 74px 74px;
    transform-origin: 74px 74px;
    background: rgb(240, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#SPAN_6*/

#SPAN_6:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#SPAN_6:after*/

#SPAN_6:before {
    content: '""';
    display: block;
    height: 0px;
    text-size-adjust: 100%;
    width: 148px;
    perspective-origin: 74px 74px;
    transform-origin: 74px 74px;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
    padding: 148px 0px 0px;
}/*#SPAN_6:before*/

#SPAN_7 {
    bottom: -35px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 96px;
    left: 720.141px;
    max-height: 1e+06px;
    position: absolute;
    right: -17px;
    text-size-adjust: 100%;
    top: 337px;
    width: 96px;
    perspective-origin: 48px 48px;
    transform-origin: 48px 48px;
    background: rgb(190, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#SPAN_7*/

#SPAN_7:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#SPAN_7:after*/

#SPAN_7:before {
    content: '""';
    display: block;
    height: 0px;
    text-size-adjust: 100%;
    width: 96px;
    perspective-origin: 48px 48px;
    transform-origin: 48px 48px;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
    padding: 96px 0px 0px;
}/*#SPAN_7:before*/

#DIV_8 {
    bottom: 0px;
    box-shadow: rgb(153, 153, 153) 0px 0px 20px 0px;
    box-sizing: border-box;
    height: 398px;
    left: 0px;
    max-height: 1e+06px;
    position: relative;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: 0px;
    width: 799.141px;
    z-index: 5;
    perspective-origin: 399.563px 199px;
    transform-origin: 399.563px 199px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
    padding: 175px 30px 50px;
}/*#DIV_8*/

#DIV_8:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#DIV_8:after*/

#DIV_8:before {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 19.6px arial, verdana, helvetica, sans-serif;
}/*#DIV_8:before*/

#H3_9 {
    bottom: 238px;
    box-sizing: border-box;
    height: 320px;
    left: 0px;
    max-height: 1e+06px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: -170px;
    width: 799.141px;
    perspective-origin: 399.563px 160px;
    transform: matrix(0.8, 0, 0, 0.8, 0, 0);
    transform-origin: 399.563px 160px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    margin: 0px 0px 10px;
}/*#H3_9*/

#H3_9:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#H3_9:after*/

#H3_9:before {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#H3_9:before*/

#SPAN_10 {
    bottom: 159px;
    box-sizing: border-box;
    display: block;
    height: 1px;
    left: 399.563px;
    max-height: 1e+06px;
    position: absolute;
    right: 398.578px;
    text-align: center;
    text-size-adjust: 100%;
    top: 160px;
    width: 1px;
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_10*/

#SPAN_10:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_10:after*/

#SPAN_10:before {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_10:before*/

#SPAN_11 {
    background-position: 50% 50%;
    bottom: 61px;
    box-sizing: border-box;
    display: block;
    height: 100px;
    left: -237px;
    max-height: 1e+06px;
    position: absolute;
    right: 138px;
    text-align: center;
    text-size-adjust: 100%;
    top: -160px;
    width: 100px;
    perspective-origin: 50px 50px;
    transform-origin: 50px 50px;
    background: rgba(0, 0, 0, 0) url("https://www.national-lottery.co.uk/c/i/css/bespoke/lotto-fabric/bright_fireworks.png") no-repeat scroll 50% 50% / contain padding-box border-box;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_11*/

#SPAN_11:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_11:after*/

#SPAN_11:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 100px;
    perspective-origin: 50px 50px;
    transform-origin: 50px 50px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 100px 0px 0px;
}/*#SPAN_11:before*/

#SPAN_12 {
    background-position: 50% 50%;
    bottom: -158px;
    box-sizing: border-box;
    display: block;
    height: 177px;
    left: 153px;
    max-height: 1e+06px;
    position: absolute;
    right: -329px;
    text-align: center;
    text-size-adjust: 100%;
    top: -18px;
    width: 177px;
    perspective-origin: 88.5px 88.5px;
    transform: matrix(-0.996195, 0.0871557, -0.0871557, -0.996195, 0, 0);
    transform-origin: 88.5px 88.5px;
    background: rgba(0, 0, 0, 0) url("https://www.national-lottery.co.uk/c/i/css/bespoke/lotto-fabric/bright_fireworks.png") no-repeat scroll 50% 50% / contain padding-box border-box;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_12*/

#SPAN_12:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_12:after*/

#SPAN_12:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 177px;
    perspective-origin: 88.5px 88.5px;
    transform-origin: 88.5px 88.5px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 177px 0px 0px;
}/*#SPAN_12:before*/

#SPAN_13 {
    bottom: -92px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 150px;
    left: -221px;
    max-height: 1e+06px;
    position: absolute;
    right: 72px;
    text-align: center;
    text-size-adjust: 100%;
    top: -57px;
    width: 150px;
    perspective-origin: 75px 75px;
    transform-origin: 75px 75px;
    background: rgb(190, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_13*/

#SPAN_13:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_13:after*/

#SPAN_13:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 150px;
    perspective-origin: 75px 75px;
    transform-origin: 75px 75px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 150px 0px 0px;
}/*#SPAN_13:before*/

#SPAN_14 {
    bottom: -132px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 60px;
    left: -141px;
    max-height: 1e+06px;
    position: absolute;
    right: 82px;
    text-align: center;
    text-size-adjust: 100%;
    top: 73px;
    width: 60px;
    perspective-origin: 30px 30px;
    transform-origin: 30px 30px;
    background: rgb(255, 0, 65) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_14*/

#SPAN_14:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_14:after*/

#SPAN_14:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 60px;
    perspective-origin: 30px 30px;
    transform-origin: 30px 30px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 60px 0px 0px;
}/*#SPAN_14:before*/

#SPAN_15 {
    bottom: -79px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 90px;
    left: -181px;
    max-height: 1e+06px;
    position: absolute;
    right: 92px;
    text-align: center;
    text-size-adjust: 100%;
    top: -10px;
    width: 90px;
    perspective-origin: 45px 45px;
    transform-origin: 45px 45px;
    background: rgb(255, 0, 130) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_15*/

#SPAN_15:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_15:after*/

#SPAN_15:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 90px;
    perspective-origin: 45px 45px;
    transform-origin: 45px 45px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 90px 0px 0px;
}/*#SPAN_15:before*/

#SPAN_16 {
    bottom: -126px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 185px;
    left: 47px;
    max-height: 1e+06px;
    position: absolute;
    right: -231px;
    text-align: center;
    text-size-adjust: 100%;
    top: -58px;
    width: 185px;
    perspective-origin: 92.5px 92.5px;
    transform-origin: 92.5px 92.5px;
    background: rgb(240, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_16*/

#SPAN_16:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_16:after*/

#SPAN_16:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 185px;
    perspective-origin: 92.5px 92.5px;
    transform-origin: 92.5px 92.5px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 185px 0px 0px;
}/*#SPAN_16:before*/

#SPAN_17 {
    bottom: -160px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 91px;
    left: 54px;
    max-height: 1e+06px;
    position: absolute;
    right: -144px;
    text-align: center;
    text-size-adjust: 100%;
    top: 70px;
    width: 91px;
    perspective-origin: 45.5px 45.5px;
    transform-origin: 45.5px 45.5px;
    background: rgb(255, 0, 130) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_17*/

#SPAN_17:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_17:after*/

#SPAN_17:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 91px;
    perspective-origin: 45.5px 45.5px;
    transform-origin: 45.5px 45.5px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 91px 0px 0px;
}/*#SPAN_17:before*/

#SPAN_18 {
    bottom: -153px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    box-sizing: border-box;
    display: block;
    height: 257px;
    left: -126px;
    max-height: 1e+06px;
    position: absolute;
    right: -130px;
    text-align: center;
    text-size-adjust: 100%;
    top: -103px;
    width: 257px;
    perspective-origin: 128.5px 128.5px;
    transform-origin: 128.5px 128.5px;
    background: rgb(240, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_18*/

#SPAN_18:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_18:after*/

#SPAN_18:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 257px;
    perspective-origin: 128.5px 128.5px;
    transform-origin: 128.5px 128.5px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 257px 0px 0px;
}/*#SPAN_18:before*/

#SPAN_19 {
    background-position: 50% 50%;
    bottom: -97px;
    box-sizing: border-box;
    display: block;
    height: 18px;
    left: -224px;
    max-height: 1e+06px;
    position: absolute;
    right: 207px;
    text-align: center;
    text-size-adjust: 100%;
    top: 80px;
    width: 18px;
    perspective-origin: 9px 9px;
    transform: matrix(0.965926, -0.258819, 0.258819, 0.965926, 0, 0);
    transform-origin: 9px 9px;
    background: rgba(0, 0, 0, 0) url("https://www.national-lottery.co.uk/c/i/css/bespoke/lotto-fabric/bright_star.png") no-repeat scroll 50% 50% / contain padding-box border-box;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_19*/

#SPAN_19:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_19:after*/

#SPAN_19:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 18px;
    perspective-origin: 9px 9px;
    transform-origin: 9px 9px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 18px 0px 0px;
}/*#SPAN_19:before*/

#SPAN_20 {
    background-position: 50% 50%;
    bottom: -86px;
    box-sizing: border-box;
    display: block;
    height: 77px;
    left: -301px;
    max-height: 1e+06px;
    position: absolute;
    right: 225px;
    text-align: center;
    text-size-adjust: 100%;
    top: 10px;
    width: 77px;
    perspective-origin: 38.5px 38.5px;
    transform: matrix(0.992546, 0.121869, -0.121869, 0.992546, 0, 0);
    transform-origin: 38.5px 38.5px;
    background: rgba(0, 0, 0, 0) url("https://www.national-lottery.co.uk/c/i/css/bespoke/lotto-fabric/bright_swirl.png") no-repeat scroll 50% 50% / contain padding-box border-box;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_20*/

#SPAN_20:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_20:after*/

#SPAN_20:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 77px;
    perspective-origin: 38.5px 38.5px;
    transform-origin: 38.5px 38.5px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 77px 0px 0px;
}/*#SPAN_20:before*/

#SPAN_21 {
    background-position: 50% 50%;
    bottom: -135px;
    box-sizing: border-box;
    display: block;
    height: 60px;
    left: -333px;
    max-height: 1e+06px;
    position: absolute;
    right: 274px;
    text-align: center;
    text-size-adjust: 100%;
    top: 76px;
    width: 60px;
    perspective-origin: 30px 30px;
    transform: matrix(0.422618, -0.906308, 0.906308, 0.422618, 0, 0);
    transform-origin: 30px 30px;
    background: rgba(0, 0, 0, 0) url("https://www.national-lottery.co.uk/c/i/css/bespoke/lotto-fabric/bright_swirl.png") no-repeat scroll 50% 50% / contain padding-box border-box;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_21*/

#SPAN_21:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_21:after*/

#SPAN_21:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 60px;
    perspective-origin: 30px 30px;
    transform-origin: 30px 30px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 60px 0px 0px;
}/*#SPAN_21:before*/

#SPAN_22 {
    background-position: 50% 50%;
    bottom: 83px;
    box-sizing: border-box;
    display: block;
    height: 60px;
    left: 153px;
    max-height: 1e+06px;
    position: absolute;
    right: -212px;
    text-align: center;
    text-size-adjust: 100%;
    top: -142px;
    width: 60px;
    perspective-origin: 30px 30px;
    transform: matrix(-0.573576, 0.819152, -0.819152, -0.573576, 0, 0);
    transform-origin: 30px 30px;
    background: rgba(0, 0, 0, 0) url("https://www.national-lottery.co.uk/c/i/css/bespoke/lotto-fabric/bright_swirl.png") no-repeat scroll 50% 50% / contain padding-box border-box;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_22*/

#SPAN_22:after {
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
}/*#SPAN_22:after*/

#SPAN_22:before {
    content: '""';
    display: block;
    height: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 60px;
    perspective-origin: 30px 30px;
    transform-origin: 30px 30px;
    font: normal normal 400 normal 14px / 15.4px arial, verdana, helvetica, sans-serif;
    padding: 60px 0px 0px;
}/*#SPAN_22:before*/

#SPAN_23 {
    bottom: 10px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-kerning: normal;
    height: 40px;
    left: -140px;
    letter-spacing: -0.756px;
    max-height: 1e+06px;
    position: absolute;
    right: -159px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: -49px;
    width: 300px;
    word-spacing: 1.512px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 150px 20px;
    transform-origin: 150px 20px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 25.2px / 20.16px Effra-Heavy;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px 20px;
}/*#SPAN_23*/

#SPAN_23:after {
    color: rgb(255, 255, 255);
    font-kerning: normal;
    letter-spacing: -0.756px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    word-spacing: 1.512px;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 25.2px / 20.16px Effra-Heavy;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_23:after*/

#SPAN_23:before {
    color: rgb(255, 255, 255);
    font-kerning: normal;
    letter-spacing: -0.756px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    word-spacing: 1.512px;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 25.2px / 20.16px Effra-Heavy;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_23:before*/

#SPAN_24 {
    bottom: -30px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-kerning: normal;
    height: 44px;
    left: -243px;
    letter-spacing: -1.68px;
    max-height: 1e+06px;
    position: absolute;
    right: -256px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: -13px;
    width: 500px;
    word-spacing: 3.36px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 250px 22px;
    transform-origin: 250px 22px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 56px / 44.8px Effra-Heavy;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_24*/

#SPAN_24:after {
    color: rgb(255, 255, 255);
    font-kerning: normal;
    letter-spacing: -1.68px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    word-spacing: 3.36px;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 56px / 44.8px Effra-Heavy;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_24:after*/

#SPAN_24:before {
    color: rgb(255, 255, 255);
    font-kerning: normal;
    letter-spacing: -1.68px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    word-spacing: 3.36px;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 56px / 44.8px Effra-Heavy;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_24:before*/

#SPAN_25 {
    bottom: -76px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-kerning: normal;
    height: 44px;
    left: -243px;
    letter-spacing: -1.68px;
    max-height: 1e+06px;
    position: absolute;
    right: -256px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 33px;
    width: 500px;
    word-spacing: 3.36px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 250px 22px;
    transform-origin: 250px 22px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 56px / 44.8px Effra-Heavy;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_25*/

#SPAN_25:after {
    color: rgb(255, 255, 255);
    font-kerning: normal;
    letter-spacing: -1.68px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    word-spacing: 3.36px;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 56px / 44.8px Effra-Heavy;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_25:after*/

#SPAN_25:before {
    color: rgb(255, 255, 255);
    font-kerning: normal;
    letter-spacing: -1.68px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    word-spacing: 3.36px;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 56px / 44.8px Effra-Heavy;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_25:before*/

#P_26 {
    box-sizing: border-box;
    font-kerning: normal;
    height: 57px;
    letter-spacing: -0.71988px;
    max-height: 1e+06px;
    text-align: center;
    text-size-adjust: 100%;
    width: 739.141px;
    perspective-origin: 369.563px 28.5px;
    transform-origin: 369.563px 28.5px;
    font: normal normal 400 normal 23.996px / 28.7952px Effra-Reg;
    margin: 0px 0px 30px;
}/*#P_26*/

#P_26:after {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 23.996px / 28.7952px Effra-Reg;
}/*#P_26:after*/

#P_26:before {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 23.996px / 28.7952px Effra-Reg;
}/*#P_26:before*/

#SUP_27, #SUP_31 {
    bottom: 8.9985px;
    box-sizing: border-box;
    font-kerning: normal;
    left: 0px;
    letter-spacing: -0.71988px;
    max-height: 1e+06px;
    position: relative;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: -8.9985px;
    vertical-align: baseline;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 17.997px / 0px Effra-Reg;
}/*#SUP_27, #SUP_31*/

#SUP_27:after, #SUP_31:after {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 17.997px / 0px Effra-Reg;
}/*#SUP_27:after, #SUP_31:after*/

#SUP_27:before, #SUP_31:before {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 17.997px / 0px Effra-Reg;
}/*#SUP_27:before, #SUP_31:before*/

#SMALL_28, #SMALL_32 {
    box-sizing: border-box;
    font-kerning: normal;
    letter-spacing: -0.71988px;
    max-height: 1e+06px;
    text-align: center;
    text-size-adjust: 100%;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 13.4977px / 0px Effra-Reg;
}/*#SMALL_28, #SMALL_32*/

#SMALL_28:after, #SMALL_32:after {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 13.4977px / 0px Effra-Reg;
}/*#SMALL_28:after, #SMALL_32:after*/

#SMALL_28:before, #SMALL_32:before {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 13.4977px / 0px Effra-Reg;
}/*#SMALL_28:before, #SMALL_32:before*/

#SPAN_29 {
    box-sizing: border-box;
    font-kerning: normal;
    letter-spacing: -0.71988px;
    max-height: 1e+06px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    word-spacing: 1.43976px;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 23.996px / 28.7952px Effra-Heavy;
}/*#SPAN_29*/

#SPAN_29:after {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    word-spacing: 1.43976px;
    font: normal normal 400 normal 23.996px / 28.7952px Effra-Heavy;
}/*#SPAN_29:after*/

#SPAN_29:before {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    word-spacing: 1.43976px;
    font: normal normal 400 normal 23.996px / 28.7952px Effra-Heavy;
}/*#SPAN_29:before*/

#P_30 {
    box-sizing: border-box;
    font-kerning: normal;
    height: 56px;
    letter-spacing: -0.71988px;
    max-height: 1e+06px;
    text-align: center;
    text-size-adjust: 100%;
    width: 739.141px;
    perspective-origin: 369.563px 28px;
    transform-origin: 369.563px 28px;
    font: normal normal 400 normal 23.996px / 28.7952px Effra-Reg;
    margin: 0px 0px 30px;
}/*#P_30*/

#P_30:after {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 23.996px / 28.7952px Effra-Reg;
}/*#P_30:after*/

#P_30:before {
    font-kerning: normal;
    letter-spacing: -0.71988px;
    text-align: center;
    text-size-adjust: 100%;
    font: normal normal 400 normal 23.996px / 28.7952px Effra-Reg;
}/*#P_30:before*/

