﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx.cs" Inherits="ssBIFY.Flows.FlowWeblocks.WBlkFooterLoggedIn,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K8hQtFo0XCkeweo5S_DNxJw" Src="..\..\BIFY\Structure\ColumnsSmallLeft.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAotDlTFMDkS99aVrmrPR8g" Src="MeFriendsBlock.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kc7NAIUMKGUe29D6q7Xb9NQ" Src="SearchBoxFooter.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding" cssClass="bifyfooter_content"><OutSystemsUIWeb_widgets:K8hQtFo0XCkeweo5S_DNxJw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance4" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance4_onDataBinding" InstanceID="_WebBlockInstance4"><phColumn1><osweb:DynamicImage runat="server" id="wt_Image3" anonymous="true" StaticSource="<%# Images.bifylogosfinal_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image3_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></phColumn1><phColumn2><osweb:Container runat="server" id="wt_Container8" anonymous="true" onDataBinding="cnt_Container8_onDataBinding" align="right"><widgets:KAotDlTFMDkS99aVrmrPR8g runat="server" id="wt_WebBlockInstance1" OnEvaluateParameters="webBlck_WebBlockInstance1_onDataBinding" InstanceID="_WebBlockInstance1"></widgets:KAotDlTFMDkS99aVrmrPR8g><widgets:Kc7NAIUMKGUe29D6q7Xb9NQ runat="server" id="wt_WebBlockInstance5" OnEvaluateParameters="webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"></widgets:Kc7NAIUMKGUe29D6q7Xb9NQ></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:K8hQtFo0XCkeweo5S_DNxJw></osweb:Container><%# PageEndHook() %>