﻿    .bifyfooter_content{background-color: #111111;color:white;padding: 20px;height: 100px;line-height: 50px;padding-left:40px}
    .bifyfooter_content a{color:white!important;font-weight: bold;margin-right: 20px;padding: px;border-bottom: 2px solid white;}

    .bifyfooter_content .MeFriendsLeft{padding:0;}

    @media only screen and (max-width:600px)
    {

        .bifyfooter_content{height:auto;text-align:left;padding: 20px;line-height: 1;margin-top: 50px!important;}
         .bifyfooter_content img {max-height: 50px;/* height: auto!important; */}

    .bifyfooter_content .SearchBox_content{display:none!important;}
    }