﻿.bifyfooter_content{background-color: #111111;color:white;padding: 20px;height: auto;line-height: 50px;padding-left:40px}
.bifyfooter_content a{color:white!important;font-weight: bold;margin-right: 20px;padding: px;border-bottom: 2px solid white;}
.bifyfooter_content a:hover{border-bottom:2px solid white!important;}
.bifyfooter_legals{border-top: 1px solid #252424;background-color: #111111;color:white;padding: 20px;height: auto;padding-left:40px;}

.bifyfooter_content .MeFriendsContent{padding:0px;font-size: 0.9rem;margin-top: 5px;}
.bifyfooter_content .MeFriendsLeft{padding:0px;}
.bifyfooter_content .bannerCTA{padding:0px;width:450px;}
.ls{width:auto;display:inline-block;}


@media only screen and (max-width:500px)
{
 .bifyfooter_content .bannerCTA  {width: 100%;}
.ls{width:50%;display:inline-block;margin:0;padding: 0;}
.items {    width: auto;
    margin-top: 10px;
    line-height: 40px;}
}


@media only screen and (max-width:600px)

{
 .bottomsearchmob{display: none!important;}
    
}