﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Weblocks\HeaderBanner.ascx.cs" Inherits="ssBIFY.Flows.FlowWeblocks.WBlkHeaderBanner,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KdoQpsBmZaUy6a5pxoTf6Yw" Src="..\..\BIFY\Content\CardBackground.ascx" %>
<%# PageStartHook() %><OutSystemsUIWeb_widgets:KdoQpsBmZaUy6a5pxoTf6Yw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance3" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance3_onDataBinding" InstanceID="_WebBlockInstance3"><phContent><osweb:Container runat="server" id="wt_Container6" anonymous="true" onDataBinding="cnt_Container6_onDataBinding" cssClass="heading3 text-neutral-0 HeaderBannerContent"><osweb:PlaceholderContainer runat="server" id="wtTitle" onDataBinding="wtTitle_onDataBinding" cssClass="HeaderBannerTitle"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtButton" onDataBinding="wtButton_onDataBinding" cssClass="HeaderBannerButton"></osweb:PlaceholderContainer></osweb:Container></phContent><phBackgroundImage><osweb:PlaceholderContainer runat="server" id="wtImage" onDataBinding="wtImage_onDataBinding" cssClass="HeaderBannerImage"></osweb:PlaceholderContainer></phBackgroundImage></OutSystemsUIWeb_widgets:KdoQpsBmZaUy6a5pxoTf6Yw><%# PageEndHook() %>