﻿.HeaderBanner{text-align: center;width: 100%;}
.HeaderBannerContent{padding: 5vw 10vw;}
.HeaderBannerTitle{font-size: 6rem;line-height: 1;margin-top: 44px;}
.HeaderBannerButton{margin-top: 3rem;}
.HeaderBannerSubTitle{font-size: 1.3rem;margin-top: 30px;}

.HeaderBanner .card-background-content {
    padding: 5vw 10vw;
}

.HeaderBanner .card 
{
    height: auto!important;
}
.HeaderBannerButton .Button
{
height: 50px!IMPORTANT;
padding: 5px 20px;
background:#e6017d;
text-shadow: none;
padding: 10px 30px;
}

/*Media Queries*/

@media only screen and (max-width:750px)
{
.HeaderBannerTitle {
    font-size: 3rem;
    line-height: 1;
}
.HeaderBanner .card-background-content 
{
    padding-bottom: 0px;  
}

.card-background-image img 
{
    max-width: 200%;
}

}