﻿.HeaderBannerContent{max-width: 50vw;padding: 5vw 10vw;}
.HeaderBannerTitle{font-size: 5rem;line-height: 1;}
.HeaderBannerButton{margin-top: 3rem;}


.HeaderBannerButton .Button
{
height: 70px!IMPORTANT;
border-radius: 50px;
padding: 5px 20px;
background:#e6017d;
text-shadow: none;
padding: 10px 30px;
}