﻿.video_content{background-color: #df4278;padding: 50px;color:white!important;}
.video{padding:20px;text-align: center;min-width:150px;}
.video_title{font-size: 1.3rem;font-weight: bold;}
.video_icon img{height: 120px;}
.video_text{margin-top: -10px;}
.video_content .columns-item{min-width:33%;}

@media only screen and (max-width:650px)
{
    .video_content .columns-item{min-width:100%;}
    .bbb iframe{max-width:100%;}
}
.bbb{display: none;width: 100%;}
.show{display:inline-block!important} 
.hide{display: none!important;}