﻿.imageleft_content{background-color: white;}
.imageleft_leftbox{padding:0px;text-align: left;}
.imageleft_rightbox{width:100%;background-color:transparent;color:white;}
.imageleft_title{font-size: 2rem;font-weight: bold;}
.imageleft_text{font-size:1rem;line-height: 2;margin-top: 10px;}
.imageleft_button{margin-top: 30px}
.imageleft_rightbox .card {
    min-height: 400px!important;
    background: transparent;
    padding: 80px 97px;
}
.imageleft_leftbox .card-background {
    /* min-height: 400px!important; */
    /* max-height: 400px!important; */
    border-radius: 0px;
}
.imageleft_leftbox .card-background-color {opacity: 0.4;}

.imageleft_content .columns .columns-item > div > .card {
    min-height: 400px!important;
}

@media only screen and (max-width:1024px)
{

.imageleft_content .columns {
    display: table!important;
    width: 100%;
}
.imageleft_content .column {
    display: table-cell;
    padding: 16px;
}

.imageleft_content .columns .columns-item > div > .card {
    /* min-height: 200px!important; */
}

.imageleft_rightbox .card {
    padding: 80px 47px;
}
}