﻿.imagelefturl_content{background-color: white;}
.imagelefturl_leftbox{min-height:300px;padding:0px;text-align: left;background-size: cover;width: 100%;height: 100%; background-position: center center;}
.imagelefturl_rightbox{width:100%;background-color:transparent;color:white;}
.imagelefturl_title{font-size: 2rem;font-weight: bold;}
.imagelefturl_text{font-size:1rem;line-height: 2;margin-top: 10px;}
.imagelefturl_button{margin-top: 30px}
.imagelefturl_rightbox .card {
    min-height: 400px!important;
    background: transparent;
    padding: 80px 97px;
}
.imagelefturl_content .columns-item{min-width:400px;overflow:hidden;}

@media only screen and (max-width:600px)
{
.imagelefturl_rightbox .card
{padding:50px 60px;}

}