﻿.ImgBlock{text-align: center;}

.ImgBlock::-webkit-file-upload-button {

    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    border: var(--border-size-s) solid currentColor;
    color: var(--color-primary);
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    font-weight: var(--font-semi-bold);
    height: 40px;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    margin: var(--space-none);
    padding: var(--space-none) var(--space-base);
    -webkit-transition: all 180ms linear;
            transition: all 180ms linear;
            background-color: var(--color-primary);
    border: var(--border-size-none);
    color: var(--color-neutral-0);

}