﻿.imagelefttall_content{background-color: white;}
.imagelefttall_leftbox{padding:0px;text-align: left;}
.imagelefttall_rightbox{width:100%;background-color:transparent;color:white;}
.imagelefttall_title{font-size: 2rem;font-weight: bold;}
.imagelefttall_text{font-size:1rem;line-height: 2;margin-top: 10px;}
.imagelefttall_button{margin-top: 30px}
.imagelefttall_rightbox .card {
    min-height: 510px!important;
    background: transparent;
    padding: 80px 97px;
}
.imagelefttall_leftbox .card-background {
    /* min-height: 400px!important; */
    /* max-height: 400px!important; */
    border-radius: 0px;
}
.imagelefttall_leftbox .card-background-color {opacity: 0.4;}

.imagelefttall_content .columns .columns-item > div > .card {
    min-height: 510px!important;
}

@media only screen and (max-width:1024px)
{

.imagelefttall_content .columns {
    display: table!important;
    width: 100%;
}
.imagelefttall_content .column {
    display: table-cell;
    padding: 16px;
}

.imagelefttall_content .columns .columns-item > div > .card {
    /* min-height: 200px!important; */
}

.imagelefttall_rightbox .card {
    padding: 80px 47px;
}
}