﻿.imagerighturl_contentmob{display: none;}
.imagerighturl_content{background-color: white;}
.imagerighturl_leftbox{min-height:300px;padding:0px;text-align: left;background-size: cover;width: 100%;height: 100%; background-position: center center;}
.imagerighturl_rightbox{width:100%;background-color:transparent;color:white;}
.imagerighturl_title{font-size: 2rem;font-weight: bold;}
.imagerighturl_text{font-size:1rem;line-height: 2;margin-top: 10px;}
.imagerighturl_button{margin-top: 30px}
.imagerighturl_rightbox .card {
    min-height: 400px!important;
    background: transparent;
    padding: 80px 85px;
}
.imagerighturl_content .columns-item{min-width:400px;overflow:hidden;}
.imagerighturl_contentmob .columns-item{min-width:400px;overflow:hidden;}

@media only screen and (max-width:600px)
{
.imagerighturl_rightbox .card
{padding:50px 60px;}
.imagerighturl_contentmob{display: inline-block!important;}
.imagerighturl_content{display: none!important;}
}

