﻿.imageright_contentmob{display: none;}
.imageright_content{background-color: white;}
.imageright_leftbox{padding:0px;text-align: left;}
.imageright_rightbox{width:100%;background-color:transparent;color:white;}
.imageright_title{font-size: 2rem;font-weight: bold;}
.imageright_text{font-size:1rem;line-height: 2;margin-top: 10px;}
.imageright_button{margin-top: 30px}
.imageright_rightbox .card {
    min-height: 400px!important;
    background: transparent;
    padding: 80px 97px;
}
.imageright_leftbox .card-background {
    min-height: 400px!important;
    max-height: 400px!important;
    border-radius: 0px;
}
.imageright_leftbox .card-background-color {opacity: 0.4;}

.imageright_content .columns .columns-item > div > .card {
    min-height: 400px!important;
}

@media only screen and (max-width:1024px)
{
.imageright_contentmob{display: inline-block!important;}
.imageright_content{display: none!important;}

.imageright_content .columns {
    display: table!important;
    width: 100%;
}
.imageright_content .column {
    display: table-cell;
    padding: 16px;
}

.imageright_content .columns .columns-item > div > .card {
    /* min-height: 200px!important; */
}

.imageright_rightbox .card {
    padding: 80px 47px;
}
}