﻿.LoginRegisterMobileContent{font-size: 1.2rem;font-weight: bold;padding: 10px;}
.LoginRegisterMobileLeft{width:auto;padding-right: 15px;border-right:3px solid #696969;}
.LoginRegisterMobileRight{width:auto;padding-left: 10px;min-width: 100px;}
.LoginRegisterMobileButtonRegister {
    height: 50px!IMPORTANT;
    padding: 5px 20px;
    background: #e6017d!important;
    text-shadow: none;
    padding: 10px 30px;
}
.LoginRegisterMobileButtonLogin {
    height: 50px!IMPORTANT;
    padding: 5px 20px;
    text-shadow: none;
    padding: 10px 30px;
}
a{text-decoration: none!important;border:none!important;}
