﻿.LogoutContent{font-size: 1rem;font-weight: bold;padding: 0px;}
.LogoutLeft{width:auto;}
.LogoutRight{width:auto;padding-left: 10px;min-width: 100px;}
.LogoutContentSymbol {
    font-size: 1rem;
    font-weight: bold;
    padding: 3px 9px;
}

@media  only screen and (max-width:600px)
{
.LogoutContent {
    padding: 0px!important;
}