﻿.MeFriendsContent{font-size: 1.2rem;font-weight: bold;padding: 10px;}
.MeFriendsLeft{padding-right: 1rem;border-right:3px solid #696969;}
.MeFriendsRight{padding-left: 10px;}

a{text-decoration: none!important;border:none!important;}

@media only screen and (max-width:680px)
{
.MeFriendsContent{display:none;}    
}