﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Weblocks\PayPalButton.ascx.cs" Inherits="ssBIFY.Flows.FlowWeblocks.WBlkPayPalButton,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container4" anonymous="true" onDataBinding="cnt_Container4_onDataBinding" cssClass="MyPayPalButtonContainer"></osweb:Container><osweb:PlaceHolder runat="server"><%# expression_InlineExpression1() %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# expression_InlineExpression2() %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# expression_InlineExpression3() %></osweb:PlaceHolder><%# PageEndHook() %>