﻿/*Fund*/
.Fundgallery .circle canvas {
    position: absolute;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.58) 0%, rgba(12, 12, 15, 0.5) 46%, rgba(175, 172, 172, 0.28) 70%);
    border-radius: 100%;
    color: white;
    z-index: 10;
    height:140px;
    width:140px;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -70px;
}

.Fundgallery .circle strong {
    z-index: 12;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    height:50px;
    width:100px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -50px;

}

/*Event*/
.EventGallery .circle canvas {
    position: absolute;
    background: #0000008c;
    border-radius: 100%;
    color: white;
    z-index: 10;
    height:100px;
    width:100px;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -50px;
}

.EventGallery .circle strong {
    z-index: 12;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 2rem;
    height:50px;
    width:100px;
    top: 50%;
    left: 50%;
    margin: -44px 0 0 -50px;
}
/*Regular*/
.circle canvas {
    vertical-align: top;
    position: absolute;
    background: #0000008c;
    border-radius: 100%;
    left: 31%;
    color: white;
    top: 30px;
    z-index: 10;
}


.circle strong {
    z-index: 12;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    top: 60px;
    color: white;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 100px;
}

.circle strong:before{content:"£"}
.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}


.CircleLabel {
    top: 14%;
    left: 0;
    font-size: 4em;
    font-weight: normal;
    color: #396CB8;
}
