﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Weblocks\PercentageCircle.ascx.cs" Inherits="ssBIFY.Flows.FlowWeblocks.WBlkPercentageCircle,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If1() %>"><osweb:DynamicImage runat="server" id="wt_Image2" anonymous="true" StaticSource="<%# Images.SampleCircle_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If1() %>"><osweb:Container runat="server" id="wtScript" onDataBinding="cntScript_onDataBinding" GridCssClasses="OSInline"><osweb:PlaceHolder runat="server"><%# expression_InlineExpression3() %></osweb:PlaceHolder></osweb:Container></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>