﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Weblocks\Quote.ascx.cs" Inherits="ssBIFY.Flows.FlowWeblocks.WBlkQuote,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container1" anonymous="true" onDataBinding="cnt_Container1_onDataBinding" cssClass="quote_content"><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding" align="center"><osweb:PlaceholderContainer runat="server" id="wtPlaceholder1" onDataBinding="wtPlaceholder1_onDataBinding" cssClass="heading1 text-white"></osweb:PlaceholderContainer></osweb:Container></osweb:Container><%# PageEndHook() %>