﻿.quote_content{background-color: var(--color-pink);padding: 40px;color:white;}
.quote{background: transparent;padding:0px;text-align: center;min-width:150px;}
.quote_title{background: transparent;font-size: 1.3rem;font-weight: bold;}
.quote_icon img{background: transparent;height: 70px;}
.quote_text{background: transparent;margin-top: -10px;}
.quote_content .card{background: transparent;}
.quote_icon:empty {display: none;}