﻿.SearchBoxHeader .SearchBox_Header{padding: 0px;color:white;display: inline-block;}
.SearchBox_title{font-size: 1.7rem;font-weight: bold;}
.SearchBox_icon img{height: 120px;}
.SearchBox_text{margin-top: -10px;}
/* $4.2.9 - Patterns - Controls - Search */
.SearchBox_Header .search .input-with-icon .input-with-icon-content-icon:not(:empty) + .input-with-icon-input input {
    padding: 0 var(--space-xl);
    padding: 25px;
    padding-left: 50px;
    background-color:transparent;
    border-color:#696969;
    color:#948f8f;
    border:2px solid #dedede;
    font-weight:400!important;
}
.mysearch{min-width: 300px}

.SearchBox_Header .input-with-icon .input-with-icon-content-icon {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 55px;
    position: absolute;
    width: 60px;
    color: white;
    font-size:1rem;
}

.SearchBox_Header2::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #dedede!important;
    font-weight:400;
}
.SearchBox_Header2:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #dedede!important;
   opacity:  1;font-weight:400;
}
.SearchBox_Header2::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #dedede!important;
   opacity:  1;font-weight:400;
}
.SearchBox_Header2:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #dedede!important;font-weight:400;
}
.SearchBox_Header2::-ms-input-placeholder { /* Microsoft Edge */
   color:    #dedede!important;font-weight:400;
}

.SearchBox_Header2::placeholder { /* Most modern browsers support this now. */
   color:    #dedede!important;font-weight:400;
}