﻿.SearchBox_content{padding: 0px;color:white;display: inline-block;}
.SearchBox_title{font-size: 1.7rem;font-weight: bold;}
.SearchBox_icon img{height: 120px;}
.SearchBox_text{margin-top: -10px;}
/* $4.2.9 - Patterns - Controls - Search */
.SearchBox_content .search .input-with-icon .input-with-icon-content-icon:not(:empty) + .input-with-icon-input input {
    padding: 0 var(--space-xl);
    padding: 25px;
    padding-left: 60px;
    background-color:transparent;
    border-color:white;
    color:white;
}
.mysearch{min-width: 300px;}

.SearchBox_content .input-with-icon .input-with-icon-content-icon {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 55px;
    position: absolute;
    width: 55px;
    color: white;
    font-size: 1rem;
}

.SearchBoxFooter::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white!important;
}
.SearchBoxFooter:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   white!important;
   opacity:  1;
}
.SearchBoxFooter::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white!important;
   opacity:  1;
}
.SearchBoxFooter:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white!important;
}
.SearchBoxFooter::-ms-input-placeholder { /* Microsoft Edge */
   color:    white!important;
}

.SearchBoxFooter::placeholder { /* Most modern browsers support this now. */
   color:    white!important;
}