﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Weblocks\SharingCircles.ascx.cs" Inherits="ssBIFY.Flows.FlowWeblocks.WBlkSharingCircles,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:Span runat="server" id="wt_InlineExpression1" anonymous="true" onDataBinding="expression_InlineExpression1_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression1()) %></osweb:Span><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding"><osweb:PlaceHolder runat="server"><%# expression_InlineExpression3() %></osweb:PlaceHolder></osweb:Container><%# PageEndHook() %>