﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Weblocks\SharingCircleeEmailOnly.ascx.cs" Inherits="ssBIFY.Flows.FlowWeblocks.WBlkSharingCircleeEmailOnly,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding" cssClass="shareroot"><osweb:Container runat="server" id="wt_Container1" anonymous="true" onDataBinding="cnt_Container1_onDataBinding" cssClass="sharecirc" GridCssClasses="OSInline" style="margin-left: 10px"><osweb:PlaceHolder runat="server"><%# expression_InlineExpression3() %></osweb:PlaceHolder></osweb:Container></osweb:Container><%# PageEndHook() %>