﻿@media only screen and (max-width:700px)
{.sharelable{display: none;}
.sharecirc{margin-left: auto!important;
    margin-right: auto!important;
    width: 100%;}
.shareroot{margin-top: 0px;
    width: 100%;
    text-align: center;margin-bottom: 20px;}
}

/** Social Button CSS **/

.share-btn {
    display: inline-block;
    color: #ffffff!important;
    border: none;
    padding: 0.5em;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
    border-radius:50%;
    margin-top:5px;
    margin-left:10px;
    line-height: 25px;
}

.share-btn:hover {
  color: #ffffff;
  opacity:0.7;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email       { background: #444444; }