﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Weblocks\SharingCircles2.ascx.cs" Inherits="ssBIFY.Flows.FlowWeblocks.WBlkSharingCircles2,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container4" anonymous="true" onDataBinding="cnt_Container4_onDataBinding" cssClass="shareroot"><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding" cssClass="sharelable" GridCssClasses="OSInline"><osweb:PlaceHolder runat="server"><%# "Share this with others " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container3" anonymous="true" onDataBinding="cnt_Container3_onDataBinding" cssClass="sharecirc" GridCssClasses="OSInline" style="margin-left: 10px"><osweb:PlaceHolder runat="server"><%# expression_InlineExpression1() %></osweb:PlaceHolder></osweb:Container></osweb:Container><%# PageEndHook() %>