﻿.threeboxes_content{background-color: var(--color-pink);padding: 10px;color:white;padding-bottom: 40px;}
.threeboxes{background: transparent;padding:0px;text-align: center;min-width:150px;}
.threeboxes_title{background: transparent;font-size: 1.3rem;font-weight: bold;}
.threeboxes_icon img{background: transparent;height: 70px;}
.threeboxes_text{background: transparent;margin-top: -10px;}
.threeboxes_content .card{background: transparent;}
.threeboxes_icon:empty {display: none;}