﻿.threeboxes_content{background-color: white;padding: 50px;}
.threeboxes{padding:20px;text-align: center;min-width:150px;}
.threeboxes_title{font-size: 1.3rem;font-weight: bold;}
.threeboxes_icon img{height: 120px;}
.threeboxes_text{margin-top: -10px;}
.threeboxes_content .columns-item{min-width:33%;}

@media only screen and (max-width:650px)
{
    .threeboxes_content .columns-item{min-width:100%;}
}