﻿.addFund .giftblock {
    height: auto;
    padding: 0px;
    max-width: 800px!important;
    overflow: visible;
    position: relative;
}


.addFund .modal-wrapper {
    max-width: 800px;
}
.addFund .card {
    height: 100%!important;
}

.addFund .tooltip{min-width:300px;}
.addFund .card
{border: none;}



.addFund .card-sectioned{
   padding:20px;
}


