﻿.addGift .giftblock {
    /* height: auto; */
    padding: 0px;
    overflow: visible;
    max-width: 700px!important;
        position: relative;
}


.EditRecord input:not(.Button) {
    border: none!important;
    height: auto;
    padding: none!important;
    
}


@media only screen and (max-width: 950px)
{
.addnewbutton{margin-top:10px!important;margin-right:10px;}

}

@media only screen and (max-width:650px)
{


.addGift .EditRecord_Value{display:inline-block!important;width:100%!important;margin-top: -20px;}
.addGift .EditRecord_Caption{margin-top:0px!important;display:inline-block!important;width:100%!important;}
.addGift .columns-item:last-child {
  display: none;
}
.addGift .modal {
      padding: 0px!important;
}
.addGift .modal-content {
    /* padding: 0!important; */
}
.addgifttext{display:none!important;}
.addGift .input{height:50px!important;}
.addGift .Button{margin-left: 0px!important;}
.modal-top {
    padding-left: 0px!important;
}
}


