﻿ .profilemodal {
    height: auto;
    max-width: 300px!important;
    position: relative;
    
}

.modalblock {
    height: auto;
    padding: 0px;
    max-width: 300px!important;
}

.EditRecord input:not(.Button) {
    border: none!important;
    height: auto;
    padding: none!important;
    
}

.changePhoto .modal-close {
    padding: 0px;
    background:black;width:35px;height:35px;position:absolute;right:-10px;top:-10px;border-radius:100%;padding-top:2px;
}
.changePhoto .modal-close a{color: white!important;}
