﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Modals\ContributeToAFundModal.ascx.cs" Inherits="ssBIFY.Flows.FlowModals.WBlkContributeToAFundModal,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KfsyKmNhUz0emw51mJXg9hw" Src="..\..\BIFY\Content\Modal.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="..\..\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KViICtsm0Z0m7cE6BlzMajQ" Src="..\..\BIFY\ModalContent\ContributeToAFundContent.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding" cssClass="SendContribution"><OutSystemsUIWeb_widgets:KfsyKmNhUz0emw51mJXg9hw runat="server" id="OutSystemsUIWeb_wtWelcomeModal" OnEvaluateParameters="OutSystemsUIWeb_webBlckWelcomeModal_onDataBinding" InstanceID="WelcomeModal" IncludeSpan="true"><phTitle></phTitle><phIcon><osweb:LinkButton runat="server" id="wt_Link7" onDataBinding="lnk_Link7_onDataBinding" Visible="<%# lnk_Link7_isVisible() %>" Enabled="<%# lnk_Link7_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance6" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance6_onDataBinding" InstanceID="_WebBlockInstance6"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton></phIcon><phContent><widgets:KViICtsm0Z0m7cE6BlzMajQ runat="server" id="wt_WebBlockInstance1" OnEvaluateParameters="webBlck_WebBlockInstance1_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance1_BindDelegates" InstanceID="_WebBlockInstance1"></widgets:KViICtsm0Z0m7cE6BlzMajQ></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:KfsyKmNhUz0emw51mJXg9hw></osweb:Container><%# PageEndHook() %>