﻿.addEvent .giftblock {
    height: auto;
    padding: 0px;
    max-width: 800px!important;
    position: relative;
}

.EditRecord input:not(.Button) {
    border: none!important;
    height: auto;
    padding: none!important;
    
}
.addEvent .card {
    border: none;
}
.addEvent .modal-wrapper {
    max-width: 800px;
    overflow: visible;
    padding: 20px;
}

@media only screen and (max-width: 950px)
{
.addnewbutton{margin-top:10px!important;margin-right:10px;}

}

@media only screen and (max-width:650px)
{
.addGift .EditRecord_Value{display:inline-block!important;width:100%!important;margin-top: -20px;}
.addGift .EditRecord_Caption{margin-top:0px!important;display:inline-block!important;width:100%!important;}
.addgifttext{display:none!important;}
.addGift .input{height:50px!important;}
.addGift .Button{margin-left: 0px!important;}

}


