﻿.GiftSplash .modal-wrapper {
    max-width: 400px;
    overflow: visible;
    position: relative;
}

.GiftSplash .modal-content{
   padding: 10px!important;
}

.GiftSplash .card
{

border: none;}

.GiftSplash .card-sectioned{
   padding:20px;
}


.GiftSplash .modal-top a{color:white!important;}

.modal-wrapper {
    border: 5px solid;
    border-top-color: #DF4278;
    border-left-color: #00BDD9;
    border-right-color: #8FCC5A;
    border-bottom-color: #2E9F83;
    border-radius:10px
}
@media only screen and (max-width:750px)
{
.GiftSplash .columns-item:last-child {
  display: none;
}
}
