﻿.SendGift .modal-wrapper {
    max-width: 950px;
    overflow: visible;
        position: relative;
}

.SendGift .modal-content{
   padding: 0px!important;overflow: visible;
}

.SendGift .card {
    border: none;
    height: 100%!important;
}
.SendGift .tooltip
{min-width: 300px;}

.SendGift .card-sectioned{
   padding:20px;
}

.SendGift .modal-top {
    padding: 0px;
    z-index: 9;width:35px;height:35px;position:absolute;right:-10px;top:-10px;border-radius:100%;padding-top:2px;
}
.SendGift .modal-top a{color:white;}

.modal-wrapper {
    border: 5px solid;
    border-top-color: #DF4278;
    border-left-color: #00BDD9;
    border-right-color: #8FCC5A;
    border-bottom-color: #2E9F83;
    border-radius:10px
}

