﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Modals\SendBifyGiftModal.ascx.cs" Inherits="ssBIFY.Flows.FlowModals.WBlkSendBifyGiftModal,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KfsyKmNhUz0emw51mJXg9hw" Src="..\..\BIFY\Content\Modal.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="..\..\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KmvEzCzkwFk6xEnhWbK9ouA" Src="..\..\BIFY\ModalContent\SendGiftBifyContent.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container4" anonymous="true" onDataBinding="cnt_Container4_onDataBinding" cssClass="SendGift"><OutSystemsUIWeb_widgets:KfsyKmNhUz0emw51mJXg9hw runat="server" id="OutSystemsUIWeb_wtWelcomeModal" OnEvaluateParameters="OutSystemsUIWeb_webBlckWelcomeModal_onDataBinding" InstanceID="WelcomeModal" IncludeSpan="true"><phTitle></phTitle><phIcon><osweb:LinkButton runat="server" id="wt_Link8" onDataBinding="lnk_Link8_onDataBinding" Visible="<%# lnk_Link8_isVisible() %>" Enabled="<%# lnk_Link8_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance5" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton></phIcon><phContent><widgets:KmvEzCzkwFk6xEnhWbK9ouA runat="server" id="wt_WebBlockInstance6" OnEvaluateParameters="webBlck_WebBlockInstance6_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance6_BindDelegates" InstanceID="_WebBlockInstance6"></widgets:KmvEzCzkwFk6xEnhWbK9ouA></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:KfsyKmNhUz0emw51mJXg9hw></osweb:Container><%# PageEndHook() %>