﻿.WelcomeToBify .modal-wrapper {
    max-width: 800px;overflow: visible;
}

.WelcomeToBify .modal-content{
   padding: 0px!important;overflow: visible;
}
.WelcomeToBify .modal-top{
   display: none;
}
.WelcomeToBify .card
{
border: none;}

.WelcomeToBify .card-sectioned{
   padding:20px;
}
.WelcomeToBify .columns .columns-item > .card {
    height: 100%!important;
}
.WelcomeToBify .tooltip{min-width: 300px;}
.modal-wrapper {
    border: 5px solid;
    border-top-color: #DF4278;
    border-left-color: #00BDD9;
    border-right-color: #8FCC5A;
    border-bottom-color: #2E9F83;
    border-radius:10px
}
@media only screen and (max-width:750px)
{
.WelcomeToBify .columns-item:last-child {
  display: none;
}
}
