﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\Modals\WelcomeToBifyModal.ascx.cs" Inherits="ssBIFY.Flows.FlowModals.WBlkWelcomeToBifyModal,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KfsyKmNhUz0emw51mJXg9hw" Src="..\..\BIFY\Content\Modal.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KLNiAvNNCSUGGITe8itt4jg" Src="..\..\BIFY\ModalContent\WelcomeToBifyContent.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container7" anonymous="true" onDataBinding="cnt_Container7_onDataBinding" cssClass="WelcomeToBify"><OutSystemsUIWeb_widgets:KfsyKmNhUz0emw51mJXg9hw runat="server" id="OutSystemsUIWeb_wtWelcomeModal" OnEvaluateParameters="OutSystemsUIWeb_webBlckWelcomeModal_onDataBinding" InstanceID="WelcomeModal" IncludeSpan="true"><phTitle></phTitle><phIcon></phIcon><phContent><widgets:KLNiAvNNCSUGGITe8itt4jg runat="server" id="wt_WebBlockInstance6" OnEvaluateParameters="webBlck_WebBlockInstance6_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance6_BindDelegates" InstanceID="_WebBlockInstance6"></widgets:KLNiAvNNCSUGGITe8itt4jg></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:KfsyKmNhUz0emw51mJXg9hw></osweb:Container><%# PageEndHook() %>