﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_SocialLoginAPI.Flows.FlowCallbacks.WBlkGoogleAuthorize,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\SocialLoginAPI\Callbacks\GoogleAuthorize.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />