﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Responsive\DisplayOnDevice.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowResponsive.WBlkDisplayOnDevice,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt4() %>"><osweb:PlaceholderContainer runat="server" id="wtContent" onDataBinding="wtContent_onDataBinding" cssClass="ph"></osweb:PlaceholderContainer></osweb:If><osweb:If runat="server" visible="<%# !if_wt4() %>"></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>