﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Controls\ButtonGroupItem.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowControls.WBlkButtonGroupItem,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:PlaceholderContainer runat="server" id="wtLabel" onDataBinding="wtLabel_onDataBinding"></osweb:PlaceholderContainer><%# PageEndHook() %>