﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Controls\InputWithIcon.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowControls.WBlkInputWithIcon,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtInputWithIconWrapper" onDataBinding="cntInputWithIconWrapper_onDataBinding" cssClass="input-with-icon"><osweb:PlaceholderContainer runat="server" id="wtIcon" onDataBinding="wtIcon_onDataBinding" cssClass="input-with-icon-content-icon center ph" GridCssClasses="OSInline"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtInput" onDataBinding="wtInput_onDataBinding" cssClass="input-with-icon-input"></osweb:PlaceholderContainer></osweb:Container><%# PageEndHook() %>