﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Controls\Search.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowControls.WBlkSearch,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wtSearchWrapper" onDataBinding="cntSearchWrapper_onDataBinding" cssClass="search"><osweb:Container runat="server" id="wt3" anonymous="true" onDataBinding="cnt3_onDataBinding" cssClass="input-with-icon flex-direction-row"><osweb:PlaceholderContainer runat="server" id="wtIcon" onDataBinding="wtIcon_onDataBinding" cssClass="input-with-icon-content-icon center ph" GridCssClasses="OSInline"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtInput" onDataBinding="wtInput_onDataBinding" cssClass="input-with-icon-input"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtActions" onDataBinding="wtActions_onDataBinding" cssClass="search-actions input-with-icon-content-icon center ph"></osweb:PlaceholderContainer></osweb:Container></osweb:Container><%# PageEndHook() %>