﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_RichWidgets.Flows.FlowRichWidgets.WBlkInput_Calendar,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\RichWidgets\RichWidgets\Input_Calendar.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />