﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_RichWidgets.Flows.FlowRichWidgets.WBlkPopup_Editor,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\RichWidgets\RichWidgets\Popup_Editor.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />