﻿<%@ Page language="c#" Codebehind="_download.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.HandleDownload" EnableSessionState="true" EnableViewState="false" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Image</title>
	</HEAD>
	<body>
		<form id="HandleDownload" method="post" runat="server">
		</form>
	</body>
</HTML>
