﻿<%@ Page EnableSessionState="False" language="c#" AutoEventWireup="false" %>
<%@ Register TagPrefix="widgets" TagName="id0" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="id1" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="id2" Src="Blocks\BIFY\Weblocks\LoginRegister.ascx" %>
<%@ Register TagPrefix="widgets" TagName="id3" Src="Blocks\BIFY\Weblocks\LoginRegisterMobile.ascx" %>
<%@ Register TagPrefix="widgets" TagName="id4" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="id5" Src="Blocks\BIFY\Weblocks\ImageLeftURL.ascx" %>
<%@ Register TagPrefix="widgets" TagName="id6" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="id7" Src="Blocks\BIFY\Weblocks\ImageRightUrl.ascx" %>
<%@ Register TagPrefix="widgets" TagName="id8" Src="Blocks\BIFY\Weblocks\HomeVideo.ascx" %>
<%@ Register TagPrefix="widgets" TagName="id9" Src="Blocks\BIFY\Weblocks\FooterNotLoggedIn.ascx" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
	<head>
		<title>First Load Improvements Screen</title>
	</head>
	<body>
		<p>First Load Improvements Screen has run</p>
	</body>
</html>
