﻿<%@ Page language="c#" Codebehind="_image.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Image" EnableSessionState="false" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Image</title>
	</HEAD>
	<body>
		<form id="Image" method="post" runat="server">
		</form>
	</body>
</HTML>