﻿<%@ Page EnableSessionState="False" language="c#" AutoEventWireup="false"  %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
	<head>
		<title>ping</title>
	</head>
	<body>
		<% ssBIFY._RunningInfo.Register(); %>
		<p>OutSystems Platform Server is running</p>
	</body>
</html>
