﻿<%@ Page Language="c#" Codebehind="About.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowNotLoggedIn.ScrnAbout" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kz3isd_zy0kiORsLuRetsJw" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KvjOOjGhXMUi5hSbN9Ooc0g" Src="Blocks\BIFY\Weblocks\LoginRegister.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KnfUSiLskTUmjVXcue64Gkg" Src="Blocks\BIFY\Weblocks\LoginRegisterMobile.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVlxoCzEyUUmJdaTCoz8lHA" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kv13_yGNUcEOpB4wLqrRadA" Src="Blocks\BIFY\Weblocks\Quote.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K1026Q6erlEC382GuuEVI7A" Src="Blocks\BIFY\Weblocks\ImageLeftURL.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KH3ZfEzegJ0yIiZ7r___j6g" Src="Blocks\BIFY\Weblocks\ImageRightUrl.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KqKGDDWTjHkC_GuoSr69D9Q" Src="Blocks\BIFY\Weblocks\ThreeBoxesSmallWithHeader.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K0hTyRcbOqke0oE0IH22uyA" Src="Blocks\BIFY\Weblocks\BannerCTA.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KDTSM_QmRekatpgrnOMmUow" Src="Blocks\BIFY\Controls\Search.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kz0Pe8bEM1keIAmKQ6Kxphg" Src="Blocks\BIFY\Weblocks\FooterNotLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kz3isd_zy0kiORsLuRetsJw runat="server" id="wt_WebBlockInstance53" OnEvaluateParameters="webBlck_WebBlockInstance53_onDataBinding" InstanceID="_WebBlockInstance53"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance38" OnEvaluateParameters="webBlck_WebBlockInstance38_onDataBinding" InstanceID="_WebBlockInstance38"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter></phCenter><phRight><widgets:KvjOOjGhXMUi5hSbN9Ooc0g runat="server" id="wt_WebBlockInstance10" OnEvaluateParameters="webBlck_WebBlockInstance10_onDataBinding" InstanceID="_WebBlockInstance10"></widgets:KvjOOjGhXMUi5hSbN9Ooc0g></phRight><phHeaderContent><osweb:Container runat="server" id="wt_Container73" anonymous="true" onDataBinding="cnt_Container73_onDataBinding" cssClass="mobile_login_register" align="center"><widgets:KnfUSiLskTUmjVXcue64Gkg runat="server" id="wt_WebBlockInstance44" OnEvaluateParameters="webBlck_WebBlockInstance44_onDataBinding" InstanceID="_WebBlockInstance44"></widgets:KnfUSiLskTUmjVXcue64Gkg></osweb:Container></phHeaderContent><phMainContent><widgets:KVlxoCzEyUUmJdaTCoz8lHA runat="server" id="wt_WebBlockInstance37" OnEvaluateParameters="webBlck_WebBlockInstance37_onDataBinding" InstanceID="_WebBlockInstance37"><phTitle><osweb:PlaceHolder runat="server"><%# "About BIFY" %></osweb:PlaceHolder></phTitle><phTitle2><osweb:PlaceHolder runat="server"><%# "We want to make Gift giving&amp; receiving fun, exciting and it&#39;s our mission to bring people together" %></osweb:PlaceHolder></phTitle2><phButton></phButton><phImage><osweb:DynamicImage runat="server" id="wt_Image34" anonymous="true" StaticSource="<%# Images.bagsblackfridaychristmas749353_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage></widgets:KVlxoCzEyUUmJdaTCoz8lHA><widgets:Kv13_yGNUcEOpB4wLqrRadA runat="server" id="wt_WebBlockInstance64" OnEvaluateParameters="webBlck_WebBlockInstance64_onDataBinding" InstanceID="_WebBlockInstance64"><phPlaceholder1><osweb:Span runat="server" id="wt_Text75" anonymous="true" onDataBinding="wt_Text75_onDataBinding" class="heading3"><%# "A new survey from YouGov has found that over half (57%) of Brits who celebrate Christmas receive at least one unwanted gift on average at this time of year which equates to 60 million (&#163;1billion) wasted Gifts" %></osweb:Span></phPlaceholder1></widgets:Kv13_yGNUcEOpB4wLqrRadA><widgets:K1026Q6erlEC382GuuEVI7A runat="server" id="wt_WebBlockInstance45" OnEvaluateParameters="webBlck_WebBlockInstance45_onDataBinding" InstanceID="_WebBlockInstance45"><phTitle><osweb:PlaceHolder runat="server"><%# "Our Story" %></osweb:PlaceHolder></phTitle><phText><osweb:PlaceHolder runat="server"><%# "BIFY was born out of the realisation that around &#163;1billion worth of Gifts this Christmas are destined for the bottom drawer. " %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container21" anonymous="true" onDataBinding="cnt_Container21_onDataBinding"><osweb:Container runat="server" id="wt_Container67" anonymous="true" onDataBinding="cnt_Container67_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Gift giving should be fun and exciting, but let&#39;s make it easier, reduce wasted gifts and save people time so they can spend it with people they love. " %></osweb:PlaceHolder></osweb:Container></osweb:Container></phText><phButton></phButton></widgets:K1026Q6erlEC382GuuEVI7A><widgets:KH3ZfEzegJ0yIiZ7r___j6g runat="server" id="wt_WebBlockInstance16" OnEvaluateParameters="webBlck_WebBlockInstance16_onDataBinding" InstanceID="_WebBlockInstance16"><phTitle><osweb:Span runat="server" id="wt_Text2" anonymous="true" onDataBinding="wt_Text2_onDataBinding"><%# "Quality over Quantity" %></osweb:Span></phTitle><phText><osweb:Span runat="server" id="wt_Text17" anonymous="true" onDataBinding="wt_Text17_onDataBinding"><%# "With BIFY you can search and send gifts that people actually want, and you can rest easy knowing nobody else is going to send the same gift. " %></osweb:Span></phText><phButton><osweb:Button runat="server" id="wt_Button20" cssClass="Button Button_Transparent Is_Default" Visible="<%# btn_Button20_isVisible() %>" Enabled="<%# btn_Button20_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button20_NavigateUrl() %>" text="<%# btn_Button20_getLabel() %>"/></phButton><phTitle2><osweb:Span runat="server" id="wt_Text43" anonymous="true" onDataBinding="wt_Text43_onDataBinding"><%# "Quality over Quantity" %></osweb:Span></phTitle2><phText2><osweb:Span runat="server" id="wt_Text14" anonymous="true" onDataBinding="wt_Text14_onDataBinding"><%# "With BIFY you can search and send gifts that people actually want, and you can rest easy knowing nobody else is going to send the same gift. " %></osweb:Span></phText2><phButton2><osweb:Button runat="server" id="wt_Button11" cssClass="Button Button_Transparent" Visible="<%# btn_Button11_isVisible() %>" Enabled="<%# btn_Button11_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button11_NavigateUrl() %>" text="<%# btn_Button11_getLabel() %>"/></phButton2></widgets:KH3ZfEzegJ0yIiZ7r___j6g><widgets:KqKGDDWTjHkC_GuoSr69D9Q runat="server" id="wt_WebBlockInstance5" OnEvaluateParameters="webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"><phPlaceholder1><osweb:Container runat="server" id="wt_Container60" anonymous="true" onDataBinding="cnt_Container60_onDataBinding"><osweb:PlaceHolder runat="server"><%# "What have we got planned in 2019?" %></osweb:PlaceHolder></osweb:Container></phPlaceholder1><phIcon1><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance46" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance46_onDataBinding" InstanceID="_WebBlockInstance46"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon1><phTitle1><osweb:PlaceHolder runat="server"><%# "Global Reach" %></osweb:PlaceHolder></phTitle1><phText><osweb:PlaceHolder runat="server"><%# "We are looking to grow globally and bring people closer to gether" %></osweb:PlaceHolder></phText><phIcon2><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance77" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance77_onDataBinding" InstanceID="_WebBlockInstance77"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon2><phTitle2><osweb:PlaceHolder runat="server"><%# "100k+ Gifts" %></osweb:PlaceHolder></phTitle2><phText2><osweb:PlaceHolder runat="server"><%# "We are aiming for 100,000 gifts to be sent in 2019 with BIFY" %></osweb:PlaceHolder></phText2><phIcon3><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance15" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance15_onDataBinding" InstanceID="_WebBlockInstance15"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon3><phTitle3><osweb:PlaceHolder runat="server"><%# "More Features!" %></osweb:PlaceHolder></phTitle3><phText3><osweb:PlaceHolder runat="server"><%# "Cards, Flowers, Chocolates and much much more is all " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text26" anonymous="true" onDataBinding="wt_Text26_onDataBinding"><%# "on the way in 2019" %></osweb:Span></phText3></widgets:KqKGDDWTjHkC_GuoSr69D9Q><widgets:K1026Q6erlEC382GuuEVI7A runat="server" id="wt_WebBlockInstance28" OnEvaluateParameters="webBlck_WebBlockInstance28_onDataBinding" InstanceID="_WebBlockInstance28"><phTitle><osweb:PlaceHolder runat="server"><%# "Lost touch with someone special?" %></osweb:PlaceHolder></phTitle><phText><osweb:PlaceHolder runat="server"><%# "One of the great things abur BIFY is that you can send somebody a Gift, even if you don;t know their address. You just need a name or phone number. Who knows, it could be the start of something special." %></osweb:PlaceHolder></phText><phButton></phButton></widgets:K1026Q6erlEC382GuuEVI7A><widgets:K0hTyRcbOqke0oE0IH22uyA runat="server" id="wt_WebBlockInstance55" OnEvaluateParameters="webBlck_WebBlockInstance55_onDataBinding" InstanceID="_WebBlockInstance55"><phTitle1><osweb:PlaceHolder runat="server"><%# "Ready to go? Search for a gift list now!" %></osweb:PlaceHolder></phTitle1><phTitle2><OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance56" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance56_onDataBinding" InstanceID="_WebBlockInstance56"><phIcon><osweb:HyperLink runat="server" id="wtslink" onDataBinding="lnkslink_onDataBinding" Visible="<%# lnkslink_isVisible() %>" Enabled="<%# lnkslink_isEnabled() %>" NavigateUrl="<%# lnkslink_NavigateUrl() %>"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance54" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance54_onDataBinding" InstanceID="_WebBlockInstance54"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:HyperLink></phIcon><phInput><osweb:TextBox runat="server" id="wt_Input51" onDataBinding="inputwt_Input51_onDataBinding" cssClass="input" GridCssClasses="ThemeGrid_Width4" Visible="<%# inputwt_Input51_isVisible() %>" ReadOnly="<%# !inputwt_Input51_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwt_Input51_input_value() %>" onTextChanged="inputwt_Input51_input_onTextChanged" Mandatory="<%# inputwt_Input51_isMandatory() %>" placeholder="<%# inputwt_Input51_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wt_Input51") ?? Container.FindControl("wt_Input51")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wt_Input51ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wt_Input51"/><osweb:TextValidator runat="server" display="Dynamic" id="wt_Input51ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wt_Input51" ClientValidationFunction="OsCustomValidatorText"/></phInput><phActions></phActions></OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow><osweb:PlaceHolder runat="server"><%# expression_InlineExpression63() %></osweb:PlaceHolder></phTitle2></widgets:K0hTyRcbOqke0oE0IH22uyA><widgets:Kz0Pe8bEM1keIAmKQ6Kxphg runat="server" id="wt_WebBlockInstance1" OnEvaluateParameters="webBlck_WebBlockInstance1_onDataBinding" InstanceID="_WebBlockInstance1"></widgets:Kz0Pe8bEM1keIAmKQ6Kxphg></phMainContent><phFooter></phFooter></widgets:Kz3isd_zy0kiORsLuRetsJw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
