﻿.carousel img:not(.tns-lazy-img), .carousel .lazyload img {
    width:auto;
    height:auto;
    max-height:150px;
    max-width:250px;
    min-height:150px;
    object-fit: contain;
}
.carousel .tns-ah {
    min-height: 200px;
}
.carousel .carousel-navigation.carousel-padding-none .carousel-arrow-left {
    left: 24px;
    position: absolute;
    top: 0px;
    background: #05bcd9;
    color: white;
}

.carousel .carousel-navigation.carousel-padding-none .carousel-arrow-right {
    right: 24px;
    position: absolute;
    top: 0px;
    background: #05bcd9;
    color: white;
}

.content{top:100px;} .phone .content{top:90px;}
.BDisabled{background: gray;pointer-events:none;}

.EditRecord_Caption{display:block;width: 100%!important;}
.EditRecord_Value{display:block;width: 100%!important;}


.inputfile + label {
width:100%;       
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: #91be63!important;
border-radius: var(--border-radius-soft);
border: var(--border-size-s) solid currentColor;
color: var(--color-primary);
cursor: pointer;
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
font-weight: var(--font-semi-bold);
height: 40px;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin: var(--space-none);
padding: var(--space-none) var(--space-base);
-webkit-transition: all 180ms linear;
transition: all 180ms linear;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

a.btndownload {
    
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: #05bcd9!important;
border-radius: var(--border-radius-soft);
border: var(--border-size-s) solid currentColor;
color: var(--color-primary);
cursor: pointer;
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
font-weight: var(--font-semi-bold);
height: 40px;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin: var(--space-none);
padding: var(--space-none) var(--space-base);
-webkit-transition: all 180ms linear;  
transition: all 180ms linear;
width:100%;
    }
