﻿<%@ Page Language="c#" Codebehind="BIFYHistory.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowLoggedIn.ScrnBIFYHistory" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kvm5_RC0mw0KuAAMxuiwtpQ" Src="Blocks\BIFY\Common\Layout.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_5sqIAe8Z0mLMNBss5hGzg" Src="Blocks\BIFY\Common\Menu.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAotDlTFMDkS99aVrmrPR8g" Src="Blocks\BIFY\Weblocks\MeFriendsBlock.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KlboP3Mo1qU6C2FuyPN_r2w" Src="Blocks\BIFY\Weblocks\SearchBoxHeader.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAqE7J0717US3DF_WXRkMZg" Src="Blocks\BIFY\Controls\ButtonGroup.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K5PJvLTv7gUmG1rdWmpfZ0g" Src="Blocks\BIFY\Controls\ButtonGroupItem.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K31jZDWfpQUa9I8Aj0kONEw" Src="Blocks\BIFY\Content\BlankSlate.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kez54l8FgZEaLehRA_vrH2Q" Src="Blocks\BIFY\Navigation\Timeline.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KkzoSkMhQfU6gpXxw7fuJUA" Src="Blocks\BIFY\Navigation\TimelineItem.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcGiUZvJCtEiF3fde7a3MaQ" Src="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kvm5_RC0mw0KuAAMxuiwtpQ runat="server" id="wt_WebBlockInstance49" OnEvaluateParameters="webBlck_WebBlockInstance49_onDataBinding" InstanceID="_WebBlockInstance49"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance51" OnEvaluateParameters="webBlck_WebBlockInstance51_onDataBinding" InstanceID="_WebBlockInstance51"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter><widgets:K_5sqIAe8Z0mLMNBss5hGzg runat="server" id="wt_WebBlockInstance85" OnEvaluateParameters="webBlck_WebBlockInstance85_onDataBinding" InstanceID="_WebBlockInstance85"></widgets:K_5sqIAe8Z0mLMNBss5hGzg></phCenter><phRight><widgets:KAotDlTFMDkS99aVrmrPR8g runat="server" id="wt_WebBlockInstance97" OnEvaluateParameters="webBlck_WebBlockInstance97_onDataBinding" InstanceID="_WebBlockInstance97"></widgets:KAotDlTFMDkS99aVrmrPR8g><widgets:KlboP3Mo1qU6C2FuyPN_r2w runat="server" id="wt_WebBlockInstance40" OnEvaluateParameters="webBlck_WebBlockInstance40_onDataBinding" InstanceID="_WebBlockInstance40"></widgets:KlboP3Mo1qU6C2FuyPN_r2w></phRight><phHeaderContent></phHeaderContent><phBreadcrumbs><osweb:Container runat="server" id="wt_Container118" anonymous="true" onDataBinding="cnt_Container118_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link11" Visible="<%# lnk_Link11_isVisible() %>" Enabled="<%# lnk_Link11_isEnabled() %>" NavigateUrl="<%# lnk_Link11_NavigateUrl() %>"><osweb:Container runat="server" id="wt_Container121" anonymous="true" onDataBinding="cnt_Container121_onDataBinding" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance45" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance45_onDataBinding" InstanceID="_WebBlockInstance45"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Back" %></osweb:PlaceHolder></osweb:Container></osweb:HyperLink></osweb:Container></phBreadcrumbs><phTitle><osweb:PlaceHolder runat="server"><%# "Your BIFY history" %></osweb:PlaceHolder></phTitle><phActions></phActions><phMainContent><osweb:Container runat="server" id="wt_Container91" anonymous="true" onDataBinding="cnt_Container91_onDataBinding"><osweb:Container runat="server" id="wt_Container54" anonymous="true" onDataBinding="cnt_Container54_onDataBinding"><OutSystemsUIWeb_widgets:KAqE7J0717US3DF_WXRkMZg runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance107" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance107_onDataBinding" InstanceID="_WebBlockInstance107"><phContent><OutSystemsUIWeb_widgets:K5PJvLTv7gUmG1rdWmpfZ0g runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance86" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance86_onDataBinding" InstanceID="_WebBlockInstance86"><phLabel><osweb:RadioButton runat="server" id="wt_RadioButton27" onDataBinding="rad_RadioButton27_onDataBinding" onAjaxChange="rad_RadioButton27_AjaxChange" cssClass="radio-button" onGetRadioValue="rad_RadioButton27_getValue" GroupName="<%# rad_RadioButton27_getGroupName(sender) %>" Checked="<%# rad_RadioButton27_isChecked(sender) %>" Visible="<%# rad_RadioButton27_isVisible() %>" Enabled="<%# rad_RadioButton27_isEnabled() %>" onCheckedChanged="rad_RadioButton27_radiobutton_onCheckedChanged"/><osweb:Span runat="server" id="wt_Text123" anonymous="true" class="btn"><%# "Gifts / Contributions you&#39;ve received" %></osweb:Span></phLabel></OutSystemsUIWeb_widgets:K5PJvLTv7gUmG1rdWmpfZ0g><OutSystemsUIWeb_widgets:K5PJvLTv7gUmG1rdWmpfZ0g runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance57" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance57_onDataBinding" InstanceID="_WebBlockInstance57"><phLabel><osweb:RadioButton runat="server" id="wt_RadioButton21" onDataBinding="rad_RadioButton21_onDataBinding" onAjaxChange="rad_RadioButton21_AjaxChange" cssClass="radio-button" onGetRadioValue="rad_RadioButton21_getValue" GroupName="<%# rad_RadioButton21_getGroupName(sender) %>" Checked="<%# rad_RadioButton21_isChecked(sender) %>" Visible="<%# rad_RadioButton21_isVisible() %>" Enabled="<%# rad_RadioButton21_isEnabled() %>" onCheckedChanged="rad_RadioButton21_radiobutton_onCheckedChanged"/><osweb:Span runat="server" id="wt_Text71" anonymous="true" class="btn"><%# "Gifts / Contributions you&#39;ve sent" %></osweb:Span></phLabel></OutSystemsUIWeb_widgets:K5PJvLTv7gUmG1rdWmpfZ0g></phContent></OutSystemsUIWeb_widgets:KAqE7J0717US3DF_WXRkMZg></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container134" anonymous="true" onDataBinding="cnt_Container134_onDataBinding"><osweb:IfPlaceHolder runat="server" id="wtMainif" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtMainif() %>"><OutSystemsUIWeb_widgets:K31jZDWfpQUa9I8Aj0kONEw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance96" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance96_onDataBinding" InstanceID="_WebBlockInstance96"><phContent><osweb:Container runat="server" id="wt_Container117" anonymous="true" onDataBinding="cnt_Container117_onDataBinding" cssClass="font-size-display text-neutral-5" align="center"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance16" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance16_onDataBinding" InstanceID="_WebBlockInstance16"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container73" anonymous="true" onDataBinding="cnt_Container73_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# "No contributions have been made yet" %></osweb:PlaceHolder></osweb:Container></phContent></OutSystemsUIWeb_widgets:K31jZDWfpQUa9I8Aj0kONEw></osweb:If><osweb:If runat="server" visible="<%# !if_wtMainif() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If95() %>"><osweb:Container runat="server" id="wt_Container130" anonymous="true" onDataBinding="cnt_Container130_onDataBinding" cssClass="card"><osweb:PlaceHolder runat="server"><%# "See who has sent you gifts, and contributed to your fund / sponsorships over time." %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container24" anonymous="true" onDataBinding="cnt_Container24_onDataBinding"><osweb:Container runat="server" id="wt_Container141" anonymous="true" onDataBinding="cnt_Container141_onDataBinding"><osweb:Span runat="server" id="wt_Text84" anonymous="true" class="heading5"><%# "Gifts" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container12" anonymous="true" onDataBinding="cnt_Container12_onDataBinding"><OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance149" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance149_onDataBinding" InstanceID="_WebBlockInstance149"><phContent><osweb:Iterator runat="server" id="wtListRecords1" onDataBinding="recListListRecords1_onDataBinding" cssClass="ListRecords" OnItemCommand="recListListRecords1_Select" OnSetViewStateStorage="recListListRecords1_Store" OnClearViewStateStorage="recListListRecords1_Clear" OnListRefreshDataBind="recListListRecords1_ListRefreshDataBind" NeedsBreakAfter="true"><ItemTemplate><OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance115" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance115_onDataBinding" InstanceID="_WebBlockInstance115"><phIcon><osweb:DynamicImage runat="server" id="wt_Image53" anonymous="true" cssClass="border-radius-circle" Source="<%# img_Image53_getFilename() %>" StaticSource="<%# Images.UserIcon_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image53_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon><phDate><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression32()) %></osweb:PlaceHolder></phDate><phContent><osweb:Container runat="server" id="wt_Container102" anonymous="true" onDataBinding="cnt_Container102_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression159" anonymous="true" onDataBinding="expression_InlineExpression159_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression159()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " sent you  " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression87" anonymous="true" onDataBinding="expression_InlineExpression87_onDataBinding" class="pink"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression87()) %></osweb:Span></osweb:Container><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If62() %>"><osweb:Container runat="server" id="wt_Container61" anonymous="true" onDataBinding="cnt_Container61_onDataBinding"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression78()) %></osweb:PlaceHolder></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If62() %>"></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If154() %>"><osweb:Container runat="server" id="wt_Container105" anonymous="true" onDataBinding="cnt_Container105_onDataBinding" style="margin-left: 20px"><osweb:Span runat="server" id="wt_Text5" anonymous="true" onDataBinding="wt_Text5_onDataBinding"><%# "You said: " %></osweb:Span><osweb:Span runat="server" id="wt_InlineExpression138" anonymous="true" class="text-lime-light"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression138()) %></osweb:Span></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If154() %>"></osweb:If></osweb:IfPlaceHolder></phContent></OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA></ItemTemplate><InvisibleTemplate><%# recListListRecords1_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phContent></OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container20" anonymous="true" onDataBinding="cnt_Container20_onDataBinding"><osweb:Container runat="server" id="wt_Container153" anonymous="true" onDataBinding="cnt_Container153_onDataBinding"><osweb:Span runat="server" id="wt_Text135" anonymous="true" class="heading5"><%# "Funds / Sponsorships" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container110" anonymous="true" onDataBinding="cnt_Container110_onDataBinding"><OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance106" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance106_onDataBinding" InstanceID="_WebBlockInstance106"><phContent><osweb:Iterator runat="server" id="wtListRecords2" onDataBinding="recListListRecords2_onDataBinding" cssClass="ListRecords" OnItemCommand="recListListRecords2_Select" OnSetViewStateStorage="recListListRecords2_Store" OnClearViewStateStorage="recListListRecords2_Clear" OnListRefreshDataBind="recListListRecords2_ListRefreshDataBind" NeedsBreakAfter="true"><ItemTemplate><OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance3" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance3_onDataBinding" InstanceID="_WebBlockInstance3"><phIcon><osweb:DynamicImage runat="server" id="wt_Image148" anonymous="true" cssClass="border-radius-circle" Source="<%# img_Image148_getFilename() %>" StaticSource="<%# Images.UserIcon_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image148_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon><phDate><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression124()) %></osweb:PlaceHolder></phDate><phContent><osweb:Container runat="server" id="wt_Container136" anonymous="true" onDataBinding="cnt_Container136_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression93" anonymous="true" onDataBinding="expression_InlineExpression93_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression93()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " deposited " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression58" anonymous="true" onDataBinding="expression_InlineExpression58_onDataBinding" class="pink"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression58()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " into the " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression100" anonymous="true" onDataBinding="expression_InlineExpression100_onDataBinding" class="text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression100()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " fund" %></osweb:PlaceHolder></osweb:Container><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If29() %>"><osweb:Container runat="server" id="wt_Container43" anonymous="true" onDataBinding="cnt_Container43_onDataBinding"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression113()) %></osweb:PlaceHolder></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If29() %>"></osweb:If></osweb:IfPlaceHolder></phContent></OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA></ItemTemplate><InvisibleTemplate><%# recListListRecords2_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phContent></OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q></osweb:Container></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If95() %>"><osweb:Container runat="server" id="wt_Container6" anonymous="true" onDataBinding="cnt_Container6_onDataBinding" cssClass="card"><osweb:PlaceHolder runat="server"><%# "See what gifts you&#39;ve sent, and what contributions you&#39;ve made to others." %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container19" anonymous="true" onDataBinding="cnt_Container19_onDataBinding"><osweb:Container runat="server" id="wt_Container120" anonymous="true" onDataBinding="cnt_Container120_onDataBinding"><osweb:Span runat="server" id="wt_Text160" anonymous="true" class="heading5"><%# "Gifts" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container37" anonymous="true" onDataBinding="cnt_Container37_onDataBinding"><OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance111" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance111_onDataBinding" InstanceID="_WebBlockInstance111"><phContent><osweb:Iterator runat="server" id="wtListRecords3" onDataBinding="recListListRecords3_onDataBinding" cssClass="ListRecords" OnItemCommand="recListListRecords3_Select" OnSetViewStateStorage="recListListRecords3_Store" OnClearViewStateStorage="recListListRecords3_Clear" OnListRefreshDataBind="recListListRecords3_ListRefreshDataBind" NeedsBreakAfter="true"><ItemTemplate><OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance152" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance152_onDataBinding" InstanceID="_WebBlockInstance152"><phIcon><osweb:DynamicImage runat="server" id="wt_Image80" anonymous="true" cssClass="border-radius-circle" Source="<%# img_Image80_getFilename() %>" StaticSource="<%# Images.UserIcon_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image80_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon><phDate><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression14()) %></osweb:PlaceHolder></phDate><phContent><osweb:Container runat="server" id="wt_Container26" anonymous="true" onDataBinding="cnt_Container26_onDataBinding"><osweb:PlaceHolder runat="server"><%# "You sent " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression104" anonymous="true" onDataBinding="expression_InlineExpression104_onDataBinding" class="pink"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression104()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " to " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression143" anonymous="true" onDataBinding="expression_InlineExpression143_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression143()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " " %></osweb:PlaceHolder></osweb:Container><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If122() %>"><osweb:Container runat="server" id="wt_Container88" anonymous="true" onDataBinding="cnt_Container88_onDataBinding"><osweb:Span runat="server" id="wt_Text36" anonymous="true" onDataBinding="wt_Text36_onDataBinding"><%# "You said: " %></osweb:Span><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression156()) %></osweb:PlaceHolder></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If122() %>"></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If150() %>"><osweb:Container runat="server" id="wt_Container74" anonymous="true" onDataBinding="cnt_Container74_onDataBinding" style="margin-left: 20px"><osweb:Span runat="server" id="wt_Text41" anonymous="true" onDataBinding="wt_Text41_onDataBinding"><%# "They replied: " %></osweb:Span><osweb:Span runat="server" id="wt_InlineExpression63" anonymous="true" class="text-lime-light"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression63()) %></osweb:Span></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If150() %>"></osweb:If></osweb:IfPlaceHolder></phContent></OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA></ItemTemplate><InvisibleTemplate><%# recListListRecords3_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phContent></OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container59" anonymous="true" onDataBinding="cnt_Container59_onDataBinding"><osweb:Container runat="server" id="wt_Container18" anonymous="true" onDataBinding="cnt_Container18_onDataBinding"><osweb:Span runat="server" id="wt_Text144" anonymous="true" class="heading5"><%# "Funds / Sponsorships" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container60" anonymous="true" onDataBinding="cnt_Container60_onDataBinding"><OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance39" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance39_onDataBinding" InstanceID="_WebBlockInstance39"><phContent><osweb:Iterator runat="server" id="wtListRecords4" onDataBinding="recListListRecords4_onDataBinding" cssClass="ListRecords" OnItemCommand="recListListRecords4_Select" OnSetViewStateStorage="recListListRecords4_Store" OnClearViewStateStorage="recListListRecords4_Clear" OnListRefreshDataBind="recListListRecords4_ListRefreshDataBind" NeedsBreakAfter="true"><ItemTemplate><OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance92" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance92_onDataBinding" InstanceID="_WebBlockInstance92"><phIcon><osweb:DynamicImage runat="server" id="wt_Image75" anonymous="true" cssClass="border-radius-circle" Source="<%# img_Image75_getFilename() %>" StaticSource="<%# Images.UserIcon_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image75_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon><phDate><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression33()) %></osweb:PlaceHolder></phDate><phContent><osweb:Container runat="server" id="wt_Container77" anonymous="true" onDataBinding="cnt_Container77_onDataBinding"><osweb:PlaceHolder runat="server"><%# "You deposited " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression146" anonymous="true" onDataBinding="expression_InlineExpression146_onDataBinding" class="pink"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression146()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " into the " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression151" anonymous="true" onDataBinding="expression_InlineExpression151_onDataBinding" class="text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression151()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " fund for " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression127" anonymous="true" onDataBinding="expression_InlineExpression127_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression127()) %></osweb:Span></osweb:Container><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If112() %>"><osweb:Container runat="server" id="wt_Container129" anonymous="true" onDataBinding="cnt_Container129_onDataBinding"><osweb:Span runat="server" id="wt_Text126" anonymous="true" onDataBinding="wt_Text126_onDataBinding"><%# "You said: " %></osweb:Span><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression28()) %></osweb:PlaceHolder></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If112() %>"></osweb:If></osweb:IfPlaceHolder></phContent></OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA></ItemTemplate><InvisibleTemplate><%# recListListRecords4_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phContent></OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q></osweb:Container></osweb:Container></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:Container></phMainContent><phFooter><widgets:KcGiUZvJCtEiF3fde7a3MaQ runat="server" id="wt_WebBlockInstance103" OnEvaluateParameters="webBlck_WebBlockInstance103_onDataBinding" InstanceID="_WebBlockInstance103"></widgets:KcGiUZvJCtEiF3fde7a3MaQ></phFooter></widgets:Kvm5_RC0mw0KuAAMxuiwtpQ><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
