﻿<%@ Page Language="c#" Codebehind="Blog.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowNotLoggedIn.ScrnBlog" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kz3isd_zy0kiORsLuRetsJw" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KvjOOjGhXMUi5hSbN9Ooc0g" Src="Blocks\BIFY\Weblocks\LoginRegister.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KnfUSiLskTUmjVXcue64Gkg" Src="Blocks\BIFY\Weblocks\LoginRegisterMobile.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVlxoCzEyUUmJdaTCoz8lHA" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KMpM9KcSJmk2IK2nklukslA" Src="Blocks\BIFY\Weblocks\Blogs.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kz0Pe8bEM1keIAmKQ6Kxphg" Src="Blocks\BIFY\Weblocks\FooterNotLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kz3isd_zy0kiORsLuRetsJw runat="server" id="wt_WebBlockInstance18" OnEvaluateParameters="webBlck_WebBlockInstance18_onDataBinding" InstanceID="_WebBlockInstance18"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance29" OnEvaluateParameters="webBlck_WebBlockInstance29_onDataBinding" InstanceID="_WebBlockInstance29"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter></phCenter><phRight><widgets:KvjOOjGhXMUi5hSbN9Ooc0g runat="server" id="wt_WebBlockInstance30" OnEvaluateParameters="webBlck_WebBlockInstance30_onDataBinding" InstanceID="_WebBlockInstance30"></widgets:KvjOOjGhXMUi5hSbN9Ooc0g></phRight><phHeaderContent><osweb:Container runat="server" id="wt_Container28" anonymous="true" onDataBinding="cnt_Container28_onDataBinding" cssClass="mobile_login_register" align="center"><widgets:KnfUSiLskTUmjVXcue64Gkg runat="server" id="wt_WebBlockInstance31" OnEvaluateParameters="webBlck_WebBlockInstance31_onDataBinding" InstanceID="_WebBlockInstance31"></widgets:KnfUSiLskTUmjVXcue64Gkg></osweb:Container></phHeaderContent><phMainContent><widgets:KVlxoCzEyUUmJdaTCoz8lHA runat="server" id="wt_WebBlockInstance20" OnEvaluateParameters="webBlck_WebBlockInstance20_onDataBinding" InstanceID="_WebBlockInstance20"><phTitle><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If2() %>"><osweb:PlaceHolder runat="server"><%# "Blogs" %></osweb:PlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If2() %>"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression26()) %></osweb:PlaceHolder></osweb:If></osweb:IfPlaceHolder></phTitle><phTitle2><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If8() %>"><osweb:PlaceHolder runat="server"><%# "Check out our Blogs for all the latest news on Gifts, Holidays and our awesome community of gifters!" %></osweb:PlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If8() %>"></osweb:If></osweb:IfPlaceHolder></phTitle2><phButton></phButton><phImage><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If16() %>"><osweb:DynamicImage runat="server" id="wt_Image6" anonymous="true" StaticSource="<%# Images.pexelsphoto1323647_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If16() %>"><osweb:DynamicImage runat="server" id="wt_Image25" anonymous="true" Source="<%# img_Image25_getFilename() %>" StaticSource="<%# Images.pexelsphoto1323647_Source() %>" Entity="Blog" Attribute="Image" EntityId="<%# img_Image25_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></osweb:If></osweb:IfPlaceHolder></phImage></widgets:KVlxoCzEyUUmJdaTCoz8lHA><widgets:KMpM9KcSJmk2IK2nklukslA runat="server" id="wt_WebBlockInstance22" OnEvaluateParameters="webBlck_WebBlockInstance22_onDataBinding" InstanceID="_WebBlockInstance22"></widgets:KMpM9KcSJmk2IK2nklukslA><widgets:Kz0Pe8bEM1keIAmKQ6Kxphg runat="server" id="wt_WebBlockInstance21" OnEvaluateParameters="webBlck_WebBlockInstance21_onDataBinding" InstanceID="_WebBlockInstance21"></widgets:Kz0Pe8bEM1keIAmKQ6Kxphg></phMainContent><phFooter></phFooter></widgets:Kz3isd_zy0kiORsLuRetsJw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
