﻿.content{top:100px;} .phone .content{top:90px;} 
.BDisabled{background: gray;pointer-events:none;}

.EditRecord_Caption{display:block;width: 100%!important;}
.EditRecord_Value{display:block;width: 100%!important;}