﻿<%@ Page Language="c#" Codebehind="ComingSoon.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowLoggedIn.ScrnComingSoon" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kz3isd_zy0kiORsLuRetsJw" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_5sqIAe8Z0mLMNBss5hGzg" Src="Blocks\BIFY\Common\Menu.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAotDlTFMDkS99aVrmrPR8g" Src="Blocks\BIFY\Weblocks\MeFriendsBlock.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KlboP3Mo1qU6C2FuyPN_r2w" Src="Blocks\BIFY\Weblocks\SearchBoxHeader.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KnfUSiLskTUmjVXcue64Gkg" Src="Blocks\BIFY\Weblocks\LoginRegisterMobile.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVlxoCzEyUUmJdaTCoz8lHA" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KSRcgA_LLAE6Pd09ZEf_DTw" Src="Blocks\BIFY\Weblocks\ThreeBoxesSmall.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KH3ZfEzegJ0yIiZ7r___j6g" Src="Blocks\BIFY\Weblocks\ImageRightUrl.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K1026Q6erlEC382GuuEVI7A" Src="Blocks\BIFY\Weblocks\ImageLeftURL.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcGiUZvJCtEiF3fde7a3MaQ" Src="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kz3isd_zy0kiORsLuRetsJw runat="server" id="wt_WebBlockInstance39" OnEvaluateParameters="webBlck_WebBlockInstance39_onDataBinding" InstanceID="_WebBlockInstance39"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance7" OnEvaluateParameters="webBlck_WebBlockInstance7_onDataBinding" InstanceID="_WebBlockInstance7"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter><widgets:K_5sqIAe8Z0mLMNBss5hGzg runat="server" id="wt_WebBlockInstance71" OnEvaluateParameters="webBlck_WebBlockInstance71_onDataBinding" InstanceID="_WebBlockInstance71"></widgets:K_5sqIAe8Z0mLMNBss5hGzg></phCenter><phRight><widgets:KAotDlTFMDkS99aVrmrPR8g runat="server" id="wt_WebBlockInstance61" OnEvaluateParameters="webBlck_WebBlockInstance61_onDataBinding" InstanceID="_WebBlockInstance61"></widgets:KAotDlTFMDkS99aVrmrPR8g><widgets:KlboP3Mo1qU6C2FuyPN_r2w runat="server" id="wt_WebBlockInstance13" OnEvaluateParameters="webBlck_WebBlockInstance13_onDataBinding" InstanceID="_WebBlockInstance13"></widgets:KlboP3Mo1qU6C2FuyPN_r2w></phRight><phHeaderContent><osweb:Container runat="server" id="wt_Container33" anonymous="true" onDataBinding="cnt_Container33_onDataBinding" cssClass="mobile_login_register" align="center"><widgets:KnfUSiLskTUmjVXcue64Gkg runat="server" id="wt_WebBlockInstance79" OnEvaluateParameters="webBlck_WebBlockInstance79_onDataBinding" InstanceID="_WebBlockInstance79"></widgets:KnfUSiLskTUmjVXcue64Gkg></osweb:Container></phHeaderContent><phMainContent><widgets:KVlxoCzEyUUmJdaTCoz8lHA runat="server" id="wt_WebBlockInstance30" OnEvaluateParameters="webBlck_WebBlockInstance30_onDataBinding" InstanceID="_WebBlockInstance30"><phTitle><osweb:PlaceHolder runat="server"><%# "Coming Soon to BIFY" %></osweb:PlaceHolder></phTitle><phTitle2><osweb:PlaceHolder runat="server"><%# "Soon you&#39;ll be able to send flowers and gift cards to your friends, family and admirers using BIFY " %></osweb:PlaceHolder></phTitle2><phButton><osweb:Button runat="server" id="wt_Button35" cssClass="Button Button_Transparent Is_Default" Visible="<%# btn_Button35_isVisible() %>" Enabled="<%# btn_Button35_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button35_NavigateUrl() %>" text="<%# btn_Button35_getLabel() %>"/></phButton><phImage><osweb:DynamicImage runat="server" id="wt_Image85" anonymous="true" StaticSource="<%# Images.pexelsphoto267360_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage></widgets:KVlxoCzEyUUmJdaTCoz8lHA><widgets:KSRcgA_LLAE6Pd09ZEf_DTw runat="server" id="wt_WebBlockInstance81" OnEvaluateParameters="webBlck_WebBlockInstance81_onDataBinding" InstanceID="_WebBlockInstance81"><phIcon1></phIcon1><phTitle1><osweb:PlaceHolder runat="server"><%# "Low Cost" %></osweb:PlaceHolder></phTitle1><phText><osweb:PlaceHolder runat="server"><%# "Our Cards and Flowers will be affordable" %></osweb:PlaceHolder></phText><phIcon2></phIcon2><phTitle2><osweb:PlaceHolder runat="server"><%# "Lots of Choice" %></osweb:PlaceHolder></phTitle2><phText2><osweb:PlaceHolder runat="server"><%# "We&#39;re planning on having a great selection to choose from" %></osweb:PlaceHolder></phText2><phIcon3></phIcon3><phTitle3><osweb:PlaceHolder runat="server"><%# "Convenient" %></osweb:PlaceHolder></phTitle3><phText3><osweb:PlaceHolder runat="server"><%# "Send a gift, flowers and a card all as one with BIFY" %></osweb:PlaceHolder></phText3></widgets:KSRcgA_LLAE6Pd09ZEf_DTw><widgets:KH3ZfEzegJ0yIiZ7r___j6g runat="server" id="wt_WebBlockInstance17" OnEvaluateParameters="webBlck_WebBlockInstance17_onDataBinding" InstanceID="_WebBlockInstance17"><phTitle><osweb:Span runat="server" id="wt_Text37" anonymous="true" onDataBinding="wt_Text37_onDataBinding"><%# "Mobile App" %></osweb:Span><osweb:DynamicImage runat="server" id="wt_Image48" anonymous="true" GridCssClasses="ThemeGrid_MarginGutter" StaticSource="<%# Images.smartphone_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phTitle><phText><osweb:Span runat="server" id="wt_Text53" anonymous="true" onDataBinding="wt_Text53_onDataBinding"><%# "We&#39;ll launch our " %></osweb:Span><osweb:Span runat="server" id="wt_Text26" anonymous="true" onDataBinding="wt_Text26_onDataBinding"><%# "new" %></osweb:Span><osweb:Span runat="server" id="wt_Text73" anonymous="true" onDataBinding="wt_Text73_onDataBinding"><%# " mobile app into into the App stores soon! Gifting made easy-ier! " %></osweb:Span></phText><phButton><osweb:Container runat="server" id="wt_Container12" anonymous="true" onDataBinding="cnt_Container12_onDataBinding"><osweb:Container runat="server" id="wt_Container70" anonymous="true" onDataBinding="cnt_Container70_onDataBinding" GridCssClasses="ThemeGrid_Width6" align="center"><osweb:DynamicImage runat="server" id="wt_Image65" anonymous="true" StaticSource="<%# Images.google_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image65_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:Container><osweb:Container runat="server" id="wt_Container8" anonymous="true" onDataBinding="cnt_Container8_onDataBinding" GridCssClasses="ThemeGrid_Width6 ThemeGrid_MarginGutter" align="center"><osweb:DynamicImage runat="server" id="wt_Image54" anonymous="true" onDataBinding="img_Image54_onDataBinding" StaticSource="<%# Images.AppStore_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image54_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:Container></osweb:Container></phButton><phTitle2><osweb:Span runat="server" id="wt_Text64" anonymous="true" onDataBinding="wt_Text64_onDataBinding"><%# "Mobile App" %></osweb:Span><osweb:DynamicImage runat="server" id="wt_Image49" anonymous="true" GridCssClasses="ThemeGrid_MarginGutter" StaticSource="<%# Images.smartphone_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phTitle2><phText2><osweb:Span runat="server" id="wt_Text44" anonymous="true" onDataBinding="wt_Text44_onDataBinding"><%# "Send Gift Cards with personalised images and messages for free - just pay the postage! " %></osweb:Span></phText2><phButton2><osweb:Container runat="server" id="wt_Container25" anonymous="true" onDataBinding="cnt_Container25_onDataBinding"><osweb:Container runat="server" id="wt_Container57" anonymous="true" onDataBinding="cnt_Container57_onDataBinding" GridCssClasses="ThemeGrid_Width6" align="center"><osweb:DynamicImage runat="server" id="wt_Image16" anonymous="true" StaticSource="<%# Images.google_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image16_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:Container><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding" GridCssClasses="ThemeGrid_Width6 ThemeGrid_MarginGutter" align="center"><osweb:DynamicImage runat="server" id="wt_Image20" anonymous="true" onDataBinding="img_Image20_onDataBinding" StaticSource="<%# Images.AppStore_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image20_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:Container></osweb:Container></phButton2></widgets:KH3ZfEzegJ0yIiZ7r___j6g><widgets:K1026Q6erlEC382GuuEVI7A runat="server" id="wt_WebBlockInstance9" OnEvaluateParameters="webBlck_WebBlockInstance9_onDataBinding" InstanceID="_WebBlockInstance9"><phTitle><osweb:PlaceHolder runat="server"><%# "Flowers" %></osweb:PlaceHolder><osweb:DynamicImage runat="server" id="wt_Image51" anonymous="true" GridCssClasses="ThemeGrid_MarginGutter" StaticSource="<%# Images.flower_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phTitle><phText><osweb:PlaceHolder runat="server"><%# "Want to send some flowers to a secret admirer? It&#39;s going to be so easy with BIFY - we&#39;ll have a great selection and price - all part of the service" %></osweb:PlaceHolder></phText><phButton><osweb:Button runat="server" id="wt_Button68" cssClass="Button Button_Transparent" Visible="<%# btn_Button68_isVisible() %>" Enabled="<%# btn_Button68_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button68_NavigateUrl() %>" text="<%# btn_Button68_getLabel() %>"/></phButton></widgets:K1026Q6erlEC382GuuEVI7A><widgets:KH3ZfEzegJ0yIiZ7r___j6g runat="server" id="wt_WebBlockInstance11" OnEvaluateParameters="webBlck_WebBlockInstance11_onDataBinding" InstanceID="_WebBlockInstance11"><phTitle><osweb:Span runat="server" id="wt_Text3" anonymous="true" onDataBinding="wt_Text3_onDataBinding"><%# "Gift Cards" %></osweb:Span><osweb:DynamicImage runat="server" id="wt_Image56" anonymous="true" GridCssClasses="ThemeGrid_MarginGutter" StaticSource="<%# Images.invitation_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phTitle><phText><osweb:Span runat="server" id="wt_Text43" anonymous="true" onDataBinding="wt_Text43_onDataBinding"><%# "Send Gift Cards with personalised images and messages and just pay the postage! " %></osweb:Span></phText><phButton><osweb:Button runat="server" id="wt_Button72" cssClass="Button Button_TransparentBlue" Visible="<%# btn_Button72_isVisible() %>" Enabled="<%# btn_Button72_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button72_NavigateUrl() %>" text="<%# btn_Button72_getLabel() %>"/></phButton><phTitle2><osweb:Span runat="server" id="wt_Text36" anonymous="true" onDataBinding="wt_Text36_onDataBinding"><%# "Gift Cards" %></osweb:Span><osweb:DynamicImage runat="server" id="wt_Image45" anonymous="true" GridCssClasses="ThemeGrid_MarginGutter" StaticSource="<%# Images.invitation_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phTitle2><phText2><osweb:Span runat="server" id="wt_Text23" anonymous="true" onDataBinding="wt_Text23_onDataBinding"><%# "Send Gift Cards with personalised images and messages and just pay the postage! " %></osweb:Span></phText2><phButton2><osweb:Button runat="server" id="wt_Button15" cssClass="Button Button_TransparentBlue" Visible="<%# btn_Button15_isVisible() %>" Enabled="<%# btn_Button15_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button15_NavigateUrl() %>" text="<%# btn_Button15_getLabel() %>"/></phButton2></widgets:KH3ZfEzegJ0yIiZ7r___j6g><widgets:KcGiUZvJCtEiF3fde7a3MaQ runat="server" id="wt_WebBlockInstance86" OnEvaluateParameters="webBlck_WebBlockInstance86_onDataBinding" InstanceID="_WebBlockInstance86"></widgets:KcGiUZvJCtEiF3fde7a3MaQ></phMainContent><phFooter></phFooter></widgets:Kz3isd_zy0kiORsLuRetsJw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
