﻿<%@ Page Language="c#" Codebehind="Contact.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowNotLoggedIn.ScrnContact" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kz3isd_zy0kiORsLuRetsJw" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KvjOOjGhXMUi5hSbN9Ooc0g" Src="Blocks\BIFY\Weblocks\LoginRegister.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KnfUSiLskTUmjVXcue64Gkg" Src="Blocks\BIFY\Weblocks\LoginRegisterMobile.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVlxoCzEyUUmJdaTCoz8lHA" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KSABazdW4NE63cMWiAzw6zQ" Src="Blocks\BIFY\Weblocks\ThreeBoxes.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K1026Q6erlEC382GuuEVI7A" Src="Blocks\BIFY\Weblocks\ImageLeftURL.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kz0Pe8bEM1keIAmKQ6Kxphg" Src="Blocks\BIFY\Weblocks\FooterNotLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kz3isd_zy0kiORsLuRetsJw runat="server" id="wt_WebBlockInstance33" OnEvaluateParameters="webBlck_WebBlockInstance33_onDataBinding" InstanceID="_WebBlockInstance33"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance34" OnEvaluateParameters="webBlck_WebBlockInstance34_onDataBinding" InstanceID="_WebBlockInstance34"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter></phCenter><phRight><widgets:KvjOOjGhXMUi5hSbN9Ooc0g runat="server" id="wt_WebBlockInstance57" OnEvaluateParameters="webBlck_WebBlockInstance57_onDataBinding" InstanceID="_WebBlockInstance57"></widgets:KvjOOjGhXMUi5hSbN9Ooc0g></phRight><phHeaderContent><osweb:Container runat="server" id="wt_Container39" anonymous="true" onDataBinding="cnt_Container39_onDataBinding" cssClass="mobile_login_register" align="center"><widgets:KnfUSiLskTUmjVXcue64Gkg runat="server" id="wt_WebBlockInstance13" OnEvaluateParameters="webBlck_WebBlockInstance13_onDataBinding" InstanceID="_WebBlockInstance13"></widgets:KnfUSiLskTUmjVXcue64Gkg></osweb:Container></phHeaderContent><phMainContent><widgets:KVlxoCzEyUUmJdaTCoz8lHA runat="server" id="wt_WebBlockInstance10" OnEvaluateParameters="webBlck_WebBlockInstance10_onDataBinding" InstanceID="_WebBlockInstance10"><phTitle><osweb:PlaceHolder runat="server"><%# "Contact us" %></osweb:PlaceHolder></phTitle><phTitle2><osweb:PlaceHolder runat="server"><%# "We&#39;re here for you to answer any questions you might have" %></osweb:PlaceHolder></phTitle2><phButton></phButton><phImage><osweb:DynamicImage runat="server" id="wt_Image5" anonymous="true" StaticSource="<%# Images.adultbirthdaybirthdaygift360624_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage></widgets:KVlxoCzEyUUmJdaTCoz8lHA><widgets:KSABazdW4NE63cMWiAzw6zQ runat="server" id="wt_WebBlockInstance20" OnEvaluateParameters="webBlck_WebBlockInstance20_onDataBinding" InstanceID="_WebBlockInstance20"><phIcon1><osweb:DynamicImage runat="server" id="wt_Image31" anonymous="true" StaticSource="<%# Images.Ellipse1_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon1><phTitle1><osweb:PlaceHolder runat="server"><%# "Call Us" %></osweb:PlaceHolder></phTitle1><phText><osweb:PlaceHolder runat="server"><%# "Give us a call on " %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container21" anonymous="true" onDataBinding="cnt_Container21_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link42" Visible="<%# lnk_Link42_isVisible() %>" Enabled="<%# lnk_Link42_isEnabled() %>" NavigateUrl="<%# lnk_Link42_NavigateUrl() %>"><osweb:PlaceHolder runat="server"><%# "0203 7404090" %></osweb:PlaceHolder></osweb:HyperLink></osweb:Container><osweb:Container runat="server" id="wt_Container38" anonymous="true" onDataBinding="cnt_Container38_onDataBinding"><osweb:PlaceHolder runat="server"><%# "We are available Mon-Sun 8:00 to 18:00 " %></osweb:PlaceHolder></osweb:Container></phText><phIcon2><osweb:DynamicImage runat="server" id="wt_Image12" anonymous="true" StaticSource="<%# Images.Ellipse1copy_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon2><phTitle2><osweb:PlaceHolder runat="server"><%# "Email Us" %></osweb:PlaceHolder></phTitle2><phText2><osweb:PlaceHolder runat="server"><%# "Drop us a message at " %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container23" anonymous="true" onDataBinding="cnt_Container23_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link30" Visible="<%# lnk_Link30_isVisible() %>" Enabled="<%# lnk_Link30_isEnabled() %>" NavigateUrl="<%# lnk_Link30_NavigateUrl() %>"><osweb:PlaceHolder runat="server"><%# "info@buyingitforyou.com" %></osweb:PlaceHolder></osweb:HyperLink></osweb:Container><osweb:Container runat="server" id="wt_Container46" anonymous="true" onDataBinding="cnt_Container46_onDataBinding"><osweb:PlaceHolder runat="server"><%# "We&#39;ll get back to you soon" %></osweb:PlaceHolder></osweb:Container></phText2><phIcon3><osweb:DynamicImage runat="server" id="wt_Image50" anonymous="true" StaticSource="<%# Images.Ellipse1copy2_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon3><phTitle3><osweb:PlaceHolder runat="server"><%# "Write to Us" %></osweb:PlaceHolder></phTitle3><phText3><osweb:PlaceHolder runat="server"><%# "Old school? We love it!" %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container52" anonymous="true" onDataBinding="cnt_Container52_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Kemp House 152-160 City Road, London, EC1V 2NX " %></osweb:PlaceHolder></osweb:Container></phText3></widgets:KSABazdW4NE63cMWiAzw6zQ><widgets:K1026Q6erlEC382GuuEVI7A runat="server" id="wt_WebBlockInstance51" OnEvaluateParameters="webBlck_WebBlockInstance51_onDataBinding" InstanceID="_WebBlockInstance51"><phTitle><osweb:PlaceHolder runat="server"><%# "Need some Help?" %></osweb:PlaceHolder></phTitle><phText><osweb:PlaceHolder runat="server"><%# "Maybe some of our FAQ&#39;s cover what you want to know. We recommend have a look before getting in touch." %></osweb:PlaceHolder></phText><phButton><osweb:Button runat="server" id="wt_Button27" cssClass="Button Button_Transparent" Visible="<%# btn_Button27_isVisible() %>" Enabled="<%# btn_Button27_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button27_NavigateUrl() %>" text="<%# btn_Button27_getLabel() %>"/></phButton></widgets:K1026Q6erlEC382GuuEVI7A><widgets:Kz0Pe8bEM1keIAmKQ6Kxphg runat="server" id="wt_WebBlockInstance53" OnEvaluateParameters="webBlck_WebBlockInstance53_onDataBinding" InstanceID="_WebBlockInstance53"></widgets:Kz0Pe8bEM1keIAmKQ6Kxphg></phMainContent><phFooter></phFooter></widgets:Kz3isd_zy0kiORsLuRetsJw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
