﻿<%@ Page Language="c#" Codebehind="DonateToAFund.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowLoggedIn.ScrnDonateToAFund" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kvm5_RC0mw0KuAAMxuiwtpQ" Src="Blocks\BIFY\Common\Layout.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_5sqIAe8Z0mLMNBss5hGzg" Src="Blocks\BIFY\Common\Menu.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAWqhXH28h0C_6V89jNv2hQ" Src="Blocks\BIFY\Structure\Columns2.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K0OMmaHyl9E68I_pv5pITnw" Src="Blocks\BIFY\Content\Card.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KVjZOUnUljEGP35yzk8_u5w" Src="Blocks\BIFY\Numbers\Counter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Ka_M9kdL8xUOn4aPf5GS9YA" Src="Blocks\BIFY\Weblocks\SharingCircles.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KBJOBUaRDjEqu49x5gGiQ9A" Src="Blocks\BIFY\Content\CardSectioned.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KUnwWFNwPR0259fFxXTkxDw" Src="Blocks\BIFY\Controls\InputWithIcon.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KqUrWvxW_ek_qgz4_7z5qsg" Src="Blocks\BIFY\Weblocks\PayPalButton.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcGiUZvJCtEiF3fde7a3MaQ" Src="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kvm5_RC0mw0KuAAMxuiwtpQ runat="server" id="wt_WebBlockInstance40" OnEvaluateParameters="webBlck_WebBlockInstance40_onDataBinding" InstanceID="_WebBlockInstance40"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance5" OnEvaluateParameters="webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter><widgets:K_5sqIAe8Z0mLMNBss5hGzg runat="server" id="wt_WebBlockInstance83" OnEvaluateParameters="webBlck_WebBlockInstance83_onDataBinding" InstanceID="_WebBlockInstance83"></widgets:K_5sqIAe8Z0mLMNBss5hGzg></phCenter><phRight></phRight><phHeaderContent></phHeaderContent><phBreadcrumbs></phBreadcrumbs><phTitle><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression45()) %></osweb:PlaceHolder></phTitle><phActions><osweb:PlaceHolder runat="server"><%# "Not a member of BIFY? " %></osweb:PlaceHolder><osweb:HyperLink runat="server" id="wt_Link15" Visible="<%# lnk_Link15_isVisible() %>" Enabled="<%# lnk_Link15_isEnabled() %>" NavigateUrl="<%# lnk_Link15_NavigateUrl() %>"><osweb:PlaceHolder runat="server"><%# "Register Now!" %></osweb:PlaceHolder></osweb:HyperLink></phActions><phMainContent><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If85() %>"><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance67" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance67_onDataBinding" InstanceID="_WebBlockInstance67"><phColumn1><OutSystemsUIWeb_widgets:K0OMmaHyl9E68I_pv5pITnw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance70" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance70_onDataBinding" InstanceID="_WebBlockInstance70"><phContent><osweb:Container runat="server" id="wt_Container41" anonymous="true" onDataBinding="cnt_Container41_onDataBinding" align="center"><osweb:Span runat="server" id="wt_Text50" anonymous="true" class="heading3"><%# "Donation Completed" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wtperc2" onDataBinding="cntperc2_onDataBinding" align="center"><OutSystemsUIWeb_widgets:KVjZOUnUljEGP35yzk8_u5w runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance17" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance17_onDataBinding" InstanceID="_WebBlockInstance17"><phContent><osweb:Container runat="server" id="wt_Container29" anonymous="true" onDataBinding="cnt_Container29_onDataBinding" cssClass="font-size-display text-pink" GridCssClasses="OSInline"><osweb:PlaceHolder runat="server"><%# "&#163;" %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression9()) %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container39" anonymous="true" onDataBinding="cnt_Container39_onDataBinding" cssClass="text-shade3" GridCssClasses="OSInline"><osweb:Span runat="server" id="wt_Text1" anonymous="true" onDataBinding="wt_Text1_onDataBinding"><%# "Raised so far" %></osweb:Span></osweb:Container></phContent></OutSystemsUIWeb_widgets:KVjZOUnUljEGP35yzk8_u5w></osweb:Container><osweb:Container runat="server" id="wt_Container31" anonymous="true" onDataBinding="cnt_Container31_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Well done, i&#39;m sure " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression34" anonymous="true" onDataBinding="expression_InlineExpression34_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression34()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " will be thrilled with your contribution. Please spread the word with your friends and family." %></osweb:PlaceHolder></osweb:Container><widgets:Ka_M9kdL8xUOn4aPf5GS9YA runat="server" id="wt_WebBlockInstance13" OnEvaluateParameters="webBlck_WebBlockInstance13_onDataBinding" InstanceID="_WebBlockInstance13"></widgets:Ka_M9kdL8xUOn4aPf5GS9YA></phContent></OutSystemsUIWeb_widgets:K0OMmaHyl9E68I_pv5pITnw></phColumn1><phColumn2><osweb:DynamicImage runat="server" id="wt_Image69" anonymous="true" onDataBinding="img_Image69_onDataBinding" StaticSource="<%# Images.happystate_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If85() %>"><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance33" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance33_onDataBinding" InstanceID="_WebBlockInstance33"><phColumn1><OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance80" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance80_onDataBinding" InstanceID="_WebBlockInstance80"><phImage><osweb:DynamicImage runat="server" id="wt_Image62" anonymous="true" onDataBinding="img_Image62_onDataBinding" Source="<%# img_Image62_getFilename() %>" StaticSource="<%# Images.fancysocks531790694_4936x3291_Source() %>" Entity="FundImage" Attribute="Image" EntityId="<%# img_Image62_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage><phTitle><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression71()) %></osweb:PlaceHolder></osweb:Container></phTitle><phContent><osweb:Container runat="server" id="wt_Container58" anonymous="true" onDataBinding="cnt_Container58_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression72()) %></osweb:PlaceHolder></osweb:Container></phContent><phFooter><osweb:Container runat="server" id="wt_Container68" anonymous="true" onDataBinding="cnt_Container68_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# "Ends on " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression20" anonymous="true" onDataBinding="expression_InlineExpression20_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression20()) %></osweb:Span></osweb:Container></phFooter></OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A></phColumn1><phColumn2><OutSystemsUIWeb_widgets:K0OMmaHyl9E68I_pv5pITnw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance51" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance51_onDataBinding" InstanceID="_WebBlockInstance51"><phContent><osweb:Container runat="server" id="wt_Container76" anonymous="true" onDataBinding="cnt_Container76_onDataBinding" align="center"><osweb:Span runat="server" id="wt_Text46" anonymous="true" class="heading3"><%# "Donate" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wtperc" onDataBinding="cntperc_onDataBinding" align="center"><OutSystemsUIWeb_widgets:KVjZOUnUljEGP35yzk8_u5w runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance49" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance49_onDataBinding" InstanceID="_WebBlockInstance49"><phContent><osweb:Container runat="server" id="wt_Container30" anonymous="true" onDataBinding="cnt_Container30_onDataBinding" cssClass="font-size-display" GridCssClasses="OSInline"><osweb:PlaceHolder runat="server"><%# "&#163;" %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression23()) %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container25" anonymous="true" onDataBinding="cnt_Container25_onDataBinding" cssClass="text-shade3" GridCssClasses="OSInline"><osweb:Span runat="server" id="wt_Text64" anonymous="true" onDataBinding="wt_Text64_onDataBinding"><%# "Raised so far" %></osweb:Span></osweb:Container></phContent></OutSystemsUIWeb_widgets:KVjZOUnUljEGP35yzk8_u5w></osweb:Container><osweb:Container runat="server" id="wt_Container65" anonymous="true" onDataBinding="cnt_Container65_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Giving somebody a valuable donation is awesome" %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " - simply type how much you want to donate, and lets go!" %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container54" anonymous="true" onDataBinding="cnt_Container54_onDataBinding"><osweb:Container runat="server" id="wt_Container37" anonymous="true" onDataBinding="cnt_Container37_onDataBinding" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance63" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance63_onDataBinding" InstanceID="_WebBlockInstance63"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance73" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance73_onDataBinding" InstanceID="_WebBlockInstance73"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtdepositamount" cssClass="input" GridCssClasses="ThemeGrid_Width4" Visible="<%# inputwtdepositamount_isVisible() %>" ReadOnly="<%# !inputwtdepositamount_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetCurrencyValidatorMsg" textmode="SingleLine" type="number" step="any" text="<%# inputwtdepositamount_input_value() %>" onTextChanged="inputwtdepositamount_input_onTextChanged" Mandatory="<%# inputwtdepositamount_isMandatory() %>" placeholder="<%# inputwtdepositamount_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtdepositamount") ?? Container.FindControl("wtdepositamount")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtdepositamountValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtdepositamount"/><osweb:TextValidator runat="server" display="Dynamic" id="wtdepositamountValidatorType" ErrorMessage="<%# BIFY_Properties.CurrencyValidatorMsg %>" ControlToValidate="wtdepositamount" ClientValidationFunction="OsCustomValidatorCurrency"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container><osweb:Button runat="server" id="wt_Button35" onDataBinding="btn_Button35_onDataBinding" cssClass="Button  Is_Default background-pink" GridCssClasses="ThemeGrid_Width6 ThemeGrid_MarginGutter" Visible="<%# btn_Button35_isVisible() %>" Enabled="<%# btn_Button35_isEnabled() %>" CausesValidation="false" text="<%# btn_Button35_getLabel() %>"/></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container55" anonymous="true" onDataBinding="cnt_Container55_onDataBinding"></osweb:Container><osweb:Container runat="server" id="wt_Container82" anonymous="true" onDataBinding="cnt_Container82_onDataBinding"><widgets:KqUrWvxW_ek_qgz4_7z5qsg runat="server" id="wt_WebBlockInstance24" OnEvaluateParameters="webBlck_WebBlockInstance24_onDataBinding" InstanceID="_WebBlockInstance24"></widgets:KqUrWvxW_ek_qgz4_7z5qsg></osweb:Container><osweb:Container runat="server" id="wt_Container16" anonymous="true" onDataBinding="cnt_Container16_onDataBinding"><widgets:Ka_M9kdL8xUOn4aPf5GS9YA runat="server" id="wt_WebBlockInstance38" OnEvaluateParameters="webBlck_WebBlockInstance38_onDataBinding" InstanceID="_WebBlockInstance38"></widgets:Ka_M9kdL8xUOn4aPf5GS9YA></osweb:Container></phContent></OutSystemsUIWeb_widgets:K0OMmaHyl9E68I_pv5pITnw></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></osweb:If></osweb:IfPlaceHolder></phMainContent><phFooter><widgets:KcGiUZvJCtEiF3fde7a3MaQ runat="server" id="wt_WebBlockInstance22" OnEvaluateParameters="webBlck_WebBlockInstance22_onDataBinding" InstanceID="_WebBlockInstance22"></widgets:KcGiUZvJCtEiF3fde7a3MaQ></phFooter></widgets:Kvm5_RC0mw0KuAAMxuiwtpQ><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
