﻿.content{top:0px;} 
.ThemeGrid_Container 
{
    max-width: 1500px!important;
}
.card 
{
    border: none!important;
}

.layout .header {
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(21, 24, 26, .1);
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-top {
    height: 110px;
}
.app-logo {
    height: 110px;
    margin-right: var(--space-s);
    width: 110px;
}

.mobile_login_register{display: none;}

@media only screen and (max-width:685px)
{
    .background-transparent {
    background-color: black;
}
    .card-background-image, .card-background-color {
    height: 400%;
    width: 400%;
}
.mobile_login_register{display:block;width: 100%;}
.login_register{display:none;width: 100%;}
}
