﻿<%@ Page Language="c#" Codebehind="FAQ.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowNotLoggedIn.ScrnFAQ" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kz3isd_zy0kiORsLuRetsJw" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KvjOOjGhXMUi5hSbN9Ooc0g" Src="Blocks\BIFY\Weblocks\LoginRegister.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KnfUSiLskTUmjVXcue64Gkg" Src="Blocks\BIFY\Weblocks\LoginRegisterMobile.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVlxoCzEyUUmJdaTCoz8lHA" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAi1VIECenESAp6F5u2_Mxg" Src="Blocks\BIFY\Weblocks\FAQs.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K0hTyRcbOqke0oE0IH22uyA" Src="Blocks\BIFY\Weblocks\BannerCTA.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KDTSM_QmRekatpgrnOMmUow" Src="Blocks\BIFY\Controls\Search.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kz0Pe8bEM1keIAmKQ6Kxphg" Src="Blocks\BIFY\Weblocks\FooterNotLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kz3isd_zy0kiORsLuRetsJw runat="server" id="wt_WebBlockInstance18" OnEvaluateParameters="webBlck_WebBlockInstance18_onDataBinding" InstanceID="_WebBlockInstance18"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance12" OnEvaluateParameters="webBlck_WebBlockInstance12_onDataBinding" InstanceID="_WebBlockInstance12"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter></phCenter><phRight><widgets:KvjOOjGhXMUi5hSbN9Ooc0g runat="server" id="wt_WebBlockInstance29" OnEvaluateParameters="webBlck_WebBlockInstance29_onDataBinding" InstanceID="_WebBlockInstance29"></widgets:KvjOOjGhXMUi5hSbN9Ooc0g></phRight><phHeaderContent><osweb:Container runat="server" id="wt_Container26" anonymous="true" onDataBinding="cnt_Container26_onDataBinding" cssClass="mobile_login_register" align="center"><widgets:KnfUSiLskTUmjVXcue64Gkg runat="server" id="wt_WebBlockInstance4" OnEvaluateParameters="webBlck_WebBlockInstance4_onDataBinding" InstanceID="_WebBlockInstance4"></widgets:KnfUSiLskTUmjVXcue64Gkg></osweb:Container></phHeaderContent><phMainContent><widgets:KVlxoCzEyUUmJdaTCoz8lHA runat="server" id="wt_WebBlockInstance1" OnEvaluateParameters="webBlck_WebBlockInstance1_onDataBinding" InstanceID="_WebBlockInstance1"><phTitle><osweb:PlaceHolder runat="server"><%# "FAQ&#39;s" %></osweb:PlaceHolder></phTitle><phTitle2><osweb:PlaceHolder runat="server"><%# "How does BIFY work? How do i send somebody a Gift? Answers to these and more below" %></osweb:PlaceHolder></phTitle2><phButton></phButton><phImage><osweb:DynamicImage runat="server" id="wt_Image9" anonymous="true" StaticSource="<%# Images.pexelsphoto1323647_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage></widgets:KVlxoCzEyUUmJdaTCoz8lHA><widgets:KAi1VIECenESAp6F5u2_Mxg runat="server" id="wt_WebBlockInstance27" OnEvaluateParameters="webBlck_WebBlockInstance27_onDataBinding" InstanceID="_WebBlockInstance27"></widgets:KAi1VIECenESAp6F5u2_Mxg><widgets:K0hTyRcbOqke0oE0IH22uyA runat="server" id="wt_WebBlockInstance16" OnEvaluateParameters="webBlck_WebBlockInstance16_onDataBinding" InstanceID="_WebBlockInstance16"><phTitle1><osweb:PlaceHolder runat="server"><%# "Ready to go? Search for a gift list now!" %></osweb:PlaceHolder></phTitle1><phTitle2><OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance7" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance7_onDataBinding" InstanceID="_WebBlockInstance7"><phIcon><osweb:HyperLink runat="server" id="wtslink" onDataBinding="lnkslink_onDataBinding" Visible="<%# lnkslink_isVisible() %>" Enabled="<%# lnkslink_isEnabled() %>" NavigateUrl="<%# lnkslink_NavigateUrl() %>"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance25" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance25_onDataBinding" InstanceID="_WebBlockInstance25"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:HyperLink></phIcon><phInput><osweb:TextBox runat="server" id="wt_Input28" onDataBinding="inputwt_Input28_onDataBinding" cssClass="input" GridCssClasses="ThemeGrid_Width4" Visible="<%# inputwt_Input28_isVisible() %>" ReadOnly="<%# !inputwt_Input28_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwt_Input28_input_value() %>" onTextChanged="inputwt_Input28_input_onTextChanged" Mandatory="<%# inputwt_Input28_isMandatory() %>" placeholder="<%# inputwt_Input28_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wt_Input28") ?? Container.FindControl("wt_Input28")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wt_Input28ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wt_Input28"/><osweb:TextValidator runat="server" display="Dynamic" id="wt_Input28ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wt_Input28" ClientValidationFunction="OsCustomValidatorText"/></phInput><phActions></phActions></OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow><osweb:PlaceHolder runat="server"><%# expression_InlineExpression24() %></osweb:PlaceHolder></phTitle2></widgets:K0hTyRcbOqke0oE0IH22uyA><widgets:Kz0Pe8bEM1keIAmKQ6Kxphg runat="server" id="wt_WebBlockInstance20" OnEvaluateParameters="webBlck_WebBlockInstance20_onDataBinding" InstanceID="_WebBlockInstance20"></widgets:Kz0Pe8bEM1keIAmKQ6Kxphg></phMainContent><phFooter></phFooter></widgets:Kz3isd_zy0kiORsLuRetsJw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
