﻿<%@ Page Language="c#" Codebehind="Friends.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowLoggedIn.ScrnFriends" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="KNpFec5kizUC9WpROYh9ejw" Src="Blocks\BIFY\Common\LayoutWithSections.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_5sqIAe8Z0mLMNBss5hGzg" Src="Blocks\BIFY\Common\Menu.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAotDlTFMDkS99aVrmrPR8g" Src="Blocks\BIFY\Weblocks\MeFriendsBlock.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KlboP3Mo1qU6C2FuyPN_r2w" Src="Blocks\BIFY\Weblocks\SearchBoxHeader.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KhNvR_G8YCE6IZSbahhvtig" Src="Blocks\BIFY\Weblocks\BannerFriends.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kpmn3fOP15k241OpiXr3jUg" Src="Blocks\BIFY\Numbers\Badge.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kw58_eMFuPE6MArP3E1nPYw" Src="Blocks\BIFY\Weblocks\UpdateSeen.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KnQvsmR1kMEmJkNK9xfptmA" Src="Blocks\BIFY\Structure\ColumnsMediumRight.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KDTSM_QmRekatpgrnOMmUow" Src="Blocks\BIFY\Controls\Search.ascx" %>
<%@ Register TagPrefix="ConfirmationDialog_widgets" TagName="KFW1WqsmMG0qPUk7hxEVuEQ" Src="Blocks\BIFY\ConfirmationDialog\ConfirmationDialog.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="K1bgPHuCskB0BQCkYm3XxTQ" Src="Blocks\BIFY\RichWidgets\List_Navigation.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KPh3bGkvpXUam1o9sufSrTQ" Src="Blocks\BIFY\Structure\Gallery.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KBJOBUaRDjEqu49x5gGiQ9A" Src="Blocks\BIFY\Content\CardSectioned.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KGC2Vk_FubdDDjDgOUsciQw" Src="Blocks\BIFY\RichWidgets\List_Counter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcGiUZvJCtEiF3fde7a3MaQ" Src="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:KNpFec5kizUC9WpROYh9ejw runat="server" id="wt_WebBlockInstance160" OnEvaluateParameters="webBlck_WebBlockInstance160_onDataBinding" InstanceID="_WebBlockInstance160"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance80" OnEvaluateParameters="webBlck_WebBlockInstance80_onDataBinding" InstanceID="_WebBlockInstance80"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter><widgets:K_5sqIAe8Z0mLMNBss5hGzg runat="server" id="wt_WebBlockInstance267" OnEvaluateParameters="webBlck_WebBlockInstance267_onDataBinding" InstanceID="_WebBlockInstance267"></widgets:K_5sqIAe8Z0mLMNBss5hGzg></phCenter><phRight><widgets:KAotDlTFMDkS99aVrmrPR8g runat="server" id="wt_WebBlockInstance226" OnEvaluateParameters="webBlck_WebBlockInstance226_onDataBinding" InstanceID="_WebBlockInstance226"></widgets:KAotDlTFMDkS99aVrmrPR8g><widgets:KlboP3Mo1qU6C2FuyPN_r2w runat="server" id="wt_WebBlockInstance57" OnEvaluateParameters="webBlck_WebBlockInstance57_onDataBinding" InstanceID="_WebBlockInstance57"></widgets:KlboP3Mo1qU6C2FuyPN_r2w></phRight><phHeaderContent></phHeaderContent><phSection1Content><widgets:KhNvR_G8YCE6IZSbahhvtig runat="server" id="wt_WebBlockInstance7" OnEvaluateParameters="webBlck_WebBlockInstance7_onDataBinding" InstanceID="_WebBlockInstance7"><phTitle1><osweb:PlaceHolder runat="server"><%# "Friends" %></osweb:PlaceHolder></phTitle1><phTitle2><osweb:Span runat="server" id="wt_Text269" anonymous="true" onDataBinding="wt_Text269_onDataBinding"><%# "Browse your Friends and send them Gifts they really want!" %></osweb:Span></phTitle2></widgets:KhNvR_G8YCE6IZSbahhvtig></phSection1Content><phBreadcrumbs></phBreadcrumbs><phTitle></phTitle><phActions></phActions><phMainContent><osweb:IfPlaceHolder runat="server" id="wtFriendRequests" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtFriendRequests() %>"><osweb:Container runat="server" id="wt_Container120" anonymous="true" onDataBinding="cnt_Container120_onDataBinding"><osweb:Span runat="server" id="wt_Text86" anonymous="true" class="heading2"><%# "Friend Requests " %></osweb:Span><OutSystemsUIWeb_widgets:Kpmn3fOP15k241OpiXr3jUg runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance178" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance178_onDataBinding" InstanceID="_WebBlockInstance178"></OutSystemsUIWeb_widgets:Kpmn3fOP15k241OpiXr3jUg></osweb:Container><osweb:Container runat="server" id="wtTable_Wrapper2" onDataBinding="cntTable_Wrapper2_onDataBinding"><osweb:OSDataGrid runat="server" id="wtMainTable2" onDataBinding="recTableMainTable2_onDataBinding" cssClass="TableRecords" GridCssClasses="OSFillParent" ClientIDMode="AutoID" AutoGenerateColumns="false" OnSetViewStateStorage="recTableMainTable2_Store" OnClearViewStateStorage="recTableMainTable2_Clear" OnListRefreshDataBind="recTableMainTable2_ListRefreshDataBind" HeaderLineStyle="TableRecords_Header" OddLineStyle="TableRecords_OddLine" EvenLineStyle="TableRecords_EvenLine" OnItemCommand="recTableMainTable2_Select" Gridlines="none"><Columns><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell6_onDataBinding), ((Control) sender).Parent) %><osweb:DynamicImage runat="server" id="wt_Image238" anonymous="true" cssClass="border-radius-soft display-block" Source="<%# img_Image238_getFilename() %>" StaticSource="<%# Images.userPhoto_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image238_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image238_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell43_onDataBinding), ((Control) sender).Parent) %><osweb:Container runat="server" id="wt_Container155" anonymous="true" onDataBinding="cnt_Container155_onDataBinding" align="left"><osweb:HyperLink runat="server" id="wt_Link203" Visible="<%# lnk_Link203_isVisible() %>" Enabled="<%# lnk_Link203_isEnabled() %>" NavigateUrl="<%# lnk_Link203_NavigateUrl() %>"><osweb:Span runat="server" id="wt_InlineExpression173" anonymous="true" class="heading5 text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression173()) %></osweb:Span></osweb:HyperLink><osweb:Container runat="server" id="wt_Container60" anonymous="true" onDataBinding="cnt_Container60_onDataBinding"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression29()) %></osweb:PlaceHolder></osweb:Container></osweb:Container></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell153_onDataBinding), ((Control) sender).Parent) %><osweb:Container runat="server" id="wt_Container106" anonymous="true" onDataBinding="cnt_Container106_onDataBinding" align="center"><osweb:LinkButton runat="server" id="wtrem8" onDataBinding="lnkrem8_onDataBinding" cssClass="Button Is_Default background-success" Visible="<%# lnkrem8_isVisible() %>" Enabled="<%# lnkrem8_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Approve" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance46" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance46_onDataBinding" InstanceID="_WebBlockInstance46"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton><osweb:LinkButton runat="server" id="wtrem9" onDataBinding="lnkrem9_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkrem9_isVisible() %>" Enabled="<%# lnkrem9_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Reject" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance211" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance211_onDataBinding" InstanceID="_WebBlockInstance211"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton></osweb:Container><widgets:Kw58_eMFuPE6MArP3E1nPYw runat="server" id="wt_WebBlockInstance268" OnEvaluateParameters="webBlck_WebBlockInstance268_onDataBinding" InstanceID="_WebBlockInstance268"></widgets:Kw58_eMFuPE6MArP3E1nPYw></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn Visible="false"><ItemTemplate><%# recTableMainTable2_Store(Container.DataItem, Container.ItemIndex) %></ItemTemplate></osweb:OSTemplateColumn></Columns></osweb:OSDataGrid></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtFriendRequests() %>"></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server" id="wtFriends" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtFriends() %>"><osweb:Container runat="server" id="wt_Container191" anonymous="true" onDataBinding="cnt_Container191_onDataBinding" cssClass="margin-top-l"><OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance99" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance99_onDataBinding" InstanceID="_WebBlockInstance99"><phColumn1><osweb:Container runat="server" id="wt_Container119" anonymous="true" onDataBinding="cnt_Container119_onDataBinding"><osweb:Span runat="server" id="wt_Text38" anonymous="true" class="heading2"><%# "Friends" %></osweb:Span><osweb:Span runat="server" id="wt_InlineExpression170" anonymous="true" class="heading2"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression170()) %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wtFilters_Wrapper" onDataBinding="cntFilters_Wrapper_onDataBinding"><osweb:Container runat="server" id="wt_Container102" anonymous="true" onDataBinding="cnt_Container102_onDataBinding" GridCssClasses="ThemeGrid_Width7"><OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance169" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance169_onDataBinding" InstanceID="_WebBlockInstance169"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance90" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance90_onDataBinding" InstanceID="_WebBlockInstance90"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtSearchInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtSearchInput_isVisible() %>" ReadOnly="<%# !inputwtSearchInput_isEnabled() %>" maxlength="100" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtSearchInput_input_value() %>" onTextChanged="inputwtSearchInput_input_onTextChanged" Mandatory="<%# inputwtSearchInput_isMandatory() %>" placeholder="<%# inputwtSearchInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtSearchInput") ?? Container.FindControl("wtSearchInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtSearchInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtSearchInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtSearchInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtSearchInput" ClientValidationFunction="OsCustomValidatorText"/></phInput><phActions></phActions></OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow></osweb:Container><osweb:Button runat="server" id="wt_Button135" onDataBinding="btn_Button135_onDataBinding" cssClass="Button sbutton Is_Default" GridCssClasses="ThemeGrid_Width2" style="margin-left: 10px" Visible="<%# btn_Button135_isVisible() %>" Enabled="<%# btn_Button135_isEnabled() %>" CausesValidation="false" text="<%# btn_Button135_getLabel() %>"/></osweb:Container><osweb:Container runat="server" id="wtTable_Wrapper" onDataBinding="cntTable_Wrapper_onDataBinding"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If4() %>"><osweb:IfPlaceHolder runat="server" id="wtEmptyResults2"><osweb:If runat="server" visible="<%# if_wtEmptyResults2() %>"></osweb:If><osweb:If runat="server" visible="<%# !if_wtEmptyResults2() %>"><osweb:OSDataGrid runat="server" id="wtMainTable" onDataBinding="recTableMainTable_onDataBinding" cssClass="TableRecords" GridCssClasses="OSFillParent" ClientIDMode="AutoID" AutoGenerateColumns="false" OnSetViewStateStorage="recTableMainTable_Store" OnClearViewStateStorage="recTableMainTable_Clear" OnListRefreshDataBind="recTableMainTable_ListRefreshDataBind" HeaderLineStyle="TableRecords_Header" OddLineStyle="TableRecords_OddLine" EvenLineStyle="TableRecords_EvenLine" OnItemCommand="recTableMainTable_Select" Gridlines="none"><Columns><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell200_onDataBinding), ((Control) sender).Parent) %><osweb:DynamicImage runat="server" id="wt_Image134" anonymous="true" cssClass="border-radius-soft display-block" Source="<%# img_Image134_getFilename() %>" StaticSource="<%# Images.userPhoto_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image134_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image134_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell143_onDataBinding), ((Control) sender).Parent) %><osweb:Container runat="server" id="wt_Container246" anonymous="true" onDataBinding="cnt_Container246_onDataBinding" align="left"><osweb:HyperLink runat="server" id="wt_Link222" Visible="<%# lnk_Link222_isVisible() %>" Enabled="<%# lnk_Link222_isEnabled() %>" NavigateUrl="<%# lnk_Link222_NavigateUrl() %>"><osweb:Span runat="server" id="wt_InlineExpression181" anonymous="true" class="heading5 text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression181()) %></osweb:Span></osweb:HyperLink><osweb:Container runat="server" id="wt_Container76" anonymous="true" onDataBinding="cnt_Container76_onDataBinding"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression47()) %></osweb:PlaceHolder></osweb:Container></osweb:Container></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell77_onDataBinding), ((Control) sender).Parent) %><osweb:Container runat="server" id="wt_Container83" anonymous="true" onDataBinding="cnt_Container83_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container93" anonymous="true" onDataBinding="cnt_Container93_onDataBinding" GridCssClasses="OSInline" align="center"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If254() %>"><osweb:LinkButton runat="server" id="wtrem4" onDataBinding="lnkrem4_onDataBinding" cssClass="Button Is_Default" Visible="<%# lnkrem4_isVisible() %>" Enabled="<%# lnkrem4_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Remove Friend" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance26" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance26_onDataBinding" InstanceID="_WebBlockInstance26"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If254() %>"><osweb:IfPlaceHolder runat="server" id="wtTheyHaveRequestedYou"><osweb:If runat="server" visible="<%# if_wtTheyHaveRequestedYou() %>"><osweb:LinkButton runat="server" id="wtrem5" onDataBinding="lnkrem5_onDataBinding" cssClass="Button Is_Default background-success" Visible="<%# lnkrem5_isVisible() %>" Enabled="<%# lnkrem5_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Approve" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance81" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance81_onDataBinding" InstanceID="_WebBlockInstance81"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton><osweb:LinkButton runat="server" id="wtrem6" onDataBinding="lnkrem6_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkrem6_isVisible() %>" Enabled="<%# lnkrem6_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Reject" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance133" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance133_onDataBinding" InstanceID="_WebBlockInstance133"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton></osweb:If><osweb:If runat="server" visible="<%# !if_wtTheyHaveRequestedYou() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If194() %>"><osweb:LinkButton runat="server" id="wtrem3" onDataBinding="lnkrem3_onDataBinding" cssClass="Button Is_Default BDisabled" Visible="<%# lnkrem3_isVisible() %>" Enabled="<%# lnkrem3_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Friend Requested" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance35" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance35_onDataBinding" InstanceID="_WebBlockInstance35"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton><osweb:Container runat="server" id="wt_Container103" anonymous="true" onDataBinding="cnt_Container103_onDataBinding"><osweb:LinkButton runat="server" id="wt_Link161" Visible="<%# lnk_Link161_isVisible() %>" Enabled="<%# lnk_Link161_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Cancel " %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If194() %>"><osweb:LinkButton runat="server" id="wtrem2" onDataBinding="lnkrem2_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkrem2_isVisible() %>" Enabled="<%# lnkrem2_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Add Friend" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance138" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance138_onDataBinding" InstanceID="_WebBlockInstance138"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:Container><ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ runat="server" id="ConfirmationDialog_wt_WebBlockInstance176" OnEvaluateParameters="ConfirmationDialog_webBlck_WebBlockInstance176_onDataBinding" InstanceID="_WebBlockInstance176"><phHeader><osweb:PlaceHolder runat="server"><%# "Are you sure?" %></osweb:PlaceHolder></phHeader><phContent><osweb:Container runat="server" id="wt_Container206" anonymous="true" onDataBinding="cnt_Container206_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Are you sure you want to remove " %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression62()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " as a friend?" %></osweb:PlaceHolder></osweb:Container></phContent></ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ></osweb:Container></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn Visible="false"><ItemTemplate><%# recTableMainTable_Store(Container.DataItem, Container.ItemIndex) %></ItemTemplate></osweb:OSTemplateColumn></Columns></osweb:OSDataGrid><osweb:Container runat="server" id="wtNavigation_wrapper" onDataBinding="cntNavigation_wrapper_onDataBinding" cssClass="TableRecords_BottomNavigation"><osweb:Container runat="server" id="wt_Container141" anonymous="true" onDataBinding="cnt_Container141_onDataBinding" GridCssClasses="OSInline" style="width: 40%"></osweb:Container><osweb:Container runat="server" id="wt_Container245" anonymous="true" onDataBinding="cnt_Container245_onDataBinding" GridCssClasses="OSInline" style="width: 60%; margin-left: 0px"><RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ runat="server" id="RichWidgets_wt_WebBlockInstance249" onAjaxNotify="RichWidgets_webBlck_WebBlockInstance249_AjaxNotify" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance249_onDataBinding" OnBindDelegates="RichWidgets_webBlck_WebBlockInstance249_BindDelegates" InstanceID="_WebBlockInstance249"></RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ></osweb:Container></osweb:Container></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server" id="wtEmptyResults"><osweb:If runat="server" visible="<%# if_wtEmptyResults() %>"><osweb:Container runat="server" id="wt_Container277" anonymous="true" onDataBinding="cnt_Container277_onDataBinding"><osweb:Span runat="server" id="wt_Text126" anonymous="true" class="heading4"><%# "No results found, maybe these people match your search?" %></osweb:Span><osweb:Container runat="server" id="wtTable_Wrapper3" onDataBinding="cntTable_Wrapper3_onDataBinding"><osweb:OSDataGrid runat="server" id="wtMainTable4" onDataBinding="recTableMainTable4_onDataBinding" cssClass="TableRecords" GridCssClasses="OSFillParent" ClientIDMode="AutoID" AutoGenerateColumns="false" OnSetViewStateStorage="recTableMainTable4_Store" OnClearViewStateStorage="recTableMainTable4_Clear" OnListRefreshDataBind="recTableMainTable4_ListRefreshDataBind" HeaderLineStyle="TableRecords_Header" OddLineStyle="TableRecords_OddLine" EvenLineStyle="TableRecords_EvenLine" OnItemCommand="recTableMainTable4_Select" Gridlines="none"><Columns><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell253_onDataBinding), ((Control) sender).Parent) %><osweb:DynamicImage runat="server" id="wt_Image259" anonymous="true" onDataBinding="img_Image259_onDataBinding" cssClass="border-radius-soft display-block" Source="<%# img_Image259_getFilename() %>" StaticSource="<%# Images.userPhoto_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image259_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image259_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell49_onDataBinding), ((Control) sender).Parent) %><osweb:Container runat="server" id="wt_Container25" anonymous="true" onDataBinding="cnt_Container25_onDataBinding" align="left"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If115() %>"><osweb:HyperLink runat="server" id="wt_Link96" Visible="<%# lnk_Link96_isVisible() %>" Enabled="<%# lnk_Link96_isEnabled() %>" NavigateUrl="<%# lnk_Link96_NavigateUrl() %>"><osweb:Span runat="server" id="wt_InlineExpression274" anonymous="true" onDataBinding="expression_InlineExpression274_onDataBinding" class="heading5"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression274()) %></osweb:Span></osweb:HyperLink></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If115() %>"><osweb:Span runat="server" id="wt_InlineExpression136" anonymous="true" class="heading5"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression136()) %></osweb:Span></osweb:If></osweb:IfPlaceHolder><osweb:Container runat="server" id="wt_Container11" anonymous="true" onDataBinding="cnt_Container11_onDataBinding"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression166()) %></osweb:PlaceHolder></osweb:Container></osweb:Container></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell31_onDataBinding), ((Control) sender).Parent) %><osweb:Container runat="server" id="wt_Container23" anonymous="true" onDataBinding="cnt_Container23_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container261" anonymous="true" onDataBinding="cnt_Container261_onDataBinding" GridCssClasses="OSInline" align="center"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If201() %>"><osweb:LinkButton runat="server" id="wtrem" onDataBinding="lnkrem_onDataBinding" cssClass="Button Is_Default" Visible="<%# lnkrem_isVisible() %>" Enabled="<%# lnkrem_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance137" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance137_onDataBinding" InstanceID="_WebBlockInstance137"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Remove Friend" %></osweb:PlaceHolder></osweb:LinkButton><ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ runat="server" id="ConfirmationDialog_wtconfirmdialog" OnEvaluateParameters="ConfirmationDialog_webBlckconfirmdialog_onDataBinding" InstanceID="confirmdialog"><phHeader><osweb:PlaceHolder runat="server"><%# "Are you sure?" %></osweb:PlaceHolder></phHeader><phContent><osweb:Container runat="server" id="wt_Container175" anonymous="true" onDataBinding="cnt_Container175_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Are you sure you want to remove " %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression139()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " as a friend?" %></osweb:PlaceHolder></osweb:Container></phContent></ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If201() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If24() %>"><osweb:LinkButton runat="server" id="wtrem7" onDataBinding="lnkrem7_onDataBinding" cssClass="Button Is_Default BDisabled" Visible="<%# lnkrem7_isVisible() %>" Enabled="<%# lnkrem7_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance16" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance16_onDataBinding" InstanceID="_WebBlockInstance16"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Friend Requested" %></osweb:PlaceHolder></osweb:LinkButton><osweb:Container runat="server" id="wt_Container128" anonymous="true" onDataBinding="cnt_Container128_onDataBinding"><osweb:LinkButton runat="server" id="wt_Link228" onDataBinding="lnk_Link228_onDataBinding" Visible="<%# lnk_Link228_isVisible() %>" Enabled="<%# lnk_Link228_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Cancel " %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If24() %>"><osweb:IfPlaceHolder runat="server" id="wtTheyHaveRequestedYouAsAFriend"><osweb:If runat="server" visible="<%# if_wtTheyHaveRequestedYouAsAFriend() %>"><osweb:LinkButton runat="server" id="wtrem10" onDataBinding="lnkrem10_onDataBinding" cssClass="Button Is_Default background-success" Visible="<%# lnkrem10_isVisible() %>" Enabled="<%# lnkrem10_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance164" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance164_onDataBinding" InstanceID="_WebBlockInstance164"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Accept" %></osweb:PlaceHolder></osweb:LinkButton><osweb:LinkButton runat="server" id="wtrem11" onDataBinding="lnkrem11_onDataBinding" cssClass="Button Is_Default background-neutral-8" Visible="<%# lnkrem11_isVisible() %>" Enabled="<%# lnkrem11_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance163" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance163_onDataBinding" InstanceID="_WebBlockInstance163"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Reject" %></osweb:PlaceHolder></osweb:LinkButton></osweb:If><osweb:If runat="server" visible="<%# !if_wtTheyHaveRequestedYouAsAFriend() %>"><osweb:LinkButton runat="server" id="wtrem12" onDataBinding="lnkrem12_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkrem12_isVisible() %>" Enabled="<%# lnkrem12_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance275" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance275_onDataBinding" InstanceID="_WebBlockInstance275"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Add Friend" %></osweb:PlaceHolder></osweb:LinkButton></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:Container></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn Visible="false"><ItemTemplate><%# recTableMainTable4_Store(Container.DataItem, Container.ItemIndex) %></ItemTemplate></osweb:OSTemplateColumn></Columns></osweb:OSDataGrid><osweb:Container runat="server" id="wtNavigation_wrapper3" onDataBinding="cntNavigation_wrapper3_onDataBinding" cssClass="TableRecords_BottomNavigation"><osweb:Container runat="server" id="wt_Container168" anonymous="true" onDataBinding="cnt_Container168_onDataBinding" GridCssClasses="OSInline" style="width: 40%"></osweb:Container><osweb:Container runat="server" id="wt_Container146" anonymous="true" onDataBinding="cnt_Container146_onDataBinding" GridCssClasses="OSInline" style="width: 60%; margin-left: 0px"><RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ runat="server" id="RichWidgets_wt_WebBlockInstance85" onAjaxNotify="RichWidgets_webBlck_WebBlockInstance85_AjaxNotify" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance85_onDataBinding" OnBindDelegates="RichWidgets_webBlck_WebBlockInstance85_BindDelegates" InstanceID="_WebBlockInstance85"></RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ></osweb:Container></osweb:Container></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtEmptyResults() %>"></osweb:If></osweb:IfPlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If4() %>"><osweb:Container runat="server" id="wt_Container66" anonymous="true" onDataBinding="cnt_Container66_onDataBinding"><OutSystemsUIWeb_widgets:KPh3bGkvpXUam1o9sufSrTQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance111" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance111_onDataBinding" InstanceID="_WebBlockInstance111"><phListRecords><osweb:Iterator runat="server" id="wtMainTable3" onDataBinding="recListMainTable3_onDataBinding" cssClass="ListRecords" OnItemCommand="recListMainTable3_Select" OnSetViewStateStorage="recListMainTable3_Store" OnClearViewStateStorage="recListMainTable3_Clear" OnListRefreshDataBind="recListMainTable3_ListRefreshDataBind" NeedsBreakAfter="true"><ItemTemplate><osweb:Container runat="server" id="wt_Container230" anonymous="true" onDataBinding="cnt_Container230_onDataBinding"><OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A runat="server" id="OutSystemsUIWeb_wtbuygiftmodal" OnEvaluateParameters="OutSystemsUIWeb_webBlckbuygiftmodal_onDataBinding" InstanceID="buygiftmodal"><phImage><osweb:DynamicImage runat="server" id="wt_Image195" anonymous="true" onDataBinding="img_Image195_onDataBinding" cssClass="border-radius-soft display-block" Source="<%# img_Image195_getFilename() %>" StaticSource="<%# Images.userPhoto_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image195_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage><phTitle><osweb:Container runat="server" id="wt_Container214" anonymous="true" onDataBinding="cnt_Container214_onDataBinding" align="left"><osweb:HyperLink runat="server" id="wt_Link221" Visible="<%# lnk_Link221_isVisible() %>" Enabled="<%# lnk_Link221_isEnabled() %>" NavigateUrl="<%# lnk_Link221_NavigateUrl() %>"><osweb:Span runat="server" id="wt_InlineExpression104" anonymous="true" class="heading5 text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression104()) %></osweb:Span></osweb:HyperLink><osweb:Container runat="server" id="wt_Container132" anonymous="true" onDataBinding="cnt_Container132_onDataBinding"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression152()) %></osweb:PlaceHolder></osweb:Container></osweb:Container></phTitle><phContent><osweb:Container runat="server" id="wt_Container87" anonymous="true" onDataBinding="cnt_Container87_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container39" anonymous="true" onDataBinding="cnt_Container39_onDataBinding" GridCssClasses="OSInline" align="center"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If265() %>"><osweb:LinkButton runat="server" id="wtrem14" onDataBinding="lnkrem14_onDataBinding" cssClass="Button Is_Default" Visible="<%# lnkrem14_isVisible() %>" Enabled="<%# lnkrem14_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Remove Friend" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance232" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance232_onDataBinding" InstanceID="_WebBlockInstance232"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If265() %>"><osweb:IfPlaceHolder runat="server" id="wtTheyHaveRequestedYou3"><osweb:If runat="server" visible="<%# if_wtTheyHaveRequestedYou3() %>"><osweb:LinkButton runat="server" id="wtrem15" onDataBinding="lnkrem15_onDataBinding" cssClass="Button Is_Default background-success" Visible="<%# lnkrem15_isVisible() %>" Enabled="<%# lnkrem15_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Approve" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance273" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance273_onDataBinding" InstanceID="_WebBlockInstance273"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton><osweb:LinkButton runat="server" id="wtrem16" onDataBinding="lnkrem16_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkrem16_isVisible() %>" Enabled="<%# lnkrem16_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Reject" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance54" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance54_onDataBinding" InstanceID="_WebBlockInstance54"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton></osweb:If><osweb:If runat="server" visible="<%# !if_wtTheyHaveRequestedYou3() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If78() %>"><osweb:LinkButton runat="server" id="wtrem17" onDataBinding="lnkrem17_onDataBinding" cssClass="Button Is_Default BDisabled" Visible="<%# lnkrem17_isVisible() %>" Enabled="<%# lnkrem17_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Friend Requested" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance131" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance131_onDataBinding" InstanceID="_WebBlockInstance131"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton><osweb:Container runat="server" id="wt_Container185" anonymous="true" onDataBinding="cnt_Container185_onDataBinding"><osweb:LinkButton runat="server" id="wt_Link64" Visible="<%# lnk_Link64_isVisible() %>" Enabled="<%# lnk_Link64_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Cancel " %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If78() %>"><osweb:LinkButton runat="server" id="wtrem18" onDataBinding="lnkrem18_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkrem18_isVisible() %>" Enabled="<%# lnkrem18_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Add Friend" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance91" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance91_onDataBinding" InstanceID="_WebBlockInstance91"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:LinkButton></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:Container><ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ runat="server" id="ConfirmationDialog_wt_WebBlockInstance279" OnEvaluateParameters="ConfirmationDialog_webBlck_WebBlockInstance279_onDataBinding" InstanceID="_WebBlockInstance279"><phHeader><osweb:PlaceHolder runat="server"><%# "Are you sure?" %></osweb:PlaceHolder></phHeader><phContent><osweb:Container runat="server" id="wt_Container251" anonymous="true" onDataBinding="cnt_Container251_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Are you sure you want to remove " %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression41()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " as a friend?" %></osweb:PlaceHolder></osweb:Container></phContent></ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ></osweb:Container></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A></osweb:Container></ItemTemplate><InvisibleTemplate><%# recListMainTable3_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phListRecords></OutSystemsUIWeb_widgets:KPh3bGkvpXUam1o9sufSrTQ></osweb:Container><osweb:Container runat="server" id="wtNavigation_wrapper2" onDataBinding="cntNavigation_wrapper2_onDataBinding" cssClass="TableRecords_BottomNavigation"><osweb:Container runat="server" id="wt_Container278" anonymous="true" onDataBinding="cnt_Container278_onDataBinding" GridCssClasses="OSInline" style="width: 40%"><RichWidgets_widgets:KGC2Vk_FubdDDjDgOUsciQw runat="server" id="RichWidgets_wt_WebBlockInstance199" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance199_onDataBinding" InstanceID="_WebBlockInstance199"></RichWidgets_widgets:KGC2Vk_FubdDDjDgOUsciQw></osweb:Container><osweb:Container runat="server" id="wt_Container117" anonymous="true" onDataBinding="cnt_Container117_onDataBinding" GridCssClasses="OSInline" style="width: 60%; margin-left: 0px"><RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ runat="server" id="RichWidgets_wt_WebBlockInstance125" onAjaxNotify="RichWidgets_webBlck_WebBlockInstance125_AjaxNotify" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance125_onDataBinding" OnBindDelegates="RichWidgets_webBlck_WebBlockInstance125_BindDelegates" InstanceID="_WebBlockInstance125"></RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ></osweb:Container></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wt_Container252" anonymous="true" onDataBinding="cnt_Container252_onDataBinding"><OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance105" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance105_onDataBinding" InstanceID="_WebBlockInstance105"><phImage></phImage><phTitle><osweb:PlaceHolder runat="server"><%# "Upcoming Birthdays" %></osweb:PlaceHolder></phTitle><phContent><osweb:OSDataGrid runat="server" id="wtSecondaryTable" onDataBinding="recTableSecondaryTable_onDataBinding" cssClass="TableRecords table-no-header no-responsive" GridCssClasses="OSFillParent" ClientIDMode="AutoID" AutoGenerateColumns="false" OnSetViewStateStorage="recTableSecondaryTable_Store" OnClearViewStateStorage="recTableSecondaryTable_Clear" OnListRefreshDataBind="recTableSecondaryTable_ListRefreshDataBind" HeaderLineStyle="TableRecords_Header" OddLineStyle="TableRecords_OddLine" EvenLineStyle="TableRecords_EvenLine" OnItemCommand="recTableSecondaryTable_Select" Gridlines="none"><Columns><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell209_onDataBinding), ((Control) sender).Parent) %><osweb:DynamicImage runat="server" id="wt_Image53" anonymous="true" cssClass="border-radius-circle display-block" Source="<%# img_Image53_getFilename() %>" StaticSource="<%# Images.userPhoto_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image53_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image53_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image53_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><osweb:HyperLink runat="server" id="wt_Link157" Visible="<%# lnk_Link157_isVisible() %>" Enabled="<%# lnk_Link157_isEnabled() %>" NavigateUrl="<%# lnk_Link157_NavigateUrl() %>"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression112()) %></osweb:PlaceHolder></osweb:HyperLink></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><osweb:Container runat="server" id="wt_Container121" anonymous="true" onDataBinding="cnt_Container121_onDataBinding" align="right"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression82()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression17()) %></osweb:PlaceHolder></osweb:Container></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn Visible="false"><ItemTemplate><%# recTableSecondaryTable_Store(Container.DataItem, Container.ItemIndex) %></ItemTemplate></osweb:OSTemplateColumn></Columns></osweb:OSDataGrid></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtFriends() %>"><osweb:Container runat="server" id="wt_Container98" anonymous="true" onDataBinding="cnt_Container98_onDataBinding"><osweb:Container runat="server" id="wt_Container129" anonymous="true" onDataBinding="cnt_Container129_onDataBinding" align="center"><osweb:DynamicImage runat="server" id="wt_Image142" anonymous="true" StaticSource="<%# Images.UserIcon_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></osweb:Container><osweb:Container runat="server" id="wt_Container192" anonymous="true" onDataBinding="cnt_Container192_onDataBinding" align="center"><osweb:Span runat="server" id="wt_InlineExpression240" anonymous="true" onDataBinding="expression_InlineExpression240_onDataBinding" class="heading4"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression240()) %></osweb:Span><osweb:Container runat="server" id="wt_Container65" anonymous="true" onDataBinding="cnt_Container65_onDataBinding"><osweb:Container runat="server" id="wt_Container183" anonymous="true" onDataBinding="cnt_Container183_onDataBinding" GridCssClasses="ThemeGrid_Width6"><osweb:Button runat="server" id="wt_Button40" cssClass="Button" Visible="<%# btn_Button40_isVisible() %>" Enabled="<%# btn_Button40_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button40_NavigateUrl() %>" text="<%# btn_Button40_getLabel() %>"/></osweb:Container></osweb:Container></osweb:Container></osweb:Container></osweb:If></osweb:IfPlaceHolder></phMainContent><phSection2Content></phSection2Content><phMainContent2></phMainContent2><phFooter><widgets:KcGiUZvJCtEiF3fde7a3MaQ runat="server" id="wt_WebBlockInstance233" OnEvaluateParameters="webBlck_WebBlockInstance233_onDataBinding" InstanceID="_WebBlockInstance233"></widgets:KcGiUZvJCtEiF3fde7a3MaQ></phFooter></widgets:KNpFec5kizUC9WpROYh9ejw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
