﻿.content{top:100px;} .phone .content{top:90px;} .BDisabled{background: gray;pointer-events:none;}
.timeline-item-icon
{width: 40px;height:40px;}

.EditRecord_Caption{display:block;width: 100%!important;}
.EditRecord_Value{display:block;width: 100%!important;}


.inputfile + label {
width:100%;       
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: #91be63!important;
border-radius: var(--border-radius-soft);
border: var(--border-size-s) solid currentColor;
color: var(--color-primary);
cursor: pointer;
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
font-weight: var(--font-semi-bold);
height: 40px;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin: var(--space-none);
padding: var(--space-none) var(--space-base);
-webkit-transition: all 180ms linear;
transition: all 180ms linear;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

a.btndownload {
    
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
background-color: #05bcd9!important;
border-radius: var(--border-radius-soft);
border: var(--border-size-s) solid currentColor;
color: var(--color-primary);
cursor: pointer;
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
font-weight: var(--font-semi-bold);
height: 40px;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin: var(--space-none);
padding: var(--space-none) var(--space-base);
-webkit-transition: all 180ms linear;  
transition: all 180ms linear;
width:100%;
    }
