﻿<%@ Page Language="c#" Codebehind="FundHistory.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowLoggedIn.ScrnFundHistory" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kvm5_RC0mw0KuAAMxuiwtpQ" Src="Blocks\BIFY\Common\Layout.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_5sqIAe8Z0mLMNBss5hGzg" Src="Blocks\BIFY\Common\Menu.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAotDlTFMDkS99aVrmrPR8g" Src="Blocks\BIFY\Weblocks\MeFriendsBlock.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KlboP3Mo1qU6C2FuyPN_r2w" Src="Blocks\BIFY\Weblocks\SearchBoxHeader.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KgBhehbBVkky2BijDw6Yhmw" Src="Blocks\BIFY\Weblocks\SharingCircles2.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAWqhXH28h0C_6V89jNv2hQ" Src="Blocks\BIFY\Structure\Columns2.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K0OMmaHyl9E68I_pv5pITnw" Src="Blocks\BIFY\Content\Card.ascx" %>
<%@ Register TagPrefix="ConfirmationDialog_widgets" TagName="KFW1WqsmMG0qPUk7hxEVuEQ" Src="Blocks\BIFY\ConfirmationDialog\ConfirmationDialog.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kez54l8FgZEaLehRA_vrH2Q" Src="Blocks\BIFY\Navigation\Timeline.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KkzoSkMhQfU6gpXxw7fuJUA" Src="Blocks\BIFY\Navigation\TimelineItem.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K31jZDWfpQUa9I8Aj0kONEw" Src="Blocks\BIFY\Content\BlankSlate.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KBJOBUaRDjEqu49x5gGiQ9A" Src="Blocks\BIFY\Content\CardSectioned.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KVjZOUnUljEGP35yzk8_u5w" Src="Blocks\BIFY\Numbers\Counter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcGiUZvJCtEiF3fde7a3MaQ" Src="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kvm5_RC0mw0KuAAMxuiwtpQ runat="server" id="wt_WebBlockInstance20" OnEvaluateParameters="webBlck_WebBlockInstance20_onDataBinding" InstanceID="_WebBlockInstance20"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance68" OnEvaluateParameters="webBlck_WebBlockInstance68_onDataBinding" InstanceID="_WebBlockInstance68"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter><widgets:K_5sqIAe8Z0mLMNBss5hGzg runat="server" id="wt_WebBlockInstance41" OnEvaluateParameters="webBlck_WebBlockInstance41_onDataBinding" InstanceID="_WebBlockInstance41"></widgets:K_5sqIAe8Z0mLMNBss5hGzg></phCenter><phRight><widgets:KAotDlTFMDkS99aVrmrPR8g runat="server" id="wt_WebBlockInstance82" OnEvaluateParameters="webBlck_WebBlockInstance82_onDataBinding" InstanceID="_WebBlockInstance82"></widgets:KAotDlTFMDkS99aVrmrPR8g><widgets:KlboP3Mo1qU6C2FuyPN_r2w runat="server" id="wt_WebBlockInstance28" OnEvaluateParameters="webBlck_WebBlockInstance28_onDataBinding" InstanceID="_WebBlockInstance28"></widgets:KlboP3Mo1qU6C2FuyPN_r2w></phRight><phHeaderContent></phHeaderContent><phBreadcrumbs><osweb:Container runat="server" id="wt_Container39" anonymous="true" onDataBinding="cnt_Container39_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link40" Visible="<%# lnk_Link40_isVisible() %>" Enabled="<%# lnk_Link40_isEnabled() %>" NavigateUrl="<%# lnk_Link40_NavigateUrl() %>"><osweb:Container runat="server" id="wt_Container10" anonymous="true" onDataBinding="cnt_Container10_onDataBinding" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance5" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Back" %></osweb:PlaceHolder></osweb:Container></osweb:HyperLink></osweb:Container></phBreadcrumbs><phTitle><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression38()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " Activity" %></osweb:PlaceHolder></phTitle><phActions><widgets:KgBhehbBVkky2BijDw6Yhmw runat="server" id="wt_WebBlockInstance4" OnEvaluateParameters="webBlck_WebBlockInstance4_onDataBinding" InstanceID="_WebBlockInstance4"></widgets:KgBhehbBVkky2BijDw6Yhmw><osweb:LinkButton runat="server" id="wtclosefund" onDataBinding="lnkclosefund_onDataBinding" cssClass="Button background-red-dark" Visible="<%# lnkclosefund_isVisible() %>" Enabled="<%# lnkclosefund_isEnabled() %>" CausesValidation="false" title="<%# lnkclosefund_getTitle() %>"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance75" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance75_onDataBinding" InstanceID="_WebBlockInstance75"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Close this Fund" %></osweb:PlaceHolder></osweb:LinkButton></phActions><phMainContent><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance89" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance89_onDataBinding" InstanceID="_WebBlockInstance89"><phColumn1><OutSystemsUIWeb_widgets:K0OMmaHyl9E68I_pv5pITnw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance76" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance76_onDataBinding" InstanceID="_WebBlockInstance76"><phContent><ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ runat="server" id="ConfirmationDialog_wt_WebBlockInstance15" OnEvaluateParameters="ConfirmationDialog_webBlck_WebBlockInstance15_onDataBinding" InstanceID="_WebBlockInstance15"><phHeader><osweb:PlaceHolder runat="server"><%# "Are you sure?" %></osweb:PlaceHolder></phHeader><phContent><osweb:Container runat="server" id="wt_Container79" anonymous="true" onDataBinding="cnt_Container79_onDataBinding"><osweb:Container runat="server" id="wt_Container67" anonymous="true" onDataBinding="cnt_Container67_onDataBinding"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression45()) %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container3" anonymous="true" onDataBinding="cnt_Container3_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Your friends will no longer be able to contribute to this fund?" %></osweb:PlaceHolder></osweb:Container></phContent></ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ><osweb:Container runat="server" id="wt_Container69" anonymous="true" onDataBinding="cnt_Container69_onDataBinding"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If52() %>"><osweb:Container runat="server" id="wt_Container33" anonymous="true" onDataBinding="cnt_Container33_onDataBinding"><osweb:Span runat="server" id="wt_Text78" anonymous="true" onDataBinding="wt_Text78_onDataBinding"><%# "See who has kindly contributed to your fund / sponsorship over time and view any personal messages that were sent to you! " %></osweb:Span></osweb:Container><OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance49" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance49_onDataBinding" InstanceID="_WebBlockInstance49"><phContent><osweb:Iterator runat="server" id="wtListRecords1" onDataBinding="recListListRecords1_onDataBinding" cssClass="ListRecords" OnItemCommand="recListListRecords1_Select" OnSetViewStateStorage="recListListRecords1_Store" OnClearViewStateStorage="recListListRecords1_Clear" OnListRefreshDataBind="recListListRecords1_ListRefreshDataBind" NeedsBreakAfter="true"><ItemTemplate><OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance54" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance54_onDataBinding" InstanceID="_WebBlockInstance54"><phIcon><osweb:DynamicImage runat="server" id="wt_Image81" anonymous="true" cssClass="border-radius-circle" Source="<%# img_Image81_getFilename() %>" StaticSource="<%# Images.UserIcon_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image81_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon><phDate><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression8()) %></osweb:PlaceHolder></phDate><phContent><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression86" anonymous="true" onDataBinding="expression_InlineExpression86_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression86()) %></osweb:Span><osweb:PlaceHolder runat="server"><%# " deposited " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression35" anonymous="true" onDataBinding="expression_InlineExpression35_onDataBinding" class="pink"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression35()) %></osweb:Span></osweb:Container><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If88() %>"><osweb:Container runat="server" id="wt_Container36" anonymous="true" onDataBinding="cnt_Container36_onDataBinding"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression27()) %></osweb:PlaceHolder></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If88() %>"></osweb:If></osweb:IfPlaceHolder></phContent></OutSystemsUIWeb_widgets:KkzoSkMhQfU6gpXxw7fuJUA></ItemTemplate><InvisibleTemplate><%# recListListRecords1_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phContent></OutSystemsUIWeb_widgets:Kez54l8FgZEaLehRA_vrH2Q></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If52() %>"><OutSystemsUIWeb_widgets:K31jZDWfpQUa9I8Aj0kONEw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance24" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance24_onDataBinding" InstanceID="_WebBlockInstance24"><phContent><osweb:Container runat="server" id="wt_Container44" anonymous="true" onDataBinding="cnt_Container44_onDataBinding" cssClass="font-size-display text-neutral-5"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance60" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance60_onDataBinding" InstanceID="_WebBlockInstance60"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container64" anonymous="true" onDataBinding="cnt_Container64_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# "No contributions have been made yet" %></osweb:PlaceHolder></osweb:Container></phContent></OutSystemsUIWeb_widgets:K31jZDWfpQUa9I8Aj0kONEw></osweb:If></osweb:IfPlaceHolder></osweb:Container></phContent></OutSystemsUIWeb_widgets:K0OMmaHyl9E68I_pv5pITnw></phColumn1><phColumn2><OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance31" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance31_onDataBinding" InstanceID="_WebBlockInstance31"><phImage><osweb:DynamicImage runat="server" id="wt_Image13" anonymous="true" onDataBinding="img_Image13_onDataBinding" Source="<%# img_Image13_getFilename() %>" StaticSource="<%# Images.fancysocks531790694_4936x3291_Source() %>" Entity="FundImage" Attribute="Image" EntityId="<%# img_Image13_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage><phTitle><osweb:Container runat="server" id="wt_Container70" anonymous="true" onDataBinding="cnt_Container70_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression43()) %></osweb:PlaceHolder></osweb:Container></phTitle><phContent><osweb:Container runat="server" id="wt_Container55" anonymous="true" onDataBinding="cnt_Container55_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression16()) %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wtperc2" onDataBinding="cntperc2_onDataBinding" align="center"><OutSystemsUIWeb_widgets:KVjZOUnUljEGP35yzk8_u5w runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance74" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance74_onDataBinding" InstanceID="_WebBlockInstance74"><phContent><osweb:Container runat="server" id="wt_Container23" anonymous="true" onDataBinding="cnt_Container23_onDataBinding" cssClass="font-size-display text-pink" GridCssClasses="OSInline"><osweb:PlaceHolder runat="server"><%# "&#163;" %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression17()) %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container22" anonymous="true" onDataBinding="cnt_Container22_onDataBinding" cssClass="text-shade3" GridCssClasses="OSInline"><osweb:Span runat="server" id="wt_Text11" anonymous="true" onDataBinding="wt_Text11_onDataBinding"><%# "Raised so far" %></osweb:Span></osweb:Container></phContent></OutSystemsUIWeb_widgets:KVjZOUnUljEGP35yzk8_u5w></osweb:Container></phContent><phFooter><osweb:Container runat="server" id="wt_Container85" anonymous="true" onDataBinding="cnt_Container85_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# "Ends on " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression9" anonymous="true" onDataBinding="expression_InlineExpression9_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression9()) %></osweb:Span></osweb:Container></phFooter></OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></phMainContent><phFooter><widgets:KcGiUZvJCtEiF3fde7a3MaQ runat="server" id="wt_WebBlockInstance63" OnEvaluateParameters="webBlck_WebBlockInstance63_onDataBinding" InstanceID="_WebBlockInstance63"></widgets:KcGiUZvJCtEiF3fde7a3MaQ></phFooter></widgets:Kvm5_RC0mw0KuAAMxuiwtpQ><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
