﻿<%@ Page Language="c#" Codebehind="HomepageOld.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowNotLoggedIn.ScrnHomepageOld" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kz3isd_zy0kiORsLuRetsJw" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KvjOOjGhXMUi5hSbN9Ooc0g" Src="Blocks\BIFY\Weblocks\LoginRegister.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KnfUSiLskTUmjVXcue64Gkg" Src="Blocks\BIFY\Weblocks\LoginRegisterMobile.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVlxoCzEyUUmJdaTCoz8lHA" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KmY_4f0uzn02PqXNoWysbUw" Src="Blocks\BIFY\Weblocks\HomeVideo.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KSABazdW4NE63cMWiAzw6zQ" Src="Blocks\BIFY\Weblocks\ThreeBoxes.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K1026Q6erlEC382GuuEVI7A" Src="Blocks\BIFY\Weblocks\ImageLeftURL.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KH3ZfEzegJ0yIiZ7r___j6g" Src="Blocks\BIFY\Weblocks\ImageRightUrl.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K0hTyRcbOqke0oE0IH22uyA" Src="Blocks\BIFY\Weblocks\BannerCTA.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KDTSM_QmRekatpgrnOMmUow" Src="Blocks\BIFY\Controls\Search.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kz0Pe8bEM1keIAmKQ6Kxphg" Src="Blocks\BIFY\Weblocks\FooterNotLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kz3isd_zy0kiORsLuRetsJw runat="server" id="wt_WebBlockInstance5" OnEvaluateParameters="webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance46" OnEvaluateParameters="webBlck_WebBlockInstance46_onDataBinding" InstanceID="_WebBlockInstance46"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter></phCenter><phRight><widgets:KvjOOjGhXMUi5hSbN9Ooc0g runat="server" id="wt_WebBlockInstance1" OnEvaluateParameters="webBlck_WebBlockInstance1_onDataBinding" InstanceID="_WebBlockInstance1"></widgets:KvjOOjGhXMUi5hSbN9Ooc0g></phRight><phHeaderContent><osweb:Container runat="server" id="wt_Container11" anonymous="true" onDataBinding="cnt_Container11_onDataBinding" cssClass="mobile_login_register"><widgets:KnfUSiLskTUmjVXcue64Gkg runat="server" id="wt_WebBlockInstance64" OnEvaluateParameters="webBlck_WebBlockInstance64_onDataBinding" InstanceID="_WebBlockInstance64"></widgets:KnfUSiLskTUmjVXcue64Gkg></osweb:Container></phHeaderContent><phMainContent><widgets:KVlxoCzEyUUmJdaTCoz8lHA runat="server" id="wt_WebBlockInstance86" OnEvaluateParameters="webBlck_WebBlockInstance86_onDataBinding" InstanceID="_WebBlockInstance86"><phTitle><osweb:PlaceHolder runat="server"><%# "Welcome to BIFY" %></osweb:PlaceHolder></phTitle><phTitle2><osweb:PlaceHolder runat="server"><%# "Organise your gift lists and coordinate purchases with friends and family.  Easy and fun to use." %></osweb:PlaceHolder></phTitle2><phButton><osweb:Button runat="server" id="wt_Button12" cssClass="Button Is_Default" Visible="<%# btn_Button12_isVisible() %>" Enabled="<%# btn_Button12_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button12_NavigateUrl() %>" text="<%# btn_Button12_getLabel() %>"/></phButton><phImage><osweb:DynamicImage runat="server" id="wt_Image29" anonymous="true" StaticSource="<%# Images.hero_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage></widgets:KVlxoCzEyUUmJdaTCoz8lHA><widgets:KmY_4f0uzn02PqXNoWysbUw runat="server" id="wt_WebBlockInstance67" OnEvaluateParameters="webBlck_WebBlockInstance67_onDataBinding" InstanceID="_WebBlockInstance67"></widgets:KmY_4f0uzn02PqXNoWysbUw><widgets:KSABazdW4NE63cMWiAzw6zQ runat="server" id="wt_WebBlockInstance56" OnEvaluateParameters="webBlck_WebBlockInstance56_onDataBinding" InstanceID="_WebBlockInstance56"><phIcon1><osweb:DynamicImage runat="server" id="wt_Image2" anonymous="true" StaticSource="<%# Images.Ellipse1_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon1><phTitle1><osweb:PlaceHolder runat="server"><%# "List It" %></osweb:PlaceHolder></phTitle1><phText><osweb:PlaceHolder runat="server"><%# "Create a gift list of perfect presents" %></osweb:PlaceHolder></phText><phIcon2><osweb:DynamicImage runat="server" id="wt_Image82" anonymous="true" StaticSource="<%# Images.Ellipse1copy_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon2><phTitle2><osweb:PlaceHolder runat="server"><%# "Share It" %></osweb:PlaceHolder></phTitle2><phText2><osweb:PlaceHolder runat="server"><%# "Share your gift list on social media" %></osweb:PlaceHolder></phText2><phIcon3><osweb:DynamicImage runat="server" id="wt_Image52" anonymous="true" StaticSource="<%# Images.Ellipse1copy2_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon3><phTitle3><osweb:PlaceHolder runat="server"><%# "Gift It" %></osweb:PlaceHolder></phTitle3><phText3><osweb:PlaceHolder runat="server"><%# "Buy and receive gifts from members" %></osweb:PlaceHolder></phText3></widgets:KSABazdW4NE63cMWiAzw6zQ><widgets:K1026Q6erlEC382GuuEVI7A runat="server" id="wt_WebBlockInstance13" OnEvaluateParameters="webBlck_WebBlockInstance13_onDataBinding" InstanceID="_WebBlockInstance13"><phTitle><osweb:PlaceHolder runat="server"><%# "Family Member&#39;s Birthday?" %></osweb:PlaceHolder></phTitle><phText><osweb:PlaceHolder runat="server"><%# "No worries - ask your friends and family to help you to create a list of gifts that they will love, coordinate who is buying what, and then get them all from one site!  " %></osweb:PlaceHolder></phText><phButton><osweb:Button runat="server" id="wt_Button70" cssClass="Button Button_Transparent" Visible="<%# btn_Button70_isVisible() %>" Enabled="<%# btn_Button70_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button70_NavigateUrl() %>" text="<%# btn_Button70_getLabel() %>"/></phButton></widgets:K1026Q6erlEC382GuuEVI7A><widgets:KH3ZfEzegJ0yIiZ7r___j6g runat="server" id="wt_WebBlockInstance39" OnEvaluateParameters="webBlck_WebBlockInstance39_onDataBinding" InstanceID="_WebBlockInstance39"><phTitle><osweb:Span runat="server" id="wt_Text22" anonymous="true" onDataBinding="wt_Text22_onDataBinding"><%# "Got enough Socks?" %></osweb:Span></phTitle><phText><osweb:Span runat="server" id="wt_Text19" anonymous="true" onDataBinding="wt_Text19_onDataBinding"><%# "Create your own gift list and share with your loved ones, so you don’t have to receive the dreaded socks again (unless you want some!). " %></osweb:Span></phText><phButton><osweb:HyperLink runat="server" id="wt_Link14" Visible="<%# lnk_Link14_isVisible() %>" Enabled="<%# lnk_Link14_isEnabled() %>" NavigateUrl="<%# lnk_Link14_NavigateUrl() %>"><osweb:Container runat="server" id="wt_Container77" anonymous="true" onDataBinding="cnt_Container77_onDataBinding"><osweb:PlaceHolder runat="server"><%# "This Christmas &#163;1billion of wasted Gifts were exchanged in the UK " %></osweb:PlaceHolder></osweb:Container></osweb:HyperLink></phButton><phTitle2><osweb:Span runat="server" id="wt_Text66" anonymous="true" onDataBinding="wt_Text66_onDataBinding"><%# "Got enough Socks?" %></osweb:Span></phTitle2><phText2><osweb:Span runat="server" id="wt_Text65" anonymous="true" onDataBinding="wt_Text65_onDataBinding"><%# "Create your own gift list and share with your loved ones, so you don’t have to receive the dreaded socks again (unless you want some!). " %></osweb:Span></phText2><phButton2><osweb:HyperLink runat="server" id="wt_Link30" Visible="<%# lnk_Link30_isVisible() %>" Enabled="<%# lnk_Link30_isEnabled() %>" NavigateUrl="<%# lnk_Link30_NavigateUrl() %>"><osweb:Container runat="server" id="wt_Container69" anonymous="true" onDataBinding="cnt_Container69_onDataBinding"><osweb:PlaceHolder runat="server"><%# "This Christmas &#163;1billion of wasted Gifts were exchanged in the UK " %></osweb:PlaceHolder></osweb:Container></osweb:HyperLink></phButton2></widgets:KH3ZfEzegJ0yIiZ7r___j6g><widgets:K1026Q6erlEC382GuuEVI7A runat="server" id="wt_WebBlockInstance74" OnEvaluateParameters="webBlck_WebBlockInstance74_onDataBinding" InstanceID="_WebBlockInstance74"><phTitle><osweb:PlaceHolder runat="server"><%# "Met someone amazing?" %></osweb:PlaceHolder></phTitle><phText><osweb:PlaceHolder runat="server"><%# "Met a girl or guy and want to present them with a Gift? All you need is their phone number or email address and you can gift them something wonderful!" %></osweb:PlaceHolder></phText><phButton><osweb:Button runat="server" id="wt_Button50" cssClass="Button Button_Transparent" Visible="<%# btn_Button50_isVisible() %>" Enabled="<%# btn_Button50_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button50_NavigateUrl() %>" text="<%# btn_Button50_getLabel() %>"/></phButton></widgets:K1026Q6erlEC382GuuEVI7A><widgets:K0hTyRcbOqke0oE0IH22uyA runat="server" id="wt_WebBlockInstance42" OnEvaluateParameters="webBlck_WebBlockInstance42_onDataBinding" InstanceID="_WebBlockInstance42"><phTitle1><osweb:PlaceHolder runat="server"><%# "Ready to go? Search for a gift list now!" %></osweb:PlaceHolder></phTitle1><phTitle2><OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance84" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance84_onDataBinding" InstanceID="_WebBlockInstance84"><phIcon><osweb:HyperLink runat="server" id="wtslink" onDataBinding="lnkslink_onDataBinding" Visible="<%# lnkslink_isVisible() %>" Enabled="<%# lnkslink_isEnabled() %>" NavigateUrl="<%# lnkslink_NavigateUrl() %>"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance8" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance8_onDataBinding" InstanceID="_WebBlockInstance8"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:HyperLink></phIcon><phInput><osweb:TextBox runat="server" id="wt_Input3" onDataBinding="inputwt_Input3_onDataBinding" cssClass="input" GridCssClasses="ThemeGrid_Width4" Visible="<%# inputwt_Input3_isVisible() %>" ReadOnly="<%# !inputwt_Input3_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwt_Input3_input_value() %>" onTextChanged="inputwt_Input3_input_onTextChanged" Mandatory="<%# inputwt_Input3_isMandatory() %>" placeholder="<%# inputwt_Input3_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wt_Input3") ?? Container.FindControl("wt_Input3")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wt_Input3ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wt_Input3"/><osweb:TextValidator runat="server" display="Dynamic" id="wt_Input3ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wt_Input3" ClientValidationFunction="OsCustomValidatorText"/></phInput><phActions></phActions></OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow><osweb:PlaceHolder runat="server"><%# expression_InlineExpression58() %></osweb:PlaceHolder></phTitle2></widgets:K0hTyRcbOqke0oE0IH22uyA><widgets:Kz0Pe8bEM1keIAmKQ6Kxphg runat="server" id="wt_WebBlockInstance40" OnEvaluateParameters="webBlck_WebBlockInstance40_onDataBinding" InstanceID="_WebBlockInstance40"></widgets:Kz0Pe8bEM1keIAmKQ6Kxphg></phMainContent><phFooter></phFooter></widgets:Kz3isd_zy0kiORsLuRetsJw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
