﻿<%@ Page Language="c#" Codebehind="Homepage.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowNotLoggedIn.ScrnHomepage" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kz3isd_zy0kiORsLuRetsJw" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KvjOOjGhXMUi5hSbN9Ooc0g" Src="Blocks\BIFY\Weblocks\LoginRegister.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KnfUSiLskTUmjVXcue64Gkg" Src="Blocks\BIFY\Weblocks\LoginRegisterMobile.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVlxoCzEyUUmJdaTCoz8lHA" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K1026Q6erlEC382GuuEVI7A" Src="Blocks\BIFY\Weblocks\ImageLeftURL.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KH3ZfEzegJ0yIiZ7r___j6g" Src="Blocks\BIFY\Weblocks\ImageRightUrl.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KmY_4f0uzn02PqXNoWysbUw" Src="Blocks\BIFY\Weblocks\HomeVideo.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kz0Pe8bEM1keIAmKQ6Kxphg" Src="Blocks\BIFY\Weblocks\FooterNotLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kz3isd_zy0kiORsLuRetsJw runat="server" id="wt_WebBlockInstance101" OnEvaluateParameters="webBlck_WebBlockInstance101_onDataBinding" InstanceID="_WebBlockInstance101"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance91" OnEvaluateParameters="webBlck_WebBlockInstance91_onDataBinding" InstanceID="_WebBlockInstance91"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter></phCenter><phRight><widgets:KvjOOjGhXMUi5hSbN9Ooc0g runat="server" id="wt_WebBlockInstance98" OnEvaluateParameters="webBlck_WebBlockInstance98_onDataBinding" InstanceID="_WebBlockInstance98"></widgets:KvjOOjGhXMUi5hSbN9Ooc0g></phRight><phHeaderContent><osweb:Container runat="server" id="wt_Container80" anonymous="true" onDataBinding="cnt_Container80_onDataBinding" cssClass="mobile_login_register"><widgets:KnfUSiLskTUmjVXcue64Gkg runat="server" id="wt_WebBlockInstance76" OnEvaluateParameters="webBlck_WebBlockInstance76_onDataBinding" InstanceID="_WebBlockInstance76"></widgets:KnfUSiLskTUmjVXcue64Gkg></osweb:Container></phHeaderContent><phMainContent><widgets:KVlxoCzEyUUmJdaTCoz8lHA runat="server" id="wt_WebBlockInstance92" OnEvaluateParameters="webBlck_WebBlockInstance92_onDataBinding" InstanceID="_WebBlockInstance92"><phTitle><osweb:PlaceHolder runat="server"><%# "Welcome to BIFY" %></osweb:PlaceHolder></phTitle><phTitle2><osweb:Button runat="server" id="wt_Button44" onDataBinding="btn_Button44_onDataBinding" cssClass="Button Is_Default" Visible="<%# btn_Button44_isVisible() %>" Enabled="<%# btn_Button44_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button44_NavigateUrl() %>" text="<%# btn_Button44_getLabel() %>"/></phTitle2><phButton></phButton><phImage><osweb:DynamicImage runat="server" id="wt_Image9" anonymous="true" StaticSource="<%# Images.hero2_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage></widgets:KVlxoCzEyUUmJdaTCoz8lHA><widgets:K1026Q6erlEC382GuuEVI7A runat="server" id="wt_WebBlockInstance42" OnEvaluateParameters="webBlck_WebBlockInstance42_onDataBinding" InstanceID="_WebBlockInstance42"><phTitle><osweb:PlaceHolder runat="server"><%# "Gift it with BIFY" %></osweb:PlaceHolder></phTitle><phText><osweb:Container runat="server" id="wt_Container90" anonymous="true" onDataBinding="cnt_Container90_onDataBinding"><osweb:Container runat="server" id="wt_Container66" anonymous="true" onDataBinding="cnt_Container66_onDataBinding" cssClass="text-neutral-1" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance120" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance120_onDataBinding" InstanceID="_WebBlockInstance120"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container89" anonymous="true" onDataBinding="cnt_Container89_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:PlaceHolder runat="server"><%# "Never buy the wrong Gift again" %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container85" anonymous="true" onDataBinding="cnt_Container85_onDataBinding"><osweb:Container runat="server" id="wt_Container78" anonymous="true" onDataBinding="cnt_Container78_onDataBinding" cssClass="text-neutral-1" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance56" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance56_onDataBinding" InstanceID="_WebBlockInstance56"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container122" anonymous="true" onDataBinding="cnt_Container122_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:PlaceHolder runat="server"><%# "Eliminate the hassle of what to buy" %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container110" anonymous="true" onDataBinding="cnt_Container110_onDataBinding"><osweb:Container runat="server" id="wt_Container10" anonymous="true" onDataBinding="cnt_Container10_onDataBinding" cssClass="text-neutral-1" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance22" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance22_onDataBinding" InstanceID="_WebBlockInstance22"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container108" anonymous="true" onDataBinding="cnt_Container108_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:PlaceHolder runat="server"><%# "Shop from any retail outlet on the planet" %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container36" anonymous="true" onDataBinding="cnt_Container36_onDataBinding"><osweb:Container runat="server" id="wt_Container18" anonymous="true" onDataBinding="cnt_Container18_onDataBinding" cssClass="text-neutral-1" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance4" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance4_onDataBinding" InstanceID="_WebBlockInstance4"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container58" anonymous="true" onDataBinding="cnt_Container58_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:PlaceHolder runat="server"><%# "List Gifts you would like (forget subtle hints - &#128518; forever)" %></osweb:PlaceHolder></osweb:Container></osweb:Container></phText><phButton><osweb:Button runat="server" id="wt_Button27" cssClass="Button Button_Transparent" Visible="<%# btn_Button27_isVisible() %>" Enabled="<%# btn_Button27_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button27_NavigateUrl() %>" text="<%# btn_Button27_getLabel() %>"/></phButton></widgets:K1026Q6erlEC382GuuEVI7A><widgets:KH3ZfEzegJ0yIiZ7r___j6g runat="server" id="wt_WebBlockInstance113" OnEvaluateParameters="webBlck_WebBlockInstance113_onDataBinding" InstanceID="_WebBlockInstance113"><phTitle><osweb:Span runat="server" id="wt_Text24" anonymous="true" onDataBinding="wt_Text24_onDataBinding"><%# "Special Occasions" %></osweb:Span></phTitle><phText><osweb:Container runat="server" id="wt_Container31" anonymous="true" onDataBinding="cnt_Container31_onDataBinding"><osweb:Container runat="server" id="wt_Container114" anonymous="true" onDataBinding="cnt_Container114_onDataBinding" cssClass="text-neutral-0" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance5" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container71" anonymous="true" onDataBinding="cnt_Container71_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:Span runat="server" id="wt_Text65" anonymous="true" onDataBinding="wt_Text65_onDataBinding"><%# "Wedding List without &quot;the&quot; single retailer restriction" %></osweb:Span></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container29" anonymous="true" onDataBinding="cnt_Container29_onDataBinding"><osweb:Container runat="server" id="wt_Container21" anonymous="true" onDataBinding="cnt_Container21_onDataBinding" cssClass="text-neutral-0" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance32" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance32_onDataBinding" InstanceID="_WebBlockInstance32"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container14" anonymous="true" onDataBinding="cnt_Container14_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:Span runat="server" id="wt_Text7" anonymous="true" onDataBinding="wt_Text7_onDataBinding"><%# "BIFY Funds for those expensive items or vacations" %></osweb:Span></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container33" anonymous="true" onDataBinding="cnt_Container33_onDataBinding"><osweb:Container runat="server" id="wt_Container124" anonymous="true" onDataBinding="cnt_Container124_onDataBinding" cssClass="text-neutral-0" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance70" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance70_onDataBinding" InstanceID="_WebBlockInstance70"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container47" anonymous="true" onDataBinding="cnt_Container47_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:Span runat="server" id="wt_Text26" anonymous="true" onDataBinding="wt_Text26_onDataBinding"><%# "Get reminded of a birthday (or &quot;your&quot; wedding anniversary &#128519; )" %></osweb:Span></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container13" anonymous="true" onDataBinding="cnt_Container13_onDataBinding"><osweb:Container runat="server" id="wt_Container75" anonymous="true" onDataBinding="cnt_Container75_onDataBinding" cssClass="text-neutral-0" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance84" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance84_onDataBinding" InstanceID="_WebBlockInstance84"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container68" anonymous="true" onDataBinding="cnt_Container68_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:Span runat="server" id="wt_Text72" anonymous="true" onDataBinding="wt_Text72_onDataBinding"><%# "Add Gifts for your children, partners, and help extended family members know what to buy" %></osweb:Span></osweb:Container></osweb:Container></phText><phButton><osweb:Button runat="server" id="wt_Button8" onDataBinding="btn_Button8_onDataBinding" cssClass="Button Button_Transparent" Visible="<%# btn_Button8_isVisible() %>" Enabled="<%# btn_Button8_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button8_NavigateUrl() %>" text="<%# btn_Button8_getLabel() %>"/></phButton><phTitle2><osweb:Span runat="server" id="wt_Text94" anonymous="true" onDataBinding="wt_Text94_onDataBinding"><%# "Special Occasions" %></osweb:Span></phTitle2><phText2><osweb:Container runat="server" id="wt_Container105" anonymous="true" onDataBinding="cnt_Container105_onDataBinding"><osweb:Container runat="server" id="wt_Container30" anonymous="true" onDataBinding="cnt_Container30_onDataBinding" cssClass="text-neutral-0" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance53" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance53_onDataBinding" InstanceID="_WebBlockInstance53"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container12" anonymous="true" onDataBinding="cnt_Container12_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:Span runat="server" id="wt_Text69" anonymous="true" onDataBinding="wt_Text69_onDataBinding"><%# "Wedding List without &quot;the&quot; single retailer restriction" %></osweb:Span></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container81" anonymous="true" onDataBinding="cnt_Container81_onDataBinding"><osweb:Container runat="server" id="wt_Container106" anonymous="true" onDataBinding="cnt_Container106_onDataBinding" cssClass="text-neutral-0" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance38" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance38_onDataBinding" InstanceID="_WebBlockInstance38"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container17" anonymous="true" onDataBinding="cnt_Container17_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:Span runat="server" id="wt_Text117" anonymous="true" onDataBinding="wt_Text117_onDataBinding"><%# "BIFY Funds for those expensive items or vacations" %></osweb:Span></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container63" anonymous="true" onDataBinding="cnt_Container63_onDataBinding"><osweb:Container runat="server" id="wt_Container28" anonymous="true" onDataBinding="cnt_Container28_onDataBinding" cssClass="text-neutral-0" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance40" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance40_onDataBinding" InstanceID="_WebBlockInstance40"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container45" anonymous="true" onDataBinding="cnt_Container45_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:Span runat="server" id="wt_Text115" anonymous="true" onDataBinding="wt_Text115_onDataBinding"><%# "Get reminded of a birthday (or &quot;your&quot; wedding anniversary &#128519; )" %></osweb:Span></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container77" anonymous="true" onDataBinding="cnt_Container77_onDataBinding"><osweb:Container runat="server" id="wt_Container1" anonymous="true" onDataBinding="cnt_Container1_onDataBinding" cssClass="text-neutral-0" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance11" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance11_onDataBinding" InstanceID="_WebBlockInstance11"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container121" anonymous="true" onDataBinding="cnt_Container121_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:Span runat="server" id="wt_Text59" anonymous="true" onDataBinding="wt_Text59_onDataBinding"><%# "Add Gifts for your children, partners, and help extended family members know what to buy" %></osweb:Span></osweb:Container></osweb:Container></phText2><phButton2><osweb:Button runat="server" id="wt_Button103" onDataBinding="btn_Button103_onDataBinding" cssClass="Button Button_Transparent" Visible="<%# btn_Button103_isVisible() %>" Enabled="<%# btn_Button103_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button103_NavigateUrl() %>" text="<%# btn_Button103_getLabel() %>"/></phButton2></widgets:KH3ZfEzegJ0yIiZ7r___j6g><widgets:K1026Q6erlEC382GuuEVI7A runat="server" id="wt_WebBlockInstance2" OnEvaluateParameters="webBlck_WebBlockInstance2_onDataBinding" InstanceID="_WebBlockInstance2"><phTitle><osweb:PlaceHolder runat="server"><%# "Free and Secure" %></osweb:PlaceHolder></phTitle><phText><osweb:Container runat="server" id="wt_Container79" anonymous="true" onDataBinding="cnt_Container79_onDataBinding"><osweb:Container runat="server" id="wt_Container34" anonymous="true" onDataBinding="cnt_Container34_onDataBinding" cssClass="text-neutral-1" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance37" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance37_onDataBinding" InstanceID="_WebBlockInstance37"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container54" anonymous="true" onDataBinding="cnt_Container54_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:PlaceHolder runat="server"><%# "Based in the UK" %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container16" anonymous="true" onDataBinding="cnt_Container16_onDataBinding"><osweb:Container runat="server" id="wt_Container82" anonymous="true" onDataBinding="cnt_Container82_onDataBinding" cssClass="text-neutral-1" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance88" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance88_onDataBinding" InstanceID="_WebBlockInstance88"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container3" anonymous="true" onDataBinding="cnt_Container3_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:PlaceHolder runat="server"><%# "GDPR Compliant" %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container50" anonymous="true" onDataBinding="cnt_Container50_onDataBinding"><osweb:Container runat="server" id="wt_Container48" anonymous="true" onDataBinding="cnt_Container48_onDataBinding" cssClass="text-neutral-1" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance74" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance74_onDataBinding" InstanceID="_WebBlockInstance74"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container67" anonymous="true" onDataBinding="cnt_Container67_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:PlaceHolder runat="server"><%# "No membership fees, now or ever" %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container19" anonymous="true" onDataBinding="cnt_Container19_onDataBinding"><osweb:Container runat="server" id="wt_Container100" anonymous="true" onDataBinding="cnt_Container100_onDataBinding" cssClass="text-red-light" GridCssClasses="OSInline"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance62" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance62_onDataBinding" InstanceID="_WebBlockInstance62"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:Container runat="server" id="wt_Container55" anonymous="true" onDataBinding="cnt_Container55_onDataBinding" GridCssClasses="OSInline" style="width: 90%"><osweb:PlaceHolder runat="server"><%# "Join Now - Invite friends (and spread the love )" %></osweb:PlaceHolder></osweb:Container></osweb:Container></phText><phButton><osweb:Button runat="server" id="wt_Button111" cssClass="Button Button_Transparent" Visible="<%# btn_Button111_isVisible() %>" Enabled="<%# btn_Button111_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button111_NavigateUrl() %>" text="<%# btn_Button111_getLabel() %>"/></phButton></widgets:K1026Q6erlEC382GuuEVI7A><widgets:KmY_4f0uzn02PqXNoWysbUw runat="server" id="wt_WebBlockInstance64" OnEvaluateParameters="webBlck_WebBlockInstance64_onDataBinding" InstanceID="_WebBlockInstance64"></widgets:KmY_4f0uzn02PqXNoWysbUw><widgets:Kz0Pe8bEM1keIAmKQ6Kxphg runat="server" id="wt_WebBlockInstance46" OnEvaluateParameters="webBlck_WebBlockInstance46_onDataBinding" InstanceID="_WebBlockInstance46"></widgets:Kz0Pe8bEM1keIAmKQ6Kxphg></phMainContent><phFooter></phFooter></widgets:Kz3isd_zy0kiORsLuRetsJw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
