﻿.lgbx1{width:40%;display: inline-block;height:100vh;}
.lgbx2{width:60%;height:100vh;background: #05bcd9;padding: 50px;}

.lgbox{
    width: 100%;
    padding: 30px;
    background: white;
    border-right: 2px solid lightgray;
    }



    
.Responsive div.Feedback_Message_Wrapper {
    margin-top: 35px;
}



.Button_FB{background-color:#3578e5;border:none;color:white;width:100%;}
.Button_FB:hover{    background-color: #365899;
    border: 2px solid #365899;color:white;width:100%;}
    
    
.ts{display:inline-block;width: 85%!important;margin-left: 10px!important;}

@media only screen and (max-width:320px)
{


}


@media only screen and (min-width:321px) and (max-width:400px)
{

}

@media only screen and (min-width:401px) and (max-width:650px)
{


}
@media only screen  and (max-width:850px)
{
.lgbx1{width:100%!important;height:auto!important}
.lgbx2{width:100%!important;height:auto!important}
.lgbox{
    border-right: none!important;
    }

}