﻿<%@ Page Language="c#" Codebehind="Login.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowCommon.ScrnLogin" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Assembly Name="OutSystems.Plugin.Widgets.Runtime" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KJSw0YvaBJ0OUoK66cbj6yA" Src="Blocks\BIFY\Structure\AlignCenter.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Ku51_wRy5X0uNJYYBgTy1Jw" Src="Blocks\BIFY\Utilities\Separator.ascx" %>
<%@ Register TagPrefix="SocialLoginAPI_widgets" TagName="KAwXn8lQAU0ew8tDB3ZqXdw" Src="Blocks\BIFY\LoginInterfaces\FacebookLogin.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<osweb:Container runat="server" id="wt_Container48" anonymous="true" onDataBinding="cnt_Container48_onDataBinding" cssClass="lgbx1" GridCssClasses="OSInline" style="width: 40%"><osweb:Container runat="server" id="wt_Container33" anonymous="true" onDataBinding="cnt_Container33_onDataBinding" cssClass="lgbox" align="center"><osweb:Container runat="server" id="wt_Container23" anonymous="true" onDataBinding="cnt_Container23_onDataBinding" cssClass="layout-login-logo text-align-center"><osweb:Container runat="server" id="wt_Container65" anonymous="true" onDataBinding="cnt_Container65_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link60" Visible="<%# lnk_Link60_isVisible() %>" Enabled="<%# lnk_Link60_isEnabled() %>" NavigateUrl="<%# lnk_Link60_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image36" anonymous="true" StaticSource="<%# Images.bifyiconwithtext_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image36_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:HyperLink></osweb:Container></osweb:Container><osweb:IfPlaceHolder runat="server" id="wtShowForgotPasswordif" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtShowForgotPasswordif() %>"><osweb:Container runat="server" id="wt_Container58" anonymous="true" onDataBinding="cnt_Container58_onDataBinding" cssClass="heading5 text-neutral-8 margin-top-s" align="center"><osweb:PlaceHolder runat="server"><%# "Log in to your account" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container56" anonymous="true" onDataBinding="cnt_Container56_onDataBinding" cssClass="layout-login-inputs margin-top-m"><osweb:Container runat="server" id="wt_Container24" anonymous="true" onDataBinding="cnt_Container24_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Email Address" %></osweb:PlaceHolder><osweb:TextBox runat="server" id="wtUserNameInput" onDataBinding="inputwtUserNameInput_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtUserNameInput_isVisible() %>" ReadOnly="<%# !inputwtUserNameInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtUserNameInput_input_value() %>" onTextChanged="inputwtUserNameInput_input_onTextChanged" Mandatory="<%# inputwtUserNameInput_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtUserNameInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtUserNameInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtUserNameInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtUserNameInput" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container><osweb:Container runat="server" id="wt_Container47" anonymous="true" onDataBinding="cnt_Container47_onDataBinding" cssClass="margin-top-base"><osweb:PlaceHolder runat="server"><%# "Password" %></osweb:PlaceHolder><osweb:TextBox runat="server" id="wtPasswordInput" onDataBinding="inputwtPasswordInput_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" textmode="Password" Visible="<%# inputwtPasswordInput_isVisible() %>" ReadOnly="<%# !inputwtPasswordInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" text="<%# inputwtPasswordInput_input_value() %>" onTextChanged="inputwtPasswordInput_input_onTextChanged" Mandatory="<%# inputwtPasswordInput_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtPasswordInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtPasswordInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtPasswordInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtPasswordInput" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container67" anonymous="true" onDataBinding="cnt_Container67_onDataBinding" cssClass="layout-login-remember margin-top-m"><osweb:Container runat="server" id="wt_Container13" anonymous="true" onDataBinding="cnt_Container13_onDataBinding" cssClass="no-responsive" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance40" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance40_onDataBinding" InstanceID="_WebBlockInstance40"><phContent><osweb:CheckBox runat="server" id="wtCheckbox" cssClass="checkbox" Visible="<%# chkCheckbox_isVisible() %>" Enabled="<%# chkCheckbox_isEnabled() %>" Checked="<%# chkCheckbox_checked_value() %>" onCheckedChanged="chkCheckbox_checkbox_onCheckedChanged"/><osweb:CustomWidget runat="server" id="wt_CustomWidget29" anonymous="true" onDataBinding="wt_CustomWidget29_onDataBinding" cssClass="font-size-s margin-left-s"><label class='<%#((CustomWidget)wt_CustomWidget29).GetCssClass()%><%#((CustomWidget)wt_CustomWidget29).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetMandatoryClass()%>' style='<%#((CustomWidget)wt_CustomWidget29).GetStyle()%>' for='<%#((CustomWidget)wt_CustomWidget29).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetForInputId()%>' ><%#((CustomWidget)wt_CustomWidget29).GetBehavior<OutSystems.Plugin.Widgets.Label>().Value()%></label></osweb:CustomWidget></phContent></OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA></osweb:Container><osweb:Container runat="server" id="wt_Container7" anonymous="true" onDataBinding="cnt_Container7_onDataBinding" cssClass="no-responsive text-align-right" GridCssClasses="ThemeGrid_Width6 ThemeGrid_MarginGutter"><osweb:LinkButton runat="server" id="wt_Link16" onDataBinding="lnk_Link16_onDataBinding" cssClass="font-size-s" Visible="<%# lnk_Link16_isVisible() %>" Enabled="<%# lnk_Link16_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Forgot password?" %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container62" anonymous="true" onDataBinding="cnt_Container62_onDataBinding" cssClass="layout-login-button  margin-top-l"><osweb:Button runat="server" id="wt_Button27" onDataBinding="btn_Button27_onDataBinding" cssClass="Button btn-large  Is_Default Is_Default" GridCssClasses="OSFillParent" style="margin-left: 0px" Visible="<%# btn_Button27_isVisible() %>" Enabled="<%# btn_Button27_isEnabled() %>" CausesValidation="false" text="<%# btn_Button27_getLabel() %>"/><OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance53" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance53_onDataBinding" InstanceID="_WebBlockInstance53"></OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw><osweb:Container runat="server" id="wt_Container17" anonymous="true" onDataBinding="cnt_Container17_onDataBinding"><SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw runat="server" id="SocialLoginAPI_wt_WebBlockInstance34" OnEvaluateParameters="SocialLoginAPI_webBlck_WebBlockInstance34_onDataBinding" InstanceID="_WebBlockInstance34"></SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtShowForgotPasswordif() %>"><osweb:Container runat="server" id="wt_Container51" anonymous="true" onDataBinding="cnt_Container51_onDataBinding" cssClass="heading5 text-neutral-8 margin-top-s" align="center"><osweb:PlaceHolder runat="server"><%# "Reset your Password" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container19" anonymous="true" onDataBinding="cnt_Container19_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# "Let&#39;s send you a password reset email" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container59" anonymous="true" onDataBinding="cnt_Container59_onDataBinding" cssClass="layout-login-inputs margin-top-m"><osweb:Container runat="server" id="wt_Container25" anonymous="true" onDataBinding="cnt_Container25_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Email Address" %></osweb:PlaceHolder><osweb:TextBox runat="server" id="wt_Input18" onDataBinding="inputwt_Input18_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwt_Input18_isVisible() %>" ReadOnly="<%# !inputwt_Input18_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwt_Input18_input_value() %>" onTextChanged="inputwt_Input18_input_onTextChanged" Mandatory="<%# inputwt_Input18_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wt_Input18ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wt_Input18"/><osweb:TextValidator runat="server" display="Dynamic" id="wt_Input18ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wt_Input18" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container49" anonymous="true" onDataBinding="cnt_Container49_onDataBinding" align="center"><osweb:Span runat="server" id="wt_Text3" anonymous="true" onDataBinding="wt_Text3_onDataBinding"><%# "Please check your spam folder!" %></osweb:Span></osweb:Container><osweb:Button runat="server" id="wt_Button64" onDataBinding="btn_Button64_onDataBinding" cssClass="Button btn-large  Is_Default" GridCssClasses="OSFillParent" style="margin-left: 0px" Visible="<%# btn_Button64_isVisible() %>" Enabled="<%# btn_Button64_isEnabled() %>" CausesValidation="false" text="<%# btn_Button64_getLabel() %>"/><osweb:Button runat="server" id="wt_Button20" onDataBinding="btn_Button20_onDataBinding" cssClass="Button btn-large " GridCssClasses="OSFillParent" style="margin-left: 0px" Visible="<%# btn_Button20_isVisible() %>" Enabled="<%# btn_Button20_isEnabled() %>" CausesValidation="false" text="<%# btn_Button20_getLabel() %>"/></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container10" anonymous="true" onDataBinding="cnt_Container10_onDataBinding" cssClass="lgbx2" GridCssClasses="OSInline" style="width: 60%"><osweb:Container runat="server" id="wt_Container14" anonymous="true" onDataBinding="cnt_Container14_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container42" anonymous="true" onDataBinding="cnt_Container42_onDataBinding"><osweb:Span runat="server" id="wt_Text55" anonymous="true" onDataBinding="wt_Text55_onDataBinding"><%# "BUYING" %></osweb:Span><osweb:Span runat="server" id="wt_Text63" anonymous="true" onDataBinding="wt_Text63_onDataBinding"><%# " " %></osweb:Span><osweb:Span runat="server" id="wt_Text12" anonymous="true" onDataBinding="wt_Text12_onDataBinding"><%# "IT" %></osweb:Span><osweb:Span runat="server" id="wt_Text35" anonymous="true" onDataBinding="wt_Text35_onDataBinding"><%# " " %></osweb:Span><osweb:Span runat="server" id="wt_Text39" anonymous="true" onDataBinding="wt_Text39_onDataBinding"><%# "FOR" %></osweb:Span><osweb:Span runat="server" id="wt_Text38" anonymous="true" onDataBinding="wt_Text38_onDataBinding"><%# " " %></osweb:Span><osweb:Span runat="server" id="wt_Text4" anonymous="true" onDataBinding="wt_Text4_onDataBinding"><%# "YOU" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container6" anonymous="true" onDataBinding="cnt_Container6_onDataBinding"><osweb:Span runat="server" id="wt_Text28" anonymous="true" onDataBinding="wt_Text28_onDataBinding"><%# "BIFY" %></osweb:Span><osweb:PlaceHolder runat="server"><%# " is the 21st century answer to buying gifts for special occasions for your friends and loved ones. " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container30" anonymous="true" onDataBinding="cnt_Container30_onDataBinding"><osweb:PlaceHolder runat="server"><%# "We all receive gifts that we don’t want and never use. As a Member of BIFY you can set up email reminders for special occasions and then view items to buy that your recipient will really appreciate. Or if you just want a reminder to send a card, text or make a call, we can help you do that too. " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container54" anonymous="true" onDataBinding="cnt_Container54_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Asking the people we care about what they would like as a present takes away the anticipation and surprise as they open your gift. With our help you can still shop in your usual way but you won’t need to ask, or guess what you should buy." %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container46" anonymous="true" onDataBinding="cnt_Container46_onDataBinding"><osweb:PlaceHolder runat="server"><%# "BIFY won’t get involved in your purchasing or methods of payment. You can use your BIFY fund to collectively buy a gift, but by directing you to PayPal ensures that any financial transaction is totally separate and secure." %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container1" anonymous="true" onDataBinding="cnt_Container1_onDataBinding"><osweb:PlaceHolder runat="server"><%# " Later this year we will be launching the BIFY electronic and paper greetings card, along with BIFY flowers. Our BIFY App is designed to help you save ideas of presents, by allowing you to scan items for yourself, or maybe another member of your family when out shopping and save them to your gift list.  <br/> " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container5" anonymous="true" onDataBinding="cnt_Container5_onDataBinding"><osweb:Span runat="server" id="wt_Text21" anonymous="true" onDataBinding="wt_Text21_onDataBinding"><%# "BIFY - GIFTING MADE EASY!" %></osweb:Span></osweb:Container></osweb:Container></osweb:Container><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
