﻿<%@ Page Language="c#" Codebehind="LoginOld.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowCommon.ScrnLoginOld" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Assembly Name="OutSystems.Plugin.Widgets.Runtime" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KUYGG3NYG_UOJvFnlIi4gSQ" Src="Blocks\BIFY\Layouts\LayoutLoginSplit.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAWqhXH28h0C_6V89jNv2hQ" Src="Blocks\BIFY\Structure\Columns2.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kr6GvyhSuo0yC76hHGqpWlA" Src="Blocks\BIFY\Layouts\LoginForm.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KJSw0YvaBJ0OUoK66cbj6yA" Src="Blocks\BIFY\Structure\AlignCenter.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Ku51_wRy5X0uNJYYBgTy1Jw" Src="Blocks\BIFY\Utilities\Separator.ascx" %>
<%@ Register TagPrefix="SocialLoginAPI_widgets" TagName="KAwXn8lQAU0ew8tDB3ZqXdw" Src="Blocks\BIFY\LoginInterfaces\FacebookLogin.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KktEsdVBkDE2I1Jgsk4PYRQ" Src="Blocks\BIFY\Weblocks\BIFYStory.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<OutSystemsUIWeb_widgets:KUYGG3NYG_UOJvFnlIi4gSQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance15" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance15_onDataBinding" InstanceID="_WebBlockInstance15"><phLogin><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance5" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"><phColumn1><osweb:Container runat="server" id="wt_Container4" anonymous="true" onDataBinding="cnt_Container4_onDataBinding"><OutSystemsUIWeb_widgets:Kr6GvyhSuo0yC76hHGqpWlA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance2" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance2_onDataBinding" InstanceID="_WebBlockInstance2"><phLogin><osweb:Container runat="server" id="wt_Container38" anonymous="true" onDataBinding="cnt_Container38_onDataBinding" cssClass="lgbox" align="center"><osweb:Container runat="server" id="wt_Container16" anonymous="true" onDataBinding="cnt_Container16_onDataBinding" cssClass="layout-login-logo text-align-center"><osweb:Container runat="server" id="wt_Container12" anonymous="true" onDataBinding="cnt_Container12_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link43" Visible="<%# lnk_Link43_isVisible() %>" Enabled="<%# lnk_Link43_isEnabled() %>" NavigateUrl="<%# lnk_Link43_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image49" anonymous="true" StaticSource="<%# Images.bifyiconwithtext_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image49_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:HyperLink></osweb:Container></osweb:Container><osweb:IfPlaceHolder runat="server" id="wtShowForgotPasswordif" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtShowForgotPasswordif() %>"><osweb:Container runat="server" id="wt_Container28" anonymous="true" onDataBinding="cnt_Container28_onDataBinding" cssClass="heading5 text-neutral-8 margin-top-s" align="center"><osweb:PlaceHolder runat="server"><%# "Log in to your account" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container47" anonymous="true" onDataBinding="cnt_Container47_onDataBinding" cssClass="layout-login-inputs margin-top-m"><osweb:Container runat="server" id="wt_Container24" anonymous="true" onDataBinding="cnt_Container24_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Email Address" %></osweb:PlaceHolder><osweb:TextBox runat="server" id="wtUserNameInput" onDataBinding="inputwtUserNameInput_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtUserNameInput_isVisible() %>" ReadOnly="<%# !inputwtUserNameInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtUserNameInput_input_value() %>" onTextChanged="inputwtUserNameInput_input_onTextChanged" Mandatory="<%# inputwtUserNameInput_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtUserNameInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtUserNameInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtUserNameInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtUserNameInput" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container><osweb:Container runat="server" id="wt_Container52" anonymous="true" onDataBinding="cnt_Container52_onDataBinding" cssClass="margin-top-base"><osweb:PlaceHolder runat="server"><%# "Password" %></osweb:PlaceHolder><osweb:TextBox runat="server" id="wtPasswordInput" onDataBinding="inputwtPasswordInput_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" textmode="Password" Visible="<%# inputwtPasswordInput_isVisible() %>" ReadOnly="<%# !inputwtPasswordInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" text="<%# inputwtPasswordInput_input_value() %>" onTextChanged="inputwtPasswordInput_input_onTextChanged" Mandatory="<%# inputwtPasswordInput_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtPasswordInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtPasswordInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtPasswordInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtPasswordInput" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container18" anonymous="true" onDataBinding="cnt_Container18_onDataBinding" cssClass="layout-login-remember margin-top-m"><osweb:Container runat="server" id="wt_Container21" anonymous="true" onDataBinding="cnt_Container21_onDataBinding" cssClass="no-responsive" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance33" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance33_onDataBinding" InstanceID="_WebBlockInstance33"><phContent><osweb:CheckBox runat="server" id="wtCheckbox" cssClass="checkbox" Visible="<%# chkCheckbox_isVisible() %>" Enabled="<%# chkCheckbox_isEnabled() %>" Checked="<%# chkCheckbox_checked_value() %>" onCheckedChanged="chkCheckbox_checkbox_onCheckedChanged"/><osweb:CustomWidget runat="server" id="wt_CustomWidget26" anonymous="true" onDataBinding="wt_CustomWidget26_onDataBinding" cssClass="font-size-s margin-left-s"><label class='<%#((CustomWidget)wt_CustomWidget26).GetCssClass()%><%#((CustomWidget)wt_CustomWidget26).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetMandatoryClass()%>' style='<%#((CustomWidget)wt_CustomWidget26).GetStyle()%>' for='<%#((CustomWidget)wt_CustomWidget26).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetForInputId()%>' ><%#((CustomWidget)wt_CustomWidget26).GetBehavior<OutSystems.Plugin.Widgets.Label>().Value()%></label></osweb:CustomWidget></phContent></OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA></osweb:Container><osweb:Container runat="server" id="wt_Container45" anonymous="true" onDataBinding="cnt_Container45_onDataBinding" cssClass="no-responsive text-align-right" GridCssClasses="ThemeGrid_Width6 ThemeGrid_MarginGutter"><osweb:LinkButton runat="server" id="wt_Link29" onDataBinding="lnk_Link29_onDataBinding" cssClass="font-size-s" Visible="<%# lnk_Link29_isVisible() %>" Enabled="<%# lnk_Link29_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Forgot password?" %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container27" anonymous="true" onDataBinding="cnt_Container27_onDataBinding" cssClass="layout-login-button  margin-top-l"><osweb:Button runat="server" id="wt_Button11" onDataBinding="btn_Button11_onDataBinding" cssClass="Button btn-large  Is_Default Is_Default" GridCssClasses="OSFillParent" style="margin-left: 0px" Visible="<%# btn_Button11_isVisible() %>" Enabled="<%# btn_Button11_isEnabled() %>" CausesValidation="false" text="<%# btn_Button11_getLabel() %>"/><OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance7" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance7_onDataBinding" InstanceID="_WebBlockInstance7"></OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw><osweb:Container runat="server" id="wt_Container10" anonymous="true" onDataBinding="cnt_Container10_onDataBinding"><SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw runat="server" id="SocialLoginAPI_wt_WebBlockInstance32" OnEvaluateParameters="SocialLoginAPI_webBlck_WebBlockInstance32_onDataBinding" InstanceID="_WebBlockInstance32"></SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtShowForgotPasswordif() %>"><osweb:Container runat="server" id="wt_Container6" anonymous="true" onDataBinding="cnt_Container6_onDataBinding" cssClass="heading5 text-neutral-8 margin-top-s" align="center"><osweb:PlaceHolder runat="server"><%# "Reset your Password" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container3" anonymous="true" onDataBinding="cnt_Container3_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# "Let&#39;s send you a password reset email" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container9" anonymous="true" onDataBinding="cnt_Container9_onDataBinding" cssClass="layout-login-inputs margin-top-m"><osweb:Container runat="server" id="wt_Container20" anonymous="true" onDataBinding="cnt_Container20_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Email Address" %></osweb:PlaceHolder><osweb:TextBox runat="server" id="wt_Input37" onDataBinding="inputwt_Input37_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwt_Input37_isVisible() %>" ReadOnly="<%# !inputwt_Input37_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwt_Input37_input_value() %>" onTextChanged="inputwt_Input37_input_onTextChanged" Mandatory="<%# inputwt_Input37_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wt_Input37ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wt_Input37"/><osweb:TextValidator runat="server" display="Dynamic" id="wt_Input37ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wt_Input37" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container25" anonymous="true" onDataBinding="cnt_Container25_onDataBinding" align="center"><osweb:Span runat="server" id="wt_Text19" anonymous="true" onDataBinding="wt_Text19_onDataBinding"><%# "Please check your spam folder!" %></osweb:Span></osweb:Container><osweb:Button runat="server" id="wt_Button53" onDataBinding="btn_Button53_onDataBinding" cssClass="Button btn-large  Is_Default" GridCssClasses="OSFillParent" style="margin-left: 0px" Visible="<%# btn_Button53_isVisible() %>" Enabled="<%# btn_Button53_isEnabled() %>" CausesValidation="false" text="<%# btn_Button53_getLabel() %>"/><osweb:Button runat="server" id="wt_Button13" onDataBinding="btn_Button13_onDataBinding" cssClass="Button btn-large " GridCssClasses="OSFillParent" style="margin-left: 0px" Visible="<%# btn_Button13_isVisible() %>" Enabled="<%# btn_Button13_isEnabled() %>" CausesValidation="false" text="<%# btn_Button13_getLabel() %>"/></osweb:If></osweb:IfPlaceHolder></osweb:Container></phLogin></OutSystemsUIWeb_widgets:Kr6GvyhSuo0yC76hHGqpWlA></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wt_Container34" anonymous="true" onDataBinding="cnt_Container34_onDataBinding"><widgets:KktEsdVBkDE2I1Jgsk4PYRQ runat="server" id="wt_WebBlockInstance1" OnEvaluateParameters="webBlck_WebBlockInstance1_onDataBinding" InstanceID="_WebBlockInstance1"></widgets:KktEsdVBkDE2I1Jgsk4PYRQ></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></phLogin></OutSystemsUIWeb_widgets:KUYGG3NYG_UOJvFnlIi4gSQ><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
