﻿<%@ Page Language="c#" Codebehind="Me.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowLoggedIn.ScrnMe" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Assembly Name="OutSystems.Plugin.Widgets.Runtime" %>
<%@ Register TagPrefix="widgets" TagName="KNpFec5kizUC9WpROYh9ejw" Src="Blocks\BIFY\Common\LayoutWithSections.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_5sqIAe8Z0mLMNBss5hGzg" Src="Blocks\BIFY\Common\Menu.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAotDlTFMDkS99aVrmrPR8g" Src="Blocks\BIFY\Weblocks\MeFriendsBlock.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KlboP3Mo1qU6C2FuyPN_r2w" Src="Blocks\BIFY\Weblocks\SearchBoxHeader.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KnklFanT6WkeDZX4ltfDwVw" Src="Blocks\BIFY\Weblocks\BannerMe.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K8hQtFo0XCkeweo5S_DNxJw" Src="Blocks\BIFY\Structure\ColumnsSmallLeft.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KBJOBUaRDjEqu49x5gGiQ9A" Src="Blocks\BIFY\Content\CardSectioned.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KqbnZfxW4ek2hSa8QaTA3BQ" Src="Blocks\BIFY\Modals\ChangeProfilePictureModal.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kz0UPrThFl0amVo34uepeMQ" Src="Blocks\BIFY\Content\Panel.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVE3KQPOG6Ui3iTtojRg8Sw" Src="Blocks\BIFY\Weblocks\Logout.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAWqhXH28h0C_6V89jNv2hQ" Src="Blocks\BIFY\Structure\Columns2.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KiOBZ_DLj1CK2uSfNSLcEUg" Src="Blocks\BIFY\RichWidgets\Input_Calendar.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAqE7J0717US3DF_WXRkMZg" Src="Blocks\BIFY\Controls\ButtonGroup.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K5PJvLTv7gUmG1rdWmpfZ0g" Src="Blocks\BIFY\Controls\ButtonGroupItem.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KiMdA9PRjak6f8CF_dSV51Q" Src="Blocks\BIFY\Content\Tooltip.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K72MZxgaeokGfkF8H6M6wsQ" Src="Blocks\BIFY\Numbers\IconBadge.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K3VqoS_dtwkiOxxS27gIatg" Src="Blocks\BIFY\Content\Balloon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KgBhehbBVkky2BijDw6Yhmw" Src="Blocks\BIFY\Weblocks\SharingCircles2.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KL7CSmokFEUaZAtmk9w8iAw" Src="Blocks\BIFY\Weblocks\BannerGiftCard.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KnQvsmR1kMEmJkNK9xfptmA" Src="Blocks\BIFY\Structure\ColumnsMediumRight.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KJIDpJbGiD0O8UkDvxsdfxA" Src="Blocks\BIFY\Gallery\GiftGallery.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KjaHl7Y45Lkq0aVojlG2wog" Src="Blocks\BIFY\Weblocks\BannerWeddingList.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_eZn4Z1dYkO_VwC2MLjWjA" Src="Blocks\BIFY\Modals\CreateAWeddingList.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcIfpU2ypoUWW7FcTJn35QQ" Src="Blocks\BIFY\Gallery\GiftGalleryWedding.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KWLOTt8MYRkqrfRUWdQHGeg" Src="Blocks\BIFY\Gallery\FundGallery.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kz_BA_c6veECkzJTxBT6HFQ" Src="Blocks\BIFY\Gallery\EventGallery.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kj7caiJtUMEKBbdm4PxCdIw" Src="Blocks\BIFY\Modals\WelcomeToBifyModal.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K9FSGiJbqBEWNVFCyoPUkiA" Src="Blocks\BIFY\Gallery\NewsFeed.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcGiUZvJCtEiF3fde7a3MaQ" Src="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:KNpFec5kizUC9WpROYh9ejw runat="server" id="wt_WebBlockInstance180" OnEvaluateParameters="webBlck_WebBlockInstance180_onDataBinding" InstanceID="_WebBlockInstance180"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance33" OnEvaluateParameters="webBlck_WebBlockInstance33_onDataBinding" InstanceID="_WebBlockInstance33"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter><widgets:K_5sqIAe8Z0mLMNBss5hGzg runat="server" id="wt_WebBlockInstance43" OnEvaluateParameters="webBlck_WebBlockInstance43_onDataBinding" InstanceID="_WebBlockInstance43"></widgets:K_5sqIAe8Z0mLMNBss5hGzg></phCenter><phRight><widgets:KAotDlTFMDkS99aVrmrPR8g runat="server" id="wt_WebBlockInstance188" OnEvaluateParameters="webBlck_WebBlockInstance188_onDataBinding" InstanceID="_WebBlockInstance188"></widgets:KAotDlTFMDkS99aVrmrPR8g><widgets:KlboP3Mo1qU6C2FuyPN_r2w runat="server" id="wt_WebBlockInstance161" OnEvaluateParameters="webBlck_WebBlockInstance161_onDataBinding" InstanceID="_WebBlockInstance161"></widgets:KlboP3Mo1qU6C2FuyPN_r2w></phRight><phHeaderContent></phHeaderContent><phSection1Content><widgets:KnklFanT6WkeDZX4ltfDwVw runat="server" id="wt_WebBlockInstance150" OnEvaluateParameters="webBlck_WebBlockInstance150_onDataBinding" InstanceID="_WebBlockInstance150"><phTitle1><osweb:PlaceHolder runat="server"><%# "Your Gift List" %></osweb:PlaceHolder></phTitle1><phTitle2><osweb:Span runat="server" id="wt_Text202" anonymous="true" onDataBinding="wt_Text202_onDataBinding"><%# "Create a gift list of perfect presents and share it with friends and family" %></osweb:Span></phTitle2></widgets:KnklFanT6WkeDZX4ltfDwVw></phSection1Content><phBreadcrumbs></phBreadcrumbs><phTitle></phTitle><phActions></phActions><phMainContent><osweb:Container runat="server" id="wtYourAccount" onDataBinding="cntYourAccount_onDataBinding" cssClass="MyCardBorder"><OutSystemsUIWeb_widgets:K8hQtFo0XCkeweo5S_DNxJw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance132" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance132_onDataBinding" InstanceID="_WebBlockInstance132"><phColumn1><osweb:Container runat="server" id="wt_Container200" anonymous="true" onDataBinding="cnt_Container200_onDataBinding" align="center"><OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance201" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance201_onDataBinding" InstanceID="_WebBlockInstance201"><phImage><osweb:IfPlaceHolder runat="server" id="wtImageShow" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtImageShow() %>"><osweb:Container runat="server" id="wt_Container216" anonymous="true" onDataBinding="cnt_Container216_onDataBinding"><osweb:DynamicImage runat="server" id="wtuserimage2" onDataBinding="imguserimage2_onDataBinding" cssClass="border-radius-rounded profileimg" Source="<%# imguserimage2_getFilename() %>" StaticSource="<%# Images.userPhoto_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# imguserimage2_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/><osweb:IfPlaceHolder runat="server" id="wtIsEditIf" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtIsEditIf() %>"><osweb:Container runat="server" id="wt_Container179" anonymous="true" onDataBinding="cnt_Container179_onDataBinding"><osweb:Container runat="server" id="wt_Container198" anonymous="true" onDataBinding="cnt_Container198_onDataBinding" align="center"><widgets:KqbnZfxW4ek2hSa8QaTA3BQ runat="server" id="wt_WebBlockInstance196" OnEvaluateParameters="webBlck_WebBlockInstance196_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance196_BindDelegates" InstanceID="_WebBlockInstance196"></widgets:KqbnZfxW4ek2hSa8QaTA3BQ></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtIsEditIf() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtImageShow() %>"><osweb:Container runat="server" id="wt_Container211" anonymous="true" onDataBinding="cnt_Container211_onDataBinding" style="margin-left: 0px"><osweb:DynamicImage runat="server" id="wtuserimage3" onDataBinding="imguserimage3_onDataBinding" cssClass="border-radius-rounded profileimg" StaticSource="<%# Images.userPhoto_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/><osweb:Container runat="server" id="wt_Container9" anonymous="true" onDataBinding="cnt_Container9_onDataBinding" align="center"><widgets:KqbnZfxW4ek2hSa8QaTA3BQ runat="server" id="wt_WebBlockInstance102" OnEvaluateParameters="webBlck_WebBlockInstance102_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance102_BindDelegates" InstanceID="_WebBlockInstance102"></widgets:KqbnZfxW4ek2hSa8QaTA3BQ></osweb:Container></osweb:Container></osweb:If></osweb:IfPlaceHolder></phImage><phTitle></phTitle><phContent></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wtInfo_Wrapper" onDataBinding="cntInfo_Wrapper_onDataBinding"><osweb:CustomWidget runat="server" id="wtForm" onDataBinding="wtForm_onDataBinding" cssClass="Form" GridCssClasses="OSFillParent"><div class='form-left<%#((CustomWidget)wtForm).GetCssClass()%><%#((CustomWidget)wtForm).GetBehavior<OutSystems.Plugin.Widgets.Form>().GetReadOnlyClass()%>' style='<%#((CustomWidget)wtForm).GetStyle()%>' id='<%#wtForm.ClientID%>' name='<%#wtForm.UniqueID%>'><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If16() %>"><OutSystemsUIWeb_widgets:Kz0UPrThFl0amVo34uepeMQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance89" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance89_onDataBinding" InstanceID="_WebBlockInstance89"><phTitle><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression190()) %></osweb:PlaceHolder></phTitle><phActions><widgets:KVE3KQPOG6Ui3iTtojRg8Sw runat="server" id="wt_WebBlockInstance24" OnEvaluateParameters="webBlck_WebBlockInstance24_onDataBinding" InstanceID="_WebBlockInstance24"></widgets:KVE3KQPOG6Ui3iTtojRg8Sw></phActions><phContent><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance135" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance135_onDataBinding" InstanceID="_WebBlockInstance135"><phColumn1><osweb:Container runat="server" id="wt_Container8" anonymous="true" onDataBinding="cnt_Container8_onDataBinding"><osweb:CustomWidget runat="server" id="wt_CustomWidget170" anonymous="true" onDataBinding="wt_CustomWidget170_onDataBinding" GridCssClasses="OSFillParent"><label class='<%#((CustomWidget)wt_CustomWidget170).GetCssClass()%><%#((CustomWidget)wt_CustomWidget170).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetMandatoryClass()%>' style='<%#((CustomWidget)wt_CustomWidget170).GetStyle()%>' for='<%#((CustomWidget)wt_CustomWidget170).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetForInputId()%>' ><%#((CustomWidget)wt_CustomWidget170).GetBehavior<OutSystems.Plugin.Widgets.Label>().Value()%></label></osweb:CustomWidget><osweb:TextBox runat="server" id="wtAddress_Input" cssClass="input margin-top-xs" GridCssClasses="OSFillParent" Visible="<%# inputwtAddress_Input_isVisible() %>" ReadOnly="<%# !inputwtAddress_Input_isEnabled() %>" maxlength="100" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtAddress_Input_input_value() %>" onTextChanged="inputwtAddress_Input_input_onTextChanged" Mandatory="<%# inputwtAddress_Input_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtAddress_InputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtAddress_Input"/><osweb:TextValidator runat="server" display="Dynamic" id="wtAddress_InputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtAddress_Input" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container><osweb:Container runat="server" id="wt_Container15" anonymous="true" onDataBinding="cnt_Container15_onDataBinding"><osweb:CustomWidget runat="server" id="wt_CustomWidget133" anonymous="true" onDataBinding="wt_CustomWidget133_onDataBinding" GridCssClasses="OSFillParent"><label class='<%#((CustomWidget)wt_CustomWidget133).GetCssClass()%><%#((CustomWidget)wt_CustomWidget133).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetMandatoryClass()%>' style='<%#((CustomWidget)wt_CustomWidget133).GetStyle()%>' for='<%#((CustomWidget)wt_CustomWidget133).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetForInputId()%>' ><%#((CustomWidget)wt_CustomWidget133).GetBehavior<OutSystems.Plugin.Widgets.Label>().Value()%></label></osweb:CustomWidget><osweb:TextBox runat="server" id="wtCity_Input" cssClass="input margin-top-xs" GridCssClasses="OSFillParent" Visible="<%# inputwtCity_Input_isVisible() %>" ReadOnly="<%# !inputwtCity_Input_isEnabled() %>" maxlength="50" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtCity_Input_input_value() %>" onTextChanged="inputwtCity_Input_input_onTextChanged" Mandatory="<%# inputwtCity_Input_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtCity_InputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtCity_Input"/><osweb:TextValidator runat="server" display="Dynamic" id="wtCity_InputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtCity_Input" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container><osweb:Container runat="server" id="wt_Container167" anonymous="true" onDataBinding="cnt_Container167_onDataBinding"><osweb:CustomWidget runat="server" id="wt_CustomWidget112" anonymous="true" onDataBinding="wt_CustomWidget112_onDataBinding" GridCssClasses="OSFillParent"><label class='<%#((CustomWidget)wt_CustomWidget112).GetCssClass()%><%#((CustomWidget)wt_CustomWidget112).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetMandatoryClass()%>' style='<%#((CustomWidget)wt_CustomWidget112).GetStyle()%>' for='<%#((CustomWidget)wt_CustomWidget112).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetForInputId()%>' ><%#((CustomWidget)wt_CustomWidget112).GetBehavior<OutSystems.Plugin.Widgets.Label>().Value()%></label></osweb:CustomWidget><osweb:TextBox runat="server" id="wtZipCode_Input" cssClass="input margin-top-xs" GridCssClasses="OSFillParent" Visible="<%# inputwtZipCode_Input_isVisible() %>" ReadOnly="<%# !inputwtZipCode_Input_isEnabled() %>" maxlength="50" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtZipCode_Input_input_value() %>" onTextChanged="inputwtZipCode_Input_input_onTextChanged" Mandatory="<%# inputwtZipCode_Input_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtZipCode_InputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtZipCode_Input"/><osweb:TextValidator runat="server" display="Dynamic" id="wtZipCode_InputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtZipCode_Input" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wt_Container155" anonymous="true" onDataBinding="cnt_Container155_onDataBinding" cssClass="datebox"><osweb:CustomWidget runat="server" id="wt_CustomWidget50" anonymous="true" onDataBinding="wt_CustomWidget50_onDataBinding" GridCssClasses="OSFillParent"><label class='<%#((CustomWidget)wt_CustomWidget50).GetCssClass()%><%#((CustomWidget)wt_CustomWidget50).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetMandatoryClass()%>' style='<%#((CustomWidget)wt_CustomWidget50).GetStyle()%>' for='<%#((CustomWidget)wt_CustomWidget50).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetForInputId()%>' ><%#((CustomWidget)wt_CustomWidget50).GetBehavior<OutSystems.Plugin.Widgets.Label>().Value()%></label></osweb:CustomWidget><osweb:TextBox runat="server" id="wtZipCode_Input2" cssClass="input margin-top-xs" GridCssClasses="OSFillParent" Visible="<%# inputwtZipCode_Input2_isVisible() %>" ReadOnly="<%# !inputwtZipCode_Input2_isEnabled() %>" maxlength="20" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtZipCode_Input2_input_value() %>" onTextChanged="inputwtZipCode_Input2_input_onTextChanged" Mandatory="<%# inputwtZipCode_Input2_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtZipCode_Input2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtZipCode_Input2"/><osweb:TextValidator runat="server" display="Dynamic" id="wtZipCode_Input2ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtZipCode_Input2" ClientValidationFunction="OsCustomValidatorText"/><RichWidgets_widgets:KiOBZ_DLj1CK2uSfNSLcEUg runat="server" id="RichWidgets_wt_WebBlockInstance222" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance222_onDataBinding" InstanceID="_WebBlockInstance222"></RichWidgets_widgets:KiOBZ_DLj1CK2uSfNSLcEUg></osweb:Container><osweb:Container runat="server" id="wt_Container171" anonymous="true" onDataBinding="cnt_Container171_onDataBinding"><osweb:CustomWidget runat="server" id="wt_CustomWidget73" anonymous="true" onDataBinding="wt_CustomWidget73_onDataBinding" GridCssClasses="OSFillParent"><label class='<%#((CustomWidget)wt_CustomWidget73).GetCssClass()%><%#((CustomWidget)wt_CustomWidget73).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetMandatoryClass()%>' style='<%#((CustomWidget)wt_CustomWidget73).GetStyle()%>' for='<%#((CustomWidget)wt_CustomWidget73).GetBehavior<OutSystems.Plugin.Widgets.Label>().GetForInputId()%>' ><%#((CustomWidget)wt_CustomWidget73).GetBehavior<OutSystems.Plugin.Widgets.Label>().Value()%></label></osweb:CustomWidget><osweb:TextBox runat="server" id="wtZipCode_Input3" cssClass="input margin-top-xs" GridCssClasses="OSFillParent" Visible="<%# inputwtZipCode_Input3_isVisible() %>" ReadOnly="<%# !inputwtZipCode_Input3_isEnabled() %>" maxlength="20" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetPhoneNumberValidatorMsg" textmode="SingleLine" text="<%# inputwtZipCode_Input3_input_value() %>" onTextChanged="inputwtZipCode_Input3_input_onTextChanged" Mandatory="<%# inputwtZipCode_Input3_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtZipCode_Input3ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtZipCode_Input3"/><osweb:TextValidator runat="server" display="Dynamic" id="wtZipCode_Input3ValidatorType" ErrorMessage="<%# BIFY_Properties.PhoneNumberValidatorMsg %>" ControlToValidate="wtZipCode_Input3" ClientValidationFunction="OsCustomValidatorPhoneNumber"/></osweb:Container><osweb:Container runat="server" id="wt_Container181" anonymous="true" onDataBinding="cnt_Container181_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Your profile is: " %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container193" anonymous="true" onDataBinding="cnt_Container193_onDataBinding"><OutSystemsUIWeb_widgets:KAqE7J0717US3DF_WXRkMZg runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance125" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance125_onDataBinding" InstanceID="_WebBlockInstance125"><phContent><OutSystemsUIWeb_widgets:K5PJvLTv7gUmG1rdWmpfZ0g runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance87" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance87_onDataBinding" InstanceID="_WebBlockInstance87"><phLabel><osweb:RadioButton runat="server" id="wt_RadioButton160" onDataBinding="rad_RadioButton160_onDataBinding" cssClass="radio-button" onGetRadioValue="rad_RadioButton160_getValue" GroupName="<%# rad_RadioButton160_getGroupName(sender) %>" Checked="<%# rad_RadioButton160_isChecked(sender) %>" Visible="<%# rad_RadioButton160_isVisible() %>" Enabled="<%# rad_RadioButton160_isEnabled() %>" onCheckedChanged="rad_RadioButton160_radiobutton_onCheckedChanged"/><osweb:Container runat="server" id="wt_Container31" anonymous="true" onDataBinding="cnt_Container31_onDataBinding" cssClass="btn"><osweb:PlaceHolder runat="server"><%# "Public" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance162" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance162_onDataBinding" InstanceID="_WebBlockInstance162"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container></phLabel></OutSystemsUIWeb_widgets:K5PJvLTv7gUmG1rdWmpfZ0g><OutSystemsUIWeb_widgets:K5PJvLTv7gUmG1rdWmpfZ0g runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance228" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance228_onDataBinding" InstanceID="_WebBlockInstance228"><phLabel><osweb:RadioButton runat="server" id="wt_RadioButton131" onDataBinding="rad_RadioButton131_onDataBinding" cssClass="radio-button" onGetRadioValue="rad_RadioButton131_getValue" GroupName="<%# rad_RadioButton131_getGroupName(sender) %>" Checked="<%# rad_RadioButton131_isChecked(sender) %>" Visible="<%# rad_RadioButton131_isVisible() %>" Enabled="<%# rad_RadioButton131_isEnabled() %>" onCheckedChanged="rad_RadioButton131_radiobutton_onCheckedChanged"/><osweb:Container runat="server" id="wt_Container225" anonymous="true" onDataBinding="cnt_Container225_onDataBinding" cssClass="btn"><osweb:PlaceHolder runat="server"><%# "Private" %></osweb:PlaceHolder><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance123" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance123_onDataBinding" InstanceID="_WebBlockInstance123"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container></phLabel></OutSystemsUIWeb_widgets:K5PJvLTv7gUmG1rdWmpfZ0g></phContent></OutSystemsUIWeb_widgets:KAqE7J0717US3DF_WXRkMZg></osweb:Container><osweb:Container runat="server" id="wt_Container107" anonymous="true" onDataBinding="cnt_Container107_onDataBinding" align="center"><OutSystemsUIWeb_widgets:KiMdA9PRjak6f8CF_dSV51Q runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance46" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance46_onDataBinding" InstanceID="_WebBlockInstance46"><phWidget><osweb:LinkButton runat="server" id="wt_Link2" onDataBinding="lnk_Link2_onDataBinding" Visible="<%# lnk_Link2_isVisible() %>" Enabled="<%# lnk_Link2_isEnabled() %>" CausesValidation="false"><osweb:Span runat="server" id="wtdifference2"><%# "What is the difference?" %></osweb:Span></osweb:LinkButton></phWidget><phContent><osweb:Container runat="server" id="wt_Container134" anonymous="true" onDataBinding="cnt_Container134_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Public: Anybody can send you gifts" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container140" anonymous="true" onDataBinding="cnt_Container140_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Private: You can only receive Gifts from friends" %></osweb:PlaceHolder></osweb:Container></phContent></OutSystemsUIWeb_widgets:KiMdA9PRjak6f8CF_dSV51Q></osweb:Container></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ><osweb:Container runat="server" id="wt_Container39" anonymous="true" onDataBinding="cnt_Container39_onDataBinding" cssClass="background-success text-neutral-0 padding-xs" align="center"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance185" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance185_onDataBinding" InstanceID="_WebBlockInstance185"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Don&#39;t worry - nobody will see this information" %></osweb:PlaceHolder></osweb:Container></phContent><phFooter><osweb:Container runat="server" id="wt_Container36" anonymous="true" onDataBinding="cnt_Container36_onDataBinding" cssClass="savebuttons"><osweb:LinkButton runat="server" id="wt_Link49" onDataBinding="lnk_Link49_onDataBinding" cssClass="Button " Visible="<%# lnk_Link49_isVisible() %>" Enabled="<%# lnk_Link49_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Cancel" %></osweb:PlaceHolder></osweb:LinkButton><osweb:LinkButton runat="server" id="wt_Link199" onDataBinding="lnk_Link199_onDataBinding" cssClass=" Button Is_Default background-pink" Visible="<%# lnk_Link199_isVisible() %>" Enabled="<%# lnk_Link199_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance164" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance164_onDataBinding" InstanceID="_WebBlockInstance164"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:Span runat="server" id="wt_Text94" anonymous="true" class="margin-left20"><%# "Save" %></osweb:Span></osweb:LinkButton></osweb:Container><osweb:Container runat="server" id="wt_Container127" anonymous="true" onDataBinding="cnt_Container127_onDataBinding" cssClass="savebuttonsmob" align="center"><osweb:LinkButton runat="server" id="wt_Link77" onDataBinding="lnk_Link77_onDataBinding" cssClass=" Button Is_Default background-pink" Visible="<%# lnk_Link77_isVisible() %>" Enabled="<%# lnk_Link77_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance3" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance3_onDataBinding" InstanceID="_WebBlockInstance3"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:Span runat="server" id="wt_Text55" anonymous="true" class="margin-left20"><%# "Save" %></osweb:Span></osweb:LinkButton><osweb:LinkButton runat="server" id="wt_Link147" onDataBinding="lnk_Link147_onDataBinding" cssClass="Button " Visible="<%# lnk_Link147_isVisible() %>" Enabled="<%# lnk_Link147_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Cancel" %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></phFooter></OutSystemsUIWeb_widgets:Kz0UPrThFl0amVo34uepeMQ></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If16() %>"><OutSystemsUIWeb_widgets:Kz0UPrThFl0amVo34uepeMQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance229" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance229_onDataBinding" InstanceID="_WebBlockInstance229"><phTitle><osweb:Container runat="server" id="wt_Container217" anonymous="true" onDataBinding="cnt_Container217_onDataBinding" GridCssClasses="OSInline" style="width: 100%"><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance58" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance58_onDataBinding" InstanceID="_WebBlockInstance58"><phColumn1><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression22()) %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container141" anonymous="true" onDataBinding="cnt_Container141_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Your profile is: " %></osweb:PlaceHolder><osweb:LinkButton runat="server" id="wt_Link175" onDataBinding="lnk_Link175_onDataBinding" Visible="<%# lnk_Link175_isVisible() %>" Enabled="<%# lnk_Link175_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression117()) %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wt_Container66" anonymous="true" onDataBinding="cnt_Container66_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container154" anonymous="true" onDataBinding="cnt_Container154_onDataBinding" cssClass="Threeeboxes" style="margin-left: -40px"><osweb:LinkButton runat="server" id="wt_Link114" onDataBinding="lnk_Link114_onDataBinding" Visible="<%# lnk_Link114_isVisible() %>" Enabled="<%# lnk_Link114_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container96" anonymous="true" onDataBinding="cnt_Container96_onDataBinding" GridCssClasses="OSInline" style="width: 33%" align="center"><OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance207" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance207_onDataBinding" InstanceID="_WebBlockInstance207"><phIcon><osweb:Container runat="server" id="wt_Container116" anonymous="true" onDataBinding="cnt_Container116_onDataBinding" align="center"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance206" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance206_onDataBinding" InstanceID="_WebBlockInstance206"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:PlaceHolder runat="server"><%# "Gifts" %></osweb:PlaceHolder></phIcon></OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ></osweb:Container></osweb:LinkButton><osweb:LinkButton runat="server" id="wt_Link85" onDataBinding="lnk_Link85_onDataBinding" Visible="<%# lnk_Link85_isVisible() %>" Enabled="<%# lnk_Link85_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container95" anonymous="true" onDataBinding="cnt_Container95_onDataBinding" GridCssClasses="OSInline" style="width: 33%" align="center"><OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance42" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance42_onDataBinding" InstanceID="_WebBlockInstance42"><phIcon><osweb:Container runat="server" id="wt_Container23" anonymous="true" onDataBinding="cnt_Container23_onDataBinding" align="center"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance70" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance70_onDataBinding" InstanceID="_WebBlockInstance70"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:PlaceHolder runat="server"><%# "Funds" %></osweb:PlaceHolder></phIcon></OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ></osweb:Container></osweb:LinkButton><osweb:LinkButton runat="server" id="wt_Link68" onDataBinding="lnk_Link68_onDataBinding" Visible="<%# lnk_Link68_isVisible() %>" Enabled="<%# lnk_Link68_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container106" anonymous="true" onDataBinding="cnt_Container106_onDataBinding" GridCssClasses="OSInline" style="width: 33%" align="center"><OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance92" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance92_onDataBinding" InstanceID="_WebBlockInstance92"><phIcon><osweb:Container runat="server" id="wt_Container115" anonymous="true" onDataBinding="cnt_Container115_onDataBinding" align="center"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance53" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance53_onDataBinding" InstanceID="_WebBlockInstance53"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:PlaceHolder runat="server"><%# "Events" %></osweb:PlaceHolder></phIcon></OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ></osweb:Container></osweb:LinkButton></osweb:Container></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></osweb:Container></phTitle><phActions><osweb:Container runat="server" id="wt_Container40" anonymous="true" onDataBinding="cnt_Container40_onDataBinding" cssClass="iconbuttons"><osweb:Container runat="server" id="wt_Container28" anonymous="true" onDataBinding="cnt_Container28_onDataBinding"><osweb:HyperLink runat="server" id="wtsharelink" onDataBinding="lnksharelink_onDataBinding" Visible="<%# lnksharelink_isVisible() %>" Enabled="<%# lnksharelink_isEnabled() %>" NavigateUrl="<%# lnksharelink_NavigateUrl() %>"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance118" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance118_onDataBinding" InstanceID="_WebBlockInstance118"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:Span runat="server" id="wt_Text18" anonymous="true" class="margin-left-xs"><%# "Invite a Friend" %></osweb:Span></osweb:HyperLink></osweb:Container><OutSystemsUIWeb_widgets:K3VqoS_dtwkiOxxS27gIatg runat="server" id="OutSystemsUIWeb_wtshareballoon" OnEvaluateParameters="OutSystemsUIWeb_webBlckshareballoon_onDataBinding" InstanceID="shareballoon"><phTitle><osweb:Container runat="server" id="wt_Container44" anonymous="true" onDataBinding="cnt_Container44_onDataBinding" align="left"><osweb:Span runat="server" id="wt_Text213" anonymous="true" onDataBinding="wt_Text213_onDataBinding" class="heading6"><%# "Invite a Friend" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container158" anonymous="true" onDataBinding="cnt_Container158_onDataBinding" align="left"><osweb:PlaceHolder runat="server"><%# "BIFY is better with friends, so invite yours and lets make gift giving better for everyone" %></osweb:PlaceHolder></osweb:Container></phTitle><phContent><osweb:Container runat="server" id="wt_Container122" anonymous="true" onDataBinding="cnt_Container122_onDataBinding" align="center"><widgets:KgBhehbBVkky2BijDw6Yhmw runat="server" id="wt_WebBlockInstance144" OnEvaluateParameters="webBlck_WebBlockInstance144_onDataBinding" InstanceID="_WebBlockInstance144"></widgets:KgBhehbBVkky2BijDw6Yhmw></osweb:Container></phContent><phFooter><osweb:Button runat="server" id="wt_Button103" onDataBinding="btn_Button103_onDataBinding" cssClass="Button" GridCssClasses="OSFillParent" Visible="<%# btn_Button103_isVisible() %>" Enabled="<%# btn_Button103_isEnabled() %>" CausesValidation="false" text="<%# btn_Button103_getLabel() %>"/></phFooter></OutSystemsUIWeb_widgets:K3VqoS_dtwkiOxxS27gIatg><osweb:Container runat="server" id="wt_Container82" anonymous="true" onDataBinding="cnt_Container82_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link108" onDataBinding="lnk_Link108_onDataBinding" cssClass="text-green-light" Visible="<%# lnk_Link108_isVisible() %>" Enabled="<%# lnk_Link108_isEnabled() %>" NavigateUrl="<%# lnk_Link108_NavigateUrl() %>"><osweb:Span runat="server" id="wt_Text166" anonymous="true" class="margin-left-xs"><%# "Order History" %></osweb:Span></osweb:HyperLink></osweb:Container><osweb:Container runat="server" id="wt_Container137" anonymous="true" onDataBinding="cnt_Container137_onDataBinding"><osweb:LinkButton runat="server" id="wt_Link104" onDataBinding="lnk_Link104_onDataBinding" Visible="<%# lnk_Link104_isVisible() %>" Enabled="<%# lnk_Link104_isEnabled() %>" CausesValidation="false"><osweb:Span runat="server" id="wt_Text109" anonymous="true" class="margin-left-xs"><%# "Edit Profile" %></osweb:Span></osweb:LinkButton></osweb:Container><widgets:KVE3KQPOG6Ui3iTtojRg8Sw runat="server" id="wt_WebBlockInstance78" OnEvaluateParameters="webBlck_WebBlockInstance78_onDataBinding" InstanceID="_WebBlockInstance78"></widgets:KVE3KQPOG6Ui3iTtojRg8Sw></osweb:Container></phActions><phContent></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:Kz0UPrThFl0amVo34uepeMQ></osweb:If></osweb:IfPlaceHolder></div><script type="text/javascript">outsystems.internal.$(function() { OutSystems.Plugin.Widgets.Form.init('<%#wtForm.ClientID%>');});</script></osweb:CustomWidget></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:K8hQtFo0XCkeweo5S_DNxJw></osweb:Container></phMainContent><phSection2Content><osweb:Container runat="server" id="wt_Container13" anonymous="true" onDataBinding="cnt_Container13_onDataBinding"><widgets:KL7CSmokFEUaZAtmk9w8iAw runat="server" id="wt_WebBlockInstance157" OnEvaluateParameters="webBlck_WebBlockInstance157_onDataBinding" InstanceID="_WebBlockInstance157"><phTitle1><osweb:PlaceHolder runat="server"><%# "Coming Soon in 2019" %></osweb:PlaceHolder></phTitle1><phSubtitle><osweb:DynamicImage runat="server" id="wt_Image152" anonymous="true" style="margin-left: px" StaticSource="<%# Images.smartphone_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image152_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/><osweb:PlaceHolder runat="server"><%# "App " %></osweb:PlaceHolder><osweb:DynamicImage runat="server" id="wt_Image75" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.invitation_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image75_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/><osweb:Span runat="server" id="wt_Text30" anonymous="true" onDataBinding="wt_Text30_onDataBinding"><%# " Greetings Cards" %></osweb:Span><osweb:DynamicImage runat="server" id="wt_Image121" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.flower_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image121_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/><osweb:Span runat="server" id="wt_Text151" anonymous="true" onDataBinding="wt_Text151_onDataBinding"><%# " Flowers and much more!" %></osweb:Span></phSubtitle><phTitle2><osweb:Container runat="server" id="wt_Container204" anonymous="true" onDataBinding="cnt_Container204_onDataBinding" align="center"><osweb:Button runat="server" id="wt_Button149" cssClass="Button fmb Is_Default" GridCssClasses="ThemeGrid_Width6" Visible="<%# btn_Button149_isVisible() %>" Enabled="<%# btn_Button149_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button149_NavigateUrl() %>" text="<%# btn_Button149_getLabel() %>"/></osweb:Container></phTitle2></widgets:KL7CSmokFEUaZAtmk9w8iAw></osweb:Container></phSection2Content><phMainContent2><osweb:Container runat="server" id="wt_Container182" anonymous="true" onDataBinding="cnt_Container182_onDataBinding"><OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance12" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance12_onDataBinding" InstanceID="_WebBlockInstance12"><phColumn1><osweb:Container runat="server" id="wtYourGifts" onDataBinding="cntYourGifts_onDataBinding"><widgets:KJIDpJbGiD0O8UkDvxsdfxA runat="server" id="wt_WebBlockInstance57" OnEvaluateParameters="webBlck_WebBlockInstance57_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance57_BindDelegates" InstanceID="_WebBlockInstance57"></widgets:KJIDpJbGiD0O8UkDvxsdfxA></osweb:Container><osweb:Container runat="server" id="wt_Container187" anonymous="true" onDataBinding="cnt_Container187_onDataBinding"><osweb:IfPlaceHolder runat="server" id="wtWeddingIf" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtWeddingIf() %>"><osweb:Container runat="server" id="wt_Container148" anonymous="true" onDataBinding="cnt_Container148_onDataBinding"><widgets:KjaHl7Y45Lkq0aVojlG2wog runat="server" id="wt_WebBlockInstance1" OnEvaluateParameters="webBlck_WebBlockInstance1_onDataBinding" InstanceID="_WebBlockInstance1"><phTitle1><osweb:Span runat="server" id="wt_Text124" anonymous="true" class="text-neutral-0"><%# "Need a Wedding List?" %></osweb:Span></phTitle1><phSubtitle><osweb:Span runat="server" id="wt_Text93" anonymous="true" onDataBinding="wt_Text93_onDataBinding" class="text-neutral-0"><%# "Create a list of wedding gifts for friends and family to choose from" %></osweb:Span></phSubtitle><phTitle2><osweb:Container runat="server" id="wt_Container60" anonymous="true" onDataBinding="cnt_Container60_onDataBinding"><widgets:K_eZn4Z1dYkO_VwC2MLjWjA runat="server" id="wt_WebBlockInstance20" OnEvaluateParameters="webBlck_WebBlockInstance20_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance20_BindDelegates" InstanceID="_WebBlockInstance20"></widgets:K_eZn4Z1dYkO_VwC2MLjWjA></osweb:Container></phTitle2></widgets:KjaHl7Y45Lkq0aVojlG2wog></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtWeddingIf() %>"><osweb:Container runat="server" id="wt_Container189" anonymous="true" onDataBinding="cnt_Container189_onDataBinding"><widgets:KcIfpU2ypoUWW7FcTJn35QQ runat="server" id="wt_WebBlockInstance208" OnEvaluateParameters="webBlck_WebBlockInstance208_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance208_BindDelegates" InstanceID="_WebBlockInstance208"></widgets:KcIfpU2ypoUWW7FcTJn35QQ></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:Container><osweb:Container runat="server" id="wtYourFunds" onDataBinding="cntYourFunds_onDataBinding"><widgets:KWLOTt8MYRkqrfRUWdQHGeg runat="server" id="wt_WebBlockInstance221" OnEvaluateParameters="webBlck_WebBlockInstance221_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance221_BindDelegates" InstanceID="_WebBlockInstance221"></widgets:KWLOTt8MYRkqrfRUWdQHGeg></osweb:Container><osweb:Container runat="server" id="wtYourEvents" onDataBinding="cntYourEvents_onDataBinding"><widgets:Kz_BA_c6veECkzJTxBT6HFQ runat="server" id="wt_WebBlockInstance101" OnEvaluateParameters="webBlck_WebBlockInstance101_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance101_BindDelegates" InstanceID="_WebBlockInstance101"></widgets:Kz_BA_c6veECkzJTxBT6HFQ></osweb:Container><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If214() %>"><osweb:Container runat="server" id="wtWelcomeModal" onDataBinding="cntWelcomeModal_onDataBinding"><widgets:Kj7caiJtUMEKBbdm4PxCdIw runat="server" id="wt_WebBlockInstance91" OnEvaluateParameters="webBlck_WebBlockInstance91_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance91_BindDelegates" InstanceID="_WebBlockInstance91"></widgets:Kj7caiJtUMEKBbdm4PxCdIw></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If214() %>"></osweb:If></osweb:IfPlaceHolder></phColumn1><phColumn2><osweb:Span runat="server" id="wt_Text130" anonymous="true" onDataBinding="wt_Text130_onDataBinding"><%# "Recent Activity" %></osweb:Span><osweb:Container runat="server" id="wt_Container212" anonymous="true" onDataBinding="cnt_Container212_onDataBinding"><widgets:K9FSGiJbqBEWNVFCyoPUkiA runat="server" id="wt_WebBlockInstance191" OnEvaluateParameters="webBlck_WebBlockInstance191_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance191_BindDelegates" InstanceID="_WebBlockInstance191"></widgets:K9FSGiJbqBEWNVFCyoPUkiA></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA></osweb:Container></phMainContent2><phFooter><osweb:Container runat="server" id="wt_Container194" anonymous="true" onDataBinding="cnt_Container194_onDataBinding"><widgets:KcGiUZvJCtEiF3fde7a3MaQ runat="server" id="wt_WebBlockInstance177" OnEvaluateParameters="webBlck_WebBlockInstance177_onDataBinding" InstanceID="_WebBlockInstance177"></widgets:KcGiUZvJCtEiF3fde7a3MaQ></osweb:Container></phFooter></widgets:KNpFec5kizUC9WpROYh9ejw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
