﻿.panel-content:empty {
    display: none;
}

.MyCardBorder .panel-title {
    width: 70%;
}
.content{top:100px;} .phone .content{top:90px;} 

.Threeeboxes{margin-left: -40px;margin-top:40px;}

.savebuttonsmob{display: none;}
.savebuttons{display: inline-block;}
.iconbuttons{display: inline-block;}

.dropdown.is--visible .dropdown-content .dropdown-content-list {
    max-width: 120px;
    right: 13px;
}
.BioSetup{background-color: #e25787;}

.MyCard{border:none;}
.MyCardBorder{background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    border: var(--border-size-s) solid var(--color-neutral-4);}

.uploadbutton{position:absolute;left:90px;width:200px;opacity:0;cursor:pointer;}
.uploadbutton2{position:absolute;left: 96px;width: 56px;opacity:0;cursor:pointer!important;z-index: 999;}

.profileimg{
    max-height: 120px!important;
    margin-bottom: 20px!important;
    border: 2px solid;
    border-top-color: #DF4278;
    border-left-color: #00BDD9;
    border-right-color: #8FCC5A;
    border-bottom-color: #2E9F83;
    max-width: 200px!important;
    }
    
    .card-content:empty{display: none!important;}

 @media  only screen and (max-width:600px)
{
    .fmb{margin-top: 30px!important;}
    .cwl{margin-top: 30px!important;}
    .MyCard .panel-title{width: 100%;margin-top: -20px;text-align: center;}
    .datebox{margin-top:30px!important;}
    .Threeeboxes{margin-left: 0px!important;margin-top:50px!important;}

    .biobox{margin-top: 20px}
.columns-item:not(:last-child) {
    margin-bottom: -20px!important;
}
.savebuttons{display: none!important;}
.iconbuttons{text-align: center;}
.panel-actions{text-align: center;width: 100%;padding-bottom: 20px;}
.savebuttonsmob{display: inline-block!important;width: 100%;text-align: center!important;}
.editdetails{margin-bottom: 40px;}
}


@media only screen and (min-width:500px) and (max-width:900px)
 {

    .gallery-item{flex:none!important;width:48%!important;margin:0px!important;margin-right:10px!important;margin-bottom:10px!important;}
    .fundOptions{display:none;}
    .giftOptions{display:none;}
    .eventOptions{display:none;}
    .findgiftonlinebutton,.addgiftbutton, .addFundbutton{margin-top:0px!important;}
    
 }
