﻿.content{top:0px;} 

.ThemeGrid_Container 
{
    max-width: 1500px!important;
}
.card 
{
    border: none!important;
}

.layout .header {
    background-color: white;
    box-shadow: 0 1px 5px 0 rgba(21, 24, 26, .1);
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-top {
    height: 110px;
}
.app-logo {
    height: 110px;
    margin-right: var(--space-s);
    width: 110px;
}

.mobile_login_register{display: none;}

@media only screen and (max-width:685px)
{
    .card-background-image, .card-background-color {
    height: 400%;
    width: 400%;
}
.mobile_login_register{display:block;width: 100%;}
.login_register{display:none;width: 100%;}
}
 .firstList{
    counter-reset:chapter
}
 ol.clauses,ol.parties,ol.recitals{
    margin-left:0;
    padding:0 0 0 2em
}
 ol.clauses ol,ol.parties ol,ol.recitals ol{
    margin-left:0;
    padding:0 0 0 2em
}
ol.clauses li,ol.parties li,ol.recitals li{
    font-size:15px !important;
    margin-top:.5em;
    margin-bottom:.5em
}
ol.clauses>li>ol>li{
    list-style:lower-alpha !important
}
ol.clauses>li>ol>li>ol>li{
    list-style:lower-roman
}
ol.clauses>li,ol.parties>li{
    list-style-type:none;
    counter-increment:chapter
}
ol.parties>li:before,ol.clauses>li:before{
    width:2em;
    margin-left:-2em;
    display:inline-block
}
ol.clauses>li:before{
    content:counter(chapter) ". "
}
ol.parties>li:before{
    content:"(" counter(chapter) ") "
}
ol.recitals{
    list-style:upper-alpha !important
}
ol.clausesNested,ol.clausesNested ol{
    counter-reset:item;
    margin-left:0;
    padding-left:0
}
ol.clausesNested{
    padding:0 5em 0 5em
}
ol.clausesNested li{
    font-weight:bold
}
ol.clausesNested li p,ol.clausesNested li li{
    font-weight:normal
}
ol.clausesNested li ol>li{
    margin-top:1em;
    margin-bottom:1em
}
ol.clausesNested li p{
    margin-top:0
}
ol.clausesNested>li,ol.clausesNested ol>li{
    display:block;
    position:relative
}
 ol.clausesNested>li:before,ol.clausesNested ol>li:before{
    display:inline-block;
    content:counters(item, ".") ". ";
    counter-increment:item;
    width:4em;
    margin-left:-4em
}

table.definitions,div.schedule table{
    border-collapse:collapse !important;
    margin:1em 0 2em -2em !important
}
table.definitions tr:nth-child(odd),div.schedule table tr:nth-child(odd){
    background-color:#eee
}
table.definitions td,table.definitions th,div.schedule table td,div.schedule table th{
    border-top:1px solid black !important;
    border-bottom:1px solid black !important;
    padding:5px !important;
    vertical-align:top !important;
    text-align:left !important
}
table.definitions th,div.schedule table th{
    width:25% !important
}
table.signature,table.signature2,div.signature table{
    margin-top:1em !important;
    margin-bottom:1em !important
}
table.signature th,table.signature td,table.signature2 th,table.signature2 td,div.signature table th,div.signature table td{
    padding:1em 0 0 0 !important
}
table.signature th,table.signature2 th,div.signature table th{
    font-weight:normal !important;
    text-align:right !important;
    padding-right:1em !important;
    min-width:90px
}
table.signature td.signatureBox,table.signature2 td.signatureBox,div.signature table td.signatureBox{
    border-bottom:1px solid black !important;
    min-width:300px
}
.witness table th,.witness table td{
    border:none;
    vertical-align:text-top
}
.witness table th{
    font-weight:normal
}
ol.letterList{
    list-style:lower-alpha !important
}
div.schedule{
    border-top:1px solid black
}
div.schedule h2{
    text-align:center;
    text-transform:uppercase;
    margin-bottom:1em
}
div.schedule h3{
    margin-top:1em;
    text-align:center;
    margin-bottom:3em
}
table.withBorders{
    width:100%;
    border-width:0px;
    border-spacing:0px;
    border-style:none;
    border-color:gray;
    border-collapse:collapse;
    background-color:white;
}
table.withBorders th{
    border-width:1px;
    padding:5px;
    border-style:solid;
    border-color:black;
    background-color:white;
    -moz-border-radius: ;
}
table.withBorders td{
    border-width:1px;
    padding:5px;
    border-style:solid;
    border-color:black;
    background-color:white;
    -moz-border-radius: ;
}
 .pagebreakhere {
     page-break-before: always 
}
 