﻿<%@ Page Language="c#" Codebehind="Profile.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowLoggedIn.ScrnProfile" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Assembly Name="OutSystems.Plugin.Widgets.Runtime" %>
<%@ Register TagPrefix="widgets" TagName="KNpFec5kizUC9WpROYh9ejw" Src="Blocks\BIFY\Common\LayoutWithSections.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_5sqIAe8Z0mLMNBss5hGzg" Src="Blocks\BIFY\Common\Menu.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAotDlTFMDkS99aVrmrPR8g" Src="Blocks\BIFY\Weblocks\MeFriendsBlock.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KlboP3Mo1qU6C2FuyPN_r2w" Src="Blocks\BIFY\Weblocks\SearchBoxHeader.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_GuMHYd_qUWDcBCeoNqzHw" Src="Blocks\BIFY\Weblocks\BannerAFriend.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K8hQtFo0XCkeweo5S_DNxJw" Src="Blocks\BIFY\Structure\ColumnsSmallLeft.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KBJOBUaRDjEqu49x5gGiQ9A" Src="Blocks\BIFY\Content\CardSectioned.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kz0UPrThFl0amVo34uepeMQ" Src="Blocks\BIFY\Content\Panel.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAWqhXH28h0C_6V89jNv2hQ" Src="Blocks\BIFY\Structure\Columns2.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K72MZxgaeokGfkF8H6M6wsQ" Src="Blocks\BIFY\Numbers\IconBadge.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KL7CSmokFEUaZAtmk9w8iAw" Src="Blocks\BIFY\Weblocks\BannerGiftCard.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KJIDpJbGiD0O8UkDvxsdfxA" Src="Blocks\BIFY\Gallery\GiftGallery.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcIfpU2ypoUWW7FcTJn35QQ" Src="Blocks\BIFY\Gallery\GiftGalleryWedding.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KWLOTt8MYRkqrfRUWdQHGeg" Src="Blocks\BIFY\Gallery\FundGallery.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kz_BA_c6veECkzJTxBT6HFQ" Src="Blocks\BIFY\Gallery\EventGallery.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcGiUZvJCtEiF3fde7a3MaQ" Src="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:KNpFec5kizUC9WpROYh9ejw runat="server" id="wt_WebBlockInstance86" OnEvaluateParameters="webBlck_WebBlockInstance86_onDataBinding" InstanceID="_WebBlockInstance86"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance54" OnEvaluateParameters="webBlck_WebBlockInstance54_onDataBinding" InstanceID="_WebBlockInstance54"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter><widgets:K_5sqIAe8Z0mLMNBss5hGzg runat="server" id="wt_WebBlockInstance14" OnEvaluateParameters="webBlck_WebBlockInstance14_onDataBinding" InstanceID="_WebBlockInstance14"></widgets:K_5sqIAe8Z0mLMNBss5hGzg></phCenter><phRight><widgets:KAotDlTFMDkS99aVrmrPR8g runat="server" id="wt_WebBlockInstance24" OnEvaluateParameters="webBlck_WebBlockInstance24_onDataBinding" InstanceID="_WebBlockInstance24"></widgets:KAotDlTFMDkS99aVrmrPR8g><widgets:KlboP3Mo1qU6C2FuyPN_r2w runat="server" id="wt_WebBlockInstance31" OnEvaluateParameters="webBlck_WebBlockInstance31_onDataBinding" InstanceID="_WebBlockInstance31"></widgets:KlboP3Mo1qU6C2FuyPN_r2w></phRight><phHeaderContent></phHeaderContent><phSection1Content><widgets:K_GuMHYd_qUWDcBCeoNqzHw runat="server" id="wt_WebBlockInstance59" OnEvaluateParameters="webBlck_WebBlockInstance59_onDataBinding" InstanceID="_WebBlockInstance59"><phTitle1><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression23()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " Gift List" %></osweb:PlaceHolder></phTitle1><phTitle2><osweb:Span runat="server" id="wt_Text44" anonymous="true" onDataBinding="wt_Text44_onDataBinding"><%# "Find the perfect Gift for " %></osweb:Span><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression90()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " from their Gift List" %></osweb:PlaceHolder></phTitle2></widgets:K_GuMHYd_qUWDcBCeoNqzHw></phSection1Content><phBreadcrumbs></phBreadcrumbs><phTitle></phTitle><phActions></phActions><phMainContent><osweb:Container runat="server" id="wtYourAccount" onDataBinding="cntYourAccount_onDataBinding" cssClass="MyCardBorder"><OutSystemsUIWeb_widgets:K8hQtFo0XCkeweo5S_DNxJw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance46" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance46_onDataBinding" InstanceID="_WebBlockInstance46"><phColumn1><osweb:Container runat="server" id="wt_Container53" anonymous="true" onDataBinding="cnt_Container53_onDataBinding" align="center"><OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance77" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance77_onDataBinding" InstanceID="_WebBlockInstance77"><phImage><osweb:Container runat="server" id="wt_Container58" anonymous="true" onDataBinding="cnt_Container58_onDataBinding"><osweb:DynamicImage runat="server" id="wtuserimage2" onDataBinding="imguserimage2_onDataBinding" cssClass="border-radius-rounded profileimg" Source="<%# imguserimage2_getFilename() %>" StaticSource="<%# Images.userPhoto_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# imguserimage2_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></osweb:Container></phImage><phTitle></phTitle><phContent></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wtInfo_Wrapper" onDataBinding="cntInfo_Wrapper_onDataBinding"><osweb:CustomWidget runat="server" id="wtForm" onDataBinding="wtForm_onDataBinding" cssClass="Form" GridCssClasses="OSFillParent"><div class='form-left<%#((CustomWidget)wtForm).GetCssClass()%><%#((CustomWidget)wtForm).GetBehavior<OutSystems.Plugin.Widgets.Form>().GetReadOnlyClass()%>' style='<%#((CustomWidget)wtForm).GetStyle()%>' id='<%#wtForm.ClientID%>' name='<%#wtForm.UniqueID%>'><OutSystemsUIWeb_widgets:Kz0UPrThFl0amVo34uepeMQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance10" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance10_onDataBinding" InstanceID="_WebBlockInstance10"><phTitle><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression4()) %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container1" anonymous="true" onDataBinding="cnt_Container1_onDataBinding" cssClass="heading6"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression70()) %></osweb:PlaceHolder></osweb:Container></phTitle><phActions></phActions><phContent><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance19" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance19_onDataBinding" InstanceID="_WebBlockInstance19"><phColumn1><osweb:PlaceHolder runat="server"><%# "It&#39;s " %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression87()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression40()) %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container52" anonymous="true" onDataBinding="cnt_Container52_onDataBinding" style="margin-left: 0px"><osweb:LinkButton runat="server" id="wt_Link75" onDataBinding="lnk_Link75_onDataBinding" Visible="<%# lnk_Link75_isVisible() %>" Enabled="<%# lnk_Link75_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container81" anonymous="true" onDataBinding="cnt_Container81_onDataBinding" GridCssClasses="OSInline" style="width: 33%" align="center"><OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance80" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance80_onDataBinding" InstanceID="_WebBlockInstance80"><phIcon><osweb:Container runat="server" id="wt_Container83" anonymous="true" onDataBinding="cnt_Container83_onDataBinding" align="center"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance66" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance66_onDataBinding" InstanceID="_WebBlockInstance66"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:PlaceHolder runat="server"><%# "Gifts" %></osweb:PlaceHolder></phIcon></OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ></osweb:Container></osweb:LinkButton><osweb:LinkButton runat="server" id="wt_Link95" onDataBinding="lnk_Link95_onDataBinding" Visible="<%# lnk_Link95_isVisible() %>" Enabled="<%# lnk_Link95_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container30" anonymous="true" onDataBinding="cnt_Container30_onDataBinding" GridCssClasses="OSInline" style="width: 33%" align="center"><OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance32" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance32_onDataBinding" InstanceID="_WebBlockInstance32"><phIcon><osweb:Container runat="server" id="wt_Container42" anonymous="true" onDataBinding="cnt_Container42_onDataBinding" align="center"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance43" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance43_onDataBinding" InstanceID="_WebBlockInstance43"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:PlaceHolder runat="server"><%# "Funds" %></osweb:PlaceHolder></phIcon></OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ></osweb:Container></osweb:LinkButton><osweb:LinkButton runat="server" id="wt_Link73" onDataBinding="lnk_Link73_onDataBinding" Visible="<%# lnk_Link73_isVisible() %>" Enabled="<%# lnk_Link73_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container79" anonymous="true" onDataBinding="cnt_Container79_onDataBinding" GridCssClasses="OSInline" style="width: 33%" align="center"><OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance21" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance21_onDataBinding" InstanceID="_WebBlockInstance21"><phIcon><osweb:Container runat="server" id="wt_Container17" anonymous="true" onDataBinding="cnt_Container17_onDataBinding" align="center"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance49" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance49_onDataBinding" InstanceID="_WebBlockInstance49"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:PlaceHolder runat="server"><%# "Events" %></osweb:PlaceHolder></phIcon></OutSystemsUIWeb_widgets:K72MZxgaeokGfkF8H6M6wsQ></osweb:Container></osweb:LinkButton></osweb:Container></phColumn1><phColumn2></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:Kz0UPrThFl0amVo34uepeMQ></div><script type="text/javascript">outsystems.internal.$(function() { OutSystems.Plugin.Widgets.Form.init('<%#wtForm.ClientID%>');});</script></osweb:CustomWidget></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:K8hQtFo0XCkeweo5S_DNxJw></osweb:Container></phMainContent><phSection2Content><widgets:KL7CSmokFEUaZAtmk9w8iAw runat="server" id="wt_WebBlockInstance84" OnEvaluateParameters="webBlck_WebBlockInstance84_onDataBinding" InstanceID="_WebBlockInstance84"><phTitle1><osweb:PlaceHolder runat="server"><%# "Send " %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression25()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " a greetings card " %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container50" anonymous="true" onDataBinding="cnt_Container50_onDataBinding" GridCssClasses="OSInline"><osweb:Span runat="server" id="wt_Text68" anonymous="true" class="badge-small background-primary padding-s border-radius-rounded"><%# "Coming Soon" %></osweb:Span></osweb:Container></phTitle1><phSubtitle><osweb:Span runat="server" id="wt_Text11" anonymous="true" onDataBinding="wt_Text11_onDataBinding"><%# "Just to say hello or for a special occasion" %></osweb:Span></phSubtitle><phTitle2><osweb:Container runat="server" id="wt_Container97" anonymous="true" onDataBinding="cnt_Container97_onDataBinding" align="center"><osweb:Button runat="server" id="wt_Button20" cssClass="Button fmb Is_Default" GridCssClasses="ThemeGrid_Width6" Visible="<%# btn_Button20_isVisible() %>" Enabled="<%# btn_Button20_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button20_NavigateUrl() %>" text="<%# btn_Button20_getLabel() %>"/></osweb:Container></phTitle2></widgets:KL7CSmokFEUaZAtmk9w8iAw></phSection2Content><phMainContent2><osweb:Container runat="server" id="wtYourGifts" onDataBinding="cntYourGifts_onDataBinding"><widgets:KJIDpJbGiD0O8UkDvxsdfxA runat="server" id="wt_WebBlockInstance82" OnEvaluateParameters="webBlck_WebBlockInstance82_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance82_BindDelegates" InstanceID="_WebBlockInstance82"></widgets:KJIDpJbGiD0O8UkDvxsdfxA><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If91() %>"><osweb:Container runat="server" id="wt_Container61" anonymous="true" onDataBinding="cnt_Container61_onDataBinding"><widgets:KcIfpU2ypoUWW7FcTJn35QQ runat="server" id="wt_WebBlockInstance85" OnEvaluateParameters="webBlck_WebBlockInstance85_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance85_BindDelegates" InstanceID="_WebBlockInstance85"></widgets:KcIfpU2ypoUWW7FcTJn35QQ></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If91() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container><osweb:Container runat="server" id="wtYourFunds" onDataBinding="cntYourFunds_onDataBinding"><widgets:KWLOTt8MYRkqrfRUWdQHGeg runat="server" id="wt_WebBlockInstance28" OnEvaluateParameters="webBlck_WebBlockInstance28_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance28_BindDelegates" InstanceID="_WebBlockInstance28"></widgets:KWLOTt8MYRkqrfRUWdQHGeg></osweb:Container><osweb:Container runat="server" id="wtYourEvents" onDataBinding="cntYourEvents_onDataBinding"><widgets:Kz_BA_c6veECkzJTxBT6HFQ runat="server" id="wt_WebBlockInstance99" OnEvaluateParameters="webBlck_WebBlockInstance99_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance99_BindDelegates" InstanceID="_WebBlockInstance99"></widgets:Kz_BA_c6veECkzJTxBT6HFQ></osweb:Container></phMainContent2><phFooter><widgets:KcGiUZvJCtEiF3fde7a3MaQ runat="server" id="wt_WebBlockInstance22" OnEvaluateParameters="webBlck_WebBlockInstance22_onDataBinding" InstanceID="_WebBlockInstance22"></widgets:KcGiUZvJCtEiF3fde7a3MaQ></phFooter></widgets:KNpFec5kizUC9WpROYh9ejw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
