﻿.content{top:100px;} .phone .content{top:90px;} 
.MyCard{border:none;}
.MyCardBorder{background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    border: var(--border-size-s) solid var(--color-neutral-4);}

.uploadbutton{position:absolute;left:90px;width:200px;opacity:0;cursor:pointer;}
.uploadbutton2{position:absolute;left: 126px;width: 54px;opacity:0;cursor:pointer!important;z-index:99;}

.profileimg{
    max-height: 200px!important;
    margin-bottom: 20px!important;
    border: 2px solid;
    border-top-color: #DF4278;
    border-left-color: #00BDD9;
    border-right-color: #8FCC5A;
    border-bottom-color: #2E9F83;
    max-width: 200px!important;
    }
    
.card-content:empty
{display: none;}
.panel-content:empty {
    display: none;
}


 @media  only screen and (max-width:600px)
{
    .fmb{margin-top: 30px!important;}
}