﻿<%@ Page Language="c#" Codebehind="Register99.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowCommon.ScrnRegister99" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K0DXHAiSm3E_Ya4Q1xZsKcQ" Src="Blocks\BIFY\Layouts\LayoutLogin.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kr6GvyhSuo0yC76hHGqpWlA" Src="Blocks\BIFY\Layouts\LoginForm.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KUnwWFNwPR0259fFxXTkxDw" Src="Blocks\BIFY\Controls\InputWithIcon.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Ku51_wRy5X0uNJYYBgTy1Jw" Src="Blocks\BIFY\Utilities\Separator.ascx" %>
<%@ Register TagPrefix="SocialLoginAPI_widgets" TagName="KAwXn8lQAU0ew8tDB3ZqXdw" Src="Blocks\BIFY\LoginInterfaces\FacebookLogin.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KktEsdVBkDE2I1Jgsk4PYRQ" Src="Blocks\BIFY\Weblocks\BIFYStory.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<OutSystemsUIWeb_widgets:K0DXHAiSm3E_Ya4Q1xZsKcQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance62" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance62_onDataBinding" InstanceID="_WebBlockInstance62"><phLogin><OutSystemsUIWeb_widgets:Kr6GvyhSuo0yC76hHGqpWlA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance61" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance61_onDataBinding" InstanceID="_WebBlockInstance61"><phLogin><osweb:IfPlaceHolder runat="server" id="wtemailif" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtemailif() %>"><osweb:Container runat="server" id="wt_Container4" anonymous="true" onDataBinding="cnt_Container4_onDataBinding" cssClass="layout-login-logo text-align-center"><osweb:Container runat="server" id="wt_Container10" anonymous="true" onDataBinding="cnt_Container10_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link21" Visible="<%# lnk_Link21_isVisible() %>" Enabled="<%# lnk_Link21_isEnabled() %>" NavigateUrl="<%# lnk_Link21_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image1" anonymous="true" StaticSource="<%# Images.bifyiconwithtext_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image1_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:HyperLink></osweb:Container><osweb:Container runat="server" id="wt_Container45" anonymous="true" onDataBinding="cnt_Container45_onDataBinding" cssClass="heading2 text-neutral-8 margin-top-m"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression22()) %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container38" anonymous="true" onDataBinding="cnt_Container38_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container55" anonymous="true" onDataBinding="cnt_Container55_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Join the revolution and start creating Gift Lists, share Gift ideas and connect with friends and family - for FREE" %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container20" anonymous="true" onDataBinding="cnt_Container20_onDataBinding"><osweb:Container runat="server" id="wt_Container68" anonymous="true" onDataBinding="cnt_Container68_onDataBinding" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance60" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance60_onDataBinding" InstanceID="_WebBlockInstance60"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance39" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance39_onDataBinding" InstanceID="_WebBlockInstance39"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtFirstnameInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtFirstnameInput_isVisible() %>" ReadOnly="<%# !inputwtFirstnameInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtFirstnameInput_input_value() %>" onTextChanged="inputwtFirstnameInput_input_onTextChanged" Mandatory="<%# inputwtFirstnameInput_isMandatory() %>" placeholder="<%# inputwtFirstnameInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtFirstnameInput") ?? Container.FindControl("wtFirstnameInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtFirstnameInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtFirstnameInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtFirstnameInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtFirstnameInput" ClientValidationFunction="OsCustomValidatorText"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container><osweb:Container runat="server" id="wt_Container16" anonymous="true" onDataBinding="cnt_Container16_onDataBinding" GridCssClasses="ThemeGrid_Width6 ThemeGrid_MarginGutter"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance8" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance8_onDataBinding" InstanceID="_WebBlockInstance8"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance41" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance41_onDataBinding" InstanceID="_WebBlockInstance41"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtSurnameInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtSurnameInput_isVisible() %>" ReadOnly="<%# !inputwtSurnameInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtSurnameInput_input_value() %>" onTextChanged="inputwtSurnameInput_input_onTextChanged" Mandatory="<%# inputwtSurnameInput_isMandatory() %>" placeholder="<%# inputwtSurnameInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtSurnameInput") ?? Container.FindControl("wtSurnameInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtSurnameInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtSurnameInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtSurnameInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtSurnameInput" ClientValidationFunction="OsCustomValidatorText"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container24" anonymous="true" onDataBinding="cnt_Container24_onDataBinding"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance13" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance13_onDataBinding" InstanceID="_WebBlockInstance13"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance66" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance66_onDataBinding" InstanceID="_WebBlockInstance66"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtEmailInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtEmailInput_isVisible() %>" ReadOnly="<%# !inputwtEmailInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetEmailValidatorMsg" textmode="SingleLine" text="<%# inputwtEmailInput_input_value() %>" onTextChanged="inputwtEmailInput_input_onTextChanged" Mandatory="<%# inputwtEmailInput_isMandatory() %>" placeholder="<%# inputwtEmailInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtEmailInput") ?? Container.FindControl("wtEmailInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtEmailInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtEmailInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtEmailInputValidatorType" ErrorMessage="<%# BIFY_Properties.EmailValidatorMsg %>" ControlToValidate="wtEmailInput" ClientValidationFunction="OsCustomValidatorEmail"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container><osweb:Container runat="server" id="wt_Container33" anonymous="true" onDataBinding="cnt_Container33_onDataBinding"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance65" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance65_onDataBinding" InstanceID="_WebBlockInstance65"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance7" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance7_onDataBinding" InstanceID="_WebBlockInstance7"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtPassword" onDataBinding="inputwtPassword_onDataBinding" cssClass="input" GridCssClasses="ThemeGrid_Width4" textmode="Password" Visible="<%# inputwtPassword_isVisible() %>" ReadOnly="<%# !inputwtPassword_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" text="<%# inputwtPassword_input_value() %>" onTextChanged="inputwtPassword_input_onTextChanged" Mandatory="<%# inputwtPassword_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtPasswordValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtPassword"/><osweb:TextValidator runat="server" display="Dynamic" id="wtPasswordValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtPassword" ClientValidationFunction="OsCustomValidatorText"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container><osweb:Container runat="server" id="wt_Container50" anonymous="true" onDataBinding="cnt_Container50_onDataBinding"><osweb:CheckBox runat="server" id="wtterms" cssClass="checkbox" Visible="<%# chkterms_isVisible() %>" Enabled="<%# chkterms_isEnabled() %>" Checked="<%# chkterms_checked_value() %>" onCheckedChanged="chkterms_checkbox_onCheckedChanged"/><osweb:Container runat="server" id="wt_Container64" anonymous="true" onDataBinding="cnt_Container64_onDataBinding" cssClass="ts" GridCssClasses="ThemeGrid_Width11 ThemeGrid_MarginGutter"><osweb:Span runat="server" id="wt_Text32" anonymous="true" class="font-size-xs"><%# " I have read and understood the " %></osweb:Span><osweb:HyperLink runat="server" id="wt_Link57" onDataBinding="lnk_Link57_onDataBinding" Visible="<%# lnk_Link57_isVisible() %>" Enabled="<%# lnk_Link57_isEnabled() %>" NavigateUrl="<%# lnk_Link57_NavigateUrl() %>"><osweb:Span runat="server" id="wt_Text52" anonymous="true" class="font-size-xs"><%# "Terms and Conditions" %></osweb:Span></osweb:HyperLink><osweb:Span runat="server" id="wt_Text25" anonymous="true" class="font-size-xs"><%# " and " %></osweb:Span><osweb:HyperLink runat="server" id="wt_Link2" onDataBinding="lnk_Link2_onDataBinding" Visible="<%# lnk_Link2_isVisible() %>" Enabled="<%# lnk_Link2_isEnabled() %>" NavigateUrl="<%# lnk_Link2_NavigateUrl() %>"><osweb:Span runat="server" id="wt_Text44" anonymous="true" class="font-size-xs"><%# "Privacy Policy" %></osweb:Span></osweb:HyperLink></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container53" anonymous="true" onDataBinding="cnt_Container53_onDataBinding" cssClass="layout-login-button  margin-top-s"><span runat="server" id="wtregisterAjaxRfrsh"><osweb:Button runat="server" id="wtregister" onDataBinding="btnregister_onDataBinding" cssClass="Button  Is_Default" GridCssClasses="OSFillParent" Visible="<%# btnregister_isVisible() %>" Enabled="<%# btnregister_isEnabled() %>" CausesValidation="false" text="<%# btnregister_getLabel() %>"/></span><OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance40" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance40_onDataBinding" InstanceID="_WebBlockInstance40"></OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw><osweb:Container runat="server" id="wt_Container14" anonymous="true" onDataBinding="cnt_Container14_onDataBinding" align="center"><SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw runat="server" id="SocialLoginAPI_wt_WebBlockInstance34" OnEvaluateParameters="SocialLoginAPI_webBlck_WebBlockInstance34_onDataBinding" InstanceID="_WebBlockInstance34"></SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtemailif() %>"><osweb:Container runat="server" id="wt_Container19" anonymous="true" onDataBinding="cnt_Container19_onDataBinding" cssClass="layout-login-logo text-align-center"><osweb:Container runat="server" id="wt_Container27" anonymous="true" onDataBinding="cnt_Container27_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link30" Visible="<%# lnk_Link30_isVisible() %>" Enabled="<%# lnk_Link30_isEnabled() %>" NavigateUrl="<%# lnk_Link30_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image58" anonymous="true" StaticSource="<%# Images.happystate_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image58_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:HyperLink></osweb:Container><osweb:Container runat="server" id="wt_Container56" anonymous="true" onDataBinding="cnt_Container56_onDataBinding" cssClass="heading2 text-neutral-8 margin-top-m"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression12()) %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container36" anonymous="true" onDataBinding="cnt_Container36_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container70" anonymous="true" onDataBinding="cnt_Container70_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Please check your email and verify your account. " %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container17" anonymous="true" onDataBinding="cnt_Container17_onDataBinding"><osweb:Span runat="server" id="wt_Text3" anonymous="true" onDataBinding="wt_Text3_onDataBinding" class="bold"><%# "Please make sure you check your spam / junk folder too - sometimes our first emails find their way into there!" %></osweb:Span></osweb:Container></osweb:Container></osweb:Container><osweb:Button runat="server" id="wtregister2" onDataBinding="btnregister2_onDataBinding" cssClass="Button Is_Default" GridCssClasses="OSFillParent" Visible="<%# btnregister2_isVisible() %>" Enabled="<%# btnregister2_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btnregister2_NavigateUrl() %>" text="<%# btnregister2_getLabel() %>"/></osweb:If></osweb:IfPlaceHolder></phLogin></OutSystemsUIWeb_widgets:Kr6GvyhSuo0yC76hHGqpWlA></phLogin><phBackgroundImage><widgets:KktEsdVBkDE2I1Jgsk4PYRQ runat="server" id="wt_WebBlockInstance43" OnEvaluateParameters="webBlck_WebBlockInstance43_onDataBinding" InstanceID="_WebBlockInstance43"></widgets:KktEsdVBkDE2I1Jgsk4PYRQ></phBackgroundImage></OutSystemsUIWeb_widgets:K0DXHAiSm3E_Ya4Q1xZsKcQ><osweb:PlaceHolder runat="server"><%# "Register" %></osweb:PlaceHolder><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
