﻿<%@ Page Language="c#" Codebehind="Register.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowCommon.ScrnRegister" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="SocialLoginAPI_widgets" TagName="KAwXn8lQAU0ew8tDB3ZqXdw" Src="Blocks\BIFY\LoginInterfaces\FacebookLogin.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Ku51_wRy5X0uNJYYBgTy1Jw" Src="Blocks\BIFY\Utilities\Separator.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KUnwWFNwPR0259fFxXTkxDw" Src="Blocks\BIFY\Controls\InputWithIcon.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<osweb:Container runat="server" id="wt_Container80" anonymous="true" onDataBinding="cnt_Container80_onDataBinding" cssClass="lgbx1"><osweb:Container runat="server" id="wt_Container42" anonymous="true" onDataBinding="cnt_Container42_onDataBinding" cssClass="lgbox"><osweb:IfPlaceHolder runat="server" id="wtemailif" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtemailif() %>"><osweb:Container runat="server" id="wt_Container84" anonymous="true" onDataBinding="cnt_Container84_onDataBinding" cssClass="layout-login-logo text-align-center"><osweb:Container runat="server" id="wt_Container78" anonymous="true" onDataBinding="cnt_Container78_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link57" Visible="<%# lnk_Link57_isVisible() %>" Enabled="<%# lnk_Link57_isEnabled() %>" NavigateUrl="<%# lnk_Link57_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image5" anonymous="true" StaticSource="<%# Images.bifyiconwithtext_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image5_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:HyperLink></osweb:Container><osweb:Container runat="server" id="wt_Container25" anonymous="true" onDataBinding="cnt_Container25_onDataBinding" cssClass="heading2 text-neutral-8 margin-top-m"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression61()) %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container67" anonymous="true" onDataBinding="cnt_Container67_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container3" anonymous="true" onDataBinding="cnt_Container3_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Join the revolution and register for FREE" %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container69" anonymous="true" onDataBinding="cnt_Container69_onDataBinding" align="center"><SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw runat="server" id="SocialLoginAPI_wt_WebBlockInstance15" OnEvaluateParameters="SocialLoginAPI_webBlck_WebBlockInstance15_onDataBinding" InstanceID="_WebBlockInstance15"></SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw></osweb:Container><OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance43" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance43_onDataBinding" InstanceID="_WebBlockInstance43"></OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw><osweb:Container runat="server" id="wt_Container31" anonymous="true" onDataBinding="cnt_Container31_onDataBinding"><osweb:Container runat="server" id="wt_Container21" anonymous="true" onDataBinding="cnt_Container21_onDataBinding" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance47" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance47_onDataBinding" InstanceID="_WebBlockInstance47"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance59" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance59_onDataBinding" InstanceID="_WebBlockInstance59"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtFirstnameInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtFirstnameInput_isVisible() %>" ReadOnly="<%# !inputwtFirstnameInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtFirstnameInput_input_value() %>" onTextChanged="inputwtFirstnameInput_input_onTextChanged" Mandatory="<%# inputwtFirstnameInput_isMandatory() %>" placeholder="<%# inputwtFirstnameInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtFirstnameInput") ?? Container.FindControl("wtFirstnameInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtFirstnameInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtFirstnameInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtFirstnameInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtFirstnameInput" ClientValidationFunction="OsCustomValidatorText"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container><osweb:Container runat="server" id="wt_Container32" anonymous="true" onDataBinding="cnt_Container32_onDataBinding" GridCssClasses="ThemeGrid_Width6 ThemeGrid_MarginGutter"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance49" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance49_onDataBinding" InstanceID="_WebBlockInstance49"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance26" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance26_onDataBinding" InstanceID="_WebBlockInstance26"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtSurnameInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtSurnameInput_isVisible() %>" ReadOnly="<%# !inputwtSurnameInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtSurnameInput_input_value() %>" onTextChanged="inputwtSurnameInput_input_onTextChanged" Mandatory="<%# inputwtSurnameInput_isMandatory() %>" placeholder="<%# inputwtSurnameInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtSurnameInput") ?? Container.FindControl("wtSurnameInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtSurnameInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtSurnameInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtSurnameInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtSurnameInput" ClientValidationFunction="OsCustomValidatorText"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container81" anonymous="true" onDataBinding="cnt_Container81_onDataBinding"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance88" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance88_onDataBinding" InstanceID="_WebBlockInstance88"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance65" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance65_onDataBinding" InstanceID="_WebBlockInstance65"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtEmailInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtEmailInput_isVisible() %>" ReadOnly="<%# !inputwtEmailInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetEmailValidatorMsg" textmode="SingleLine" text="<%# inputwtEmailInput_input_value() %>" onTextChanged="inputwtEmailInput_input_onTextChanged" Mandatory="<%# inputwtEmailInput_isMandatory() %>" placeholder="<%# inputwtEmailInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtEmailInput") ?? Container.FindControl("wtEmailInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtEmailInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtEmailInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtEmailInputValidatorType" ErrorMessage="<%# BIFY_Properties.EmailValidatorMsg %>" ControlToValidate="wtEmailInput" ClientValidationFunction="OsCustomValidatorEmail"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw><osweb:Container runat="server" id="wt_Container51" anonymous="true" onDataBinding="cnt_Container51_onDataBinding"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance66" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance66_onDataBinding" InstanceID="_WebBlockInstance66"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance93" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance93_onDataBinding" InstanceID="_WebBlockInstance93"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtEmailInput2" onDataBinding="inputwtEmailInput2_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtEmailInput2_isVisible() %>" ReadOnly="<%# !inputwtEmailInput2_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetEmailValidatorMsg" textmode="SingleLine" type="email" text="<%# inputwtEmailInput2_input_value() %>" onTextChanged="inputwtEmailInput2_input_onTextChanged" Mandatory="<%# inputwtEmailInput2_isMandatory() %>" placeholder="<%# inputwtEmailInput2_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtEmailInput2") ?? Container.FindControl("wtEmailInput2")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtEmailInput2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtEmailInput2"/><osweb:TextValidator runat="server" display="Dynamic" id="wtEmailInput2ValidatorType" ErrorMessage="<%# BIFY_Properties.EmailValidatorMsg %>" ControlToValidate="wtEmailInput2" ClientValidationFunction="OsCustomValidatorEmail"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container63" anonymous="true" onDataBinding="cnt_Container63_onDataBinding"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance36" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance36_onDataBinding" InstanceID="_WebBlockInstance36"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance74" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance74_onDataBinding" InstanceID="_WebBlockInstance74"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtPassword" onDataBinding="inputwtPassword_onDataBinding" cssClass="input" GridCssClasses="ThemeGrid_Width4" textmode="Password" Visible="<%# inputwtPassword_isVisible() %>" ReadOnly="<%# !inputwtPassword_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" text="<%# inputwtPassword_input_value() %>" onTextChanged="inputwtPassword_input_onTextChanged" Mandatory="<%# inputwtPassword_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtPasswordValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtPassword"/><osweb:TextValidator runat="server" display="Dynamic" id="wtPasswordValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtPassword" ClientValidationFunction="OsCustomValidatorText"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container><osweb:Container runat="server" id="wt_Container58" anonymous="true" onDataBinding="cnt_Container58_onDataBinding"><osweb:CheckBox runat="server" id="wtterms" cssClass="checkbox" Visible="<%# chkterms_isVisible() %>" Enabled="<%# chkterms_isEnabled() %>" Checked="<%# chkterms_checked_value() %>" onCheckedChanged="chkterms_checkbox_onCheckedChanged"/><osweb:Container runat="server" id="wt_Container55" anonymous="true" onDataBinding="cnt_Container55_onDataBinding" cssClass="ts" GridCssClasses="ThemeGrid_Width11 ThemeGrid_MarginGutter"><osweb:Span runat="server" id="wt_Text86" anonymous="true" class="font-size-xs"><%# " I have read and understood the " %></osweb:Span><osweb:HyperLink runat="server" id="wt_Link9" onDataBinding="lnk_Link9_onDataBinding" Visible="<%# lnk_Link9_isVisible() %>" Enabled="<%# lnk_Link9_isEnabled() %>" NavigateUrl="<%# lnk_Link9_NavigateUrl() %>"><osweb:Span runat="server" id="wt_Text71" anonymous="true" class="font-size-xs"><%# "Terms and Conditions" %></osweb:Span></osweb:HyperLink><osweb:Span runat="server" id="wt_Text37" anonymous="true" class="font-size-xs"><%# " and " %></osweb:Span><osweb:HyperLink runat="server" id="wt_Link11" onDataBinding="lnk_Link11_onDataBinding" Visible="<%# lnk_Link11_isVisible() %>" Enabled="<%# lnk_Link11_isEnabled() %>" NavigateUrl="<%# lnk_Link11_NavigateUrl() %>"><osweb:Span runat="server" id="wt_Text41" anonymous="true" class="font-size-xs"><%# "Privacy Policy" %></osweb:Span></osweb:HyperLink></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container87" anonymous="true" onDataBinding="cnt_Container87_onDataBinding" cssClass="layout-login-button  margin-top-s"><span runat="server" id="wtregisterAjaxRfrsh"><osweb:Button runat="server" id="wtregister" onDataBinding="btnregister_onDataBinding" cssClass="Button  Is_Default" GridCssClasses="OSFillParent" Visible="<%# btnregister_isVisible() %>" Enabled="<%# btnregister_isEnabled() %>" CausesValidation="false" text="<%# btnregister_getLabel() %>"/></span></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtemailif() %>"><osweb:Container runat="server" id="wt_Container45" anonymous="true" onDataBinding="cnt_Container45_onDataBinding" cssClass="layout-login-logo text-align-center"><osweb:Container runat="server" id="wt_Container6" anonymous="true" onDataBinding="cnt_Container6_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link30" Visible="<%# lnk_Link30_isVisible() %>" Enabled="<%# lnk_Link30_isEnabled() %>" NavigateUrl="<%# lnk_Link30_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image13" anonymous="true" StaticSource="<%# Images.happystate_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image13_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:HyperLink></osweb:Container><osweb:Container runat="server" id="wt_Container56" anonymous="true" onDataBinding="cnt_Container56_onDataBinding" cssClass="heading2 text-neutral-8 margin-top-m"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression82()) %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression19" anonymous="true" class="text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression19()) %></osweb:Span></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container7" anonymous="true" onDataBinding="cnt_Container7_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container64" anonymous="true" onDataBinding="cnt_Container64_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Please check your email and verify your account. " %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container48" anonymous="true" onDataBinding="cnt_Container48_onDataBinding"><osweb:Span runat="server" id="wt_Text70" anonymous="true" onDataBinding="wt_Text70_onDataBinding" class="bold"><%# "Please make sure you check your spam / junk folder too - sometimes our first emails find their way into there!" %></osweb:Span></osweb:Container></osweb:Container></osweb:Container><osweb:Button runat="server" id="wtregister2" onDataBinding="btnregister2_onDataBinding" cssClass="Button Is_Default" GridCssClasses="OSFillParent" Visible="<%# btnregister2_isVisible() %>" Enabled="<%# btnregister2_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btnregister2_NavigateUrl() %>" text="<%# btnregister2_getLabel() %>"/></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container17" anonymous="true" onDataBinding="cnt_Container17_onDataBinding" cssClass="lgbx2" GridCssClasses="OSInline"><osweb:Container runat="server" id="wt_Container53" anonymous="true" onDataBinding="cnt_Container53_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container52" anonymous="true" onDataBinding="cnt_Container52_onDataBinding"><osweb:Span runat="server" id="wt_Text40" anonymous="true" onDataBinding="wt_Text40_onDataBinding"><%# "BUYING" %></osweb:Span><osweb:Span runat="server" id="wt_Text29" anonymous="true" onDataBinding="wt_Text29_onDataBinding"><%# " " %></osweb:Span><osweb:Span runat="server" id="wt_Text35" anonymous="true" onDataBinding="wt_Text35_onDataBinding"><%# "IT" %></osweb:Span><osweb:Span runat="server" id="wt_Text2" anonymous="true" onDataBinding="wt_Text2_onDataBinding"><%# " " %></osweb:Span><osweb:Span runat="server" id="wt_Text10" anonymous="true" onDataBinding="wt_Text10_onDataBinding"><%# "FOR" %></osweb:Span><osweb:Span runat="server" id="wt_Text50" anonymous="true" onDataBinding="wt_Text50_onDataBinding"><%# " " %></osweb:Span><osweb:Span runat="server" id="wt_Text60" anonymous="true" onDataBinding="wt_Text60_onDataBinding"><%# "YOU" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container22" anonymous="true" onDataBinding="cnt_Container22_onDataBinding"><osweb:Span runat="server" id="wt_Text20" anonymous="true" onDataBinding="wt_Text20_onDataBinding"><%# "BIFY" %></osweb:Span><osweb:PlaceHolder runat="server"><%# " is the 21st century answer to buying gifts for special occasions for your friends and loved ones. " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container28" anonymous="true" onDataBinding="cnt_Container28_onDataBinding"><osweb:PlaceHolder runat="server"><%# "We all receive gifts that we don’t want and never use. As a Member of BIFY you can set up email reminders for special occasions and then view items to buy that your recipient will really appreciate. Or if you just want a reminder to send a card, text or make a call, we can help you do that too. " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container16" anonymous="true" onDataBinding="cnt_Container16_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Asking the people we care about what they would like as a present takes away the anticipation and surprise as they open your gift. With our help you can still shop in your usual way but you won’t need to ask, or guess what you should buy." %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container79" anonymous="true" onDataBinding="cnt_Container79_onDataBinding"><osweb:PlaceHolder runat="server"><%# "BIFY won’t get involved in your purchasing or methods of payment. You can use your BIFY fund to collectively buy a gift, but by directing you to PayPal ensures that any financial transaction is totally separate and secure." %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container39" anonymous="true" onDataBinding="cnt_Container39_onDataBinding"><osweb:PlaceHolder runat="server"><%# " Later this year we will be launching the BIFY electronic and paper greetings card, along with BIFY flowers. Our BIFY App is designed to help you save ideas of presents, by allowing you to scan items for yourself, or maybe another member of your family when out shopping and save them to your gift list.  <br/> " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container33" anonymous="true" onDataBinding="cnt_Container33_onDataBinding"><osweb:Span runat="server" id="wt_Text77" anonymous="true" onDataBinding="wt_Text77_onDataBinding"><%# "BIFY - GIFTING MADE EASY!" %></osweb:Span></osweb:Container></osweb:Container></osweb:Container><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
