﻿<%@ Page Language="c#" Codebehind="RegisterYourInterest.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowNotLoggedIn.ScrnRegisterYourInterest" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kz3isd_zy0kiORsLuRetsJw" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVlxoCzEyUUmJdaTCoz8lHA" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kv13_yGNUcEOpB4wLqrRadA" Src="Blocks\BIFY\Weblocks\Quote.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KSABazdW4NE63cMWiAzw6zQ" Src="Blocks\BIFY\Weblocks\ThreeBoxes.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K6GNC_cxIa0iQyiPte6piyg" Src="Blocks\BIFY\Weblocks\ImageLeft.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KE3fn3ULrjUyN7wkt9_aCDQ" Src="Blocks\BIFY\Weblocks\ImageRight.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kz3isd_zy0kiORsLuRetsJw runat="server" id="wt_WebBlockInstance28" OnEvaluateParameters="webBlck_WebBlockInstance28_onDataBinding" InstanceID="_WebBlockInstance28"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance47" OnEvaluateParameters="webBlck_WebBlockInstance47_onDataBinding" InstanceID="_WebBlockInstance47"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter></phCenter><phRight></phRight><phHeaderContent><osweb:Container runat="server" id="wt_Container79" anonymous="true" onDataBinding="cnt_Container79_onDataBinding" cssClass="mobile_login_register" align="center"></osweb:Container></phHeaderContent><phMainContent><widgets:KVlxoCzEyUUmJdaTCoz8lHA runat="server" id="wt_WebBlockInstance14" OnEvaluateParameters="webBlck_WebBlockInstance14_onDataBinding" InstanceID="_WebBlockInstance14"><phTitle><osweb:PlaceHolder runat="server"><%# "Coming Soon 2019" %></osweb:PlaceHolder></phTitle><phTitle2><osweb:PlaceHolder runat="server"><%# "Organise your gift lists and coordinate purchases with friends and family.  Easy and fun to use." %></osweb:PlaceHolder></phTitle2><phButton><widgets:Kv13_yGNUcEOpB4wLqrRadA runat="server" id="wt_WebBlockInstance24" OnEvaluateParameters="webBlck_WebBlockInstance24_onDataBinding" InstanceID="_WebBlockInstance24"><phPlaceholder1><osweb:PlaceHolder runat="server"><%# "Register your Interest" %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container32" anonymous="true" onDataBinding="cnt_Container32_onDataBinding"><osweb:TextBox runat="server" id="wt_Input31" onDataBinding="inputwt_Input31_onDataBinding" cssClass="input" GridCssClasses="ThemeGrid_Width5" Visible="<%# inputwt_Input31_isVisible() %>" ReadOnly="<%# !inputwt_Input31_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" type="email" text="<%# inputwt_Input31_input_value() %>" onTextChanged="inputwt_Input31_input_onTextChanged" Mandatory="<%# inputwt_Input31_isMandatory() %>" placeholder="<%# inputwt_Input31_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wt_Input31") ?? Container.FindControl("wt_Input31")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wt_Input31ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wt_Input31"/><osweb:TextValidator runat="server" display="Dynamic" id="wt_Input31ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wt_Input31" ClientValidationFunction="OsCustomValidatorText"/><osweb:Button runat="server" id="wt_Button11" onDataBinding="btn_Button11_onDataBinding" cssClass="Button Is_Default Is_Default" GridCssClasses="ThemeGrid_MarginGutter" Visible="<%# btn_Button11_isVisible() %>" Enabled="<%# btn_Button11_isEnabled() %>" CausesValidation="false" text="<%# btn_Button11_getLabel() %>"/></osweb:Container></phPlaceholder1></widgets:Kv13_yGNUcEOpB4wLqrRadA></phButton><phImage><osweb:DynamicImage runat="server" id="wt_Image19" anonymous="true" StaticSource="<%# Images.hero_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage></widgets:KVlxoCzEyUUmJdaTCoz8lHA><widgets:KSABazdW4NE63cMWiAzw6zQ runat="server" id="wt_WebBlockInstance46" OnEvaluateParameters="webBlck_WebBlockInstance46_onDataBinding" InstanceID="_WebBlockInstance46"><phIcon1><osweb:DynamicImage runat="server" id="wt_Image4" anonymous="true" StaticSource="<%# Images.Ellipse1_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon1><phTitle1><osweb:PlaceHolder runat="server"><%# "List It" %></osweb:PlaceHolder></phTitle1><phText><osweb:PlaceHolder runat="server"><%# "Create a gift list of perfect presents" %></osweb:PlaceHolder></phText><phIcon2><osweb:DynamicImage runat="server" id="wt_Image76" anonymous="true" StaticSource="<%# Images.Ellipse1copy_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon2><phTitle2><osweb:PlaceHolder runat="server"><%# "Share It" %></osweb:PlaceHolder></phTitle2><phText2><osweb:PlaceHolder runat="server"><%# "Share your gift list on social media" %></osweb:PlaceHolder></phText2><phIcon3><osweb:DynamicImage runat="server" id="wt_Image55" anonymous="true" StaticSource="<%# Images.Ellipse1copy2_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phIcon3><phTitle3><osweb:PlaceHolder runat="server"><%# "Gift It" %></osweb:PlaceHolder></phTitle3><phText3><osweb:PlaceHolder runat="server"><%# "Buy and receive gifts from members" %></osweb:PlaceHolder></phText3></widgets:KSABazdW4NE63cMWiAzw6zQ><widgets:K6GNC_cxIa0iQyiPte6piyg runat="server" id="wt_WebBlockInstance6" OnEvaluateParameters="webBlck_WebBlockInstance6_onDataBinding" InstanceID="_WebBlockInstance6"><phImage><osweb:DynamicImage runat="server" id="wt_Image64" anonymous="true" StaticSource="<%# Images.LargeFamilyGroupCelebratingBirthdayOnTerraceTogeth_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage><phTitle><osweb:PlaceHolder runat="server"><%# "Family Member&#39;s Birthday?" %></osweb:PlaceHolder></phTitle><phText><osweb:PlaceHolder runat="server"><%# "No worries - ask your friends and family to help you to create a list of gifts that they will love, coordinate who is buying what, and then get them all from one site!  " %></osweb:PlaceHolder></phText><phButton><osweb:Button runat="server" id="wt_Button66" cssClass="Button Button_Transparent" Visible="<%# btn_Button66_isVisible() %>" Enabled="<%# btn_Button66_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button66_NavigateUrl() %>" text="<%# btn_Button66_getLabel() %>"/></phButton></widgets:K6GNC_cxIa0iQyiPte6piyg><widgets:KE3fn3ULrjUyN7wkt9_aCDQ runat="server" id="wt_WebBlockInstance77" OnEvaluateParameters="webBlck_WebBlockInstance77_onDataBinding" InstanceID="_WebBlockInstance77"><phTitle><osweb:Span runat="server" id="wt_Text54" anonymous="true" onDataBinding="wt_Text54_onDataBinding"><%# "Got enough Socks?" %></osweb:Span></phTitle><phText><osweb:Span runat="server" id="wt_Text65" anonymous="true" onDataBinding="wt_Text65_onDataBinding"><%# "Create your own gift list and share with your loved ones, so you don’t have to receive the dreaded socks again (unless you want some!). " %></osweb:Span></phText><phButton><osweb:Button runat="server" id="wt_Button35" cssClass="Button Button_TransparentBlue" Visible="<%# btn_Button35_isVisible() %>" Enabled="<%# btn_Button35_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button35_NavigateUrl() %>" text="<%# btn_Button35_getLabel() %>"/></phButton><phImage><osweb:DynamicImage runat="server" id="wt_Image58" anonymous="true" StaticSource="<%# Images.fancysocks531790694_4936x3291_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage><phImage2><osweb:DynamicImage runat="server" id="wt_Image67" anonymous="true" StaticSource="<%# Images.fancysocks531790694_4936x3291_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage2><phTitle2><osweb:Span runat="server" id="wt_Text8" anonymous="true" onDataBinding="wt_Text8_onDataBinding"><%# "Got enough Socks?" %></osweb:Span></phTitle2><phText2><osweb:Span runat="server" id="wt_Text62" anonymous="true" onDataBinding="wt_Text62_onDataBinding"><%# "Create your own gift list and share with your loved ones, so you don’t have to receive the dreaded socks again (unless you want some!). " %></osweb:Span></phText2><phButton2><osweb:Button runat="server" id="wt_Button25" cssClass="Button Button_TransparentBlue" Visible="<%# btn_Button25_isVisible() %>" Enabled="<%# btn_Button25_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button25_NavigateUrl() %>" text="<%# btn_Button25_getLabel() %>"/></phButton2></widgets:KE3fn3ULrjUyN7wkt9_aCDQ><widgets:K6GNC_cxIa0iQyiPte6piyg runat="server" id="wt_WebBlockInstance68" OnEvaluateParameters="webBlck_WebBlockInstance68_onDataBinding" InstanceID="_WebBlockInstance68"><phImage><osweb:DynamicImage runat="server" id="wt_Image10" anonymous="true" StaticSource="<%# Images.iStock579141502_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage><phTitle><osweb:PlaceHolder runat="server"><%# "Met someone amazing?" %></osweb:PlaceHolder></phTitle><phText><osweb:PlaceHolder runat="server"><%# "Met a girl or guy and want to impress them? All you need is their phone number or email address and you can gift them something wonderful!" %></osweb:PlaceHolder></phText><phButton><osweb:Button runat="server" id="wt_Button36" cssClass="Button Button_Transparent" Visible="<%# btn_Button36_isVisible() %>" Enabled="<%# btn_Button36_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btn_Button36_NavigateUrl() %>" text="<%# btn_Button36_getLabel() %>"/></phButton></widgets:K6GNC_cxIa0iQyiPte6piyg><widgets:Kv13_yGNUcEOpB4wLqrRadA runat="server" id="wt_WebBlockInstance13" OnEvaluateParameters="webBlck_WebBlockInstance13_onDataBinding" InstanceID="_WebBlockInstance13"><phPlaceholder1><osweb:PlaceHolder runat="server"><%# "Register your Interest" %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container5" anonymous="true" onDataBinding="cnt_Container5_onDataBinding"><osweb:TextBox runat="server" id="wt_Input48" onDataBinding="inputwt_Input48_onDataBinding" cssClass="input" GridCssClasses="ThemeGrid_Width5" Visible="<%# inputwt_Input48_isVisible() %>" ReadOnly="<%# !inputwt_Input48_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" type="email" text="<%# inputwt_Input48_input_value() %>" onTextChanged="inputwt_Input48_input_onTextChanged" Mandatory="<%# inputwt_Input48_isMandatory() %>" placeholder="<%# inputwt_Input48_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wt_Input48") ?? Container.FindControl("wt_Input48")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wt_Input48ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wt_Input48"/><osweb:TextValidator runat="server" display="Dynamic" id="wt_Input48ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wt_Input48" ClientValidationFunction="OsCustomValidatorText"/><osweb:Button runat="server" id="wt_Button50" onDataBinding="btn_Button50_onDataBinding" cssClass="Button Is_Default" GridCssClasses="ThemeGrid_MarginGutter" Visible="<%# btn_Button50_isVisible() %>" Enabled="<%# btn_Button50_isEnabled() %>" CausesValidation="false" text="<%# btn_Button50_getLabel() %>"/></osweb:Container></phPlaceholder1></widgets:Kv13_yGNUcEOpB4wLqrRadA></phMainContent><phFooter></phFooter></widgets:Kz3isd_zy0kiORsLuRetsJw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
