﻿.Responsive div.Feedback_Message_Wrapper {
    margin-top: 35px;
}

.layout-login-simple .layout-login-form-content {
    background-image: url(/BIFY/img/pexelsphoto1303082.jpg?223&864);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.layout-login-simple .layout-login-form
{
    left: 0;
    position: absolute;
    left: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 0px!important;
    overflow: scroll;
    max-width: 500px;
    border-radius:0px;
}


.Button_FB{background-color:#3578e5;border:none;color:white;width:100%;}
.Button_FB:hover{    background-color: #365899;
    border: 2px solid #365899;color:white;width:100%;}
    
    
.ts{display:inline-block;width: 85%!important;margin-left: 10px!important;}

@media only screen and (max-width:320px)
{

.layout-login-form
{
  display:block;
  height:100%;
  width:100%;
  border-radius:0px!important;
  padding-top:30px;
  overflow: scroll;
}

}


@media only screen and (min-width:321px) and (max-width:400px)
{
.layout-login-form
{
    display: flex;
  justify-content: top!important;
  align-items: center;
  height:100%;
  width:100%;
  border-radius:0px!important;
    overflow: scroll;

}


}
@media only screen and (min-width:401px) and (max-width:650px)
{

.layout-login-form
{
    display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  border-radius:0px!important;
    overflow: scroll;

}

}

