﻿<%@ Page Language="c#" Codebehind="RegisterOld.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowCommon.ScrnRegisterOld" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KUYGG3NYG_UOJvFnlIi4gSQ" Src="Blocks\BIFY\Layouts\LayoutLoginSplit.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAWqhXH28h0C_6V89jNv2hQ" Src="Blocks\BIFY\Structure\Columns2.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kr6GvyhSuo0yC76hHGqpWlA" Src="Blocks\BIFY\Layouts\LoginForm.ascx" %>
<%@ Register TagPrefix="SocialLoginAPI_widgets" TagName="KAwXn8lQAU0ew8tDB3ZqXdw" Src="Blocks\BIFY\LoginInterfaces\FacebookLogin.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Ku51_wRy5X0uNJYYBgTy1Jw" Src="Blocks\BIFY\Utilities\Separator.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KUnwWFNwPR0259fFxXTkxDw" Src="Blocks\BIFY\Controls\InputWithIcon.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KktEsdVBkDE2I1Jgsk4PYRQ" Src="Blocks\BIFY\Weblocks\BIFYStory.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<OutSystemsUIWeb_widgets:KUYGG3NYG_UOJvFnlIi4gSQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance38" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance38_onDataBinding" InstanceID="_WebBlockInstance38"><phLogin><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance23" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance23_onDataBinding" InstanceID="_WebBlockInstance23"><phColumn1><OutSystemsUIWeb_widgets:Kr6GvyhSuo0yC76hHGqpWlA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance78" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance78_onDataBinding" InstanceID="_WebBlockInstance78"><phLogin><osweb:Container runat="server" id="wt_Container59" anonymous="true" onDataBinding="cnt_Container59_onDataBinding" cssClass="lgbox"><osweb:IfPlaceHolder runat="server" id="wtemailif" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtemailif() %>"><osweb:Container runat="server" id="wt_Container64" anonymous="true" onDataBinding="cnt_Container64_onDataBinding" cssClass="layout-login-logo text-align-center"><osweb:Container runat="server" id="wt_Container77" anonymous="true" onDataBinding="cnt_Container77_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link34" Visible="<%# lnk_Link34_isVisible() %>" Enabled="<%# lnk_Link34_isEnabled() %>" NavigateUrl="<%# lnk_Link34_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image63" anonymous="true" StaticSource="<%# Images.bifyiconwithtext_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image63_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:HyperLink></osweb:Container><osweb:Container runat="server" id="wt_Container13" anonymous="true" onDataBinding="cnt_Container13_onDataBinding" cssClass="heading2 text-neutral-8 margin-top-m"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression66()) %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container52" anonymous="true" onDataBinding="cnt_Container52_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container19" anonymous="true" onDataBinding="cnt_Container19_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Join the revolution and start creating Gift Lists, share Gift ideas and connect with friends and family - for FREE" %></osweb:PlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container71" anonymous="true" onDataBinding="cnt_Container71_onDataBinding" align="center"><SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw runat="server" id="SocialLoginAPI_wt_WebBlockInstance43" OnEvaluateParameters="SocialLoginAPI_webBlck_WebBlockInstance43_onDataBinding" InstanceID="_WebBlockInstance43"></SocialLoginAPI_widgets:KAwXn8lQAU0ew8tDB3ZqXdw></osweb:Container><OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance41" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance41_onDataBinding" InstanceID="_WebBlockInstance41"></OutSystemsUIWeb_widgets:Ku51_wRy5X0uNJYYBgTy1Jw><osweb:Container runat="server" id="wt_Container72" anonymous="true" onDataBinding="cnt_Container72_onDataBinding"><osweb:Container runat="server" id="wt_Container53" anonymous="true" onDataBinding="cnt_Container53_onDataBinding" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance61" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance61_onDataBinding" InstanceID="_WebBlockInstance61"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance5" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtFirstnameInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtFirstnameInput_isVisible() %>" ReadOnly="<%# !inputwtFirstnameInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtFirstnameInput_input_value() %>" onTextChanged="inputwtFirstnameInput_input_onTextChanged" Mandatory="<%# inputwtFirstnameInput_isMandatory() %>" placeholder="<%# inputwtFirstnameInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtFirstnameInput") ?? Container.FindControl("wtFirstnameInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtFirstnameInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtFirstnameInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtFirstnameInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtFirstnameInput" ClientValidationFunction="OsCustomValidatorText"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container><osweb:Container runat="server" id="wt_Container54" anonymous="true" onDataBinding="cnt_Container54_onDataBinding" GridCssClasses="ThemeGrid_Width6 ThemeGrid_MarginGutter"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance57" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance57_onDataBinding" InstanceID="_WebBlockInstance57"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance65" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance65_onDataBinding" InstanceID="_WebBlockInstance65"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtSurnameInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtSurnameInput_isVisible() %>" ReadOnly="<%# !inputwtSurnameInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtSurnameInput_input_value() %>" onTextChanged="inputwtSurnameInput_input_onTextChanged" Mandatory="<%# inputwtSurnameInput_isMandatory() %>" placeholder="<%# inputwtSurnameInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtSurnameInput") ?? Container.FindControl("wtSurnameInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtSurnameInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtSurnameInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtSurnameInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtSurnameInput" ClientValidationFunction="OsCustomValidatorText"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container49" anonymous="true" onDataBinding="cnt_Container49_onDataBinding"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance17" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance17_onDataBinding" InstanceID="_WebBlockInstance17"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance4" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance4_onDataBinding" InstanceID="_WebBlockInstance4"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtEmailInput" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtEmailInput_isVisible() %>" ReadOnly="<%# !inputwtEmailInput_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetEmailValidatorMsg" textmode="SingleLine" text="<%# inputwtEmailInput_input_value() %>" onTextChanged="inputwtEmailInput_input_onTextChanged" Mandatory="<%# inputwtEmailInput_isMandatory() %>" placeholder="<%# inputwtEmailInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtEmailInput") ?? Container.FindControl("wtEmailInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtEmailInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtEmailInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtEmailInputValidatorType" ErrorMessage="<%# BIFY_Properties.EmailValidatorMsg %>" ControlToValidate="wtEmailInput" ClientValidationFunction="OsCustomValidatorEmail"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw><osweb:Container runat="server" id="wt_Container55" anonymous="true" onDataBinding="cnt_Container55_onDataBinding"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance26" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance26_onDataBinding" InstanceID="_WebBlockInstance26"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance27" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance27_onDataBinding" InstanceID="_WebBlockInstance27"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtEmailInput2" onDataBinding="inputwtEmailInput2_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtEmailInput2_isVisible() %>" ReadOnly="<%# !inputwtEmailInput2_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetEmailValidatorMsg" textmode="SingleLine" type="email" text="<%# inputwtEmailInput2_input_value() %>" onTextChanged="inputwtEmailInput2_input_onTextChanged" Mandatory="<%# inputwtEmailInput2_isMandatory() %>" placeholder="<%# inputwtEmailInput2_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtEmailInput2") ?? Container.FindControl("wtEmailInput2")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtEmailInput2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtEmailInput2"/><osweb:TextValidator runat="server" display="Dynamic" id="wtEmailInput2ValidatorType" ErrorMessage="<%# BIFY_Properties.EmailValidatorMsg %>" ControlToValidate="wtEmailInput2" ClientValidationFunction="OsCustomValidatorEmail"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container10" anonymous="true" onDataBinding="cnt_Container10_onDataBinding"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance50" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance50_onDataBinding" InstanceID="_WebBlockInstance50"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance37" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance37_onDataBinding" InstanceID="_WebBlockInstance37"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtPassword" onDataBinding="inputwtPassword_onDataBinding" cssClass="input" GridCssClasses="ThemeGrid_Width4" textmode="Password" Visible="<%# inputwtPassword_isVisible() %>" ReadOnly="<%# !inputwtPassword_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" text="<%# inputwtPassword_input_value() %>" onTextChanged="inputwtPassword_input_onTextChanged" Mandatory="<%# inputwtPassword_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtPasswordValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtPassword"/><osweb:TextValidator runat="server" display="Dynamic" id="wtPasswordValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtPassword" ClientValidationFunction="OsCustomValidatorText"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container><osweb:Container runat="server" id="wt_Container39" anonymous="true" onDataBinding="cnt_Container39_onDataBinding" align="center"><osweb:Span runat="server" id="wt_Text9" anonymous="true" onDataBinding="wt_Text9_onDataBinding"><%# "We are based in the UK and are GDPR compliant. Any personal information<br/>collected by us from yourselves or your friends is done so to enhance your<br/>membership experience, will always be protected, and never shared with any<br/>third party organisation." %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container60" anonymous="true" onDataBinding="cnt_Container60_onDataBinding"><osweb:CheckBox runat="server" id="wtterms" cssClass="checkbox" Visible="<%# chkterms_isVisible() %>" Enabled="<%# chkterms_isEnabled() %>" Checked="<%# chkterms_checked_value() %>" onCheckedChanged="chkterms_checkbox_onCheckedChanged"/><osweb:Container runat="server" id="wt_Container11" anonymous="true" onDataBinding="cnt_Container11_onDataBinding" cssClass="ts" GridCssClasses="ThemeGrid_Width11 ThemeGrid_MarginGutter"><osweb:Span runat="server" id="wt_Text79" anonymous="true" class="font-size-xs"><%# " I have read and understood the " %></osweb:Span><osweb:HyperLink runat="server" id="wt_Link51" onDataBinding="lnk_Link51_onDataBinding" Visible="<%# lnk_Link51_isVisible() %>" Enabled="<%# lnk_Link51_isEnabled() %>" NavigateUrl="<%# lnk_Link51_NavigateUrl() %>"><osweb:Span runat="server" id="wt_Text76" anonymous="true" class="font-size-xs"><%# "Terms and Conditions" %></osweb:Span></osweb:HyperLink><osweb:Span runat="server" id="wt_Text31" anonymous="true" class="font-size-xs"><%# " and " %></osweb:Span><osweb:HyperLink runat="server" id="wt_Link12" onDataBinding="lnk_Link12_onDataBinding" Visible="<%# lnk_Link12_isVisible() %>" Enabled="<%# lnk_Link12_isEnabled() %>" NavigateUrl="<%# lnk_Link12_NavigateUrl() %>"><osweb:Span runat="server" id="wt_Text69" anonymous="true" class="font-size-xs"><%# "Privacy Policy" %></osweb:Span></osweb:HyperLink></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container24" anonymous="true" onDataBinding="cnt_Container24_onDataBinding" cssClass="layout-login-button  margin-top-s"><span runat="server" id="wtregisterAjaxRfrsh"><osweb:Button runat="server" id="wtregister" onDataBinding="btnregister_onDataBinding" cssClass="Button  Is_Default" GridCssClasses="OSFillParent" Visible="<%# btnregister_isVisible() %>" Enabled="<%# btnregister_isEnabled() %>" CausesValidation="false" text="<%# btnregister_getLabel() %>"/></span></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtemailif() %>"><osweb:Container runat="server" id="wt_Container7" anonymous="true" onDataBinding="cnt_Container7_onDataBinding" cssClass="layout-login-logo text-align-center"><osweb:Container runat="server" id="wt_Container62" anonymous="true" onDataBinding="cnt_Container62_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link56" Visible="<%# lnk_Link56_isVisible() %>" Enabled="<%# lnk_Link56_isEnabled() %>" NavigateUrl="<%# lnk_Link56_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image68" anonymous="true" StaticSource="<%# Images.happystate_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image68_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:HyperLink></osweb:Container><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding" cssClass="heading2 text-neutral-8 margin-top-m"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression32()) %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression47" anonymous="true" class="text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression47()) %></osweb:Span></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container25" anonymous="true" onDataBinding="cnt_Container25_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container44" anonymous="true" onDataBinding="cnt_Container44_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Please check your email and verify your account. " %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container6" anonymous="true" onDataBinding="cnt_Container6_onDataBinding"><osweb:Span runat="server" id="wt_Text48" anonymous="true" onDataBinding="wt_Text48_onDataBinding" class="bold"><%# "Please make sure you check your spam / junk folder too - sometimes our first emails find their way into there!" %></osweb:Span></osweb:Container></osweb:Container></osweb:Container><osweb:Button runat="server" id="wtregister2" onDataBinding="btnregister2_onDataBinding" cssClass="Button Is_Default" GridCssClasses="OSFillParent" Visible="<%# btnregister2_isVisible() %>" Enabled="<%# btnregister2_isEnabled() %>" CausesValidation="false" NavigateUrl="<%# btnregister2_NavigateUrl() %>" text="<%# btnregister2_getLabel() %>"/></osweb:If></osweb:IfPlaceHolder></osweb:Container></phLogin></OutSystemsUIWeb_widgets:Kr6GvyhSuo0yC76hHGqpWlA></phColumn1><phColumn2><osweb:Container runat="server" id="wt_Container45" anonymous="true" onDataBinding="cnt_Container45_onDataBinding"><widgets:KktEsdVBkDE2I1Jgsk4PYRQ runat="server" id="wt_WebBlockInstance67" OnEvaluateParameters="webBlck_WebBlockInstance67_onDataBinding" InstanceID="_WebBlockInstance67"></widgets:KktEsdVBkDE2I1Jgsk4PYRQ></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></phLogin></OutSystemsUIWeb_widgets:KUYGG3NYG_UOJvFnlIi4gSQ><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
