﻿.Responsive div.Feedback_Message_Wrapper {
    margin-top: 35px;
}

.layout-login-simple .layout-login-form-content {
    background-image: url(https://images.pexels.com/photos/157879/gift-jeans-fashion-pack-157879.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
}

.layout-login-simple .layout-login-form
{
    left: 0;
    position: absolute; left: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 0px!important;
}


.Button_FB{background-color:#3578e5;border:none;color:white;width:100%;}
.Button_FB:hover{    background-color: #365899;
    border: 2px solid #365899;color:white;width:100%;}
