﻿<%@ Page Language="c#" Codebehind="ResetPassword.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowCommon.ScrnResetPassword" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="K0DXHAiSm3E_Ya4Q1xZsKcQ" Src="Blocks\BIFY\Layouts\LayoutLogin.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="Kr6GvyhSuo0yC76hHGqpWlA" Src="Blocks\BIFY\Layouts\LoginForm.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<OutSystemsUIWeb_widgets:K0DXHAiSm3E_Ya4Q1xZsKcQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance16" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance16_onDataBinding" InstanceID="_WebBlockInstance16"><phLogin><OutSystemsUIWeb_widgets:Kr6GvyhSuo0yC76hHGqpWlA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance17" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance17_onDataBinding" InstanceID="_WebBlockInstance17"><phLogin><osweb:Container runat="server" id="wt_Container10" anonymous="true" onDataBinding="cnt_Container10_onDataBinding" cssClass="layout-login-logo text-align-center"><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding"><osweb:HyperLink runat="server" id="wt_Link13" Visible="<%# lnk_Link13_isVisible() %>" Enabled="<%# lnk_Link13_isEnabled() %>" NavigateUrl="<%# lnk_Link13_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt_Image18" anonymous="true" StaticSource="<%# Images.bifyiconwithtext_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image18_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:HyperLink></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container12" anonymous="true" onDataBinding="cnt_Container12_onDataBinding" cssClass="heading5 text-neutral-8 margin-top-s" align="center"><osweb:PlaceHolder runat="server"><%# "Reset your Password" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container19" anonymous="true" onDataBinding="cnt_Container19_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# "Change your password" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container1" anonymous="true" onDataBinding="cnt_Container1_onDataBinding" cssClass="layout-login-inputs margin-top-m"><osweb:Container runat="server" id="wt_Container15" anonymous="true" onDataBinding="cnt_Container15_onDataBinding"><osweb:PlaceHolder runat="server"><%# "New Password" %></osweb:PlaceHolder><osweb:TextBox runat="server" id="wtPassword2" cssClass="input" GridCssClasses="OSFillParent" textmode="Password" Visible="<%# inputwtPassword2_isVisible() %>" ReadOnly="<%# !inputwtPassword2_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" text="<%# inputwtPassword2_input_value() %>" onTextChanged="inputwtPassword2_input_onTextChanged" Mandatory="<%# inputwtPassword2_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtPassword2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtPassword2"/><osweb:TextValidator runat="server" display="Dynamic" id="wtPassword2ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtPassword2" ClientValidationFunction="OsCustomValidatorText"/></osweb:Container></osweb:Container><osweb:Button runat="server" id="wt_Button4" onDataBinding="btn_Button4_onDataBinding" cssClass="Button btn-large  Is_Default" GridCssClasses="OSFillParent" style="margin-left: 0px" Visible="<%# btn_Button4_isVisible() %>" Enabled="<%# btn_Button4_isEnabled() %>" CausesValidation="false" text="<%# btn_Button4_getLabel() %>"/><osweb:Button runat="server" id="wt_Button8" onDataBinding="btn_Button8_onDataBinding" cssClass="Button btn-large " GridCssClasses="OSFillParent" style="margin-left: 0px" Visible="<%# btn_Button8_isVisible() %>" Enabled="<%# btn_Button8_isEnabled() %>" CausesValidation="false" text="<%# btn_Button8_getLabel() %>"/></phLogin></OutSystemsUIWeb_widgets:Kr6GvyhSuo0yC76hHGqpWlA></phLogin><phBackgroundImage></phBackgroundImage></OutSystemsUIWeb_widgets:K0DXHAiSm3E_Ya4Q1xZsKcQ><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
