﻿<%@ Page Language="c#" Codebehind="SayThankYou.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowLoggedIn.ScrnSayThankYou" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kvm5_RC0mw0KuAAMxuiwtpQ" Src="Blocks\BIFY\Common\Layout.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_5sqIAe8Z0mLMNBss5hGzg" Src="Blocks\BIFY\Common\Menu.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAotDlTFMDkS99aVrmrPR8g" Src="Blocks\BIFY\Weblocks\MeFriendsBlock.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KlboP3Mo1qU6C2FuyPN_r2w" Src="Blocks\BIFY\Weblocks\SearchBoxHeader.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcGiUZvJCtEiF3fde7a3MaQ" Src="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kvm5_RC0mw0KuAAMxuiwtpQ runat="server" id="wt_WebBlockInstance7" OnEvaluateParameters="webBlck_WebBlockInstance7_onDataBinding" InstanceID="_WebBlockInstance7"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance25" OnEvaluateParameters="webBlck_WebBlockInstance25_onDataBinding" InstanceID="_WebBlockInstance25"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter><widgets:K_5sqIAe8Z0mLMNBss5hGzg runat="server" id="wt_WebBlockInstance44" OnEvaluateParameters="webBlck_WebBlockInstance44_onDataBinding" InstanceID="_WebBlockInstance44"></widgets:K_5sqIAe8Z0mLMNBss5hGzg></phCenter><phRight><widgets:KAotDlTFMDkS99aVrmrPR8g runat="server" id="wt_WebBlockInstance24" OnEvaluateParameters="webBlck_WebBlockInstance24_onDataBinding" InstanceID="_WebBlockInstance24"></widgets:KAotDlTFMDkS99aVrmrPR8g><widgets:KlboP3Mo1qU6C2FuyPN_r2w runat="server" id="wt_WebBlockInstance27" OnEvaluateParameters="webBlck_WebBlockInstance27_onDataBinding" InstanceID="_WebBlockInstance27"></widgets:KlboP3Mo1qU6C2FuyPN_r2w></phRight><phHeaderContent></phHeaderContent><phBreadcrumbs></phBreadcrumbs><phTitle></phTitle><phActions></phActions><phMainContent><osweb:Container runat="server" id="wt_Container22" anonymous="true" onDataBinding="cnt_Container22_onDataBinding"><osweb:Span runat="server" id="wt_Text4" anonymous="true" class="heading1"><%# "Say Thank You to " %></osweb:Span><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If36() %>"><osweb:Span runat="server" id="wt_InlineExpression2" anonymous="true" class="heading1 pink"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression2()) %></osweb:Span></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If36() %>"><osweb:Span runat="server" id="wt_InlineExpression5" anonymous="true" class="heading1 pink"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression5()) %></osweb:Span></osweb:If></osweb:IfPlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container8" anonymous="true" onDataBinding="cnt_Container8_onDataBinding"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If48() %>"><osweb:Container runat="server" id="wt_Container47" anonymous="true" onDataBinding="cnt_Container47_onDataBinding"><osweb:Container runat="server" id="wt_Container51" anonymous="true" onDataBinding="cnt_Container51_onDataBinding"><osweb:EditRecord runat="server" id="wtEventEdit" class="EditRecord" GridCssClasses="OSFillParent" border="0"><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell19" anonymous="true" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Say thank you for your " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression12" anonymous="true" class="text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression12()) %></osweb:Span></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell6" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Name2" onDataBinding="inputwtGift_Name2_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Name2_isVisible() %>" ReadOnly="<%# !inputwtGift_Name2_isEnabled() %>" maxlength="500" onchange="OsLimitInput(this,event,500);" onkeyup="OsLimitInput(this,event,500);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="3" text="<%# inputwtGift_Name2_input_value() %>" onTextChanged="inputwtGift_Name2_input_onTextChanged" Mandatory="<%# inputwtGift_Name2_isMandatory() %>" parentEditRecord="wtEventEdit" placeholder="<%# inputwtGift_Name2_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtGift_Name2") ?? Container.FindControl("wtGift_Name2")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_Name2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Name2"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_Name2ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Name2" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr></osweb:EditRecord></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If48() %>"><osweb:Container runat="server" id="wt_Container50" anonymous="true" onDataBinding="cnt_Container50_onDataBinding"><osweb:Container runat="server" id="wt_Container11" anonymous="true" onDataBinding="cnt_Container11_onDataBinding"><osweb:EditRecord runat="server" id="wtEventEdit2" class="EditRecord" GridCssClasses="OSFillParent" border="0"><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell37" anonymous="true" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Say thank you for their " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_InlineExpression41" anonymous="true" class="text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression41()) %></osweb:Span></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell26" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Name3" onDataBinding="inputwtGift_Name3_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Name3_isVisible() %>" ReadOnly="<%# !inputwtGift_Name3_isEnabled() %>" maxlength="50" onchange="OsLimitInput(this,event,50);" onkeyup="OsLimitInput(this,event,50);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="3" text="<%# inputwtGift_Name3_input_value() %>" onTextChanged="inputwtGift_Name3_input_onTextChanged" Mandatory="<%# inputwtGift_Name3_isMandatory() %>" parentEditRecord="wtEventEdit2" placeholder="<%# inputwtGift_Name3_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtGift_Name3") ?? Container.FindControl("wtGift_Name3")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_Name3ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Name3"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_Name3ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Name3" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr></osweb:EditRecord></osweb:Container></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container39" anonymous="true" onDataBinding="cnt_Container39_onDataBinding" align="right"><osweb:Button runat="server" id="wt_Button49" onDataBinding="btn_Button49_onDataBinding" cssClass="Button Is_Default" GridCssClasses="ThemeGrid_Width3" Visible="<%# btn_Button49_isVisible() %>" Enabled="<%# btn_Button49_isEnabled() %>" CausesValidation="false" text="<%# btn_Button49_getLabel() %>"/><osweb:Container runat="server" id="wt_Container46" anonymous="true" onDataBinding="cnt_Container46_onDataBinding" GridCssClasses="ThemeGrid_Width4 ThemeGrid_MarginGutter"><osweb:LinkButton runat="server" id="wtBuyThisGift2" onDataBinding="lnkBuyThisGift2_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkBuyThisGift2_isVisible() %>" Enabled="<%# lnkBuyThisGift2_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container10" anonymous="true" onDataBinding="cnt_Container10_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Send Thank You" %></osweb:PlaceHolder></osweb:Container><osweb:DynamicImage runat="server" id="wt_Image34" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.bify_smile_icon_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image34_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:LinkButton></osweb:Container></osweb:Container></phMainContent><phFooter><widgets:KcGiUZvJCtEiF3fde7a3MaQ runat="server" id="wt_WebBlockInstance14" OnEvaluateParameters="webBlck_WebBlockInstance14_onDataBinding" InstanceID="_WebBlockInstance14"></widgets:KcGiUZvJCtEiF3fde7a3MaQ></phFooter></widgets:Kvm5_RC0mw0KuAAMxuiwtpQ><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
