﻿<%@ Page Language="c#" Codebehind="Search.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowLoggedIn.ScrnSearch" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kvm5_RC0mw0KuAAMxuiwtpQ" Src="Blocks\BIFY\Common\Layout.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="K_5sqIAe8Z0mLMNBss5hGzg" Src="Blocks\BIFY\Common\Menu.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KAotDlTFMDkS99aVrmrPR8g" Src="Blocks\BIFY\Weblocks\MeFriendsBlock.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KlboP3Mo1qU6C2FuyPN_r2w" Src="Blocks\BIFY\Weblocks\SearchBoxHeader.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KDTSM_QmRekatpgrnOMmUow" Src="Blocks\BIFY\Controls\Search.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="Blocks\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="ConfirmationDialog_widgets" TagName="KFW1WqsmMG0qPUk7hxEVuEQ" Src="Blocks\BIFY\ConfirmationDialog\ConfirmationDialog.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="K1bgPHuCskB0BQCkYm3XxTQ" Src="Blocks\BIFY\RichWidgets\List_Navigation.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KQT5_W5f9VEu6tv41iD4qfw" Src="Blocks\BIFY\Weblocks\SharingCircleeEmailOnly.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kkaw80HqQ8UaU4V69lHEiDg" Src="Blocks\BIFY\Gallery\GiftSearchResults.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KcGiUZvJCtEiF3fde7a3MaQ" Src="Blocks\BIFY\Weblocks\FooterLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kvm5_RC0mw0KuAAMxuiwtpQ runat="server" id="wt_WebBlockInstance5" OnEvaluateParameters="webBlck_WebBlockInstance5_onDataBinding" InstanceID="_WebBlockInstance5"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance58" OnEvaluateParameters="webBlck_WebBlockInstance58_onDataBinding" InstanceID="_WebBlockInstance58"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter><widgets:K_5sqIAe8Z0mLMNBss5hGzg runat="server" id="wt_WebBlockInstance11" OnEvaluateParameters="webBlck_WebBlockInstance11_onDataBinding" InstanceID="_WebBlockInstance11"></widgets:K_5sqIAe8Z0mLMNBss5hGzg></phCenter><phRight><widgets:KAotDlTFMDkS99aVrmrPR8g runat="server" id="wt_WebBlockInstance45" OnEvaluateParameters="webBlck_WebBlockInstance45_onDataBinding" InstanceID="_WebBlockInstance45"></widgets:KAotDlTFMDkS99aVrmrPR8g><widgets:KlboP3Mo1qU6C2FuyPN_r2w runat="server" id="wt_WebBlockInstance64" OnEvaluateParameters="webBlck_WebBlockInstance64_onDataBinding" InstanceID="_WebBlockInstance64"></widgets:KlboP3Mo1qU6C2FuyPN_r2w></phRight><phHeaderContent></phHeaderContent><phBreadcrumbs></phBreadcrumbs><phTitle><osweb:PlaceHolder runat="server"><%# "Search" %></osweb:PlaceHolder></phTitle><phActions></phActions><phMainContent><osweb:Container runat="server" id="wtFilters_Wrapper" onDataBinding="cntFilters_Wrapper_onDataBinding" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance43" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance43_onDataBinding" InstanceID="_WebBlockInstance43"><phIcon><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance12" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance12_onDataBinding" InstanceID="_WebBlockInstance12"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></phIcon><phInput><osweb:TextBox runat="server" id="wtSearchInput" onDataBinding="inputwtSearchInput_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtSearchInput_isVisible() %>" ReadOnly="<%# !inputwtSearchInput_isEnabled() %>" maxlength="100" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtSearchInput_input_value() %>" onTextChanged="inputwtSearchInput_input_onTextChanged" Mandatory="<%# inputwtSearchInput_isMandatory() %>" placeholder="<%# inputwtSearchInput_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtSearchInput") ?? Container.FindControl("wtSearchInput")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtSearchInputValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtSearchInput"/><osweb:TextValidator runat="server" display="Dynamic" id="wtSearchInputValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtSearchInput" ClientValidationFunction="OsCustomValidatorText"/></phInput><phActions></phActions></OutSystemsUIWeb_widgets:KDTSM_QmRekatpgrnOMmUow></osweb:Container><osweb:Button runat="server" id="wt_Button52" onDataBinding="btn_Button52_onDataBinding" cssClass="Button sbutton Is_Default" GridCssClasses="ThemeGrid_Width2" Visible="<%# btn_Button52_isVisible() %>" Enabled="<%# btn_Button52_isEnabled() %>" CausesValidation="false" text="<%# btn_Button52_getLabel() %>"/><osweb:IfPlaceHolder runat="server" id="wtSearchIf" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtSearchIf() %>"><osweb:Container runat="server" id="wtPeople" onDataBinding="cntPeople_onDataBinding"><osweb:Container runat="server" id="wt_Container9" anonymous="true" onDataBinding="cnt_Container9_onDataBinding" cssClass="margin-top-xl"><osweb:Span runat="server" id="wt_Text18" anonymous="true" class="heading4"><%# "People" %></osweb:Span></osweb:Container><osweb:IfPlaceHolder runat="server" id="wtPeopleAndGiftIf"><osweb:If runat="server" visible="<%# if_wtPeopleAndGiftIf() %>"><osweb:Container runat="server" id="wt_Container49" anonymous="true" onDataBinding="cnt_Container49_onDataBinding"><osweb:Container runat="server" id="wtTable_Wrapper" onDataBinding="cntTable_Wrapper_onDataBinding"><span runat="server" id="wtMainTableAjaxRfrsh"><osweb:OSDataGrid runat="server" id="wtMainTable" onDataBinding="recTableMainTable_onDataBinding" cssClass="TableRecords" GridCssClasses="OSFillParent" ClientIDMode="AutoID" AutoGenerateColumns="false" OnSetViewStateStorage="recTableMainTable_Store" OnClearViewStateStorage="recTableMainTable_Clear" OnListRefreshDataBind="recTableMainTable_ListRefreshDataBind" HeaderLineStyle="TableRecords_Header" OddLineStyle="TableRecords_OddLine" EvenLineStyle="TableRecords_EvenLine" OnItemCommand="recTableMainTable_Select" Gridlines="none"><Columns><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><HeaderTemplate></HeaderTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell31_onDataBinding), ((Control) sender).Parent) %><osweb:DynamicImage runat="server" id="wt_Image2" anonymous="true" onDataBinding="img_Image2_onDataBinding" cssClass="border-radius-soft display-block" Source="<%# img_Image2_getFilename() %>" StaticSource="<%# Images.userPhoto_Source() %>" Entity="BifyUserImage" Attribute="Image" EntityId="<%# img_Image2_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image2_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell40_onDataBinding), ((Control) sender).Parent) %><osweb:Container runat="server" id="wt_Container50" anonymous="true" onDataBinding="cnt_Container50_onDataBinding" align="left"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If102() %>"><osweb:HyperLink runat="server" id="wt_Link7" Visible="<%# lnk_Link7_isVisible() %>" Enabled="<%# lnk_Link7_isEnabled() %>" NavigateUrl="<%# lnk_Link7_NavigateUrl() %>"><osweb:Span runat="server" id="wt_InlineExpression54" anonymous="true" onDataBinding="expression_InlineExpression54_onDataBinding" class="heading5"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression54()) %></osweb:Span></osweb:HyperLink></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If102() %>"><osweb:Span runat="server" id="wt_InlineExpression36" anonymous="true" class="heading5"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression36()) %></osweb:Span></osweb:If></osweb:IfPlaceHolder><osweb:Container runat="server" id="wt_Container60" anonymous="true" onDataBinding="cnt_Container60_onDataBinding"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression44()) %></osweb:PlaceHolder></osweb:Container></osweb:Container></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn><ItemTemplate><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExecuteDataBind(new System.EventHandler(wt_TableRecordsDataCell34_onDataBinding), ((Control) sender).Parent) %><osweb:Container runat="server" id="wt_Container78" anonymous="true" onDataBinding="cnt_Container78_onDataBinding" align="center"><osweb:Container runat="server" id="wt_Container26" anonymous="true" onDataBinding="cnt_Container26_onDataBinding" GridCssClasses="OSInline" align="center"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If98() %>"><osweb:LinkButton runat="server" id="wtrem" onDataBinding="lnkrem_onDataBinding" cssClass="Button Is_Default" Visible="<%# lnkrem_isVisible() %>" Enabled="<%# lnkrem_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance76" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance76_onDataBinding" InstanceID="_WebBlockInstance76"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Remove Friend" %></osweb:PlaceHolder></osweb:LinkButton><ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ runat="server" id="ConfirmationDialog_wtconfirmdialog" OnEvaluateParameters="ConfirmationDialog_webBlckconfirmdialog_onDataBinding" InstanceID="confirmdialog" IncludeSpan="true"><phHeader><osweb:PlaceHolder runat="server"><%# "Are you sure?" %></osweb:PlaceHolder></phHeader><phContent><osweb:Container runat="server" id="wt_Container56" anonymous="true" onDataBinding="cnt_Container56_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Are you sure you want to remove " %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression79()) %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " as a friend?" %></osweb:PlaceHolder></osweb:Container></phContent></ConfirmationDialog_widgets:KFW1WqsmMG0qPUk7hxEVuEQ></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If98() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If106() %>"><osweb:LinkButton runat="server" id="wtrem3" onDataBinding="lnkrem3_onDataBinding" cssClass="Button Is_Default BDisabled" Visible="<%# lnkrem3_isVisible() %>" Enabled="<%# lnkrem3_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance104" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance104_onDataBinding" InstanceID="_WebBlockInstance104"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Friend Requested" %></osweb:PlaceHolder></osweb:LinkButton><osweb:Container runat="server" id="wt_Container48" anonymous="true" onDataBinding="cnt_Container48_onDataBinding"><osweb:LinkButton runat="server" id="wt_Link94" onDataBinding="lnk_Link94_onDataBinding" Visible="<%# lnk_Link94_isVisible() %>" Enabled="<%# lnk_Link94_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Cancel " %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If106() %>"><osweb:IfPlaceHolder runat="server" id="wtTheyHaveRequestedYouAsAFriend"><osweb:If runat="server" visible="<%# if_wtTheyHaveRequestedYouAsAFriend() %>"><osweb:LinkButton runat="server" id="wtrem4" onDataBinding="lnkrem4_onDataBinding" cssClass="Button Is_Default background-success" Visible="<%# lnkrem4_isVisible() %>" Enabled="<%# lnkrem4_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance74" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance74_onDataBinding" InstanceID="_WebBlockInstance74"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Accept" %></osweb:PlaceHolder></osweb:LinkButton><osweb:LinkButton runat="server" id="wtrem5" onDataBinding="lnkrem5_onDataBinding" cssClass="Button Is_Default background-neutral-8" Visible="<%# lnkrem5_isVisible() %>" Enabled="<%# lnkrem5_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance105" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance105_onDataBinding" InstanceID="_WebBlockInstance105"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Reject" %></osweb:PlaceHolder></osweb:LinkButton></osweb:If><osweb:If runat="server" visible="<%# !if_wtTheyHaveRequestedYouAsAFriend() %>"><osweb:LinkButton runat="server" id="wtrem2" onDataBinding="lnkrem2_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkrem2_isVisible() %>" Enabled="<%# lnkrem2_isEnabled() %>" CausesValidation="false"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance68" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance68_onDataBinding" InstanceID="_WebBlockInstance68"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w><osweb:PlaceHolder runat="server"><%# "Add Friend" %></osweb:PlaceHolder></osweb:LinkButton></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:Container></ItemTemplate></osweb:OSTemplateColumn><osweb:OSTemplateColumn Visible="false"><ItemTemplate><%# recTableMainTable_Store(Container.DataItem, Container.ItemIndex) %></ItemTemplate></osweb:OSTemplateColumn></Columns></osweb:OSDataGrid></span><osweb:Container runat="server" id="wtNavigation_wrapper" onDataBinding="cntNavigation_wrapper_onDataBinding" cssClass="TableRecords_BottomNavigation"><osweb:Container runat="server" id="wt_Container41" anonymous="true" onDataBinding="cnt_Container41_onDataBinding" GridCssClasses="OSInline" style="width: 40%"></osweb:Container><osweb:Container runat="server" id="wt_Container61" anonymous="true" onDataBinding="cnt_Container61_onDataBinding" GridCssClasses="OSInline" style="width: 60%; margin-left: 0px"><RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ runat="server" id="RichWidgets_wt_WebBlockInstance17" onAjaxNotify="RichWidgets_webBlck_WebBlockInstance17_AjaxNotify" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance17_onDataBinding" OnBindDelegates="RichWidgets_webBlck_WebBlockInstance17_BindDelegates" InstanceID="_WebBlockInstance17"></RichWidgets_widgets:K1bgPHuCskB0BQCkYm3XxTQ></osweb:Container></osweb:Container></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtPeopleAndGiftIf() %>"><osweb:Container runat="server" id="wt_Container27" anonymous="true" onDataBinding="cnt_Container27_onDataBinding" align="left"><osweb:Container runat="server" id="wt_Container80" anonymous="true" onDataBinding="cnt_Container80_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression109" anonymous="true" onDataBinding="expression_InlineExpression109_onDataBinding" class="heading5"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression109()) %></osweb:Span><osweb:Container runat="server" id="wt_Container100" anonymous="true" onDataBinding="cnt_Container100_onDataBinding"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If47() %>"><osweb:Container runat="server" id="wt_Container3" anonymous="true" onDataBinding="cnt_Container3_onDataBinding" GridCssClasses="OSInline"><osweb:Span runat="server" id="wt_InlineExpression29" anonymous="true" class="heading5"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression29()) %></osweb:Span><osweb:Span runat="server" id="wt_InlineExpression23" anonymous="true" class="heading5 text-primary"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression23()) %></osweb:Span><osweb:Span runat="server" id="wt_InlineExpression25" anonymous="true" class="heading5"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression25()) %></osweb:Span><osweb:Container runat="server" id="wt_Container37" anonymous="true" onDataBinding="cnt_Container37_onDataBinding" GridCssClasses="OSInline" style="margin-left: 0px"><widgets:KQT5_W5f9VEu6tv41iD4qfw runat="server" id="wt_WebBlockInstance13" OnEvaluateParameters="webBlck_WebBlockInstance13_onDataBinding" InstanceID="_WebBlockInstance13"></widgets:KQT5_W5f9VEu6tv41iD4qfw></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If47() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:Container><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If39() %>"></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If39() %>"><widgets:Kkaw80HqQ8UaU4V69lHEiDg runat="server" id="wt_WebBlockInstance73" OnEvaluateParameters="webBlck_WebBlockInstance73_onDataBinding" InstanceID="_WebBlockInstance73"></widgets:Kkaw80HqQ8UaU4V69lHEiDg></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtSearchIf() %>"></osweb:If></osweb:IfPlaceHolder></phMainContent><phFooter><widgets:KcGiUZvJCtEiF3fde7a3MaQ runat="server" id="wt_WebBlockInstance97" OnEvaluateParameters="webBlck_WebBlockInstance97_onDataBinding" InstanceID="_WebBlockInstance97"></widgets:KcGiUZvJCtEiF3fde7a3MaQ></phFooter></widgets:Kvm5_RC0mw0KuAAMxuiwtpQ><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
