﻿.content{top:100px;} .phone .content{top:90px;} 
.BDisabled{background: gray;pointer-events:none;}


.TableRecords tr:hover .TableRecords_OddLine,
.TableRecords tr:hover .TableRecords_EvenLine {
    background-color:white;
}