﻿<%@ Page Language="c#" Codebehind="TermsAndConditions.aspx.cs" AutoEventWireup="false" Inherits="ssBIFY.Flows.FlowNotLoggedIn.ScrnTermsAndConditions" %>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Import namespace="ssBIFY" %>
<%@ Import namespace="OutSystems.HubEdition.RuntimePlatform" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Register TagPrefix="widgets" TagName="Kz3isd_zy0kiORsLuRetsJw" Src="Blocks\BIFY\Common\LayoutHomePage.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KXIDBGmiH30CQls7epjSjoQ" Src="Blocks\BIFY\Common\ApplicationTitle.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KvjOOjGhXMUi5hSbN9Ooc0g" Src="Blocks\BIFY\Weblocks\LoginRegister.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KnfUSiLskTUmjVXcue64Gkg" Src="Blocks\BIFY\Weblocks\LoginRegisterMobile.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KVlxoCzEyUUmJdaTCoz8lHA" Src="Blocks\BIFY\Weblocks\HeaderCenter.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Kz0Pe8bEM1keIAmKQ6Kxphg" Src="Blocks\BIFY\Weblocks\FooterNotLoggedIn.ascx" %>

<%= BIFY_Properties.DocType %>
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head runat="server"><%= GetHeadTopJavaScript() %>
	<title><%= HttpUtility.HtmlEncode (Title) %></title>
    <meta http-equiv="Content-Type" content="<%= "text/html; charset=" + Response.ContentEncoding.WebName %>" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
<%= "\n" + GetStyleSheetIncludes() %><%= GetRequestInfoJavaScript() + GetJavaScriptIncludes() + GetHeadBottomJavaScript() %>
  </head>
  <osweb:Body runat="server"><%= GetBodyTopJavaScript() %>
    <osweb:Form id="WebForm1" method="post"  action="<%# GetFormAction() %>" runat="server">
<widgets:Kz3isd_zy0kiORsLuRetsJw runat="server" id="wt_WebBlockInstance44" OnEvaluateParameters="webBlck_WebBlockInstance44_onDataBinding" InstanceID="_WebBlockInstance44"><phLeft><widgets:KXIDBGmiH30CQls7epjSjoQ runat="server" id="wt_WebBlockInstance12" OnEvaluateParameters="webBlck_WebBlockInstance12_onDataBinding" InstanceID="_WebBlockInstance12"></widgets:KXIDBGmiH30CQls7epjSjoQ></phLeft><phCenter></phCenter><phRight><widgets:KvjOOjGhXMUi5hSbN9Ooc0g runat="server" id="wt_WebBlockInstance28" OnEvaluateParameters="webBlck_WebBlockInstance28_onDataBinding" InstanceID="_WebBlockInstance28"></widgets:KvjOOjGhXMUi5hSbN9Ooc0g></phRight><phHeaderContent><osweb:Container runat="server" id="wt_Container37" anonymous="true" onDataBinding="cnt_Container37_onDataBinding" cssClass="mobile_login_register" align="center"><widgets:KnfUSiLskTUmjVXcue64Gkg runat="server" id="wt_WebBlockInstance29" OnEvaluateParameters="webBlck_WebBlockInstance29_onDataBinding" InstanceID="_WebBlockInstance29"></widgets:KnfUSiLskTUmjVXcue64Gkg></osweb:Container></phHeaderContent><phMainContent><widgets:KVlxoCzEyUUmJdaTCoz8lHA runat="server" id="wt_WebBlockInstance15" OnEvaluateParameters="webBlck_WebBlockInstance15_onDataBinding" InstanceID="_WebBlockInstance15"><phTitle><osweb:PlaceHolder runat="server"><%# "Terms" %></osweb:PlaceHolder></phTitle><phTitle2></phTitle2><phButton></phButton><phImage><osweb:DynamicImage runat="server" id="wt_Image40" anonymous="true" StaticSource="<%# Images.hero_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phImage></widgets:KVlxoCzEyUUmJdaTCoz8lHA><osweb:Container runat="server" id="wt_Container5" anonymous="true" onDataBinding="cnt_Container5_onDataBinding" cssClass="padding-xl"><osweb:Span runat="server" id="wt_Text19" anonymous="true" class="heading1"><%# "Terms and Conditions for BIFY Ltd" %></osweb:Span><osweb:Container runat="server" id="wt_Container46" anonymous="true" onDataBinding="cnt_Container46_onDataBinding"><osweb:PlaceHolder runat="server"><%# "<br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text35" anonymous="true" onDataBinding="wt_Text35_onDataBinding"><%# "Introduction" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Buying It For You accessible at www.buyingitforyou.com.<br/><br/>These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions. These Terms and Conditions have been generated with the help of the Terms And Conditions Template and the Privacy Policy Template.<br/><br/>Minors or people below 18 years old are not allowed to use this Website.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text9" anonymous="true" onDataBinding="wt_Text9_onDataBinding"><%# "Intellectual Property Rights" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>Other than the content you own, under these Terms, BIFY Ltd and/or its licensors own all the intellectual property rights and materials contained in this Website.<br/><br/>You are granted limited license only for purposes of viewing the material contained on this Website.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text2" anonymous="true" onDataBinding="wt_Text2_onDataBinding"><%# "Restrictions" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>You are specifically restricted from all of the following:<br/><br/>publishing any Website material in any other media;<br/>selling, sublicensing and/or otherwise commercializing any Website material;<br/>publicly performing and/or showing any Website material;<br/>using this Website in any way that is or may be damaging to this Website;<br/>using this Website in any way that impacts user access to this Website;<br/>using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;<br/>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;<br/>using this Website to engage in any advertising or marketing.<br/><br/>" %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# "Certain areas of this Website are restricted from being access by you and BIFY Ltd may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.<br/><br/> " %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text26" anonymous="true" onDataBinding="wt_Text26_onDataBinding"><%# "Your Content" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>In these Website Standard Terms and Conditions, &quot;Your Content&quot; shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant BIFY Ltd a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.<br/><br/>Your Content must be your own and must not be invading any third-party’s rights. BIFY Ltd reserves the right to remove any of Your Content from this Website at any time without notice.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text1" anonymous="true" onDataBinding="wt_Text1_onDataBinding"><%# "Your Privacy" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>Please read Privacy Policy.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text41" anonymous="true" onDataBinding="wt_Text41_onDataBinding"><%# "No warranties" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>This Website is provided &quot;as is,&quot; with all faults, and BIFY Ltd express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text34" anonymous="true" onDataBinding="wt_Text34_onDataBinding"><%# "Limitation of liability" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>In no event shall BIFY Ltd, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  BIFY Ltd, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text50" anonymous="true" onDataBinding="wt_Text50_onDataBinding"><%# "Indemnification" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>You hereby indemnify to the fullest extent BIFY Ltd from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text21" anonymous="true" onDataBinding="wt_Text21_onDataBinding"><%# "Severability" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text30" anonymous="true" onDataBinding="wt_Text30_onDataBinding"><%# "Variation of Terms" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>BIFY Ltd is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text24" anonymous="true" onDataBinding="wt_Text24_onDataBinding"><%# "Assignment" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>The BIFY Ltd is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text7" anonymous="true" onDataBinding="wt_Text7_onDataBinding"><%# "Entire Agreement" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>These Terms constitute the entire agreement between BIFY Ltd and you in relation to your use of this Website, and supersede all prior agreements and understandings.<br/><br/>" %></osweb:PlaceHolder><osweb:Span runat="server" id="wt_Text17" anonymous="true" onDataBinding="wt_Text17_onDataBinding"><%# "Governing Law &amp; Jurisdiction" %></osweb:Span><osweb:PlaceHolder runat="server"><%# "<br/>These Terms will be governed by and interpreted in accordance with the laws of the State of gb, and you submit to the non-exclusive jurisdiction of the state and federal courts located in gb for the resolution of any disputes." %></osweb:PlaceHolder></osweb:Container></osweb:Container><widgets:Kz0Pe8bEM1keIAmKQ6Kxphg runat="server" id="wt_WebBlockInstance11" OnEvaluateParameters="webBlck_WebBlockInstance11_onDataBinding" InstanceID="_WebBlockInstance11"></widgets:Kz0Pe8bEM1keIAmKQ6Kxphg></phMainContent><phFooter></phFooter></widgets:Kz3isd_zy0kiORsLuRetsJw><osweb:DummySubmitLink runat="server" id="Dummy_Submit_Link"/>
    <%= OutSystems.HubEdition.RuntimePlatform.AppInfo.GetAppInfo().GetWatermark() %><%= GetCallbackDebug()	
%><%= GetVisitCode() %></osweb:Form><%= GetEndPageJavaScript() + GetBodyBottomJavaScript() %>
  </osweb:Body>
</html>
