﻿@import url("/OutSystemsUIWeb/Theme.BaseTheme.css?863");

@import url("/OutSystemsUIWeb/Theme.BaseTheme.css?38&863");

/* ================================================

Primary color customization
For additional color customizations, you can change the color code for the colors below

  ================================================ */
.layout .main {
     padding-top: 0;
}

.header-top {
    height: 100px!important;
}
.phone .header-top{height:90px!important;}

.phone .menu-icon{width:30px!important;}
.phone .app-logo{max-width:100%;max-height: 45px!important;width: auto!important;height: auto!important;min-width: 50px!important;margin-left: auto;margin-right: auto;}

/*MODAL*/

.header-left {
    margin-top: 6px;
    padding-left: 10px;
}

.fixBody{position: fixed!important;overflow: hidden!important;}

.modal-close {
    padding: 0px;
    background:black;width:35px;height:35px;position:absolute;right:-10px;top:-10px;border-radius:100%;padding-top:2px;z-index: 99;
}
.modal-close a{color: white!important;}
.modal-title:empty{display:none;}
.mobCancel{display: none!important;}
.modal-top{padding: 0px;}
.modal-content{padding:0px;position: relative;}
.modal-wrapper{padding: 0px;}

/*modal MOBILE*/

@media only screen and (max-width:650px), screen and (max-height:500px)
{

/*Make Modal accessible on mobiles*/
.modal-close {right: 20px!important;top: 20px!important;}
.modal-content{ display: flex;
  flex-direction: column;
  justify-content: start;padding: 20px!important;padding-top:0px!important;height:100%!important;overflow: hidden;
    overflow-y: scroll;
    max-width: 100%;padding-bottom: 133px!important;}
.modal-title{padding: 20px!important;}
.modal { padding: 0;height:100%!important;}
.giftblock{height: 100%!important;}
.mobCancel{display: inline-block!important;margin-top:0px!important}
.modal-wrapper{border:none!important;height:100%!important;}

}

/*DropDown Mobile*/
.choices__list--dropdown{z-index: 40;}

  /*FONT*/

.dropdown .dropdown-content .dropdown-content-list a:hover {
    background-color: null;
}

.dropdown .dropdown-content {
    position: relative;
     z-index: 10; 
}

/*responsive Nav*/
.layout .header
{z-index: 50}

.card .card-background
{width: 100%!important;}


.Application_Menu{display:none;}
.menu-icon{display:none!important;}
.app-logo{min-width:200px;}
@media only screen and (max-width: 685px)
{
.menu-icon{display:inherit!important;;}
    .Application_Menu{display:inherit;}
    .MeFriendsContent{display:none;}
    .SearchBox_Header {display:none;}
}




@font-face {
    font-family: BifyFont;
    src: url(/BIFY/Adonide-regular.otf);
    font-weight:normal;
}
@font-face {
    font-family: BifyFontLight;
    src: url(/BIFY/Adonide-light.otf);
    font-weight:normal;
}
div.Feedback_Message_Success {
    background-color: var(--color-success);
}
html {    
    font-family: BifyFont,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }

/*Override visited link going blue*/
a:visited {
    color: var(--color-primary);
    
}

:root {
    --color-primary: #05bcd9; /*primary-color*/
    --color-primary-hover: #05bcd9; /*primary-color*/
    --color-secondary: #05bcd9; /*primary-color*/
    --color-success:#8FCC5A;
    --border-size-s:2px;
    --color-pink:#DF4278;
    --border-radius-rounded: 10px;
}
.Is_Default {
    color: var(--color-neutral-0)!important;
}
/*Button*/
.pink{color:#DF4278;}
.blue{color:#00BDD9;}
.BuyButton{background: #df447a;border-color:#df447a;color: white!important;}
.BuyButton:hover{color:white;background: #df447a;border-color:#df447a;}

.Button_Transparent
{background: transparent;color: white;border-color: white;}
.Button_TransparentBlue
{background: transparent;color: var(--color-primary);border-color: var(--color-primary)}

.modal-top:empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    height: 0px;
}
.phone .content .ThemeGrid_Container {
    width: 100%;
}


/*****ConfirmationMessage Styles*****/
/*****Popup*****/
.conf-dialog-holder {
    /* padding: 20px; */
    position:fixed;
    z-index: 9002;
    border: 2px solid;
    display:none;
    background-color:#FFFFFF;
    border: 2px solid;
    border-top-color: #DF4278;
    border-left-color: #00BDD9;
    border-right-color: #8FCC5A;
    border-bottom-color: #2E9F83;
    border-radius: 4px;
    padding: 10px;
}

.conf-dialog-background {
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #8f8f8f;
    opacity:0.5;
    z-index:9001;
    display:none;
    position:fixed;
}
/*****END Popup*****/


/****Header****/
.conf-dialog-title {
    margin-right: 5px;
    font-weight: bold;
    color: #00bdd9;
    display: inline-block;
    /* padding: 10px; */
}

.conf-dialog-close {
    background: url('/ConfirmationDialog/img/Close.png?154&154&154&44&704');
    width: 17px;
    height: 17px;
    float: right;
    display: block;
    text-indent: -9999px;
}

.conf-dialog-close:hover {
    background: url('/ConfirmationDialog/img/Close_Hover.png?154&154&154&44&704');
}

.conf-dialog-header {
    background-color: #f5f5f5;
    font-size: 14px;
    /* color: white; */
    font-family: BifyFont,'myriad-pro',sans-serif;
    text-align: left;
    padding: 7px;
    text-transform:uppercase;
}
/****END Header****/


/****MainContent****/
.conf-dialog-content {
    padding: 20px;
}
/****END MainContent****/


/****Buttons****/
.conf-dialog-button {
    margin-right: 5px;
}

.conf-dialog-button:hover {
    text-decoration: none;
}

a.conf-dialog-button {
    font-family: BifyFont,'myriad-pro', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    *
    display: inline;
    margin-bottom: 0;
    *
    margin-left: .3em;
    line-height: 20px;
    *
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *
    zoom: 1;
}

a.conf-dialog-button:hover,
a.conf-dialog-button:active {
    color: #333333;
    background-color: #e6e6e6;
}

a.conf-dialog-button:first-child {
    *margin-left: 0;
}

a.conf-dialog-button {
    padding: 6px 20px;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.conf-dialog-button.blue {
    color: #fff!important;
    background-color: #00bdd9;
}

a.conf-dialog-button.blue:hover{
    color: #fff!important;
    background-color: #00bdd9!important;
    opacity: 0.9;
}

a.conf-dialog-button.gray {
    color: #606060;
    background-color: #E6E7E8;
}

a.conf-dialog-button.gray:hover {
    background-color: #ccc;
}

.conf-dialog-actions {
    text-align: right;
    margin-top:5px;   
    margin-bottom:5px;
    text-decoration: none;    
}

.conf-dialog-actions btn:hover {
    text-decoration: none;
}
/****END Buttons****/


/****Auxiliar****/
.conf-dialog-actions-invisible {
    display: none !important;
}


.tooltip.is--visible {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    /* overflow: visible; */
    max-width: 350px;
}

.tooltip {
    background-color: var(--color-neutral-9);
    border-radius: var(--border-radius-soft);
    color: var(--color-neutral-0);
    min-width: 96px;
    padding: var(--space-s);
    position: absolute;
    text-align: center;
    -webkit-transition: opacity 330ms ease;
    transition: opacity 330ms ease;
    /* white-space: nowrap; */
    z-index: 50;
    
    height: auto;
}

.tooltip-top {
    left: 50%;
    top: calc(-100% - 64px);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip-top:after {
    border: 8px solid transparent;
    border-top: 8px solid var(--color-neutral-9);
    bottom: -16px;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
}

.EditRecord input:not(.Button) {
    border: var(--border-size-s) solid var(--color-neutral-5)!important;
    height: 40px!important;
    padding: none!important;
}
.EditRecord input:not(.Button):focus
{
    border: var(--border-size-s) solid var(--color-primary)!important;

}
.input-with-icon .input-with-icon-content-icon {
    z-index: 9;
}

.menu-icon {
    width: 35px!important;
    cursor: pointer!important;
}
.tooltip{min-width: 200px;}

/*Burger*/

.menu-icon {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    color: var(--color-neutral-10);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    margin-right: var(--space-m);
    width: 24px;
}

.menu-icon-line {
    background-color: #15c0dc;
    height: 2px;
}

/*Alert*/

/*!
 * jquery-confirm v3.3.4 (http://craftpip.github.io/jquery-confirm/)
 * Author: boniface pereira
 * Website: www.craftpip.com
 * Contact: hey@craftpip.com
 *
 * Copyright 2013-2019 jquery-confirm
 * Licensed under MIT (https://github.com/craftpip/jquery-confirm/blob/master/LICENSE)
 */
@-webkit-keyframes jconfirm-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes jconfirm-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

body[class*=jconfirm-no-scroll-] {
    overflow: hidden !important;
}

.jconfirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999;
    font-family: inherit;
    overflow: hidden;
}

.jconfirm .jconfirm-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.jconfirm .jconfirm-bg.jconfirm-bg-h {
    opacity: 0 !important;
}

.jconfirm .jconfirm-scrollpane {
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: center;
    perspective-origin: center;
    display: table;
    width: 100%;
    height: 100%;
}

.jconfirm .jconfirm-row {
    display: table-row;
    width: 100%;
}

.jconfirm .jconfirm-cell {
    display: table-cell;
    vertical-align: middle;
}

.jconfirm .jconfirm-holder {
    max-height: 100%;
    padding: 50px 0;
}

.jconfirm .jconfirm-box-container {
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
}

.jconfirm .jconfirm-box-container.jconfirm-no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}

.jconfirm .jconfirm-box {
    background: white;
    border-radius: 4px;
    position: relative;
    outline: none;
    padding: 15px 15px 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes type-blue {
    1%,
    100% {
        border-color: #3498db;
    }
    50% {
        border-color: #5faee3;
    }
}

@keyframes type-blue {
    1%,
    100% {
        border-color: #3498db;
    }
    50% {
        border-color: #5faee3;
    }
}

@-webkit-keyframes type-green {
    1%,
    100% {
        border-color: #2ecc71;
    }
    50% {
        border-color: #54d98c;
    }
}

@keyframes type-green {
    1%,
    100% {
        border-color: #2ecc71;
    }
    50% {
        border-color: #54d98c;
    }
}

@-webkit-keyframes type-red {
    1%,
    100% {
        border-color: #e74c3c;
    }
    50% {
        border-color: #ed7669;
    }
}

@keyframes type-red {
    1%,
    100% {
        border-color: #e74c3c;
    }
    50% {
        border-color: #ed7669;
    }
}

@-webkit-keyframes type-orange {
    1%,
    100% {
        border-color: #f1c40f;
    }
    50% {
        border-color: #f4d03f;
    }
}

@keyframes type-orange {
    1%,
    100% {
        border-color: #f1c40f;
    }
    50% {
        border-color: #f4d03f;
    }
}

@-webkit-keyframes type-purple {
    1%,
    100% {
        border-color: #9b59b6;
    }
    50% {
        border-color: #b07cc6;
    }
}

@keyframes type-purple {
    1%,
    100% {
        border-color: #9b59b6;
    }
    50% {
        border-color: #b07cc6;
    }
}

@-webkit-keyframes type-dark {
    1%,
    100% {
        border-color: #34495e;
    }
    50% {
        border-color: #46627f;
    }
}

@keyframes type-dark {
    1%,
    100% {
        border-color: #34495e;
    }
    50% {
        border-color: #46627f;
    }
}

.jconfirm .jconfirm-box.jconfirm-type-animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.jconfirm .jconfirm-box.jconfirm-type-blue {
    border-top: solid 7px #3498db;
    -webkit-animation-name: type-blue;
    animation-name: type-blue;
}

.jconfirm .jconfirm-box.jconfirm-type-green {
    border-top: solid 7px #2ecc71;
    -webkit-animation-name: type-green;
    animation-name: type-green;
}

.jconfirm .jconfirm-box.jconfirm-type-red {
    border-top: solid 7px #e74c3c;
    -webkit-animation-name: type-red;
    animation-name: type-red;
}

.jconfirm .jconfirm-box.jconfirm-type-orange {
    border-top: solid 7px #f1c40f;
    -webkit-animation-name: type-orange;
    animation-name: type-orange;
}

.jconfirm .jconfirm-box.jconfirm-type-purple {
    border-top: solid 7px #9b59b6;
    -webkit-animation-name: type-purple;
    animation-name: type-purple;
}

.jconfirm .jconfirm-box.jconfirm-type-dark {
    border-top: solid 7px #34495e;
    -webkit-animation-name: type-dark;
    animation-name: type-dark;
}

.jconfirm .jconfirm-box.loading {
    height: 120px;
}

.jconfirm .jconfirm-box.loading:before {
    content: '';
    position: absolute;
    left: 0;
    background: white;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: 1;
}

.jconfirm .jconfirm-box.loading:after {
    opacity: 0.6;
    content: '';
    height: 30px;
    width: 30px;
    border: solid 3px transparent;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    border-radius: 50%;
    -webkit-animation: jconfirm-spin 1s infinite linear;
    animation: jconfirm-spin 1s infinite linear;
    border-bottom-color: dodgerblue;
    top: 50%;
    margin-top: -15px;
    z-index: 2;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: .6;
    text-align: center;
    font-size: 27px !important;
    line-height: 14px !important;
    display: none;
    z-index: 1;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon:empty {
    display: none;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon .fa {
    font-size: 16px;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon .glyphicon {
    font-size: 16px;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon .zmdi {
    font-size: 16px;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon:hover {
    opacity: 1;
}

.jconfirm .jconfirm-box div.jconfirm-title-c {
    display: block;
    font-size: 22px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding-bottom: 15px;
}

.jconfirm .jconfirm-box div.jconfirm-title-c.jconfirm-hand {
    cursor: move;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c i {
    vertical-align: middle;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c:empty {
    display: none;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    vertical-align: middle;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title:empty {
    display: none;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane {
    margin-bottom: 15px;
    height: auto;
    -webkit-transition: height 0.4s ease-in;
    transition: height 0.4s ease-in;
    display: inline-block;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane.no-scroll {
    overflow-y: hidden;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane::-webkit-scrollbar {
    width: 3px;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.jconfirm .jconfirm-box div.jconfirm-content-pane::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 3px;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: auto;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content img {
    max-width: 100%;
    height: auto;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content:empty {
    display: none;
}

.jconfirm .jconfirm-box .jconfirm-buttons {
    padding-bottom: 11px;
}

.jconfirm .jconfirm-box .jconfirm-buttons > button {
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.jconfirm .jconfirm-box .jconfirm-buttons button {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    min-height: 1em;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    -webkit-tap-highlight-color: transparent;
    border: none;
    background-image: none;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue {
    background-color: #3498db;
    color: #FFF;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue:hover {
    background-color: #2980b9;
    color: #FFF;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-green {
    background-color: #2ecc71;
    color: #FFF;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-green:hover {
    background-color: #27ae60;
    color: #FFF;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-red {
    background-color: #e74c3c;
    color: #FFF;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-red:hover {
    background-color: #c0392b;
    color: #FFF;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-orange {
    background-color: #f1c40f;
    color: #FFF;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-orange:hover {
    background-color: #f39c12;
    color: #FFF;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
    background-color: #ecf0f1;
    color: #000;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default:hover {
    background-color: #bdc3c7;
    color: #000;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-purple {
    background-color: #9b59b6;
    color: #FFF;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-purple:hover {
    background-color: #8e44ad;
    color: #FFF;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-dark {
    background-color: #34495e;
    color: #FFF;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-dark:hover {
    background-color: #2c3e50;
    color: #FFF;
}

.jconfirm .jconfirm-box.jconfirm-type-red .jconfirm-title-c .jconfirm-icon-c {
    color: #e74c3c !important;
}

.jconfirm .jconfirm-box.jconfirm-type-blue .jconfirm-title-c .jconfirm-icon-c {
    color: #ffffff !important;
}

.jconfirm .jconfirm-box.jconfirm-type-green .jconfirm-title-c .jconfirm-icon-c {
    color: #2ecc71 !important;
}

.jconfirm .jconfirm-box.jconfirm-type-purple .jconfirm-title-c .jconfirm-icon-c {
    color: #9b59b6 !important;
}

.jconfirm .jconfirm-box.jconfirm-type-orange .jconfirm-title-c .jconfirm-icon-c {
    color: #f1c40f !important;
}

.jconfirm .jconfirm-box.jconfirm-type-dark .jconfirm-title-c .jconfirm-icon-c {
    color: #34495e !important;
}

.jconfirm .jconfirm-clear {
    clear: both;
}

.jconfirm.jconfirm-rtl {
    direction: rtl;
}

.jconfirm.jconfirm-rtl div.jconfirm-closeIcon {
    left: 5px;
    right: auto;
}

.jconfirm.jconfirm-white .jconfirm-bg,
.jconfirm.jconfirm-light .jconfirm-bg {
    background-color: #444;
    opacity: .2;
}

.jconfirm.jconfirm-white .jconfirm-box,
.jconfirm.jconfirm-light .jconfirm-box {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-title-c .jconfirm-icon-c,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    margin-right: 8px;
    margin-left: 0px;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    float: right;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default:hover,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default:hover {
    background: #ddd;
}

.jconfirm.jconfirm-white.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c,
.jconfirm.jconfirm-light.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c {
    margin-left: 8px;
    margin-right: 0px;
}

.jconfirm.jconfirm-black .jconfirm-bg,
.jconfirm.jconfirm-dark .jconfirm-bg {
    background-color: darkslategray;
    opacity: .4;
}

.jconfirm.jconfirm-black .jconfirm-box,
.jconfirm.jconfirm-dark .jconfirm-box {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background: #444;
    border-radius: 5px;
    color: white;
}

.jconfirm.jconfirm-black .jconfirm-box .jconfirm-title-c .jconfirm-icon-c,
.jconfirm.jconfirm-dark .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    margin-right: 8px;
    margin-left: 0px;
}

.jconfirm.jconfirm-black .jconfirm-box .jconfirm-buttons,
.jconfirm.jconfirm-dark .jconfirm-box .jconfirm-buttons {
    float: right;
}

.jconfirm.jconfirm-black .jconfirm-box .jconfirm-buttons button,
.jconfirm.jconfirm-dark .jconfirm-box .jconfirm-buttons button {
    border: none;
    background-image: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
    -webkit-transition: background .1s;
    transition: background .1s;
    color: white;
}

.jconfirm.jconfirm-black .jconfirm-box .jconfirm-buttons button.btn-default,
.jconfirm.jconfirm-dark .jconfirm-box .jconfirm-buttons button.btn-default {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    background: none;
}

.jconfirm.jconfirm-black .jconfirm-box .jconfirm-buttons button.btn-default:hover,
.jconfirm.jconfirm-dark .jconfirm-box .jconfirm-buttons button.btn-default:hover {
    background: #666;
}

.jconfirm.jconfirm-black.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c,
.jconfirm.jconfirm-dark.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c {
    margin-left: 8px;
    margin-right: 0px;
}

.jconfirm .jconfirm-box.hilight.jconfirm-hilight-shake {
    -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.jconfirm .jconfirm-box.hilight.jconfirm-hilight-glow {
    -webkit-animation: glow 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: glow 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-8px, 0, 0);
        transform: translate3d(-8px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(8px, 0, 0);
        transform: translate3d(8px, 0, 0);
    }
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-8px, 0, 0);
        transform: translate3d(-8px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(8px, 0, 0);
        transform: translate3d(8px, 0, 0);
    }
}

@-webkit-keyframes glow {
    0%,
    100% {
        -webkit-box-shadow: 0 0 0px red;
        box-shadow: 0 0 0px red;
    }
    50% {
        -webkit-box-shadow: 0 0 30px red;
        box-shadow: 0 0 30px red;
    }
}

@keyframes glow {
    0%,
    100% {
        -webkit-box-shadow: 0 0 0px red;
        box-shadow: 0 0 0px red;
    }
    50% {
        -webkit-box-shadow: 0 0 30px red;
        box-shadow: 0 0 30px red;
    }
}

/*Transition rules*/
.jconfirm {
    -webkit-perspective: 400px;
    perspective: 400px;
}

.jconfirm .jconfirm-box {
    opacity: 1;
    -webkit-transition-property: all;
    transition-property: all;
}

.jconfirm .jconfirm-box.jconfirm-animation-top,
.jconfirm .jconfirm-box.jconfirm-animation-left,
.jconfirm .jconfirm-box.jconfirm-animation-right,
.jconfirm .jconfirm-box.jconfirm-animation-bottom,
.jconfirm .jconfirm-box.jconfirm-animation-opacity,
.jconfirm .jconfirm-box.jconfirm-animation-zoom,
.jconfirm .jconfirm-box.jconfirm-animation-scale,
.jconfirm .jconfirm-box.jconfirm-animation-none,
.jconfirm .jconfirm-box.jconfirm-animation-rotate,
.jconfirm .jconfirm-box.jconfirm-animation-rotatex,
.jconfirm .jconfirm-box.jconfirm-animation-rotatey,
.jconfirm .jconfirm-box.jconfirm-animation-scaley,
.jconfirm .jconfirm-box.jconfirm-animation-scalex {
    opacity: 0;
}

.jconfirm .jconfirm-box.jconfirm-animation-rotate {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.jconfirm .jconfirm-box.jconfirm-animation-rotatex {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-rotatexr {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-rotatey {
    -webkit-transform: rotatey(90deg);
    transform: rotatey(90deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-rotateyr {
    -webkit-transform: rotatey(-90deg);
    transform: rotatey(-90deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-scaley {
    -webkit-transform: scaley(1.5);
    transform: scaley(1.5);
    -webkit-transform-origin: center;
    transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-scalex {
    -webkit-transform: scalex(1.5);
    transform: scalex(1.5);
    -webkit-transform-origin: center;
    transform-origin: center;
}

.jconfirm .jconfirm-box.jconfirm-animation-top {
    -webkit-transform: translate(0px, -100px);
    transform: translate(0px, -100px);
}

.jconfirm .jconfirm-box.jconfirm-animation-left {
    -webkit-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px);
}

.jconfirm .jconfirm-box.jconfirm-animation-right {
    -webkit-transform: translate(100px, 0px);
    transform: translate(100px, 0px);
}

.jconfirm .jconfirm-box.jconfirm-animation-bottom {
    -webkit-transform: translate(0px, 100px);
    transform: translate(0px, 100px);
}

.jconfirm .jconfirm-box.jconfirm-animation-zoom {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.jconfirm .jconfirm-box.jconfirm-animation-scale {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.jconfirm .jconfirm-box.jconfirm-animation-none {
    visibility: hidden;
}

.jconfirm.jconfirm-supervan .jconfirm-bg {
    background-color: #d6336cfa;
}

.jconfirm.jconfirm-supervan .jconfirm-box {
    background-color: transparent;
}

.jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-blue {
    border: none;
}

@media only screen and (max-width:700px)
{.jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-blue {width:90%!important}}


.jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-green {
    border: none;
}

.jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-red {
    border: none;
}

.jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-orange {
    border: none;
}

.jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-purple {
    border: none;
}

.jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-dark {
    border: none;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-closeIcon {
    color: white;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-title-c {
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: normal;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-title-c > * {
    padding-bottom: 25px;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
    margin-right: 8px;
    margin-left: 0px;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-content-pane {
    margin-bottom: 25px;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-content {
    text-align: center;
    color: white;
}

.jconfirm.jconfirm-supervan .jconfirm-box .jconfirm-buttons {
    text-align: center;
}

.jconfirm.jconfirm-supervan .jconfirm-box .jconfirm-buttons button {
    font-size: 16px;
    border-radius: 2px;
    background: #303f53;
    text-shadow: none;
    border: none;
    color: white;
    padding: 10px;
    min-width: 100px;
}

.jconfirm.jconfirm-supervan.jconfirm-rtl .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
    margin-left: 8px;
    margin-right: 0px;
}

.jconfirm.jconfirm-material .jconfirm-bg {
    background-color: rgba(0, 0, 0, 0.67);
}

.jconfirm.jconfirm-material .jconfirm-box {
    background-color: white;
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    padding: 30px 25px 10px 25px;
}

.jconfirm.jconfirm-material .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    margin-right: 8px;
    margin-left: 0px;
}

.jconfirm.jconfirm-material .jconfirm-box div.jconfirm-closeIcon {
    color: rgba(0, 0, 0, 0.87);
}

.jconfirm.jconfirm-material .jconfirm-box div.jconfirm-title-c {
    color: rgba(0, 0, 0, 0.87);
    font-size: 22px;
    font-weight: bold;
}

.jconfirm.jconfirm-material .jconfirm-box div.jconfirm-content {
    color: rgba(0, 0, 0, 0.87);
}

.jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons {
    text-align: right;
}

.jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons button {
    text-transform: uppercase;
    font-weight: 500;
}

.jconfirm.jconfirm-material.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c {
    margin-left: 8px;
    margin-right: 0px;
}

.jconfirm.jconfirm-bootstrap .jconfirm-bg {
    background-color: rgba(0, 0, 0, 0.21);
}

.jconfirm.jconfirm-bootstrap .jconfirm-box {
    background-color: white;
    -webkit-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.4);
    padding: 15px 0 0;
}

.jconfirm.jconfirm-bootstrap .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    margin-right: 8px;
    margin-left: 0px;
}

.jconfirm.jconfirm-bootstrap .jconfirm-box div.jconfirm-closeIcon {
    color: rgba(0, 0, 0, 0.87);
}

.jconfirm.jconfirm-bootstrap .jconfirm-box div.jconfirm-title-c {
    color: rgba(0, 0, 0, 0.87);
    font-size: 22px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.jconfirm.jconfirm-bootstrap .jconfirm-box div.jconfirm-content {
    color: rgba(0, 0, 0, 0.87);
    padding: 0px 15px;
}

.jconfirm.jconfirm-bootstrap .jconfirm-box .jconfirm-buttons {
    text-align: right;
    padding: 10px;
    margin: -5px 0 0px;
    border-top: solid 1px #ddd;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
}

.jconfirm.jconfirm-bootstrap .jconfirm-box .jconfirm-buttons button {
    font-weight: 500;
}

.jconfirm.jconfirm-bootstrap.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c {
    margin-left: 8px;
    margin-right: 0px;
}

.jconfirm.jconfirm-modern .jconfirm-bg {
    background-color: slategray;
    opacity: .6;
}

.jconfirm.jconfirm-modern .jconfirm-box {
    background-color: white;
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    padding: 30px 30px 15px;
}

.jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-closeIcon {
    color: rgba(0, 0, 0, 0.87);
    top: 15px;
    right: 15px;
}

.jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-title-c {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: scale(0);
    transform: scale(0);
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 69px;
    color: #aaa;
}

.jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-content {
    text-align: center;
    font-size: 15px;
    color: #777;
    margin-bottom: 25px;
}

.jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons {
    text-align: center;
}

.jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons button {
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: background .1s;
    transition: background .1s;
    padding: 10px 20px;
}

.jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons button + button {
    margin-left: 4px;
}

.jconfirm.jconfirm-modern.jconfirm-open .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    -webkit-transform: scale(1);
    transform: scale(1);
}