﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Layouts\LayoutLogin.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowLayouts.WBlkLayoutLogin,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KH1Ba98yWuE2NovgUPE52Fw" Src="LayoutWidgets.ascx" %>
<%# PageStartHook() %><widgets:KH1Ba98yWuE2NovgUPE52Fw runat="server" id="wt4" OnEvaluateParameters="webBlck4_onDataBinding" InstanceID="4"></widgets:KH1Ba98yWuE2NovgUPE52Fw><osweb:Container runat="server" id="wt1" anonymous="true" onDataBinding="cnt1_onDataBinding" cssClass="layout-login layout-login-simple"><osweb:PlaceholderContainer runat="server" id="wtLogin" onDataBinding="wtLogin_onDataBinding" cssClass="layout-login-form-content"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtBackgroundImage" onDataBinding="wtBackgroundImage_onDataBinding" cssClass="layout-login-background"></osweb:PlaceholderContainer></osweb:Container><%# PageEndHook() %>