﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Layouts\LayoutWidgets.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowLayouts.WBlkLayoutWidgets,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KGIR52myW2kmaAFAS6380QA" Src="..\..\OutSystemsUIWeb\Private\ServiceStudioPreview.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KG94GHsQZm0ep4vMtql8Idg" Src="..\..\OutSystemsUIWeb\Private\DeviceDetection.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KhQinIXnZOkq2_hgCgLsg_w" Src="..\..\OutSystemsUIWeb\Private\CSSVarsPonyfill.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KLWq_pA1GRkChVj8Y00UHUA" Src="..\..\OutSystemsUIWeb\Libraries\JSON5_2_1_0.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="K1boRW1ocfWljMkwBCSeF_g" Src="..\..\OutSystemsUIWeb\RichWidgets\Feedback_AjaxWait.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KfCEeDIqv_OomQwNMNcOMRg" Src="..\..\OutSystemsUIWeb\RichWidgets\Feedback_Message.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="..\..\OutSystemsUIWeb\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KkokzmlPBjEOIefBSMyO2_A" Src="..\..\OutSystemsUIWeb\Private\RTL.ascx" %>
<%# PageStartHook() %><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt4() %>"></osweb:If><osweb:If runat="server" visible="<%# !if_wt4() %>"><widgets:KGIR52myW2kmaAFAS6380QA runat="server" id="wt8" OnEvaluateParameters="webBlck8_onDataBinding" InstanceID="8"></widgets:KGIR52myW2kmaAFAS6380QA><widgets:KG94GHsQZm0ep4vMtql8Idg runat="server" id="wt11" OnEvaluateParameters="webBlck11_onDataBinding" InstanceID="11"></widgets:KG94GHsQZm0ep4vMtql8Idg><widgets:KhQinIXnZOkq2_hgCgLsg_w runat="server" id="wt3" OnEvaluateParameters="webBlck3_onDataBinding" InstanceID="3"></widgets:KhQinIXnZOkq2_hgCgLsg_w><widgets:KLWq_pA1GRkChVj8Y00UHUA runat="server" id="wt14" OnEvaluateParameters="webBlck14_onDataBinding" InstanceID="14"></widgets:KLWq_pA1GRkChVj8Y00UHUA><RichWidgets_widgets:K1boRW1ocfWljMkwBCSeF_g runat="server" id="RichWidgets_wt15" OnEvaluateParameters="RichWidgets_webBlck15_onDataBinding" InstanceID="15"></RichWidgets_widgets:K1boRW1ocfWljMkwBCSeF_g><RichWidgets_widgets:KfCEeDIqv_OomQwNMNcOMRg runat="server" id="RichWidgets_wt7" OnEvaluateParameters="RichWidgets_webBlck7_onDataBinding" InstanceID="7"></RichWidgets_widgets:KfCEeDIqv_OomQwNMNcOMRg><osweb:Container runat="server" id="wt9" anonymous="true" onDataBinding="cnt9_onDataBinding" cssClass="hidden"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt5" OnEvaluateParameters="RichWidgets_webBlck5_onDataBinding" InstanceID="5"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt2() %>"><widgets:KkokzmlPBjEOIefBSMyO2_A runat="server" id="wt6" OnEvaluateParameters="webBlck6_onDataBinding" InstanceID="6"></widgets:KkokzmlPBjEOIefBSMyO2_A></osweb:If><osweb:If runat="server" visible="<%# !if_wt2() %>"></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder><%# PageEndHook() %>