﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Layouts\LayoutMenuTop.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowLayouts.WBlkLayoutMenuTop,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KH1Ba98yWuE2NovgUPE52Fw" Src="LayoutWidgets.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt4" anonymous="true" onDataBinding="cnt4_onDataBinding" cssClass="hide-on-service-studio"><widgets:KH1Ba98yWuE2NovgUPE52Fw runat="server" id="wt5" OnEvaluateParameters="webBlck5_onDataBinding" InstanceID="5"></widgets:KH1Ba98yWuE2NovgUPE52Fw></osweb:Container><osweb:Container runat="server" id="wt1" anonymous="true" onDataBinding="cnt1_onDataBinding" cssClass="layout layout-top"><osweb:Container runat="server" id="wt3" anonymous="true" onDataBinding="cnt3_onDataBinding" cssClass="main"><osweb:PlaceholderContainer runat="server" id="wtHeader" onDataBinding="wtHeader_onDataBinding" cssClass="header"></osweb:PlaceholderContainer><osweb:PlaceholderContainer runat="server" id="wtContent" onDataBinding="wtContent_onDataBinding" cssClass="content"></osweb:PlaceholderContainer></osweb:Container></osweb:Container><%# PageEndHook() %>