﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\OutSystemsUIWeb\Layouts\LayoutLoginSplit.ascx.cs" Inherits="ssOutSystemsUIWeb.Flows.FlowLayouts.WBlkLayoutLoginSplit,OutSystemsUIWeb" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssOutSystemsUIWeb" %>
<%@ Register TagPrefix="widgets" TagName="KH1Ba98yWuE2NovgUPE52Fw" Src="LayoutWidgets.ascx" %>
<%# PageStartHook() %><widgets:KH1Ba98yWuE2NovgUPE52Fw runat="server" id="wt2" OnEvaluateParameters="webBlck2_onDataBinding" InstanceID="2"></widgets:KH1Ba98yWuE2NovgUPE52Fw><osweb:PlaceholderContainer runat="server" id="wtLogin" onDataBinding="wtLogin_onDataBinding" cssClass="layout-login" GridCssClasses="OSInline"></osweb:PlaceholderContainer><%# PageEndHook() %>