﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_ProgressCircle.Flows.FlowCommon.WBlkHeader,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\ProgressCircle\Common\Header.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />