﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_OutSystemsUIWeb.Flows.FlowStructure.WBlkAlignCenter,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\OutSystemsUIWeb\Structure\AlignCenter.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />