﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_OutSystemsUIWeb.Flows.FlowStructure.WBlkColumnsSmallLeft,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\OutSystemsUIWeb\Structure\ColumnsSmallLeft.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />