﻿.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    width: 130px;
    font-size: 16px;
    font-weight: normal;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    background-color: #52a0c7;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s !important;
    z-index: 10;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

a.btndownload {
    width: 130px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    color: #fff !important;
    background-color: #3b6e22;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s !important;
}

a.btndownload:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label span:not(:first-child) {
    margin-left: 5px;
}

.btndownload span:not(:first-child) {
    margin-left: 5px;
}

/* CROPIT */

.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 5px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 250px;
    text-align: left;
    position: relative;
}

.cropit-preview img{
    max-width: none !important;
}

.cropit-preview-image-container {
    cursor: move;
}

.cropit-preview-image-container img {
    max-width: none !important;
}

.cropit-preview-background-container{
    z-index: -1;
}

.cropit-preview-background {
    opacity: .2;
    cursor: auto;
}

.image-size-label {
    margin-top: 10px;
}

input, .export {
    /* Use relative position to prevent from being covered by image background */
    position: relative;
    /*z-index: 10;*/
    display: block;
}

.cropit-image-zoom-input {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}

.rotate-ccw,
.rotate-cw {
    position: relative;
    /*z-index: 10 !important;*/
    color: #000 !important;
    cursor: pointer;
}

.msg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    line-height: 1.5;
    z-index: 10;
    text-align: center;
    display: none;
}
.msg.msgInfo {
    background: rgba(58,145,216,0.8);
}
.msg.msgError {
    background: rgba(210,65,72,0.8);
}

/* SLIDER */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #f8f8f8;
  background: #f8f8f8;
  border-radius: 5px;
  border: 0px solid #f8f8f8;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ccc;
  border: 0px solid #CCCCCC;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #CCCCCC;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f8f8f8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #f8f8f8;
  background: #f8f8f8;
  border-radius: 5px;
  border: 0px solid #f8f8f8;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ccc;
  border: 0px solid #CCCCCC;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #CCCCCC;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f8f8f8;
  border: 0px solid #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #f8f8f8;
}
input[type=range]::-ms-fill-upper {
  background: #f8f8f8;
  border: 0px solid #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #f8f8f8;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #ccc;
  border: 0px solid #CCCCCC;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #CCCCCC;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f8f8f8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f8f8f8;
}

.padding{
    padding: 5px;
}