﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\SocialLoginSamples\Common\Header.ascx.cs" Inherits="ssSocialLoginSamples.Flows.FlowCommon.WBlkHeader,SocialLoginSamples" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssSocialLoginSamples" %>
<%@ Register TagPrefix="widgets" TagName="KGxiSVdWauL5OYmSzn6P3Yw" Src="LoginInfo.ascx" %>
<%# PageStartHook() %><widgets:KGxiSVdWauL5OYmSzn6P3Yw runat="server" id="wt6" OnEvaluateParameters="webBlck6_onDataBinding" InstanceID="6"></widgets:KGxiSVdWauL5OYmSzn6P3Yw><osweb:Container runat="server" id="wt4" anonymous="true" onDataBinding="cnt4_onDataBinding" cssClass="Application_Title"><osweb:HyperLink runat="server" id="wt2" Visible="<%# lnk2_isVisible() %>" Enabled="<%# lnk2_isEnabled() %>" NavigateUrl="<%# lnk2_NavigateUrl() %>"><osweb:DynamicImage runat="server" id="wt3" anonymous="true" StaticSource="<%# Images.Header_Logo_Source() %>" ImageType="Static" StaticPath="<%# &quot;/RichWidgets/&quot; %>" alt=""/></osweb:HyperLink><osweb:HyperLink runat="server" id="wt5" Visible="<%# lnk5_isVisible() %>" Enabled="<%# lnk5_isEnabled() %>" NavigateUrl="<%# lnk5_NavigateUrl() %>"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression1()) %></osweb:PlaceHolder></osweb:HyperLink></osweb:Container><%# PageEndHook() %>