﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_ConfirmationDialog.Flows.FlowConfirmationDialog.WBlkConfirmationDialog,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\ConfirmationDialog\ConfirmationDialog\ConfirmationDialog.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />