﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_OutSystemsUIWeb_RichWidgets.Flows.FlowRichWidgets.WBlkFeedback_Message,OutSystemsUIWebReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\RichWidgets\RichWidgets\Feedback_Message.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />