﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_WebPatterns.Flows.FlowDevelopment.WBlkJS,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\WebPatterns\Development\JS.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />