﻿<%@ Control Language="c#" AutoEventWireup="false" Inherits="proxy_BIFY_Users.Flows.FlowUserManagement.WBlkEditMyInfo,BIFYReferencesProxy" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="client" TagName="node" Src="..\..\Users\UserManagement\EditMyInfo.ascx" %>
<client:node id="block" runat="server" OnBindDelegates="BindProxyDelegates" />