﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\ModalContent\AddANewGiftContent.ascx.cs" Inherits="ssBIFY.Flows.FlowModalContent.WBlkAddANewGiftContent,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KnQvsmR1kMEmJkNK9xfptmA" Src="..\..\BIFY\Structure\ColumnsMediumRight.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KJSw0YvaBJ0OUoK66cbj6yA" Src="..\..\BIFY\Structure\AlignCenter.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KUnwWFNwPR0259fFxXTkxDw" Src="..\..\BIFY\Controls\InputWithIcon.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="..\..\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KPh3bGkvpXUam1o9sufSrTQ" Src="..\..\BIFY\Structure\Gallery.ascx" %>
<%@ Register TagPrefix="widgets" TagName="KghR3CusJjkC_fUtGJNQJ2w" Src="..\..\BIFY\Weblocks\ImageBlock.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KyL2OCYp6YkCZi3shccbJnQ" Src="..\..\BIFY\Content\Carousel.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAWqhXH28h0C_6V89jNv2hQ" Src="..\..\BIFY\Structure\Columns2.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Ka_M9kdL8xUOn4aPf5GS9YA" Src="..\..\BIFY\Weblocks\SharingCircles.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container29" anonymous="true" onDataBinding="cnt_Container29_onDataBinding" cssClass="addGiftWrapper"><osweb:Container runat="server" id="wt_Container141" anonymous="true" onDataBinding="cnt_Container141_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression156" anonymous="true" class="heading1"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression156()) %></osweb:Span><osweb:Span runat="server" id="wt_Text186" anonymous="true" class="heading1"><%# "let&#39;s Add a Gift" %></osweb:Span></osweb:Container><osweb:IfPlaceHolder runat="server" id="wtPageIf" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtPageIf() %>"><OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance35" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance35_onDataBinding" InstanceID="_WebBlockInstance35"><phColumn1><osweb:Container runat="server" id="wtImgMobile" onDataBinding="cntImgMobile_onDataBinding" cssClass="ImgMobile"></osweb:Container><osweb:Container runat="server" id="wt_Container51" anonymous="true" onDataBinding="cnt_Container51_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Adding a new gift into BIFY is easy - just copy and paste the URL of the website where you&#39;ve found the Gift" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container142" anonymous="true" onDataBinding="cnt_Container142_onDataBinding"><span runat="server" id="wtEnterURLAjaxRfrsh"><osweb:TextBox runat="server" id="wtEnterURL" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtEnterURL_isVisible() %>" ReadOnly="<%# !inputwtEnterURL_isEnabled() %>" maxlength="500" onchange="OsLimitInput(this,event,500);" onkeyup="OsLimitInput(this,event,500);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="3" text="<%# inputwtEnterURL_input_value() %>" onTextChanged="inputwtEnterURL_input_onTextChanged" Mandatory="<%# inputwtEnterURL_isMandatory() %>" placeholder="<%# inputwtEnterURL_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtEnterURL") ?? Container.FindControl("wtEnterURL")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtEnterURLValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtEnterURL"/><osweb:TextValidator runat="server" display="Dynamic" id="wtEnterURLValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtEnterURL" ClientValidationFunction="OsCustomValidatorText"/></span><osweb:Button runat="server" id="wt_Button10" onDataBinding="btn_Button10_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width3" Visible="<%# btn_Button10_isVisible() %>" Enabled="<%# btn_Button10_isEnabled() %>" CausesValidation="false" text="<%# btn_Button10_getLabel() %>"/><osweb:Button runat="server" id="wt_Button20" onDataBinding="btn_Button20_onDataBinding" cssClass="Button Is_Default" GridCssClasses="ThemeGrid_Width3 ThemeGrid_MarginGutter" Visible="<%# btn_Button20_isVisible() %>" Enabled="<%# btn_Button20_isEnabled() %>" CausesValidation="false" text="<%# btn_Button20_getLabel() %>"/></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wtImgDesktop" onDataBinding="cntImgDesktop_onDataBinding" cssClass="ImgDesktop"><OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance49" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance49_onDataBinding" InstanceID="_WebBlockInstance49"><phContent><osweb:DynamicImage runat="server" id="wt_Image132" anonymous="true" StaticSource="<%# Images.gift_marvel_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phContent></OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA></osweb:If><osweb:If runat="server" visible="<%# !if_wtPageIf() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If71() %>"><osweb:IfPlaceHolder runat="server" id="wtCantFindGift"><osweb:If runat="server" visible="<%# if_wtCantFindGift() %>"><osweb:Container runat="server" id="wt_Container160" anonymous="true" onDataBinding="cnt_Container160_onDataBinding"><osweb:Container runat="server" id="wt_Container65" anonymous="true" onDataBinding="cnt_Container65_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Sorry, we couldn&#39;t find the Gift from the URL provided. Try " %></osweb:PlaceHolder><osweb:LinkButton runat="server" id="wt_Link111" Visible="<%# lnk_Link111_isVisible() %>" Enabled="<%# lnk_Link111_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "searching for the item" %></osweb:PlaceHolder></osweb:LinkButton><osweb:PlaceHolder runat="server"><%# ", or add the info yourself: below." %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container136" anonymous="true" onDataBinding="cnt_Container136_onDataBinding" GridCssClasses="ThemeGrid_Width6"><osweb:EditRecord runat="server" id="wtGiftEdit2" class="EditRecord" GridCssClasses="OSFillParent" border="0"><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell53" anonymous="true" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Gift Name" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell101" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Name2" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Name2_isVisible() %>" ReadOnly="<%# !inputwtGift_Name2_isEnabled() %>" maxlength="200" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtGift_Name2_input_value() %>" onTextChanged="inputwtGift_Name2_input_onTextChanged" Mandatory="<%# inputwtGift_Name2_isMandatory() %>" parentEditRecord="wtGiftEdit2"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_Name2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Name2"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_Name2ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Name2" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell193" anonymous="true" onDataBinding="wt_EditRecordCell193_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Description" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell98" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Description2" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Description2_isVisible() %>" ReadOnly="<%# !inputwtGift_Description2_isEnabled() %>" maxlength="500" onchange="OsLimitInput(this,event,500);" onkeyup="OsLimitInput(this,event,500);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="3" text="<%# inputwtGift_Description2_input_value() %>" onTextChanged="inputwtGift_Description2_input_onTextChanged" Mandatory="<%# inputwtGift_Description2_isMandatory() %>" parentEditRecord="wtGiftEdit2"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_Description2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Description2"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_Description2ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Description2" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell12" anonymous="true" onDataBinding="wt_EditRecordCell12_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Price" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell104" anonymous="true" class="EditRecord_Value"><osweb:Container runat="server" id="wt_Container78" anonymous="true" onDataBinding="cnt_Container78_onDataBinding" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance80" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance80_onDataBinding" InstanceID="_WebBlockInstance80"><phIcon><osweb:Container runat="server" id="wt_Container169" anonymous="true" onDataBinding="cnt_Container169_onDataBinding"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance152" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance152_onDataBinding" InstanceID="_WebBlockInstance152"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container></phIcon><phInput><osweb:TextBox runat="server" id="wtGift_Price2" cssClass="input" GridCssClasses="ThemeGrid_Width11" Visible="<%# inputwtGift_Price2_isVisible() %>" ReadOnly="<%# !inputwtGift_Price2_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetCurrencyValidatorMsg" textmode="SingleLine" text="<%# inputwtGift_Price2_input_value() %>" onTextChanged="inputwtGift_Price2_input_onTextChanged" Mandatory="<%# inputwtGift_Price2_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_Price2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Price2"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_Price2ValidatorType" ErrorMessage="<%# BIFY_Properties.CurrencyValidatorMsg %>" ControlToValidate="wtGift_Price2" ClientValidationFunction="OsCustomValidatorCurrency"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell7" anonymous="true" onDataBinding="wt_EditRecordCell7_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Person " %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell81" anonymous="true" class="EditRecord_Value"><osweb:DropDownList runat="server" id="wtGift_GiftTypeId2" onDataBinding="selGift_GiftTypeId2_onDataBinding" cssClass="select" GridCssClasses="ThemeGrid_Width6" Visible="<%# selGift_GiftTypeId2_isVisible() %>" Enabled="<%# selGift_GiftTypeId2_isEnabled() %>" OnSelectedIndexChanged="selGift_GiftTypeId2_dropDown_valueChanged" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" Mandatory="<%# selGift_GiftTypeId2_isMandatory() %>" parentEditRecord="wtGiftEdit2"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_GiftTypeId2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_GiftTypeId2"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell131" anonymous="true" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Your Gift Notes" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell135" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_YourGiftNotes" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_YourGiftNotes_isVisible() %>" ReadOnly="<%# !inputwtGift_YourGiftNotes_isEnabled() %>" maxlength="200" onchange="OsLimitInput(this,event,200);" onkeyup="OsLimitInput(this,event,200);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="2" text="<%# inputwtGift_YourGiftNotes_input_value() %>" onTextChanged="inputwtGift_YourGiftNotes_input_onTextChanged" Mandatory="<%# inputwtGift_YourGiftNotes_isMandatory() %>" parentEditRecord="wtGiftEdit2" placeholder="<%# inputwtGift_YourGiftNotes_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtGift_YourGiftNotes") ?? Container.FindControl("wtGift_YourGiftNotes")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_YourGiftNotesValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_YourGiftNotes"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_YourGiftNotesValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_YourGiftNotes" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr></osweb:EditRecord></osweb:Container><osweb:Container runat="server" id="wt_Container85" anonymous="true" onDataBinding="cnt_Container85_onDataBinding" GridCssClasses="ThemeGrid_Width6 ThemeGrid_MarginGutter"><osweb:Container runat="server" id="wt_Container180" anonymous="true" onDataBinding="cnt_Container180_onDataBinding" align="center"><osweb:PlaceHolder runat="server"><%# "Choose an Image for this Gift" %></osweb:PlaceHolder></osweb:Container><osweb:IfPlaceHolder runat="server" id="wtImageIf" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtImageIf() %>"><osweb:Container runat="server" id="wt_Container50" anonymous="true" onDataBinding="cnt_Container50_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Select which of the images best represents the Gift" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container67" anonymous="true" onDataBinding="cnt_Container67_onDataBinding"><OutSystemsUIWeb_widgets:KPh3bGkvpXUam1o9sufSrTQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance11" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance11_onDataBinding" InstanceID="_WebBlockInstance11"><phListRecords><osweb:Iterator runat="server" id="wtListRecords1" onDataBinding="recListListRecords1_onDataBinding" cssClass="ListRecords" OnItemCommand="recListListRecords1_Select" OnSetViewStateStorage="recListListRecords1_Store" OnClearViewStateStorage="recListListRecords1_Clear" OnListRefreshDataBind="recListListRecords1_ListRefreshDataBind" IsAjaxRefreshed="true" NeedsBreakAfter="true"><ItemTemplate><osweb:Container runat="server" id="wt_Container28" anonymous="true" onDataBinding="cnt_Container28_onDataBinding"><osweb:LinkButton runat="server" id="wt_Link137" onDataBinding="lnk_Link137_onDataBinding" Visible="<%# lnk_Link137_isVisible() %>" Enabled="<%# lnk_Link137_isEnabled() %>" CausesValidation="false"><osweb:DynamicImage runat="server" id="wt_Image52" anonymous="true" onDataBinding="img_Image52_onDataBinding" Source="<%# img_Image52_getURL() %>" ImageType="External" alt=""/></osweb:LinkButton></osweb:Container></ItemTemplate><InvisibleTemplate><%# recListListRecords1_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phListRecords></OutSystemsUIWeb_widgets:KPh3bGkvpXUam1o9sufSrTQ></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wtImageIf() %>"><osweb:Container runat="server" id="wt_Container79" anonymous="true" onDataBinding="cnt_Container79_onDataBinding" align="center"><widgets:KghR3CusJjkC_fUtGJNQJ2w runat="server" id="wt_WebBlockInstance39" OnEvaluateParameters="webBlck_WebBlockInstance39_onDataBinding" OnBindDelegates="webBlck_WebBlockInstance39_BindDelegates" InstanceID="_WebBlockInstance39"></widgets:KghR3CusJjkC_fUtGJNQJ2w></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container140" anonymous="true" onDataBinding="cnt_Container140_onDataBinding" align="right"><osweb:Button runat="server" id="wt_Button46" onDataBinding="btn_Button46_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width2" Visible="<%# btn_Button46_isVisible() %>" Enabled="<%# btn_Button46_isEnabled() %>" CausesValidation="false" text="<%# btn_Button46_getLabel() %>"/><osweb:Container runat="server" id="wt_Container187" anonymous="true" onDataBinding="cnt_Container187_onDataBinding" GridCssClasses="ThemeGrid_Width3 ThemeGrid_MarginGutter"><osweb:LinkButton runat="server" id="wtBuyThisGift2" onDataBinding="lnkBuyThisGift2_onDataBinding" cssClass="Button Is_Default BuyButton ENTER" Visible="<%# lnkBuyThisGift2_isVisible() %>" Enabled="<%# lnkBuyThisGift2_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container178" anonymous="true" onDataBinding="cnt_Container178_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Save" %></osweb:PlaceHolder></osweb:Container><osweb:DynamicImage runat="server" id="wt_Image94" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.bify_smile_icon_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image94_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:LinkButton></osweb:Container></osweb:Container><osweb:PlaceHolder runat="server"><%# expression_InlineExpression96() %></osweb:PlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wtCantFindGift() %>"><osweb:Container runat="server" id="wt_Container145" anonymous="true" onDataBinding="cnt_Container145_onDataBinding" GridCssClasses="ThemeGrid_Width7"><osweb:PlaceHolder runat="server"><%# "Give this Gift a meaningful name and if you&#39;d like, tag it so it will appear in searches" %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container88" anonymous="true" onDataBinding="cnt_Container88_onDataBinding"><osweb:EditRecord runat="server" id="wtGiftEdit" class="EditRecord" GridCssClasses="OSFillParent" border="0"><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell37" anonymous="true" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Name" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell2" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Name" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Name_isVisible() %>" ReadOnly="<%# !inputwtGift_Name_isEnabled() %>" maxlength="200" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtGift_Name_input_value() %>" onTextChanged="inputwtGift_Name_input_onTextChanged" Mandatory="<%# inputwtGift_Name_isMandatory() %>" parentEditRecord="wtGiftEdit"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_NameValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Name"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_NameValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Name" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell128" anonymous="true" onDataBinding="wt_EditRecordCell128_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Description" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell192" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Description" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Description_isVisible() %>" ReadOnly="<%# !inputwtGift_Description_isEnabled() %>" maxlength="500" onchange="OsLimitInput(this,event,500);" onkeyup="OsLimitInput(this,event,500);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="4" text="<%# inputwtGift_Description_input_value() %>" onTextChanged="inputwtGift_Description_input_onTextChanged" Mandatory="<%# inputwtGift_Description_isMandatory() %>" parentEditRecord="wtGiftEdit"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_DescriptionValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Description"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_DescriptionValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Description" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell102" anonymous="true" onDataBinding="wt_EditRecordCell102_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Price" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell191" anonymous="true" class="EditRecord_Value"><osweb:Container runat="server" id="wt_Container134" anonymous="true" onDataBinding="cnt_Container134_onDataBinding" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance23" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance23_onDataBinding" InstanceID="_WebBlockInstance23"><phIcon><osweb:Container runat="server" id="wt_Container76" anonymous="true" onDataBinding="cnt_Container76_onDataBinding"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance44" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance44_onDataBinding" InstanceID="_WebBlockInstance44"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container></phIcon><phInput><osweb:TextBox runat="server" id="wtGift_Price" cssClass="input" GridCssClasses="ThemeGrid_Width11" Visible="<%# inputwtGift_Price_isVisible() %>" ReadOnly="<%# !inputwtGift_Price_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetCurrencyValidatorMsg" textmode="SingleLine" text="<%# inputwtGift_Price_input_value() %>" onTextChanged="inputwtGift_Price_input_onTextChanged" Mandatory="<%# inputwtGift_Price_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_PriceValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Price"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_PriceValidatorType" ErrorMessage="<%# BIFY_Properties.CurrencyValidatorMsg %>" ControlToValidate="wtGift_Price" ClientValidationFunction="OsCustomValidatorCurrency"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container><osweb:Container runat="server" id="wt_Container123" anonymous="true" onDataBinding="cnt_Container123_onDataBinding" cssClass="pricetag"><osweb:PlaceHolder runat="server"><%# "How much is it?" %></osweb:PlaceHolder></osweb:Container></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell74" anonymous="true" onDataBinding="wt_EditRecordCell74_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Person / Occasion<br/>" %></osweb:PlaceHolder><osweb:PlaceHolder runat="server"><%# " " %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell48" anonymous="true" class="EditRecord_Value"><osweb:DropDownList runat="server" id="wtGift_GiftTypeId" onDataBinding="selGift_GiftTypeId_onDataBinding" cssClass="select" GridCssClasses="ThemeGrid_Width6" Visible="<%# selGift_GiftTypeId_isVisible() %>" Enabled="<%# selGift_GiftTypeId_isEnabled() %>" OnSelectedIndexChanged="selGift_GiftTypeId_dropDown_valueChanged" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" Mandatory="<%# selGift_GiftTypeId_isMandatory() %>" parentEditRecord="wtGiftEdit"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_GiftTypeIdValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_GiftTypeId"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell127" anonymous="true" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Your Gift Notes" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell150" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_YourGiftNotes2" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_YourGiftNotes2_isVisible() %>" ReadOnly="<%# !inputwtGift_YourGiftNotes2_isEnabled() %>" maxlength="200" onchange="OsLimitInput(this,event,200);" onkeyup="OsLimitInput(this,event,200);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="3" text="<%# inputwtGift_YourGiftNotes2_input_value() %>" onTextChanged="inputwtGift_YourGiftNotes2_input_onTextChanged" Mandatory="<%# inputwtGift_YourGiftNotes2_isMandatory() %>" parentEditRecord="wtGiftEdit" placeholder="<%# inputwtGift_YourGiftNotes2_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtGift_YourGiftNotes2") ?? Container.FindControl("wtGift_YourGiftNotes2")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_YourGiftNotes2ValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_YourGiftNotes2"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_YourGiftNotes2ValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_YourGiftNotes2" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr></osweb:EditRecord></osweb:Container><osweb:Container runat="server" id="wtImgMobile2" onDataBinding="cntImgMobile2_onDataBinding" cssClass="ImgMobile"></osweb:Container></osweb:Container><osweb:Container runat="server" id="wtImgDesktop2" onDataBinding="cntImgDesktop2_onDataBinding" cssClass="ImgDesktop" GridCssClasses="ThemeGrid_Width5 ThemeGrid_MarginGutter" align="center"><osweb:IfPlaceHolder runat="server" id="wtNotRightimage" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtNotRightimage() %>"><OutSystemsUIWeb_widgets:KyL2OCYp6YkCZi3shccbJnQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance58" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance58_onDataBinding" InstanceID="_WebBlockInstance58"><phItems><osweb:Iterator runat="server" id="wtListRecords2" onDataBinding="recListListRecords2_onDataBinding" cssClass="ListRecords" OnItemCommand="recListListRecords2_Select" OnSetViewStateStorage="recListListRecords2_Store" OnClearViewStateStorage="recListListRecords2_Clear" OnListRefreshDataBind="recListListRecords2_ListRefreshDataBind"><ItemTemplate><osweb:Container runat="server" id="wt_Container19" anonymous="true" onDataBinding="cnt_Container19_onDataBinding"><osweb:DynamicImage runat="server" id="wt_Image66" anonymous="true" onDataBinding="img_Image66_onDataBinding" Source="<%# img_Image66_getURL() %>" ImageType="External" alt=""/><osweb:Container runat="server" id="wt_Container36" anonymous="true" onDataBinding="cnt_Container36_onDataBinding"><osweb:LinkButton runat="server" id="wt_Link116" onDataBinding="lnk_Link116_onDataBinding" Visible="<%# lnk_Link116_isVisible() %>" Enabled="<%# lnk_Link116_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Use this image" %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container><osweb:Container runat="server" id="wt_Container117" anonymous="true" onDataBinding="cnt_Container117_onDataBinding"><osweb:LinkButton runat="server" id="wt_Link112" onDataBinding="lnk_Link112_onDataBinding" Visible="<%# lnk_Link112_isVisible() %>" Enabled="<%# lnk_Link112_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Cancel" %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></osweb:Container></ItemTemplate><InvisibleTemplate><%# recListListRecords2_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phItems></OutSystemsUIWeb_widgets:KyL2OCYp6YkCZi3shccbJnQ></osweb:If><osweb:If runat="server" visible="<%# !if_wtNotRightimage() %>"><osweb:DynamicImage runat="server" id="wt_Image62" anonymous="true" onDataBinding="img_Image62_onDataBinding" Source="<%# img_Image62_getURL() %>" ImageType="External" alt=""/><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If171() %>"><osweb:Container runat="server" id="wt_Container119" anonymous="true" onDataBinding="cnt_Container119_onDataBinding"><osweb:LinkButton runat="server" id="wt_Link43" onDataBinding="lnk_Link43_onDataBinding" Visible="<%# lnk_Link43_isVisible() %>" Enabled="<%# lnk_Link43_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "Not the right image?" %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If171() %>"></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container9" anonymous="true" onDataBinding="cnt_Container9_onDataBinding" align="right"><osweb:Container runat="server" id="wt_Container115" anonymous="true" onDataBinding="cnt_Container115_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Not quite right? Try " %></osweb:PlaceHolder><osweb:LinkButton runat="server" id="wt_Link121" onDataBinding="lnk_Link121_onDataBinding" Visible="<%# lnk_Link121_isVisible() %>" Enabled="<%# lnk_Link121_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "searching for the Gift " %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container><osweb:Button runat="server" id="wt_Button83" onDataBinding="btn_Button83_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width2" Visible="<%# btn_Button83_isVisible() %>" Enabled="<%# btn_Button83_isEnabled() %>" CausesValidation="false" text="<%# btn_Button83_getLabel() %>"/><osweb:PlaceHolder runat="server"><%# expression_InlineExpression47() %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container151" anonymous="true" onDataBinding="cnt_Container151_onDataBinding" GridCssClasses="ThemeGrid_Width3 ThemeGrid_MarginGutter"><osweb:LinkButton runat="server" id="wtBuyThisGift" onDataBinding="lnkBuyThisGift_onDataBinding" cssClass="Button Is_Default BuyButton ENTER" Visible="<%# lnkBuyThisGift_isVisible() %>" Enabled="<%# lnkBuyThisGift_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container114" anonymous="true" onDataBinding="cnt_Container114_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Save" %></osweb:PlaceHolder></osweb:Container><osweb:DynamicImage runat="server" id="wt_Image147" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.bify_smile_icon_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image147_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:LinkButton></osweb:Container></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If71() %>"><osweb:Container runat="server" id="wtCompleted" onDataBinding="cntCompleted_onDataBinding"><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance63" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance63_onDataBinding" InstanceID="_WebBlockInstance63"><phColumn1><osweb:Container runat="server" id="wt_Container172" anonymous="true" onDataBinding="cnt_Container172_onDataBinding" align="left"><osweb:Span runat="server" id="wt_Text33" anonymous="true" class="heading3"><%# "All Done!" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wtImgMobile3" onDataBinding="cntImgMobile3_onDataBinding" cssClass="ImgMobile2"></osweb:Container><osweb:Container runat="server" id="wt_Container26" anonymous="true" onDataBinding="cnt_Container26_onDataBinding"><osweb:PlaceHolder runat="server"><%# "You&#39;ve added a new Gift" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container184" anonymous="true" onDataBinding="cnt_Container184_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Friends and family can now see this, and who knows, it might make it&#39;s way to you sometime soon! " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container182" anonymous="true" onDataBinding="cnt_Container182_onDataBinding"><widgets:Ka_M9kdL8xUOn4aPf5GS9YA runat="server" id="wt_WebBlockInstance91" OnEvaluateParameters="webBlck_WebBlockInstance91_onDataBinding" InstanceID="_WebBlockInstance91"></widgets:Ka_M9kdL8xUOn4aPf5GS9YA></osweb:Container><osweb:Container runat="server" id="wt_Container93" anonymous="true" onDataBinding="cnt_Container93_onDataBinding"><osweb:Container runat="server" id="wt_Container179" anonymous="true" onDataBinding="cnt_Container179_onDataBinding" GridCssClasses="ThemeGrid_Width6"><osweb:LinkButton runat="server" id="wtBuyThisGift3" onDataBinding="lnkBuyThisGift3_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkBuyThisGift3_isVisible() %>" Enabled="<%# lnkBuyThisGift3_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container190" anonymous="true" onDataBinding="cnt_Container190_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Add Another" %></osweb:PlaceHolder></osweb:Container><osweb:DynamicImage runat="server" id="wt_Image164" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.bify_smile_icon_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image164_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:LinkButton></osweb:Container><osweb:Button runat="server" id="wt_Button25" onDataBinding="btn_Button25_onDataBinding" cssClass="Button  Is_Default  background-success ENTER" GridCssClasses="ThemeGrid_Width5 ThemeGrid_MarginGutter" Visible="<%# btn_Button25_isVisible() %>" Enabled="<%# btn_Button25_isEnabled() %>" CausesValidation="false" text="<%# btn_Button25_getLabel() %>"/></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wtImgDesktop3" onDataBinding="cntImgDesktop3_onDataBinding" cssClass="ImgDesktop2"><osweb:DynamicImage runat="server" id="wt_Image124" anonymous="true" StaticSource="<%# Images.happystate_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image124_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If89() %>"><osweb:Container runat="server" id="wtLoader" onDataBinding="cntLoader_onDataBinding" cssClass="loader"></osweb:Container><osweb:Container runat="server" id="wt_Container32" anonymous="true" onDataBinding="cnt_Container32_onDataBinding" cssClass="sorrymessage"><osweb:Container runat="server" id="wt_Container167" anonymous="true" onDataBinding="cnt_Container167_onDataBinding"><osweb:PlaceHolder runat="server"><%# "We&#39;re still here! Sorry it&#39;s taking long, this can happen with the odd gift now and again" %></osweb:PlaceHolder></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If89() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container><%# PageEndHook() %>