﻿/*Main Responsive Controls*/

::-webkit-file-upload-button {
 -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    background-color: var(--color-pink); border-radius: var(--border-radius-soft);
        color: white;
    border:2px solid white;
    cursor: pointer;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    font-weight: var(--font-semi-bold);
    height: 40px;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    margin: var(--space-none);
    padding: var(--space-none) var(--space-base);
    -webkit-transition: all 180ms linear;
            transition: all 180ms linear;

}
.addFundWrapper{}
.MobileMode{border:2px solid #ced4da;background:white;border-radius:5px;}
.MobileMode .Button{margin-top:10px!important;margin-bottom:0px!important;}
.ImgMobile{text-align:center;margin-bottom:0px!important;}
.ImgDesktop{}

.MobileMode .pricetag {
    position: relative;
    background: #df447a;
    border: 4px solid #df447a;
    display:inline-block;
    margin-left: 17px;
    color:white;
    padding: 5px;
    border-radius: 5px;
    width:100%;
    text-align:center;margin:0px;margin-top:-10px;margin-bottom:20px;
}
.MobileMode .pricetag:after, .pricetag:before {
    top: -20px;
    left: 40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform:rotate(90deg)
}

.MobileMode .pricetag:before {
    border-color: rgba(223, 68, 122, 0);
    border-right-color: #df447a;
    border-width: 16px;
    margin-top: -16px;
}

/*modal overrides*/
.addFundWrapper input::placeholder { color: var(--color-neutral-7)!important; }

/*Styling*/
.card .card-background
{width: 100%!important;}

.fundtip{min-width: 300px!important;}

.modalpage1 .columns-item{overflow: hidden;}

.Form input[type="checkbox"] {
    /* Same height as inputs */
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer!important;
}
.toggle-button {
    width: 90px!important;
}

.card-footer .Button {
    color: auto!important;
}

    .personalmessage::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray!important;
}
.personalmessage:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   gray!important;
   opacity:  1;
}
.personalmessage::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray!important;
   opacity:  1;
}
.personalmessage:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    gray!important;
}
.personalmessage::-ms-input-placeholder { /* Microsoft Edge */
   color:    gray!important;
}

.personalmessage::placeholder { /* Most modern browsers support this now. */
   color:    gray!important;
}

.AddFund .columns:only-child > .columns-item {
    position: relative;
}


/*CROP IT OVVERIDE*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    width: 130px;
    font-size: 16px;
    font-weight: normal;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    background-color: #52a0c7;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s !important;
    z-index: 10;background-color: var(--color-primary);
    color: #FFF;
    border-radius: var(--border-radius-soft);
    width: 200px;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

a.btndownload {
    width: 130px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    color: #fff !important;
    background-color: #df4278;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s !important;

    color: #FFF;
    border-radius: var(--border-radius-soft);
    width: 200px;
}

a.btndownload:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label span:not(:first-child) {
    margin-left: 5px;
}

.btndownload span:not(:first-child) {
    margin-left: 5px;
}

/* CROPIT */

.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 5px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 250px;
    text-align: left;
    position: relative;
}

.cropit-preview img{
    max-width: none !important;
}

.cropit-preview-image-container {
    cursor: move;
}

.cropit-preview-image-container img {
    max-width: none !important;
}

.cropit-preview-background-container{
    z-index: -1;
}

.cropit-preview-background {
    opacity: .2;
    cursor: auto;
}

.image-size-label {
    margin-top: 10px;
}

input, .export {
    /* Use relative position to prevent from being covered by image background */
    position: relative;
    /*z-index: 10;*/
    display: block;
}

.cropit-image-zoom-input {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}

.rotate-ccw,
.rotate-cw {
    position: relative;
    /*z-index: 10 !important;*/
    color: #000 !important;
    cursor: pointer;
}

.msg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    line-height: 1.5;
    z-index: 10;
    text-align: center;
    display: none;
}
.msg.msgInfo {
    background: rgba(58,145,216,0.8);
}
.msg.msgError {
    background: rgba(210,65,72,0.8);
}

/* SLIDER */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #f8f8f8;
  background: #f8f8f8;
  border-radius: 5px;
  border: 0px solid #f8f8f8;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ccc;
  border: 0px solid #CCCCCC;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #CCCCCC;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f8f8f8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #f8f8f8;
  background: #f8f8f8;
  border-radius: 5px;
  border: 0px solid #f8f8f8;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ccc;
  border: 0px solid #CCCCCC;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #CCCCCC;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f8f8f8;
  border: 0px solid #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #f8f8f8;
}
input[type=range]::-ms-fill-upper {
  background: #f8f8f8;
  border: 0px solid #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #f8f8f8;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #ccc;
  border: 0px solid #CCCCCC;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background: #CCCCCC;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f8f8f8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f8f8f8;
}

.padding{
    padding: 5px;
}

@media only screen and (max-width:750px)
{
.addFundWrapper .columns-item:last-child {
  display: none;
}
.addFundWrapper .columns-item{margin-bottom:0px!important;}

}
