﻿/*Main Responsive Controls*/

.addGiftWrapper{position: relative!important;}
.MobileMode{border:2px solid #ced4da;background:white;border-radius:5px;}
.MobileMode .Button{margin-top:10px!important;margin-bottom:0px!important;}
.ImgMobile{text-align:center;margin-bottom:0px!important;}
.ImgDesktop{}

.MobileMode .pricetag {
    position: relative;
    background: #df447a;
    border: 4px solid #df447a;
    display:inline-block;
    margin-left: 17px;
    color:white;
    padding: 5px;
    border-radius: 5px;
    width:100%;
    text-align:center;margin:0px;margin-top:-10px;margin-bottom:20px;
}
.MobileMode .pricetag:after, .pricetag:before {
    top: -20px;
    left: 40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform:rotate(90deg)
}

.MobileMode .pricetag:before {
    border-color: rgba(223, 68, 122, 0);
    border-right-color: #df447a;
    border-width: 16px;
    margin-top: -16px;
}

/*modal overrides*/
.addGiftWrapper textarea::placeholder { color: var(--color-neutral-7)!important; }

/*Styling*/

.priceinput{border-color:#df447a;}
.pricetag {
    position: relative;
    background: #df447a;
    border: 4px solid #df447a;
    display:inline-block;
    margin-left: 17px;
    color:white;
    padding: 5px;
    border-radius: 5px;
}
.pricetag:after, .pricetag:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.pricetag:after {
    border-color: rgba(223, 68, 122, 0);
    border-right-color: #df447a;
    border-width: 10px;
    margin-top: -10px;
}
.pricetag:before {
    border-color: rgba(223, 68, 122, 0);
    border-right-color: #df447a;
    border-width: 16px;
    margin-top: -16px;
}

.typetag {
    position: relative;
    background: #2c9f83;
    border: 4px solid #2c9f83;
    display:inline-block;
    margin-left: 20px;
    color:white;
    padding: 5px;
    border-radius: 5px;
}
.typetag:after, .typetag:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.typetag:after {
    border-color: rgba(223, 68, 122, 0);
    border-right-color: #2c9f83;
    border-width: 10px;
    margin-top: -10px;
}
.typetag:before {
    border-color: rgba(223, 68, 122, 0);
    border-right-color: #2c9f83;
    border-width: 16px;
    margin-top: -16px;
}

.carousel img:not(.tns-lazy-img), .carousel .lazyload img {
  width:auto;
    height:auto;
    max-height:150px;
    max-width:250px;
    min-height:150px;
    object-fit: contain;
}
.carousel .tns-ah {
    min-height: 200px;
}
.carousel .carousel-navigation.carousel-padding-none .carousel-arrow-left {
    left: 24px;
    position: absolute;
    top: 0px;
    background: #05bcd9;
    color: white;
}

.carousel .carousel-navigation.carousel-padding-none .carousel-arrow-right {
    right: 24px;
    position: absolute;
    top: 0px;
    background: #05bcd9;
    color: white;
}

.input-with-icon .input-with-icon-content-icon{height:50px;}

.EditRecord input:not(.Button) {
    border: none!important;
    height: auto;
    padding: none!important;
    
}