﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\ModalContent\AddAWeddingGiftContent.ascx.cs" Inherits="ssBIFY.Flows.FlowModalContent.WBlkAddAWeddingGiftContent,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KnQvsmR1kMEmJkNK9xfptmA" Src="..\..\BIFY\Structure\ColumnsMediumRight.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KJSw0YvaBJ0OUoK66cbj6yA" Src="..\..\BIFY\Structure\AlignCenter.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KyL2OCYp6YkCZi3shccbJnQ" Src="..\..\BIFY\Content\Carousel.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KBJOBUaRDjEqu49x5gGiQ9A" Src="..\..\BIFY\Content\CardSectioned.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KUnwWFNwPR0259fFxXTkxDw" Src="..\..\BIFY\Controls\InputWithIcon.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="..\..\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAWqhXH28h0C_6V89jNv2hQ" Src="..\..\BIFY\Structure\Columns2.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Ka_M9kdL8xUOn4aPf5GS9YA" Src="..\..\BIFY\Weblocks\SharingCircles.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container4" anonymous="true" onDataBinding="cnt_Container4_onDataBinding" cssClass="findGiftWrapper"><osweb:Container runat="server" id="wt_Container112" anonymous="true" onDataBinding="cnt_Container112_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression71" anonymous="true" class="heading1"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression71()) %></osweb:Span><osweb:Span runat="server" id="wt_Text10" anonymous="true" class="heading1"><%# "let&#39;s Find a Gift for your wedding list" %></osweb:Span></osweb:Container><osweb:IfPlaceHolder runat="server" id="wtPageIf" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtPageIf() %>"><OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance30" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance30_onDataBinding" InstanceID="_WebBlockInstance30"><phColumn1><osweb:Container runat="server" id="wtImgMobile" onDataBinding="cntImgMobile_onDataBinding" cssClass="ImgMobile"></osweb:Container><osweb:Container runat="server" id="wt_Container34" anonymous="true" onDataBinding="cnt_Container34_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Lets find a gift online using our Gift Search feature! The more specific your search is, the more accurate the results." %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container77" anonymous="true" onDataBinding="cnt_Container77_onDataBinding"><span runat="server" id="wtEnterURLAjaxRfrsh"><osweb:TextBox runat="server" id="wtEnterURL" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtEnterURL_isVisible() %>" ReadOnly="<%# !inputwtEnterURL_isEnabled() %>" maxlength="500" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtEnterURL_input_value() %>" onTextChanged="inputwtEnterURL_input_onTextChanged" Mandatory="<%# inputwtEnterURL_isMandatory() %>" placeholder="<%# inputwtEnterURL_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtEnterURL") ?? Container.FindControl("wtEnterURL")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtEnterURLValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtEnterURL"/><osweb:TextValidator runat="server" display="Dynamic" id="wtEnterURLValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtEnterURL" ClientValidationFunction="OsCustomValidatorText"/></span><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If35() %>"><osweb:Container runat="server" id="wt_Container76" anonymous="true" onDataBinding="cnt_Container76_onDataBinding"><osweb:Container runat="server" id="wt_Container106" anonymous="true" onDataBinding="cnt_Container106_onDataBinding" GridCssClasses="OSInline"><osweb:Span runat="server" id="wt_Text63" anonymous="true" onDataBinding="wt_Text63_onDataBinding"><%# "Others are searching for " %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container20" anonymous="true" onDataBinding="cnt_Container20_onDataBinding" GridCssClasses="OSInline"><osweb:Iterator runat="server" id="wtListRecords1" onDataBinding="recListListRecords1_onDataBinding" cssClass="ListRecords" OnItemCommand="recListListRecords1_Select" OnSetViewStateStorage="recListListRecords1_Store" OnClearViewStateStorage="recListListRecords1_Clear" OnListRefreshDataBind="recListListRecords1_ListRefreshDataBind"><ItemTemplate><osweb:LinkButton runat="server" id="wt_Link9" onDataBinding="lnk_Link9_onDataBinding" Visible="<%# lnk_Link9_isVisible() %>" Enabled="<%# lnk_Link9_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression86()) %></osweb:PlaceHolder></osweb:LinkButton><osweb:PlaceHolder runat="server"><%# "  " %></osweb:PlaceHolder></ItemTemplate><InvisibleTemplate><%# recListListRecords1_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If35() %>"></osweb:If></osweb:IfPlaceHolder><osweb:Button runat="server" id="wt_Button27" onDataBinding="btn_Button27_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width3" Visible="<%# btn_Button27_isVisible() %>" Enabled="<%# btn_Button27_isEnabled() %>" CausesValidation="false" text="<%# btn_Button27_getLabel() %>"/><osweb:Button runat="server" id="wt_Button114" onDataBinding="btn_Button114_onDataBinding" cssClass="Button gogo Is_Default" GridCssClasses="ThemeGrid_Width3 ThemeGrid_MarginGutter" Visible="<%# btn_Button114_isVisible() %>" Enabled="<%# btn_Button114_isEnabled() %>" CausesValidation="false" text="<%# btn_Button114_getLabel() %>"/></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wtImgDesktop" onDataBinding="cntImgDesktop_onDataBinding" cssClass="ImgDesktop"><OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance102" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance102_onDataBinding" InstanceID="_WebBlockInstance102"><phContent><osweb:DynamicImage runat="server" id="wt_Image93" anonymous="true" StaticSource="<%# Images.gift_marvel_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phContent></OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA></osweb:If><osweb:If runat="server" visible="<%# !if_wtPageIf() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If49() %>"><osweb:Container runat="server" id="wt_Container119" anonymous="true" onDataBinding="cnt_Container119_onDataBinding"><osweb:Container runat="server" id="wt_Container43" anonymous="true" onDataBinding="cnt_Container43_onDataBinding"><osweb:Container runat="server" id="wtList_Wrapper" onDataBinding="cntList_Wrapper_onDataBinding" cssClass="ListRecords_Wrapper"><OutSystemsUIWeb_widgets:KyL2OCYp6YkCZi3shccbJnQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance68" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance68_onDataBinding" InstanceID="_WebBlockInstance68"><phItems><osweb:Iterator runat="server" id="wtMainList2" onDataBinding="recListMainList2_onDataBinding" cssClass="ListRecords" OnItemCommand="recListMainList2_Select" OnSetViewStateStorage="recListMainList2_Store" OnClearViewStateStorage="recListMainList2_Clear" OnListRefreshDataBind="recListMainList2_ListRefreshDataBind" EmptyMessageStyle="Sorry no matching Gifts found"><ItemTemplate><OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A runat="server" id="OutSystemsUIWeb_wtbuygiftmodal2" OnEvaluateParameters="OutSystemsUIWeb_webBlckbuygiftmodal2_onDataBinding" InstanceID="buygiftmodal2"><phImage><osweb:LinkButton runat="server" id="wt_Link111" onDataBinding="lnk_Link111_onDataBinding" Visible="<%# lnk_Link111_isVisible() %>" Enabled="<%# lnk_Link111_isEnabled() %>" CausesValidation="false"><osweb:DynamicImage runat="server" id="wt_Image84" anonymous="true" onDataBinding="img_Image84_onDataBinding" Source="<%# img_Image84_getURL() %>" ImageType="External" title="<%# img_Image84_getLabel() %>" alt="<%# img_Image84_getLabel() %>"/></osweb:LinkButton></phImage><phTitle><osweb:LinkButton runat="server" id="wt_Link37" onDataBinding="lnk_Link37_onDataBinding" Visible="<%# lnk_Link37_isVisible() %>" Enabled="<%# lnk_Link37_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression52()) %></osweb:PlaceHolder></osweb:LinkButton></phTitle><phContent><osweb:Container runat="server" id="wt_Container110" anonymous="true" onDataBinding="cnt_Container110_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression50" anonymous="true" onDataBinding="expression_InlineExpression50_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression50()) %></osweb:Span></osweb:Container></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A></ItemTemplate><InvisibleTemplate><%# recListMainList2_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phItems></OutSystemsUIWeb_widgets:KyL2OCYp6YkCZi3shccbJnQ></osweb:Container></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container61" anonymous="true" onDataBinding="cnt_Container61_onDataBinding" align="right"><osweb:Container runat="server" id="wt_Container104" anonymous="true" onDataBinding="cnt_Container104_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Not what you were looking for? Try " %></osweb:PlaceHolder><osweb:LinkButton runat="server" id="wt_Link54" Visible="<%# lnk_Link54_isVisible() %>" Enabled="<%# lnk_Link54_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "adding the Gift from a URL" %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container><osweb:Button runat="server" id="wt_Button125" onDataBinding="btn_Button125_onDataBinding" cssClass="Button Is_Default" Visible="<%# btn_Button125_isVisible() %>" Enabled="<%# btn_Button125_isEnabled() %>" CausesValidation="false" text="<%# btn_Button125_getLabel() %>"/><osweb:Button runat="server" id="wt_Button41" onDataBinding="btn_Button41_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width2 ThemeGrid_MarginGutter" Visible="<%# btn_Button41_isVisible() %>" Enabled="<%# btn_Button41_isEnabled() %>" CausesValidation="false" text="<%# btn_Button41_getLabel() %>"/></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If49() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If117() %>"><osweb:Container runat="server" id="wtSetGift" onDataBinding="cntSetGift_onDataBinding"><osweb:Container runat="server" id="wt_Container113" anonymous="true" onDataBinding="cnt_Container113_onDataBinding" GridCssClasses="ThemeGrid_Width7"><osweb:PlaceHolder runat="server"><%# "Give this Gift a meaningful name so it will make sense to your friends and family" %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container69" anonymous="true" onDataBinding="cnt_Container69_onDataBinding"><osweb:Container runat="server" id="wtImgMobile2" onDataBinding="cntImgMobile2_onDataBinding" cssClass="ImgMobile2"></osweb:Container><osweb:EditRecord runat="server" id="wtGiftEdit" class="EditRecord" GridCssClasses="OSFillParent" border="0"><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell75" anonymous="true" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Name" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell47" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Name" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Name_isVisible() %>" ReadOnly="<%# !inputwtGift_Name_isEnabled() %>" maxlength="200" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtGift_Name_input_value() %>" onTextChanged="inputwtGift_Name_input_onTextChanged" Mandatory="<%# inputwtGift_Name_isMandatory() %>" parentEditRecord="wtGiftEdit"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_NameValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Name"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_NameValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Name" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell66" anonymous="true" onDataBinding="wt_EditRecordCell66_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Description" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell23" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Description" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Description_isVisible() %>" ReadOnly="<%# !inputwtGift_Description_isEnabled() %>" maxlength="500" onchange="OsLimitInput(this,event,500);" onkeyup="OsLimitInput(this,event,500);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="4" text="<%# inputwtGift_Description_input_value() %>" onTextChanged="inputwtGift_Description_input_onTextChanged" Mandatory="<%# inputwtGift_Description_isMandatory() %>" parentEditRecord="wtGiftEdit"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_DescriptionValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Description"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_DescriptionValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Description" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell12" anonymous="true" onDataBinding="wt_EditRecordCell12_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Price" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell95" anonymous="true" class="EditRecord_Value"><osweb:Container runat="server" id="wt_Container87" anonymous="true" onDataBinding="cnt_Container87_onDataBinding" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance22" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance22_onDataBinding" InstanceID="_WebBlockInstance22"><phIcon><osweb:Container runat="server" id="wt_Container103" anonymous="true" onDataBinding="cnt_Container103_onDataBinding"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance70" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance70_onDataBinding" InstanceID="_WebBlockInstance70"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container></phIcon><phInput><osweb:TextBox runat="server" id="wtGift_Price" cssClass="input" GridCssClasses="ThemeGrid_Width11" Visible="<%# inputwtGift_Price_isVisible() %>" ReadOnly="<%# !inputwtGift_Price_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetCurrencyValidatorMsg" textmode="SingleLine" text="<%# inputwtGift_Price_input_value() %>" onTextChanged="inputwtGift_Price_input_onTextChanged" Mandatory="<%# inputwtGift_Price_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_PriceValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Price"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_PriceValidatorType" ErrorMessage="<%# BIFY_Properties.CurrencyValidatorMsg %>" ControlToValidate="wtGift_Price" ClientValidationFunction="OsCustomValidatorCurrency"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container></osweb:Td></osweb:Tr></osweb:EditRecord></osweb:Container></osweb:Container><osweb:Container runat="server" id="wtImgDesktop2" onDataBinding="cntImgDesktop2_onDataBinding" cssClass="ImgDesktop2" GridCssClasses="ThemeGrid_Width5 ThemeGrid_MarginGutter" align="center"><osweb:DynamicImage runat="server" id="wt_Image28" anonymous="true" onDataBinding="img_Image28_onDataBinding" Source="<%# img_Image28_getURL() %>" ImageType="External" alt=""/></osweb:Container><osweb:Container runat="server" id="wt_Container14" anonymous="true" onDataBinding="cnt_Container14_onDataBinding" align="right"><osweb:Button runat="server" id="wt_Button88" onDataBinding="btn_Button88_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width2" Visible="<%# btn_Button88_isVisible() %>" Enabled="<%# btn_Button88_isEnabled() %>" CausesValidation="false" text="<%# btn_Button88_getLabel() %>"/><osweb:Button runat="server" id="wt_Button116" onDataBinding="btn_Button116_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width2 ThemeGrid_MarginGutter" Visible="<%# btn_Button116_isVisible() %>" Enabled="<%# btn_Button116_isEnabled() %>" CausesValidation="false" text="<%# btn_Button116_getLabel() %>"/><osweb:PlaceHolder runat="server"><%# expression_InlineExpression7() %></osweb:PlaceHolder><osweb:Container runat="server" id="wt_Container33" anonymous="true" onDataBinding="cnt_Container33_onDataBinding" GridCssClasses="ThemeGrid_Width3 ThemeGrid_MarginGutter"><osweb:LinkButton runat="server" id="wtBuyThisGift" onDataBinding="lnkBuyThisGift_onDataBinding" cssClass="Button Is_Default BuyButton ENTER" Visible="<%# lnkBuyThisGift_isVisible() %>" Enabled="<%# lnkBuyThisGift_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container42" anonymous="true" onDataBinding="cnt_Container42_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Save" %></osweb:PlaceHolder></osweb:Container><osweb:DynamicImage runat="server" id="wt_Image3" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.bify_smile_icon_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image3_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:LinkButton></osweb:Container></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If117() %>"><osweb:Container runat="server" id="wtCompleted" onDataBinding="cntCompleted_onDataBinding"><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance24" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance24_onDataBinding" InstanceID="_WebBlockInstance24"><phColumn1><osweb:Container runat="server" id="wt_Container118" anonymous="true" onDataBinding="cnt_Container118_onDataBinding" align="left"><osweb:Span runat="server" id="wt_Text100" anonymous="true" class="heading3"><%# "You&#39;ve added a Gift" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wtImgMobile3" onDataBinding="cntImgMobile3_onDataBinding" cssClass="ImgMobile2"></osweb:Container><osweb:Container runat="server" id="wt_Container126" anonymous="true" onDataBinding="cnt_Container126_onDataBinding"><osweb:PlaceHolder runat="server"><%# "You&#39;ve added a new Gift to your Wedding List." %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container124" anonymous="true" onDataBinding="cnt_Container124_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Friends and family can now see this, and no doubt it will help when the special day comes!" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container31" anonymous="true" onDataBinding="cnt_Container31_onDataBinding"><widgets:Ka_M9kdL8xUOn4aPf5GS9YA runat="server" id="wt_WebBlockInstance29" OnEvaluateParameters="webBlck_WebBlockInstance29_onDataBinding" InstanceID="_WebBlockInstance29"></widgets:Ka_M9kdL8xUOn4aPf5GS9YA></osweb:Container><osweb:Container runat="server" id="wt_Container82" anonymous="true" onDataBinding="cnt_Container82_onDataBinding"><osweb:Container runat="server" id="wt_Container57" anonymous="true" onDataBinding="cnt_Container57_onDataBinding" GridCssClasses="ThemeGrid_Width6"><osweb:LinkButton runat="server" id="wtBuyThisGift3" onDataBinding="lnkBuyThisGift3_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkBuyThisGift3_isVisible() %>" Enabled="<%# lnkBuyThisGift3_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container79" anonymous="true" onDataBinding="cnt_Container79_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Add Another" %></osweb:PlaceHolder></osweb:Container><osweb:DynamicImage runat="server" id="wt_Image46" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.bify_smile_icon_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image46_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:LinkButton></osweb:Container><osweb:Button runat="server" id="wt_Button101" onDataBinding="btn_Button101_onDataBinding" cssClass="Button  Is_Default  background-success ENTER Is_Default" GridCssClasses="ThemeGrid_Width5 ThemeGrid_MarginGutter" Visible="<%# btn_Button101_isVisible() %>" Enabled="<%# btn_Button101_isEnabled() %>" CausesValidation="false" text="<%# btn_Button101_getLabel() %>"/></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wtImgDesktop3" onDataBinding="cntImgDesktop3_onDataBinding" cssClass="ImgDesktop2"><osweb:DynamicImage runat="server" id="wt_Image67" anonymous="true" StaticSource="<%# Images.happystate_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image67_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If115() %>"><osweb:Container runat="server" id="wtLoader" onDataBinding="cntLoader_onDataBinding" cssClass="loader"></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If115() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container><%# PageEndHook() %>