﻿/*Main Responsive Controls*/
.findGiftWrapper{position: relative!important;}
.MobileMode{border:2px solid #ced4da;background:white;border-radius:5px;}
.MobileMode .Button{margin-top:10px!important;margin-bottom:0px!important;}
.ImgMobile{text-align:center;margin-bottom:0px!important;}
.ImgDesktop{}

.MobileMode .pricetag {
    position: relative;
    background: #df447a;
    border: 4px solid #df447a;
    display:inline-block;
    margin-left: 17px;
    color:white;
    padding: 5px;
    border-radius: 5px;
    width:100%;
    text-align:center;margin:0px;margin-top:-10px;margin-bottom:20px;
}
.MobileMode .pricetag:after, .pricetag:before {
    top: -20px;
    left: 40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform:rotate(90deg)
}

.MobileMode .pricetag:before {
    border-color: rgba(223, 68, 122, 0);
    border-right-color: #df447a;
    border-width: 16px;
    margin-top: -16px;
}


/*modal overrides*/
.findAGiftOnline input::placeholder { color: var(--color-neutral-7)!important; }
.findAGiftOnline .card:hover{border-color:#df4278;cursor:pointer;}

@media only screen and (max-width: 950px)
{
.addnewbutton{margin-top:10px!important;margin-right:10px;}

}

@media only screen and (max-width: 750px)
{
.card-image {
    padding: var(--space-m) var(--space-m) var(--space-none);
    position: relative;
    min-height: 200px;
    margin-top: 0px;
    max-height: 200px;
    overflow: hidden;
}
.card-title{font-size: 1rem!important;}
.card-content{padding-top: 0px!important;}
}

/*Styling*/
.carousel img:not(.tns-lazy-img), .carousel .lazyload img {
  width:auto;
    height:auto;
    max-height:150px;
    max-width:250px;
    min-height:150px;
    object-fit: contain;
}
.carousel .tns-ah {
    min-height: 200px;
}
.carousel .carousel-navigation.carousel-padding-none .carousel-arrow-left {
    left: 24px;
    position: absolute;
    top: 0px;
    background: #05bcd9;
    color: white;
}

.carousel .carousel-navigation.carousel-padding-none .carousel-arrow-right {
    right: 24px;
    position: absolute;
    top: 0px;
    background: #05bcd9;
    color: white;
}

.input-with-icon .input-with-icon-content-icon{height:50px;}

.EditRecord input:not(.Button) {
    border: none!important;
    height: auto;
    padding: none!important;
    
}