﻿/*Main Responsive Controls*/

.addEventWrapper{}
.MobileMode{border:2px solid #ced4da;background:white;border-radius:5px;}
.MobileMode .Button{margin-top:10px!important;margin-bottom:0px!important;}
.ImgMobile{text-align:center;margin-bottom:0px!important;}
.ImgDesktop{}

.MobileMode .pricetag {
    position: relative;
    background: #df447a;
    border: 4px solid #df447a;
    display:inline-block;
    margin-left: 17px;
    color:white;
    padding: 5px;
    border-radius: 5px;
    width:100%;
    text-align:center;margin:0px;margin-top:-10px;margin-bottom:20px;
}
.MobileMode .pricetag:after, .pricetag:before {
    top: -20px;
    left: 40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform:rotate(90deg)
}

.MobileMode .pricetag:before {
    border-color: rgba(223, 68, 122, 0);
    border-right-color: #df447a;
    border-width: 16px;
    margin-top: -16px;
}

/*modal overrides*/
.addEventWrapper input::placeholder { color: var(--color-neutral-7)!important; }

/*Styling*/

.giftblock {
    height: auto;
    padding: 20px;
    max-width: 700px!important;
}


.EditRecord input:not(.Button) {
    border: none!important;
    height: auto;
    padding: none!important;
    
}

div.calendar, div.calendar table {
    z-index: 999!important;
}


@media only screen and (max-width:650px)
{
.addEventWrapper .columns-item:last-child {display: none;}
.addEventWrapper .columns-item{margin-bottom:0px!important;}

.addEventWrapper tr{width:100%!important;display:block;margin-bottom:10px;}
.addEventWrapper td{width:100%!important;display:block;}
.addEventWrapper td .input{min-width:200px;}
.eventbuttons{text-align: left;margin-top:20px;}
}
