﻿.giftblock {
    height: auto;
    padding: 20px;
    max-width: 700px!important;
}


.EditRecord input:not(.Button) {
    border: none!important;
    height: auto;
    padding: none!important;
    
}