﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\ModalContent\ChangeProfilePictureContent.ascx.cs" Inherits="ssBIFY.Flows.FlowModalContent.WBlkChangeProfilePictureContent,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="Cropit_widgets" TagName="KB0AuxptP40KkISgE0XFGOg" Src="..\..\BIFY\Cropit\Cropit.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container2" anonymous="true" onDataBinding="cnt_Container2_onDataBinding"><osweb:Container runat="server" id="wt_Container4" anonymous="true" onDataBinding="cnt_Container4_onDataBinding"><osweb:Span runat="server" id="wt_Text3" anonymous="true" class="heading1"><%# "Change your profile picture" %></osweb:Span></osweb:Container><Cropit_widgets:KB0AuxptP40KkISgE0XFGOg runat="server" id="Cropit_wt_WebBlockInstance1" onAjaxNotify="Cropit_webBlck_WebBlockInstance1_AjaxNotify" OnEvaluateParameters="Cropit_webBlck_WebBlockInstance1_onDataBinding" OnBindDelegates="Cropit_webBlck_WebBlockInstance1_BindDelegates" InstanceID="_WebBlockInstance1"></Cropit_widgets:KB0AuxptP40KkISgE0XFGOg></osweb:Container><%# PageEndHook() %>