﻿/*Main Responsive Controls*/
.dontShowMobile{height: 100%;}
.contributeFundWrapper{}
.MobileMode{border:2px solid #ced4da;background:white;border-radius:5px;}
.MobileMode .Button{margin-top:10px!important;margin-bottom:0px!important;}
.ImgMobile{text-align:center;margin-bottom:0px!important;}
.ImgDesktop{}
.MobileMode .dontShowMobile{display: none;}
.MobileMode .pricetag {
    position: relative;
    background: #df447a;
    border: 4px solid #df447a;
    display:inline-block;
    margin-left: 17px;
    color:white;
    padding: 5px;
    border-radius: 5px;
    width:100%;
    text-align:center;margin:0px;margin-top:-10px;margin-bottom:20px;
}
.MobileMode .pricetag:after, .pricetag:before {
    top: -20px;
    left: 40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform:rotate(90deg)
}

.MobileMode .pricetag:before {
    border-color: rgba(223, 68, 122, 0);
    border-right-color: #df447a;
    border-width: 16px;
    margin-top: -16px;
}


/*Styling*/

.modalpage1 .columns-item{overflow: hidden;}

.Form input[type="checkbox"] {
    /* Same height as inputs */
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer!important;
}
.toggle-button {
    width: 90px!important;
}

.card-footer .Button {
    color: auto!important;
}

    .personalmessage::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray!important;
}
.personalmessage:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   gray!important;
   opacity:  1;
}
.personalmessage::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray!important;
   opacity:  1;
}
.personalmessage:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    gray!important;
}
.personalmessage::-ms-input-placeholder { /* Microsoft Edge */
   color:    gray!important;
}

.personalmessage::placeholder { /* Most modern browsers support this now. */
   color:    gray!important;
}

.ContributeToAFund .columns:only-child > .columns-item {
    position: relative;
}

@media only screen and (max-width:750px)
{
.ContributeToAFund .columns-item:last-child {
  display: none;
}
.ContributeToAFund .columns-item{margin-bottom:0px!important;}

}
