﻿<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Blocks\BIFY\ModalContent\FindAGiftOnlineContent.ascx.cs" Inherits="ssBIFY.Flows.FlowModalContent.WBlkFindAGiftOnlineContent,BIFY" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="osweb" Namespace="OutSystems.HubEdition.WebWidgets" Assembly="OutSystems.HubEdition.WebWidgets" %>
<%@ Assembly Name="OutSystems.WidgetsRuntimeAPI" %>
<%@ Import namespace="ssBIFY" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KnQvsmR1kMEmJkNK9xfptmA" Src="..\..\BIFY\Structure\ColumnsMediumRight.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KJSw0YvaBJ0OUoK66cbj6yA" Src="..\..\BIFY\Structure\AlignCenter.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KyL2OCYp6YkCZi3shccbJnQ" Src="..\..\BIFY\Content\Carousel.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KBJOBUaRDjEqu49x5gGiQ9A" Src="..\..\BIFY\Content\CardSectioned.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KUnwWFNwPR0259fFxXTkxDw" Src="..\..\BIFY\Controls\InputWithIcon.ascx" %>
<%@ Register TagPrefix="RichWidgets_widgets" TagName="KmbfKJ2gWQUq1Gwk_0SjV4w" Src="..\..\BIFY\RichWidgets\Icon.ascx" %>
<%@ Register TagPrefix="OutSystemsUIWeb_widgets" TagName="KAWqhXH28h0C_6V89jNv2hQ" Src="..\..\BIFY\Structure\Columns2.ascx" %>
<%@ Register TagPrefix="widgets" TagName="Ka_M9kdL8xUOn4aPf5GS9YA" Src="..\..\BIFY\Weblocks\SharingCircles.ascx" %>
<%# PageStartHook() %><osweb:Container runat="server" id="wt_Container135" anonymous="true" onDataBinding="cnt_Container135_onDataBinding" cssClass="findGiftWrapper"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If118() %>"><osweb:Container runat="server" id="wt_Container67" anonymous="true" onDataBinding="cnt_Container67_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression109" anonymous="true" class="heading1"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression109()) %></osweb:Span><osweb:Span runat="server" id="wt_Text123" anonymous="true" class="heading1"><%# "let&#39;s Find a Gift" %></osweb:Span></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If118() %>"><osweb:Span runat="server" id="wt_Text42" anonymous="true" class="heading1"><%# "Add this Gift to your list" %></osweb:Span></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server" id="wtPageIf" IncludeSpan="true"><osweb:If runat="server" visible="<%# if_wtPageIf() %>"><OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance108" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance108_onDataBinding" InstanceID="_WebBlockInstance108"><phColumn1><osweb:Container runat="server" id="wtImgMobile" onDataBinding="cntImgMobile_onDataBinding" cssClass="ImgMobile"></osweb:Container><osweb:Container runat="server" id="wt_Container74" anonymous="true" onDataBinding="cnt_Container74_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Lets find a gift online using our Gift Search feature! The more specific your search is, the more accurate the results." %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container12" anonymous="true" onDataBinding="cnt_Container12_onDataBinding"><span runat="server" id="wtEnterURLAjaxRfrsh"><osweb:TextBox runat="server" id="wtEnterURL" onDataBinding="inputwtEnterURL_onDataBinding" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtEnterURL_isVisible() %>" ReadOnly="<%# !inputwtEnterURL_isEnabled() %>" maxlength="500" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtEnterURL_input_value() %>" onTextChanged="inputwtEnterURL_input_onTextChanged" Mandatory="<%# inputwtEnterURL_isMandatory() %>" placeholder="<%# inputwtEnterURL_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtEnterURL") ?? Container.FindControl("wtEnterURL")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtEnterURLValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtEnterURL"/><osweb:TextValidator runat="server" display="Dynamic" id="wtEnterURLValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtEnterURL" ClientValidationFunction="OsCustomValidatorText"/></span><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If19() %>"><osweb:Container runat="server" id="wt_Container152" anonymous="true" onDataBinding="cnt_Container152_onDataBinding"><osweb:Container runat="server" id="wt_Container4" anonymous="true" onDataBinding="cnt_Container4_onDataBinding" GridCssClasses="OSInline"><osweb:Span runat="server" id="wt_Text97" anonymous="true" onDataBinding="wt_Text97_onDataBinding"><%# "Others are searching for " %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wt_Container92" anonymous="true" onDataBinding="cnt_Container92_onDataBinding" GridCssClasses="OSInline"><osweb:Iterator runat="server" id="wtListRecords1" onDataBinding="recListListRecords1_onDataBinding" cssClass="ListRecords" OnItemCommand="recListListRecords1_Select" OnSetViewStateStorage="recListListRecords1_Store" OnClearViewStateStorage="recListListRecords1_Clear" OnListRefreshDataBind="recListListRecords1_ListRefreshDataBind"><ItemTemplate><osweb:LinkButton runat="server" id="wt_Link53" onDataBinding="lnk_Link53_onDataBinding" Visible="<%# lnk_Link53_isVisible() %>" Enabled="<%# lnk_Link53_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression107()) %></osweb:PlaceHolder></osweb:LinkButton><osweb:PlaceHolder runat="server"><%# "  " %></osweb:PlaceHolder></ItemTemplate><InvisibleTemplate><%# recListListRecords1_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If19() %>"></osweb:If></osweb:IfPlaceHolder><osweb:Button runat="server" id="wt_Button93" onDataBinding="btn_Button93_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width3" Visible="<%# btn_Button93_isVisible() %>" Enabled="<%# btn_Button93_isEnabled() %>" CausesValidation="false" text="<%# btn_Button93_getLabel() %>"/><osweb:Button runat="server" id="wt_Button9" onDataBinding="btn_Button9_onDataBinding" cssClass="Button gogo Is_Default Is_Default" GridCssClasses="ThemeGrid_Width3 ThemeGrid_MarginGutter" Visible="<%# btn_Button9_isVisible() %>" Enabled="<%# btn_Button9_isEnabled() %>" CausesValidation="false" text="<%# btn_Button9_getLabel() %>"/></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wtImgDesktop" onDataBinding="cntImgDesktop_onDataBinding" cssClass="ImgDesktop"><OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance73" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance73_onDataBinding" InstanceID="_WebBlockInstance73"><phContent><osweb:DynamicImage runat="server" id="wt_Image14" anonymous="true" StaticSource="<%# Images.gift_marvel_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></phContent></OutSystemsUIWeb_widgets:KJSw0YvaBJ0OUoK66cbj6yA></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KnQvsmR1kMEmJkNK9xfptmA></osweb:If><osweb:If runat="server" visible="<%# !if_wtPageIf() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If18() %>"><osweb:Container runat="server" id="wt_Container1" anonymous="true" onDataBinding="cnt_Container1_onDataBinding"><osweb:Container runat="server" id="wt_Container102" anonymous="true" onDataBinding="cnt_Container102_onDataBinding"><osweb:Container runat="server" id="wtList_Wrapper" onDataBinding="cntList_Wrapper_onDataBinding" cssClass="ListRecords_Wrapper"><OutSystemsUIWeb_widgets:KyL2OCYp6YkCZi3shccbJnQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance13" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance13_onDataBinding" InstanceID="_WebBlockInstance13"><phItems><osweb:Iterator runat="server" id="wtMainList2" onDataBinding="recListMainList2_onDataBinding" cssClass="ListRecords" OnItemCommand="recListMainList2_Select" OnSetViewStateStorage="recListMainList2_Store" OnClearViewStateStorage="recListMainList2_Clear" OnListRefreshDataBind="recListMainList2_ListRefreshDataBind" EmptyMessageStyle="Sorry no matching Gifts found"><ItemTemplate><OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A runat="server" id="OutSystemsUIWeb_wtbuygiftmodal2" OnEvaluateParameters="OutSystemsUIWeb_webBlckbuygiftmodal2_onDataBinding" InstanceID="buygiftmodal2"><phImage><osweb:LinkButton runat="server" id="wt_Link129" onDataBinding="lnk_Link129_onDataBinding" Visible="<%# lnk_Link129_isVisible() %>" Enabled="<%# lnk_Link129_isEnabled() %>" CausesValidation="false"><osweb:DynamicImage runat="server" id="wt_Image65" anonymous="true" onDataBinding="img_Image65_onDataBinding" Source="<%# img_Image65_getURL() %>" ImageType="External" title="<%# img_Image65_getLabel() %>" alt="<%# img_Image65_getLabel() %>"/></osweb:LinkButton></phImage><phTitle><osweb:LinkButton runat="server" id="wt_Link46" onDataBinding="lnk_Link46_onDataBinding" Visible="<%# lnk_Link46_isVisible() %>" Enabled="<%# lnk_Link46_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression100()) %></osweb:PlaceHolder></osweb:LinkButton></phTitle><phContent><osweb:Container runat="server" id="wt_Container89" anonymous="true" onDataBinding="cnt_Container89_onDataBinding"><osweb:Span runat="server" id="wt_InlineExpression147" anonymous="true" onDataBinding="expression_InlineExpression147_onDataBinding"><%# OutSystems.HubEdition.RuntimePlatform.RuntimePlatformUtils.ExtendedHtmlEncode(expression_InlineExpression147()) %></osweb:Span></osweb:Container></phContent><phFooter></phFooter></OutSystemsUIWeb_widgets:KBJOBUaRDjEqu49x5gGiQ9A></ItemTemplate><InvisibleTemplate><%# recListMainList2_Store(Container.DataItem, Container.ItemIndex) %></InvisibleTemplate></osweb:Iterator></phItems></OutSystemsUIWeb_widgets:KyL2OCYp6YkCZi3shccbJnQ></osweb:Container></osweb:Container></osweb:Container><osweb:Container runat="server" id="wt_Container64" anonymous="true" onDataBinding="cnt_Container64_onDataBinding" align="right"><osweb:Container runat="server" id="wt_Container126" anonymous="true" onDataBinding="cnt_Container126_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Not what you were looking for? Try " %></osweb:PlaceHolder><osweb:LinkButton runat="server" id="wt_Link11" Visible="<%# lnk_Link11_isVisible() %>" Enabled="<%# lnk_Link11_isEnabled() %>" CausesValidation="false"><osweb:PlaceHolder runat="server"><%# "adding the Gift from a URL" %></osweb:PlaceHolder></osweb:LinkButton></osweb:Container><osweb:Button runat="server" id="wt_Button54" onDataBinding="btn_Button54_onDataBinding" cssClass="Button Is_Default" Visible="<%# btn_Button54_isVisible() %>" Enabled="<%# btn_Button54_isEnabled() %>" CausesValidation="false" text="<%# btn_Button54_getLabel() %>"/><osweb:Button runat="server" id="wt_Button20" onDataBinding="btn_Button20_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width2 ThemeGrid_MarginGutter" Visible="<%# btn_Button20_isVisible() %>" Enabled="<%# btn_Button20_isEnabled() %>" CausesValidation="false" text="<%# btn_Button20_getLabel() %>"/></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If18() %>"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If87() %>"><osweb:Container runat="server" id="wtSetGift" onDataBinding="cntSetGift_onDataBinding"><osweb:Container runat="server" id="wt_Container96" anonymous="true" onDataBinding="cnt_Container96_onDataBinding" GridCssClasses="ThemeGrid_Width7"><osweb:Container runat="server" id="wt_Container71" anonymous="true" onDataBinding="cnt_Container71_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Give this Gift a meaningful name and if you&#39;d like, tag it so it will appear in searches" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container70" anonymous="true" onDataBinding="cnt_Container70_onDataBinding"><osweb:Container runat="server" id="wtImgMobile2" onDataBinding="cntImgMobile2_onDataBinding" cssClass="ImgMobile2"></osweb:Container><osweb:EditRecord runat="server" id="wtGiftEdit" class="EditRecord" GridCssClasses="OSFillParent" border="0"><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell39" anonymous="true" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Name" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell115" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Name" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Name_isVisible() %>" ReadOnly="<%# !inputwtGift_Name_isEnabled() %>" maxlength="200" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="SingleLine" text="<%# inputwtGift_Name_input_value() %>" onTextChanged="inputwtGift_Name_input_onTextChanged" Mandatory="<%# inputwtGift_Name_isMandatory() %>" parentEditRecord="wtGiftEdit"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_NameValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Name"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_NameValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Name" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell151" anonymous="true" onDataBinding="wt_EditRecordCell151_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Description" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell63" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_Description" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_Description_isVisible() %>" ReadOnly="<%# !inputwtGift_Description_isEnabled() %>" maxlength="500" onchange="OsLimitInput(this,event,500);" onkeyup="OsLimitInput(this,event,500);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="3" text="<%# inputwtGift_Description_input_value() %>" onTextChanged="inputwtGift_Description_input_onTextChanged" Mandatory="<%# inputwtGift_Description_isMandatory() %>" parentEditRecord="wtGiftEdit"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_DescriptionValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Description"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_DescriptionValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_Description" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell153" anonymous="true" onDataBinding="wt_EditRecordCell153_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Price" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell117" anonymous="true" class="EditRecord_Value"><osweb:Container runat="server" id="wt_Container37" anonymous="true" onDataBinding="cnt_Container37_onDataBinding" GridCssClasses="ThemeGrid_Width6"><OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance85" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance85_onDataBinding" InstanceID="_WebBlockInstance85"><phIcon><osweb:Container runat="server" id="wt_Container34" anonymous="true" onDataBinding="cnt_Container34_onDataBinding"><RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w runat="server" id="RichWidgets_wt_WebBlockInstance16" OnEvaluateParameters="RichWidgets_webBlck_WebBlockInstance16_onDataBinding" InstanceID="_WebBlockInstance16"></RichWidgets_widgets:KmbfKJ2gWQUq1Gwk_0SjV4w></osweb:Container></phIcon><phInput><osweb:TextBox runat="server" id="wtGift_Price" cssClass="input" GridCssClasses="ThemeGrid_Width11" Visible="<%# inputwtGift_Price_isVisible() %>" ReadOnly="<%# !inputwtGift_Price_isEnabled() %>" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetCurrencyValidatorMsg" textmode="SingleLine" text="<%# inputwtGift_Price_input_value() %>" onTextChanged="inputwtGift_Price_input_onTextChanged" Mandatory="<%# inputwtGift_Price_isMandatory() %>"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_PriceValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_Price"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_PriceValidatorType" ErrorMessage="<%# BIFY_Properties.CurrencyValidatorMsg %>" ControlToValidate="wtGift_Price" ClientValidationFunction="OsCustomValidatorCurrency"/></phInput></OutSystemsUIWeb_widgets:KUnwWFNwPR0259fFxXTkxDw></osweb:Container></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell2" anonymous="true" onDataBinding="wt_EditRecordCell2_onDataBinding" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Person" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell138" anonymous="true" class="EditRecord_Value"><osweb:DropDownList runat="server" id="wtGift_GiftTypeId" onDataBinding="selGift_GiftTypeId_onDataBinding" cssClass="select" GridCssClasses="OSFillParent" Visible="<%# selGift_GiftTypeId_isVisible() %>" Enabled="<%# selGift_GiftTypeId_isEnabled() %>" OnSelectedIndexChanged="selGift_GiftTypeId_dropDown_valueChanged" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" Mandatory="<%# selGift_GiftTypeId_isMandatory() %>" parentEditRecord="wtGiftEdit"/><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_GiftTypeIdValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_GiftTypeId"/></osweb:Td></osweb:Tr><osweb:Tr runat="server"><osweb:Td runat="server" id="wt_EditRecordCell76" anonymous="true" class="EditRecord_Caption"><osweb:PlaceHolder runat="server"><%# "Your Gift Notes" %></osweb:PlaceHolder></osweb:Td><osweb:Td runat="server" id="wt_EditRecordCell124" anonymous="true" class="EditRecord_Value"><osweb:TextBox runat="server" id="wtGift_YourGiftNotes" cssClass="input" GridCssClasses="OSFillParent" Visible="<%# inputwtGift_YourGiftNotes_isVisible() %>" ReadOnly="<%# !inputwtGift_YourGiftNotes_isEnabled() %>" maxlength="200" onchange="OsLimitInput(this,event,200);" onkeyup="OsLimitInput(this,event,200);" OnDefaultMandatoryValidationMessage="GetMandatoryValidatorMsg" OnDefaultTypeValidationMessage="GetTextValidatorMsg" textmode="MultiLine" rows="2" text="<%# inputwtGift_YourGiftNotes_input_value() %>" onTextChanged="inputwtGift_YourGiftNotes_input_onTextChanged" Mandatory="<%# inputwtGift_YourGiftNotes_isMandatory() %>" parentEditRecord="wtGiftEdit" placeholder="<%# inputwtGift_YourGiftNotes_getPrompt() %>"/><script type="text/javascript">
//<![CDATA[
OsInputPrompt_Bootstrap('<%# (FindControl("wtGift_YourGiftNotes") ?? Container.FindControl("wtGift_YourGiftNotes")).ClientID %>');
//]]>
</script><osweb:RequiredFieldTextValidator  runat="server" display="Dynamic" id="wtGift_YourGiftNotesValidatorRequired" ErrorMessage="<%# BIFY_Properties.MandatoryValidatorMsg %>" ControlToValidate="wtGift_YourGiftNotes"/><osweb:TextValidator runat="server" display="Dynamic" id="wtGift_YourGiftNotesValidatorType" ErrorMessage="<%# BIFY_Properties.TextValidatorMsg %>" ControlToValidate="wtGift_YourGiftNotes" ClientValidationFunction="OsCustomValidatorText"/></osweb:Td></osweb:Tr></osweb:EditRecord></osweb:Container></osweb:Container><osweb:Container runat="server" id="wtImgDesktop2" onDataBinding="cntImgDesktop2_onDataBinding" cssClass="ImgDesktop2" GridCssClasses="ThemeGrid_Width5 ThemeGrid_MarginGutter" align="center"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If68() %>"><osweb:DynamicImage runat="server" id="wt_Image23" anonymous="true" onDataBinding="img_Image23_onDataBinding" Source="<%# img_Image23_getURL() %>" ImageType="External" alt=""/></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If68() %>"><osweb:DynamicImage runat="server" id="wt_Image77" anonymous="true" onDataBinding="img_Image77_onDataBinding" Source="<%# img_Image77_getFilename() %>" StaticSource="<%# Images.UserIcon_Source() %>" Entity="GiftImages" Attribute="Image" EntityId="<%# img_Image77_getEntityId() %>" Path="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" ImageType="Database" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" alt=""/></osweb:If></osweb:IfPlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container29" anonymous="true" onDataBinding="cnt_Container29_onDataBinding" align="right"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If21() %>"><osweb:Button runat="server" id="wt_Button32" onDataBinding="btn_Button32_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width2" Visible="<%# btn_Button32_isVisible() %>" Enabled="<%# btn_Button32_isEnabled() %>" CausesValidation="false" text="<%# btn_Button32_getLabel() %>"/></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If21() %>"><osweb:Button runat="server" id="wt_Button149" onDataBinding="btn_Button149_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width2" Visible="<%# btn_Button149_isVisible() %>" Enabled="<%# btn_Button149_isEnabled() %>" CausesValidation="false" text="<%# btn_Button149_getLabel() %>"/></osweb:If></osweb:IfPlaceHolder><osweb:Button runat="server" id="wt_Button17" onDataBinding="btn_Button17_onDataBinding" cssClass="Button" GridCssClasses="ThemeGrid_Width2 ThemeGrid_MarginGutter" Visible="<%# btn_Button17_isVisible() %>" Enabled="<%# btn_Button17_isEnabled() %>" CausesValidation="false" text="<%# btn_Button17_getLabel() %>"/><osweb:Container runat="server" id="wt_Container45" anonymous="true" onDataBinding="cnt_Container45_onDataBinding" GridCssClasses="ThemeGrid_Width3 ThemeGrid_MarginGutter"><osweb:LinkButton runat="server" id="wtBuyThisGift" onDataBinding="lnkBuyThisGift_onDataBinding" cssClass="Button Is_Default BuyButton ENTER" Visible="<%# lnkBuyThisGift_isVisible() %>" Enabled="<%# lnkBuyThisGift_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container139" anonymous="true" onDataBinding="cnt_Container139_onDataBinding"><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If121() %>"><osweb:PlaceHolder runat="server"><%# "Save" %></osweb:PlaceHolder></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If121() %>"><osweb:PlaceHolder runat="server"><%# "Add" %></osweb:PlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:Container><osweb:DynamicImage runat="server" id="wt_Image38" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.bify_smile_icon_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image38_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:LinkButton></osweb:Container><osweb:PlaceHolder runat="server"><%# expression_InlineExpression82() %></osweb:PlaceHolder></osweb:Container></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If87() %>"><osweb:Container runat="server" id="wtCompleted" onDataBinding="cntCompleted_onDataBinding"><OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ runat="server" id="OutSystemsUIWeb_wt_WebBlockInstance90" OnEvaluateParameters="OutSystemsUIWeb_webBlck_WebBlockInstance90_onDataBinding" InstanceID="_WebBlockInstance90"><phColumn1><osweb:Container runat="server" id="wt_Container132" anonymous="true" onDataBinding="cnt_Container132_onDataBinding" align="left"><osweb:Span runat="server" id="wt_Text131" anonymous="true" class="heading3"><%# "All Done!" %></osweb:Span></osweb:Container><osweb:Container runat="server" id="wtImgMobile3" onDataBinding="cntImgMobile3_onDataBinding" cssClass="ImgMobile2"></osweb:Container><osweb:Container runat="server" id="wt_Container28" anonymous="true" onDataBinding="cnt_Container28_onDataBinding"><osweb:PlaceHolder runat="server"><%# "You&#39;ve added a new Gift" %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container84" anonymous="true" onDataBinding="cnt_Container84_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Friends and family can now see this, and who knows, it might make it&#39;s way to you sometime soon! " %></osweb:PlaceHolder></osweb:Container><osweb:Container runat="server" id="wt_Container31" anonymous="true" onDataBinding="cnt_Container31_onDataBinding"><widgets:Ka_M9kdL8xUOn4aPf5GS9YA runat="server" id="wt_WebBlockInstance101" OnEvaluateParameters="webBlck_WebBlockInstance101_onDataBinding" InstanceID="_WebBlockInstance101"></widgets:Ka_M9kdL8xUOn4aPf5GS9YA></osweb:Container><osweb:Container runat="server" id="wt_Container48" anonymous="true" onDataBinding="cnt_Container48_onDataBinding"><osweb:Container runat="server" id="wt_Container50" anonymous="true" onDataBinding="cnt_Container50_onDataBinding" GridCssClasses="ThemeGrid_Width6"><osweb:LinkButton runat="server" id="wtBuyThisGift2" onDataBinding="lnkBuyThisGift2_onDataBinding" cssClass="Button Is_Default BuyButton" Visible="<%# lnkBuyThisGift2_isVisible() %>" Enabled="<%# lnkBuyThisGift2_isEnabled() %>" CausesValidation="false"><osweb:Container runat="server" id="wt_Container81" anonymous="true" onDataBinding="cnt_Container81_onDataBinding"><osweb:PlaceHolder runat="server"><%# "Add Another" %></osweb:PlaceHolder></osweb:Container><osweb:DynamicImage runat="server" id="wt_Image114" anonymous="true" style="margin-left: 5px" StaticSource="<%# Images.bify_smile_icon_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Height="<%# System.Web.UI.WebControls.Unit.Parse(img_Image114_actualHeight(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:LinkButton></osweb:Container><osweb:Button runat="server" id="wt_Button127" onDataBinding="btn_Button127_onDataBinding" cssClass="Button  Is_Default  background-success ENTER" GridCssClasses="ThemeGrid_Width5 ThemeGrid_MarginGutter" Visible="<%# btn_Button127_isVisible() %>" Enabled="<%# btn_Button127_isEnabled() %>" CausesValidation="false" text="<%# btn_Button127_getLabel() %>"/></osweb:Container></phColumn1><phColumn2><osweb:Container runat="server" id="wtImgDesktop3" onDataBinding="cntImgDesktop3_onDataBinding" cssClass="ImgDesktop2"><osweb:DynamicImage runat="server" id="wt_Image58" anonymous="true" StaticSource="<%# Images.happystate_Source() %>" ImageType="Static" StaticPath="<%# AppUtils.Instance.getImagePath(skipSeo: this.Page is OutSystems.HubEdition.RuntimePlatform.Web.IEmailScreen) %>" Width="<%# System.Web.UI.WebControls.Unit.Parse(img_Image58_actualWidth(), System.Globalization.CultureInfo.InvariantCulture) %>" alt=""/></osweb:Container></phColumn2></OutSystemsUIWeb_widgets:KAWqhXH28h0C_6V89jNv2hQ></osweb:Container></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder></osweb:If></osweb:IfPlaceHolder><osweb:IfPlaceHolder runat="server"><osweb:If runat="server" visible="<%# if_wt_If133() %>"><osweb:Container runat="server" id="wtLoader" onDataBinding="cntLoader_onDataBinding" cssClass="loader"></osweb:Container></osweb:If><osweb:If runat="server" visible="<%# !if_wt_If133() %>"></osweb:If></osweb:IfPlaceHolder></osweb:Container><%# PageEndHook() %>