﻿.Form input[type="checkbox"] {
    /* Same height as inputs */
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer!important;
}
.toggle-button {
    width: 90px!important;
}

.card-footer .Button {
    color: auto!important;
}